USE [ZyleminiPlus_BDPL]
GO
/****** Object:  StoredProcedure [dbo].[Delete_Duplicate_LocationMaster]    Script Date: 3/30/2026 3:37:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [dbo].[Delete_Duplicate_LocationMaster]
AS
BEGIN
    SET NOCOUNT ON;

    ;WITH cte AS
    (
        SELECT
            ID,
            ROW_NUMBER() OVER
            (
                PARTITION BY
                    UserID,
                    ROUND(Latitude, 4),       -- handle near duplicates
                    ROUND(Longitude, 4),
                    CAST(LatLongTakenDatetime AS DATE)
                ORDER BY
                    LatLongTakenDatetime     -- keep earliest record
            ) AS rn
        FROM TX_LocationMaster
        WHERE DBInsertDateTime >= DATEADD(DAY, -30, GETDATE())  -- increased window
    )

    DELETE FROM TX_LocationMaster
    WHERE ID IN
    (
        SELECT ID
        FROM cte
        WHERE rn > 1
    );
END;