USE [ZyleminiPlus_BDPL]
GO
/****** Object:  StoredProcedure [dbo].[GetDataForZylemini_DataSyncToApp]    Script Date: 3/30/2026 3:37:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--GetDataForZylemini 'all',2,'0'
--areaid 629
--exec GetDataForZylemini 102 ,'all' ,52362 ,0 
--use ZYLEMINI_CPA


ALTER Procedure [dbo].[GetDataForZylemini_DataSyncToApp]
(
 --@parentId INT
 @reportID INT,
 @areaID NVARCHAR(20)
,@userID INT
,@newpartyCount INT
)
As
Begin

Declare @IsParent bit
If Exists (SELECT value FROM RO_Settings where [Key]='zyleminiparentID' and value like '%,'+cast(@userID as varchar)+',%')
	begin
	set @IsParent=1
	print 'User is Parent'
	end
	Else
	begin
	set @IsParent=0
	print 'User is Salesman'
	end
 
 If(@IsParent=1 and (@areaID is Null or @areaID='0'))
	 Begin

	 print ''+@areaID+''
		select * into #tempSettings from RO_Settings
		update #tempSettings set Value='1' where [Key]='IsOnline'
			SELECT * FROM #tempSettings
			drop table #tempSettings
			  --7.Settings
			select * from reportcontrolmaster  --10.reportcontrolmaster
			select * into #tempReport from report -- 12.report
			update #tempReport set isActive='False'
			select * from #tempReport
			drop table #tempReport

			--select * from report -- 12.report
			 select * from ro_uommaster  -- 15.uommaster
			select AreaId,Area from ro_OnlineParentArea where userid=@userID-- 18.OnlineParentArea
	End
    ELSE IF(@IsParent=1 and (@areaID!='' or @areaID!='0'))
	  Begin
		  declare @selectAll bit
		  declare @isDigit bit
		  set @selectAll=0
		 set @isDigit=(SELECT CASE WHEN @areaID LIKE '%[0-9]%' THEN 1 ELSE 0 END)
		  if(@isDigit=1)
			begin
		print 'AreaId is Digit'
			end
			else if(Upper(@areaID)='ALL')
			begin
			print 'Area selected All'
			set @selectAll=1
			end
			else
			begin
			--Exit From Procedure 
			return 
			set @selectAll=0
			end

		if(@selectAll=1)
			begin
			--sales
			print @selectAll
			if(@reportID=104)
			begin 
			print 'sales'
			select s.UserID,pu.UserName,s.DistributorID,pd.Distributor,s.CustomerID,pc.Party, DateName(month,DATEADD(mm,s.month,-1)) as Month,s.ItemID,pi.Item,s.Quantity,s.Value 
			from ro_sales s Inner join ro_pitem pi on pi.itemid=s.itemid inner join ro_pcustomer pc on pc.customerid=s.CustomerID inner join ro_PDistributor pd on s.DistributorID=pd.DistributorId inner join ro_puser pu on 
			convert(varchar(20),Replace(s.userid,',',''))=convert(varchar(20),pu.UserID) 
			where cast(s.CustomerID as varchar) + s.userid in (select cast(customerid as varchar) + ',' + cast(userid as varchar) + ',' from ro_userscustomers where userid in (select userid from 
			ro_puser where ParentIdList like '%,'+cast(@userID as varchar)+',%'))
			End
			else if(@reportID=105)
			begin 
			--salesYTD
			print 'salesYTD'
			select s.UserID,pu.UserName,s.DistributorID,pd.Distributor,s.CustomerID,pc.Party,s.ItemID,pi.Item,s.Quantity,s.Value 
			from tx_salesytd s Inner join ro_pitem pi on pi.itemid=s.itemid inner join ro_pcustomer pc on pc.customerid=s.CustomerID inner join ro_PDistributor pd on s.DistributorID=pd.DistributorId inner join ro_puser pu on
			s.userid =pu.UserID where cast(s.customerid as varchar) + cast(s.userid as varchar) in (select cast(customerid as varchar) + cast(userid as varchar) 
			from ro_userscustomers where userid in (select userid from ro_puser where ParentIdList like '%,'+cast(@userID as varchar)+',%'))
			End
			--pcustomer
			else if(@reportID=102)
			begin 
			print 'PCustomer'
			select PC.* from ro_PCustomer PC where PC.party like '%NewParty%'
			End
			end
			else
			begin
			 if(@reportID=104)
			begin 
			print 'sales'
				Select s.UserID,pu.UserName,s.DistributorID,pd.Distributor,s.CustomerID,pc.Party, DateName(month,DATEADD(mm,s.month,-1)) as Month,s.ItemID,pi.Item,s.Quantity,s.Value from ro_sales s Inner join ro_pitem pi on pi.itemid=s.itemid inner join ro_pcustomer pc on pc.customerid=s.CustomerID inner join ro_PDistributor pd on s.DistributorID=pd.DistributorId inner join ro_puser pu on 
				convert(varchar(20),Replace(s.userid,',',''))=convert(varchar(20),pu.UserID) where cast(s.customerid as varchar) + s.userid in (select cast(customerid as varchar) + ',' + cast(userid as varchar) + ',' from ro_userscustomers where userid in (select userid

				from ro_puser where ParentIdList like '%,'+cast(@userID as varchar)+',%')) and s.customerid in (select customerid from ro_pcustomer where areaid  in (select areaid from areaparentList where AreaParentid like '%,'+cast(@userID as varchar)+',%'))
			end
			else if(@reportID=105)
			begin 
				print 'salesYTD'
				
				Select s.UserID,pu.UserName,s.DistributorID,pd.Distributor,s.CustomerID,pc.Party,s.ItemID,pi.Item,s.Quantity,s.Value from ro_salesytd s Inner join ro_pitem pi on pi.itemid=s.itemid inner join ro_pcustomer pc on pc.customerid=s.CustomerID inner join ro_PDistributor pd on s.DistributorID=pd.DistributorId 
				inner join ro_puser pu on s.userid=pu.UserID where cast(s.customerid as varchar) + cast(s.userid as varchar) in 
				(select cast(customerid as varchar) + cast(userid as varchar)  from userscustomers where userid in (select userid from ro_puser where ParentIdList like '%,'+cast(@userID as varchar)+',%')) and s.customerid in (select customerid from ro_pcustomer 
				where areaid in (select areaid from ro_areaparentList where AreaParentid like '%,'+cast(@userID as varchar)+',%'))
			end
			else if(@reportID=102)
			begin 
				print 'PCustomer'
				select PC.* from ro_UsersCustomers UC, ro_PUser PU, ro_PCustomer PC, ro_AreaParentList A where UC.UserID = PU.UserID and UC.customerid = PC.customerid and PC.AreaID = A.AreaID and A.areaparentid like '%,'+cast(@areaID as varchar)+',%' and PU.ParentIdList like '%,

			'+cast(@userID as varchar)+',%'	
			end				
			end
				--Distributor Division 
				Declare @IsDistDivision bit
				If Exists (SELECT value FROM RO_Settings where [Key]='DistributorListFilter' and value='DISTDIVUSER')
				begin
				set @IsDistDivision=1
				end
				Else
				begin
				set @IsDistDivision=0
				end
				if(@IsDistDivision=1)
				begin
				--PDistributor
				if(@reportID=103)
				begin
				print 'PDistributor'
				SELECT DISTINCT pd.*  FROM ro_PDistributor AS pd INNER JOIN ro_DISTRIBUTORDIVISIONSALESMAN AS div ON pd.DistributorId=Cast(div.DistributorId as int)   INNER JOIN ro_PUSER ON Cast(div.UserId as int)=ro_PUSER.UserID  WHERE ro_PUSER.ParentIdList like '%,'+cast(@userID as varchar)+',%'
				end
				--distributorcontacts
				--print 'distributorcontacts'
				--SELECT DISTINCT dc.*, pd.Distributor FROM distributorcontacts AS dc INNER JOIN DISTRIBUTORDIVISIONSALESMAN AS div ON dc.DistributorId=Cast(div.DistributorId as int) INNER JOIN PUSER ON Cast(div.UserId as int)=PUSER.UserID inner join PDistributor pd on
				--pd.DistributorId=dc.DistributorID  WHERE PUSER.ParentIdList like '%,'+cast(@userID as varchar)+',%'
				----distributordataStatus
				--print 'distributordataStatus'
				--SELECT DISTINCT dds.*,pd.Distributor FROM distributordataStatus AS dds INNER JOIN DISTRIBUTORDIVISIONSALESMAN AS div 
				--ON dds.DistributorId=Cast(div.DistributorId as int) INNER JOIN PUSER ON Cast(div.UserId as int)=PUSER.UserID inner join PDistributor AS pd on 
				--pd.DistributorId=dds.DistributorID   WHERE PUSER.ParentIdList like '%,'+cast(@userID as varchar)+',%'
				end
				else
				begin
				--PDistributor
				if(@reportID=103)
				begin
				print 'PDistributor'
				select distinct ro_PDistributor.* from  ro_puser,ro_userscustomers,ro_usersitems,ro_sales,ro_PDistributor where ro_userscustomers.UserID=ro_PUser.UserID and ro_Sales.CustomerID=ro_userscustomers.CustomerID and ro_sales.DistributorID=ro_PDistributor.DistributorId 
				and ro_sales.ItemID=ro_usersitems.ItemID and ro_PUser.ParentIdList like '%,'+cast(@userID as varchar)+',%' union select distinct ro_PDistributor.* from  ro_puser,ro_userscustomers,ro_usersitems,ro_SalesYTD,ro_PDistributor where ro_userscustomers.UserID=ro_PUser.UserID and 
				ro_SalesYTD.CustomerID=ro_userscustomers.CustomerID and ro_SalesYTD.DistributorID=ro_PDistributor.DistributorId and ro_SalesYTD.ItemID=ro_usersitems.ItemID and ro_PUser.ParentIdList like '%,'+cast(@userID as varchar)+',%'
				end
				----distributorcontacts
				--print 'distributorcontacts'
				--select distributorcontacts.*,pdistributor.Distributor from distributorcontacts, pdistributor , AreaParentList  
				--where distributorcontacts.DistributorID=pdistributor.DistributorId and pdistributor.areaid=AreaParentList.Areaid and   AreaParentList.AreaParentId like '%,'+cast(@userID as varchar)+',%'
				--print 'distributordataStatus'
				----distributordataStatus
				--select distinct distributordataStatus.*,PDistributor.Distributor from  puser,userscustomers,usersitems,sales,distributordataStatus,pdistributor where 
    --           userscustomers.UserID=PUser.UserID and Sales.CustomerID=userscustomers.CustomerID and sales.DistributorID=distributordataStatus.DistributorId and sales.ItemID=usersitems.ItemID  and 
			 --  PDistributor.DistributorId=distributordataStatus.DistributorID
    --            and PUser.ParentIdList like '%,'+cast(@userID as varchar)+',%' union select distinct distributordataStatus.*,PDistributor.Distributor from  puser,userscustomers,usersitems,SalesYTD,distributordataStatus,PDistributor 
				--where userscustomers.UserID=PUser.UserID 
				--and SalesYTD.CustomerID=userscustomers.CustomerID and SalesYTD.DistributorID=distributordataStatus.DistributorId and SalesYTD.ItemID=usersitems.ItemID and  PDistributor.DistributorId=distributordataStatus.DistributorID and 
				--PUser.ParentIdList like '%,'+cast(@userID as varchar)+',%'

				end
						
			-- Default For All area or any selected area
			print '#tempSettings'
			SELECT * into #tempSettingsparent FROM RO_Settings
				update #tempSettingsparent set Value='1' where [Key]='IsOnline'
			SELECT * FROM #tempSettingsparent
			drop table #tempSettingsparent
				print 'target'
				select * from ro_target where UserID=@userID
				print 'usercustomeritem'
				--select top 1 * from usercustomeritem WHERE UserID=@userID
				--select top 1 uci.*,pc.Party,p.Item,pu.UserName from usercustomeritem uci join pCustomer pc on pc.Customerid=uci.Customerid join Pitem p on p.Itemid=uci.Itemid join puser pu on pu.userid=uci.UserID  WHERE uci.UserID=@userID
				print 'reportcontrolmaster'
				--select * from reportcontrolmaster
				print 'AreaParentList'
				--select top 1 * from AreaParentList where AreaParentid like '%,'+cast(@areaID as varchar)+',%'
				print 'report'
				--select * from report
				print 'advancereport'
				--select * from advancereport
				print 'sipreport'
				--select * from sipreport where UserId= @userID
				print 'uommaster'
				--select * from uommaster
				print 'OutletAssetInformation'
				--select Distinct  OutletAssetInformation.* from OutletAssetInformation,userscustomers where OutletAssetInformation.CUSTOMERID=userscustomers.CUSTOMERID and  userscustomers.UserID=@userID
				--select Distinct  OutletAssetInformation.*,pcustomer.Party from OutletAssetInformation,userscustomers,pcustomer where OutletAssetInformation.CUSTOMERID=userscustomers.CUSTOMERID and pcustomer.CustomerId=OutletAssetInformation.CUSTOMERID  
				--and   userscustomers.UserID=@userID
				print 'ASSETTYPECLASSIFICATIONLIST'
				--select * from ASSETTYPECLASSIFICATIONLIST
				print 'OnlineParentArea'
				--select AreaId,Area from OnlineParentArea where userid=@userID
				if(@newpartyCount>=0)
				begin
				--zylemininewparty
				--if(@reportID=)
				--begin
				print 'zylemininewparty'
				--select distinct newparty.partyid as id,newparty.bitid,newparty.outletName,   newparty.contactNumber,newparty.ownersName,      
				--	newparty.Longitude,newparty.addedon from zylemininewparty  newparty inner join ordermaster      
				--	on ordermaster.entityid=newparty.partyid        and ordermaster.userid= ''+@userID+'' and 
				--	cast (ordermaster.currentdatetime as date) in  (select distinct top (select cast (value as int) from settings 
				--	where [key] ='KEEPLASTNDAYSORDERBOOK')      cast (currentdatetime as date) as lastorderdate  from ordermaster      
				--	where UserID=''+@userID+'' order by cast(currentdatetime as date) desc)	
				--end
				end
				else
				begin
				--zylemininewparty
				 print 'zylemininewparty with empty data'
				end
				print 'RESOURCES'
				select * from ro_RESOURCES

				declare @IsNonRelevantData bit

				If Exists (SELECT value FROM RO_Settings where [Key]='ISNONRELEVANTDATAPITEM')
				begin
				set @IsNonRelevantData=1
				end
				Else
				begin
				set @IsNonRelevantData=0
				end

				if(@IsNonRelevantData=1)
				begin
				if(@reportID=101)
				begin
				--PItem
				print 'PItem'
				SELECT * FROM ro_PItem
				end
				end
				else
				begin
				if(@reportID=101)
				begin
				--PItem
				print 'PItem'
				Select Distinct PIT.* From ro_UsersItems UI, ro_PUser PU, ro_PItem PIT Where UI.UserID = PU.UserID and UI.ItemID = PIT.ItemId and PU.ParentIdList like '%,'+cast(@userID as varchar)+',%'
				end
				end
	   End --Parent login End
	   Else
	   --Salesman Login
	   Begin
			print 'Salesman Login'
			if(@reportID=104)
				begin
			print 'Sales'
				--SELECT * FROM Sales WHERE UserId like '%,'+cast(@userID as varchar)+',%'
				SELECT s.UserID,pu.UserName,s.DistributorID,pd.Distributor,s.CustomerID,pc.Party, DateName(month,DATEADD(mm,s.month,-1)) as Month,s.ItemID,pi.Item,s.Quantity,s.Value from ro_sales s Inner join ro_pitem pi on pi.itemid=s.itemid inner join ro_pcustomer pc on pc.customerid=s.CustomerID inner join ro_PDistributor pd on s.DistributorID=pd.DistributorId inner join ro_puser pu on 
				convert(varchar(20),Replace(s.userid,',',''))=convert(varchar(20),pu.UserID) WHERE s.UserId like '%,'+cast(@userID as varchar)+',%'
				end
				else if(@reportID=105)
				begin
				print 'salesytd'
				--select * from salesytd WHERE UserID=@userId
				select s.UserID,pu.UserName,s.DistributorID,pd.Distributor,s.CustomerID,pc.Party,s.ItemID,pi.Item,s.Quantity,s.Value
				from ro_SalesYTD s Inner join ro_pitem pi on pi.itemid=s.itemid inner join ro_pcustomer pc on pc.customerid=s.CustomerID inner join ro_PDistributor pd on s.DistributorID=pd.DistributorId inner join ro_puser pu 
				on s.userid=pu.UserID WHERE s.UserID=@userID
				end
				else if(@reportID=102)
				begin
				print 'PCUSTOMER'
				SELECT * FROM ro_pcustomer WHERE CustomerId IN (SELECT CustomerId from RO_UsersCustomers WHERE UserID =@userID)
				end
				if(@reportID=103)
				begin
				print 'PDistributor'
				 
				set @areaID=(select Areaid from RO_PUser where userid=@userID)

				SELECT * FROM RO_PDistributor where areaid in (select AREAID from RO_AreaParentList where AreaParentid like '%,'+cast(@areaID as varchar)+',%')
				end
				--print 'distributorcontacts'
				--select distributorcontacts.*,pd.Distributor from distributorcontacts inner join PDistributor pd on pd.DistributorID=distributorcontacts.DistributorID where distributorcontacts.DistributorID in(select DistributorId from pdistributor where areaid 
				--in (select AREAID from AreaParentList where AreaParentid like '%,'+cast(@areaID as varchar)+',%'))
				--print 'distributordataStatus'
				--SELECT distributordataStatus.*,pd.Distributor FROM distributordataStatus inner join PDistributor pd on pd.DistributorID=distributordataStatus.DistributorID where distributordataStatus.DistributorID in(select DistributorId from pdistributor where
				-- areaid in (select AREAID from AreaParentList where AreaParentid like '%,'+cast(@areaID as varchar)+',%'))

				print 'Settings'
				--SELECT * FROM Settings
				print 'target'
					--select * from target where UserID=@userID	
					print 'usercustomeritem'
					--select top 1 uci.*,pc.Party,p.Item,pu.UserName from usercustomeritem uci join pCustomer pc on pc.Customerid=uci.Customerid join Pitem p on p.Itemid=uci.Itemid join puser pu on pu.userid=uci.UserID  WHERE uci.UserID=@userID
					print 'reportcontrolmaster'
					--select * from reportcontrolmaster
					print 'AreaParentList'
					--SELECT * FROM AreaParentList where Areaid in (select AREAID from AreaParentList where AreaParentid like '%,'+cast(@areaID as varchar)+',%')
					print 'report'
					--select * from report
					print 'advancereport'
					--select * from advancereport
					print 'sipreport'
					--select * from sipreport where UserId= @userID
					print 'uommaster'
					--select * from uommaster
					print 'OutletAssetInformation'
					--SELECT OutletAssetInformation.*,pc.Party FROM OutletAssetInformation join pCustomer pc on OutletAssetInformation.CustomerID=pc.CustomerId  WHERE OutletAssetInformation.CUSTOMERID IN (SELECT CUSTOMERID from userscustomers WHERE UserID =@userID)
					print 'ASSETTYPECLASSIFICATIONLIST'
					--select * from ASSETTYPECLASSIFICATIONLIST
					print 'OnlineParentArea'
					--select AreaId,Area from OnlineParentArea where userid=@userID

				if(@newpartyCount>=0)
				begin
				--zylemininewparty
				--if(@reportID=102)
				--begin
				 print 'zylemininewparty'
					--select distinct newparty.partyid as id,newparty.bitid,newparty.outletName,  newparty.contactNumber,newparty.ownersName,
					--newparty.Longitude,newparty.addedon from zylemininewparty     newparty inner join ordermaster     
					--on ordermaster.entityid=newparty.partyid    and ordermaster.userid= ''+@userID+'' and
					--cast (ordermaster.currentdatetime as date) in (select distinct top (select cast (value as int) from settings 
					--where [key] ='KEEPLASTNDAYSORDERBOOK')     cast (currentdatetime as date) as lastorderdate  from ordermaster    
					--where UserID=''+@userID+'' order by cast(currentdatetime as date) desc)
					--select ''
					--end
				end
				else
				begin
				--zylemininewparty
				 print 'zylemininewparty with empty data'
				end
				print 'RESOURCES'
				--select * from RESOURCES
				--declare @IsNonRelevantData bit
				If Exists (SELECT value FROM RO_Settings where [Key]='ISNONRELEVANTDATAPITEM')
				begin
				set @IsNonRelevantData=1
				end
				Else
				begin
				set @IsNonRelevantData=0
				end
				if(@IsNonRelevantData=1)
				begin
				--PItem
				if(@reportID=101)
				begin
				print 'PItem'
				SELECT * FROM ro_PItem 
				end
				end
				else
				begin
				--PItem
				if(@reportID=101)
				begin
					print 'PItem'
				SELECT * FROM ro_PItem WHERE ItemId IN (SELECT ItemId from ro_usersitems WHERE UserID =@userID)
				end
				end
	   --Begin
	   --End
	   End --Salesman Login end
End