USE [ZyleminiPlus_BDPL]
GO
/****** Object:  StoredProcedure [dbo].[pr_DBaseTableInfo]    Script Date: 3/30/2026 3:37:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [dbo].[pr_DBaseTableInfo] 
	
AS
BEGIN
	set nocount on
create table #spaceused (
  TABLE_NAME nvarchar(120),
  ROWS_COUNT char(11),
  RESERVED_MB varchar(18),
  DATA_MB varchar(18),
  INDEX_SIZE_MB varchar(18),
  UNUSED_MB varchar(18)
)
create table #TableSpaceUsed (
  TABLE_NAME nvarchar(120),
  ROWS_COUNT numeric(18,0),
  RESERVED_MB numeric(18,3),
  DATA_MB numeric(18,3),
  INDEX_SIZE_MB numeric(18,3),
  UNUSED_MB numeric(18,3)
)

declare Tables cursor for select name from sysobjects where type='U' order by name asc
OPEN Tables
DECLARE @table varchar(128)

FETCH NEXT FROM Tables INTO @table

WHILE @@FETCH_STATUS = 0
BEGIN
  insert into #spaceused exec sp_spaceused @table
  FETCH NEXT FROM Tables INTO @table
END
--select * from #spaceused ORDER BY NAME
update #spaceused set RESERVED_MB = REPLACE(RESERVED_MB,'KB','') 
update #spaceused set DATA_MB = REPLACE(DATA_MB,'KB','') 
update #spaceused set INDEX_SIZE_MB = REPLACE(INDEX_SIZE_MB,'KB','') 
update #spaceused set UNUSED_MB = REPLACE(UNUSED_MB,'KB','') 
CLOSE Tables
DEALLOCATE Tables 
UPDATE #spaceused SET TABLE_NAME = UPPER(TABLE_NAME)
insert into #TableSpaceUsed select * from #spaceused ORDER BY TABLE_NAME
--SELECT SUM(ROWS_COUNT) AS ROWS_COUNT, SUM(RESERVED_MB) AS RESERVED_KB, SUM(DATA_MB) AS DATA_KB, SUM(INDEX_SIZE_MB) AS INDEX_SIZE_KB, SUM(UNUSED_MB) AS UNUSED_KB FROM #TableSpaceUsed

update #TableSpaceUsed set RESERVED_MB = RESERVED_MB/1024
update #TableSpaceUsed set DATA_MB = DATA_MB/1024
update #TableSpaceUsed set INDEX_SIZE_MB = INDEX_SIZE_MB/1024
update #TableSpaceUsed set UNUSED_MB = UNUSED_MB/1024

select * from #TableSpaceUsed ORDER BY ROWS_COUNT desc
--SELECT SUM(ROWS_COUNT) AS ROWS_COUNT, SUM(RESERVED_MB) AS RESERVED_MB, SUM(DATA_MB) AS DATA_MB, SUM(INDEX_SIZE_MB) AS INDEX_SIZE_MB, SUM(UNUSED_MB) AS UNUSED_MB FROM #TableSpaceUsed
drop table #TableSpaceUsed

END



