USE [ZyleminiPlus_BDPL]
GO
/****** Object:  StoredProcedure [dbo].[pr_GetDashboardData]    Script Date: 3/30/2026 3:38:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Moreshwar Mujbaile
-- Create date: 28-Oct-2024
-- Description:	Get Dashboard Data
-- Exec pr_GetDashboardData 13,'';

ALTER     PROCEDURE [dbo].[pr_GetDashboardData]
(
	@P_USERID		INT,
	@UOM			NVARCHAR(40) = ''
)
AS
BEGIN
DECLARE @strsql NVARCHAR(MAX);

SELECT @UOM = CASE WHEN @UOM = '' THEN (SELECT [Value] FROM RO_Settings WHERE [Key] = 'DefaultUOM') ELSE @UOM END; 

------------------------------------------------------------------MARKET CALLS------------------------------------------------------------------
	SELECT 'MarketCalls';
	DROP TABLE IF EXISTS #MARKETCALLS
	SELECT type AS label, sum(total_order) AS value, CAST(NULL AS NVARCHAR(100)) AS color INTO #MARKETCALLS
	FROM (
		SELECT CASE WHEN i.collectiontype LIKE 'Data Collection%' THEN 'Data Collection' WHEN i.collectiontype LIKE 'AssetImages%' 
			THEN 'Assets' WHEN i.collectiontype LIKE 'PaymentCo%' THEN 'Payments' WHEN i.collectiontype LIKE 'Order Boo%' THEN 'Orders'
			WHEN i.collectiontype LIKE 'Meeting%' THEN 'Meetings' ELSE i.collectiontype END AS type, 
			i.id as collectiontype, COALESCE(s.total_order, 0) AS total_order 
		FROM(SELECT DISTINCT Type AS collectiontype, id FROM RO_CollectionType) i 
	LEFT JOIN (
			SELECT CollectionType, ISNULL(COUNT(collectiontype), 0) AS total_order 
				FROM TX_OrderMaster 
				WHERE CONVERT(VARCHAR, OrderTakenDatetime, 101) = CONVERT(VARCHAR, GETDATE(), 101) and ExecutiveID = @P_USERID
				GROUP BY CollectionType) s ON i.id = s.CollectionType) AS final 
	GROUP BY type;

	UPDATE m
	SET m.color = c.ColorCode
	FROM #MARKETCALLS m
	INNER JOIN RO_ColorCodes c
	    ON c.Category = m.label;

	SELECT * FROM #MARKETCALLS

------------------------------------------------------------------CollectionStatus------------------------------------------------------------------
	SELECT 'CollectionStatus';
	DECLARE @LOGINID NVARCHAR(100);
	SELECT @LOGINID = LoginID FROM RO_PUser WHERE UserID = @P_USERID;

	DROP TABLE IF EXISTS ##CollectionStatus;

	CREATE TABLE ##CollectionStatus(
	label NVARCHAR(100),
	value NUMERIC(18,2),
	color NVARCHAR(100)
	);
	
	INSERT INTO ##CollectionStatus VALUES('Total_Outstanding',
	ISNULL((SELECT CAST(COALESCE(sum(netOSamt), 0) AS NUMERIC(18,2)) AS value 
	FROM RO_OutstandingDetails WHERE SalesmanCode = @LOGINID 
	GROUP BY SalesmanCode),0),
	(SELECT ColorCode FROM RO_ColorCodes WHERE Category = 'Total_Outstanding'));

	INSERT INTO ##CollectionStatus VALUES('Todays_Collection',
	ISNULL((SELECT CAST(COALESCE(sum(A.value), 0) AS NUMERIC(18,2)) AS value
	FROM (SELECT COALESCE(sum(amount), 0) AS value FROM TX_PaymentReceipt_Log 
	WHERE ExecutiveID = @P_USERID AND CONVERT(VARCHAR, ReceivedDateTime, 101) = CONVERT(VARCHAR, GETDATE(), 101) 
	GROUP BY ExecutiveID) AS A),0),
	(SELECT ColorCode FROM RO_ColorCodes WHERE Category = 'Todays_Collection'));

	SELECT * FROM ##CollectionStatus

-----------------------------------------------CollectionVisible-----------------------------------------------
	SELECT 'CollectionVisible';
	SELECT CASE WHEN (SELECT top 1 value FROM ##CollectionStatus WHERE value>0) > 0 THEN 1 ELSE 0 END AS IsVisible;
	DROP TABLE IF EXISTS ##CollectionStatus;

-----------------------------------------------SalesTrend-----------------------------------------------
	SELECT 'SalesTrend';
	SET @strsql = 'SELECT DATENAME(MONTH,DATEFROMPARTS(YEAR(GETDATE()),RO_SALES.MONTH, ''01'')) AS month, ROUND(SUM(' + CAST(@UOM AS NVARCHAR(40)) + '),3) AS value FROM RO_Sales
				 WHERE RO_Sales.UserID = '',' + CAST(@P_USERID AS VARCHAR) + ','' 
					and ItemId in (
							select distinct UI.ItemId from RO_UsersItems UI, RO_PUser PU, RO_PItem PIT 
							Where UI.UserID = PU.UserID and UI.ItemID = PIT.ItemId and 
							PU.ParentIdList like ''%,' + cast( @P_USERID as varchar) + ',%''
					)
					and CustomerId in (
							select distinct UC.CUSTOMERID from RO_UsersCustomers UC, RO_PUser PU where UC.UserID = PU.UserID and 
							PU.ParentIdList like ''%,' + cast( @P_USERID as varchar) + ',%'' 
					)
					GROUP BY MONTH
					ORDER BY 
						CASE 
						    WHEN MONTH = MONTH(DATEADD(MONTH, -2, GETDATE())) THEN 1
						    WHEN MONTH = MONTH(DATEADD(MONTH, -1, GETDATE())) THEN 2
						    WHEN MONTH = MONTH(GETDATE()) THEN 3
						END';

	EXEC sp_executesql @strsql;
	print @strsql

-----------------------------------------------UserDetails-----------------------------------------------

	SELECT 'UserDetails';
	CREATE TABLE #UserDetails(
		Attendance_at	NVARCHAR(200),
		Shops_Covered	NVARCHAR(10),
		Last_shop_Visit NVARCHAR(300)
	);

	SELECT ISNULL(Attendance_at, 'Attendance Not Marked') AS Attendance_at, Shops_Covered, 
			ISNULL(Last_shop_Visit,'No Visits Today') AS Last_shop_Visit FROM #UserDetails;

-----------------------------------------------Target-----------------------------------------------

SELECT 'Target';
DROP TABLE IF EXISTS #TARGETVSACHI;
CREATE TABLE #TARGETVSACHI
	(
		label		nvarchar(50),
		value		nvarchar(50),
		color		nvarchar(50)
	);


	SET @strsql = '
	SELECT T.label, T.value, CAST(T.color AS NVARCHAR) AS color 
	INTO #TARGETVSACHI
	FROM (
	select ''Target'' as label, ISNULL(sum(target),0) value, NULL AS color
	from RO_Target 
	where UserID=' + CAST(@P_USERID AS NVARCHAR(40)) + ' and MONTH(TDate) = MONTH(getdate()) 
	group by UserID 
	union 
	select ''Achievement'' as label, ISNULL(sum(' + CAST(@UOM AS NVARCHAR(40)) + '),0) value, NULL AS color
	from RO_Sales 
	where  itemid in (select distinct UI.ItemId from RO_UsersItems UI, RO_PUser PU,RO_PItem PIT  Where UI.UserID = PU.UserID and 
		UI.ItemID = PIT.ItemId and PU.ParentIdList like ''%,'' + cast(' + CAST(@P_USERID AS NVARCHAR(40)) + ' as varchar) + '',%'') 
		and CUSTOMERID in (
			select distinct UC.CUSTOMERID from RO_UsersCustomers UC, RO_PUser PU, RO_PCustomer PC where UC.UserID = PU.UserID and 
			UC.customerid = PC.customerid and PU.ParentIdList like ''%,'' + cast(' + CAST(@P_USERID AS NVARCHAR(40)) + ' as varchar) + '',%'' 
			and PC.RouteID is not null and PC.party is not null) 
		and Month = Month(GETDATE())
		) T;
			IF NOT EXISTS(SELECT 1 FROM #TARGETVSACHI WHERE label = ''Target'')
		BEGIN
			INSERT INTO #TARGETVSACHI VALUES (''Target'',0.00,NULL);
		END
		IF NOT EXISTS(SELECT 1 FROM #TARGETVSACHI WHERE label = ''Achievement'')
		BEGIN
			INSERT INTO #TARGETVSACHI VALUES (''Achivement'',0.00,NULL);
		END

		DECLARE @TargetValue NUMERIC(18,2) = ISNULL((SELECT value FROM #TARGETVSACHI WHERE label = ''Target''),0),
		@AchivValue NUMERIC(18,2) = ISNULL((SELECT value FROM #TARGETVSACHI WHERE label = ''Achievement''),0);
		
		INSERT INTO #TARGETVSACHI VALUES (''Balance'',
		(SELECT CASE WHEN (@TargetValue - @AchivValue) < 0 THEN 0.00 ELSE (@TargetValue - @AchivValue) END),
		NULL
		);

		UPDATE m
		SET m.color = c.ColorCode
		FROM #TARGETVSACHI m
		INNER JOIN RO_ColorCodes c
			ON c.Category = m.label;

		

		SELECT * FROM #TARGETVSACHI;
		';
	PRINT @strsql;
	EXEC SP_EXECUTESQL @strsql;

END