
/****** Object:  StoredProcedure [dbo].[pr_InsertUserWiseDistanceTravelled]    Script Date: 3/31/2026 1:02:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER     PROCEDURE [dbo].[pr_InsertUserWiseDistanceTravelled]
	@Data	dbo.UserDaywiseDistance READONLY
AS
BEGIN

	INSERT INTO TX_UserDaywiseDistance (UserId,DistributorId,DateStamp,DistanceInKM, DBInsertDateTime)
    SELECT UserId, DistributorId, DateStamp,DistanceInKM, GETDATE() FROM @Data

	-- Update settings to store the today's date so that the further calculations would be performed on that

	UPDATE RO_Settings 
	SET [Value] = CAST(GETDATE() AS DATE)
	WHERE [Key] = 'LastUpdatedLocationDate';
 
END