USE [ZyleminiPlus_BDPL]
GO
/****** Object:  StoredProcedure [dbo].[pr_ReportCustomerProfile]    Script Date: 3/30/2026 3:39:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO




-- =============================================
-- Author:		Shweta Patil-Mahadik
-- Create date: 12-Mar-2024
-- Description:	Brand wise Sales
-- Exec pr_ReportCustomerProfile '2','26299','','','','','01-09-2024'
-- =============================================
ALTER   PROCEDURE [dbo].[pr_ReportCustomerProfile]
(
	 @UserId int,
	 @CustomerId int,
	 @DistributorId int = 0,
	 @Brand nvarchar(max),
	 @Uom nvarchar(50) = '',
	 @FromDate nvarchar(40) = '',
	 @ToDate nvarchar(40) = ''
)
AS
declare
@DebugMode int,
@strSql nvarchar(max)
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;
	set @DebugMode = 1
	
	declare @i int, @j int
	declare @reportColumn varchar(25), @ControlId varchar(25), @DefaultUOM varchar(25)-- @UOMId varchar(25), @UOMName varchar(25)
	declare	@Months varchar(25), @ZylemMISDBName varchar(100), --@ConversionUomFormula varchar(100),
		@MonthsNameForTotal varchar(100)
	Declare @LastNDaysData int

	BEGIN TRY		

			--DECLARE @StartMonth INT = (SELECT CASE WHEN @FROMDATE = '' THEN 0 ELSE MONTH(CONVERT(DATETIME, @FROMDATE)) END);
			--DECLARE @ToMonth INT = (SELECT CASE WHEN @ToDate = '' THEN 0 ELSE MONTH(CONVERT(DATETIME, @TODATE)) END);
			DECLARE @StartMonth INT = CASE 
                             WHEN @FROMDATE = '' THEN 0 
                             ELSE MONTH(CONVERT(NVARCHAR(40), @FROMDATE, 105)) 
                           END;

			DECLARE @ToMonth INT = CASE 
                          WHEN @TODATE = '' THEN 0 
                          ELSE MONTH(CONVERT(NVARCHAR(40), @TODATE, 105)) 
                        END;

				--SET TRANSACTION ISOLATION LEVEL SERIALIZABLE
				--	BEGIN TRANSACTION						

					set @Uom = case when @Uom = '' then (select [Value] from RO_Settings where [Key] = 'DefaultUOM') else @Uom end;

					--select @UOMId = ID, @UOMName = UOMDescription,@ConversionUomFormula= ConversionUomFormula from RO_UOMMaster where UOMDescription = @Uom
					set @ZylemMISDBName = ''	

					select @ZylemMISDBName = [Value] from RO_Settings where [Key] = 'ZylemMISDBName'
					print @ZylemMISDBName

					select @LastNDaysData = [Value] from RO_Settings where [Key] = 'LastNDaysData'
					print @LastNDaysData
					--select @FromDate = DATEADD(day,-@LastNDaysData,GETDATE())
					--print @FromDate

					------ Required settings --------------------
					select 'Outstanding_Total'
					set @strsql = N' select Sum(cast(OSAmount as numeric(18,2))) as Total from RO_OutstandingDetails '
					set @strsql = @strsql + " where PartyCode="+cast(@CustomerId as varchar)+" "  --where userid="+cast(@UserId as varchar)+")
					print  @strSql
					exec sp_executesql @strSql

					select 'Outstanding_Details'
					set @strsql = N'select PartyCode, Document, format(convert(date,Date,120),''dd-MMM-yyyy'') as Date,  format(convert(date,DisPactchDate,120),''dd-MMM-yyyy'') as DisPactchDate, Amount,OSAmount,OSDocument as VhrNo,format(convert(date,InvoiceDate,120),''dd-MMM-yyyy'') as InvoiceDate, NetOsAmt, DATEDIFF(DAY,InvoiceDate, getdate()) as [Lag] '
					set @strsql = @strsql + " from RO_OutstandingDetails where PartyCode="+cast(@CustomerId as varchar)+"   order by lag desc"--where userid="+cast(@UserId as varchar)+")
					--  and Date>= '" +@FromDate +"'
					print  @strSql
					exec sp_executesql @strSql

					select 'AvgSale'			
					--select @Months = cast(datepart(MONTH,getdate()) as varchar)
					--select @Months = @Months +','+ cast(datepart(MONTH,dateadd(month,-1,getdate())) as varchar)
					--select @Months = @Months +','+ cast(datepart(MONTH,dateadd(month,-2,getdate())) as varchar)

					--print @Months

					set @strsql = N'select  '
					set @strsql = @strsql +" cast(sum(COALESCE("+@Uom+",0))/3 as numeric(18,2)) as AvgSale from RO_Sales, RO_Pitem
					where RO_Sales.ItemID = RO_PItem.ItemId and CustomerID = "+cast(@CustomerId as varchar)--+" and month in ("+@Months+") "

					PRINT 'STRSQL'
					PRINT @strsql;

					if(@DistributorId != 0)
					begin
						set @strSql = @strsql + ' and DistributorID = ' + cast(@DistributorId as varchar);
					end
					if(@Brand != '')
					begin
						set @strSql = @strsql + ' and BRANDID in( ' + cast(@Brand as varchar) + ')';
					end
					--PRINT 'STRSQL'
					--PRINT @strsql;
					IF(@StartMonth = 0 and @ToMonth = 0)
					BEGIN
						SET @strSql = @strsql + ' and Month IN (' + CAST(MONTH(GETDATE()) AS NVARCHAR) + ',' + 
							CAST((CASE WHEN MONTH(GETDATE()) - 1 < 1 THEN 12 ELSE MONTH(GETDATE()) - 1 END) AS NVARCHAR) + ',' +
							CAST((CASE 
							    WHEN MONTH(GETDATE()) - 2 < 1 THEN 
							        CASE 
							            WHEN MONTH(GETDATE()) = 1 THEN 11
							            WHEN MONTH(GETDATE()) = 2 THEN 12
							        END
							    ELSE MONTH(GETDATE()) - 2 
							END) AS NVARCHAR) + ')';
					END
					ELSE IF((@StartMonth = 0 and  @ToMonth != 0) OR (@StartMonth != 0 and  @ToMonth != 0))
					BEGIN
						SET @strSql = @strsql + ' and Month IN (' + CAST(@ToMonth AS NVARCHAR) + ',' + 
							CAST((CASE WHEN @ToMonth - 1 < 1 THEN 12 ELSE @ToMonth - 1 END) AS NVARCHAR) + ',' +
							CAST((CASE 
							    WHEN @ToMonth - 2 < 1 THEN 
							        CASE 
							            WHEN @ToMonth = 1 THEN 11
							            WHEN @ToMonth = 2 THEN 12
							        END
							    ELSE @ToMonth - 2 
							END) AS NVARCHAR) + ')';
					END
					ELSE
					BEGIN
						SET @strSql = @strsql + ' and Month IN (' + CAST(@StartMonth AS NVARCHAR) + ',' + -- Current month
								CAST((CASE WHEN (@StartMonth + 1) > 12 THEN (@StartMonth + 1) % 12 ELSE (@StartMonth + 1) END) AS NVARCHAR) + ',' +
								CAST((CASE WHEN (@StartMonth + 2) > 12 THEN ((@StartMonth + 1) % 12 + 1) ELSE (@StartMonth + 2) END) AS NVARCHAR) + ')';
					END

					--if(@FromDate != '')
					--begin
					--	SET @strSql = @strsql + ' and Month <= ' + CAST(MONTH(@ToDate)AS NVARCHAR(25));
					--end
					print 'AVGSALES'
					print  @strSql
					exec sp_executesql @strSql

					------------------- SALES  --------------------------------------------
					select 'SalesMaster_LastInvoiceDate'
					set @strsql = N'select   format(convert(date,max(voucherdate),120),''dd-MMM-yyyy'') as LastInvoiceDate from '
					set @strsql = @strsql + @ZylemMISDBName +".dbo.Sales where CustomerId =" + cast(@CustomerId as varchar)
					print  @strSql
					exec sp_executesql @strSql
					
					select 'SalesMaster_Invoice'

					set @strsql = N'select top 1 PD.Distributor, VoucherNumber, format(convert(date,Voucherdate,120),''dd-MMM-yyyy'') as Voucherdate, ChalanNumber, format(convert(date,ChalanDate,120),''dd-MMM-yyyy'') as ChalanDate from '
					set @strsql = @strsql + @ZylemMISDBName +".dbo.Sales S left join "+ @ZylemMISDBName +".dbo.PDistributor PD on S.DistributorID = PD.DistributorId
					where CustomerId =" + cast(@CustomerId as varchar) +" order by S.voucherDate desc"
					print  @strSql
					exec sp_executesql @strSql									

					select 'SalesMaster_InvoiceDetails'
					set @strsql = N'select PI.ItemAlias, SaleQuantity, FreeQuantity, pricetostockiest from '
					set @strsql = @strsql + @ZylemMISDBName +".dbo.Sales left join "+ @ZylemMISDBName +".dbo.PItem PI on Sales.ItemId = PI.ItemId
					where  distributorid+ VoucherNumber+cast( Voucherdate as varchar)+ ChalanNumber+cast(ChalanDate as varchar) in (select top 1 distributorid+ VoucherNumber+cast( Voucherdate as varchar)+ ChalanNumber+cast(ChalanDate as varchar) from 
					"+ @ZylemMISDBName +".dbo.Sales 
					where CustomerId =" + cast(@CustomerId as varchar) +" order by voucherDate desc) "
					print  @strSql
					exec sp_executesql @strSql
					
					----------------------------- ORDER  -------------------------------
					select 'OrderMaster_LastOrderDate'
					select format(convert(date, max(OrderTakenDatetime),120),'dd-MMM-yyyy') as LastOrderDate
					from TX_OrderMaster where   EntityID =@CustomerId and CollectionType=0

					select 'OrderMaster_Order'
					select top 1 MobileGenPrimaryKey, format(convert(date,OrderTakenDatetime,120),'dd-MMM-yyyy') as OrderTakenDatetime, TotalAmount, DefaultDistributorID, PD.Distributor, ActivityStartTime, ActivityEndTime
					from TX_OrderMaster OM left join RO_PDistributor PD on OM.DefaultDistributorID = PD.DistributorId 
					 where  EntityID =@CustomerId and CollectionType =0 order by OM.OrderTakenDatetime desc

					select 'OrderMaster_OrderDetails'
					select RO_PItem.ItemAlias, largeUnit, SmallUnit, FreeLargeUnit,  FreeSmallUnit, Amount, TotalDiscount, Rate 
					from TX_OrderDetails left join RO_PItem on TX_OrderDetails.ItemID = RO_PItem.ItemId
					where MobileGenPrimaryKey in (select top 1 MobileGenPrimaryKey
					from TX_OrderMaster OM left join RO_PDistributor PD on OM.DefaultDistributorID = PD.DistributorId
				 where EntityID =@CustomerId and CollectionType =0 order by OM.OrderTakenDatetime desc )

					create table #TopBrands
					(
						BrandName varchar(50),						
						Sales numeric(18,2),
						SalesYTD numeric(18,2)
					)

					--print @ConversionUomFormula			
									
				
					set @strsql = N'insert into #TopBrands (BrandName, Sales) '
					set @strsql = @strsql +" select RO_PItem.BrandId, cast(sum(COALESCE("+@Uom+",0)) as numeric(18,2)) from RO_Sales
					 left join RO_PItem on RO_Sales.ItemID = RO_PItem.ItemId
					where Customerid ="+cast(@CustomerId as varchar)

					if(@DistributorId != 0)
					begin
						set @strSql = @strsql + ' and DistributorID = ' + cast(@DistributorId as varchar);
					end
					if(@Brand != '')
					begin
						set @strSql = @strsql + ' and BRANDID in ( ' + cast(@Brand as varchar) + ')';
					end
					IF(@StartMonth = 0 and @ToMonth = 0)
					BEGIN
						SET @strSql = @strsql + ' and Month IN (' + CAST(MONTH(GETDATE()) AS NVARCHAR) + ',' + 
							CAST((CASE WHEN MONTH(GETDATE()) - 1 < 1 THEN 12 ELSE MONTH(GETDATE()) - 1 END) AS NVARCHAR) + ',' +
							CAST((CASE 
							    WHEN MONTH(GETDATE()) - 2 < 1 THEN 
							        CASE 
							            WHEN MONTH(GETDATE()) = 1 THEN 11
							            WHEN MONTH(GETDATE()) = 2 THEN 12
							        END
							    ELSE MONTH(GETDATE()) - 2 
							END) AS NVARCHAR) + ')';
					END
					ELSE IF((@StartMonth = 0 and  @ToMonth != 0) OR (@StartMonth != 0 and  @ToMonth != 0))
					BEGIN
						SET @strSql = @strsql + ' and Month IN (' + CAST(@ToMonth AS NVARCHAR) + ',' + 
							CAST((CASE WHEN @ToMonth - 1 < 1 THEN 12 ELSE @ToMonth - 1 END) AS NVARCHAR) + ',' +
							CAST((CASE 
							    WHEN @ToMonth - 2 < 1 THEN 
							        CASE 
							            WHEN @ToMonth = 1 THEN 11
							            WHEN @ToMonth = 2 THEN 12
							        END
							    ELSE @ToMonth - 2 
							END) AS NVARCHAR) + ')';
					END
					ELSE
					BEGIN
						SET @strSql = @strsql + ' and Month IN (' + CAST(@StartMonth AS NVARCHAR) + ',' + -- Current month
								CAST((CASE WHEN (@StartMonth + 1) > 12 THEN (@StartMonth + 1) % 12 ELSE (@StartMonth + 1) END) AS NVARCHAR) + ',' +
								CAST((CASE WHEN (@StartMonth + 2) > 12 THEN ((@StartMonth + 1) % 12 + 1) ELSE (@StartMonth + 2) END) AS NVARCHAR) + ')';
					END

					set @strSql = @strSql + +" group by RO_PItem.BrandId ";
					print 'TOPBRANDSSSSSSSSSS'
					print @strsql
					exec sp_executesql @strSql

					set @strsql = N'Update #TopBrands  '
					set @strsql = @strsql +" set SalesYTD = a.YTD from (select brandid, cast(sum(COALESCE("+@Uom+",0)) as numeric(18,2)) as YTD from RO_SalesYTD
					 left join RO_PItem on RO_SalesYTD.itemid = RO_PItem.ItemId where  Customerid ="+cast(@CustomerId as varchar)

					 if(@DistributorId != 0)
					begin
						set @strSql = @strsql + ' and DistributorID = ' + cast(@DistributorId as varchar);
					end
					if(@Brand != '')
					begin
						set @strSql = @strsql + ' and BRANDID in ( ' + cast(@Brand as varchar) + ')';
					end
					--IF(@FromDate = '' and  @ToDate = '')
					--BEGIN
					--	SET @strSql = @strsql + ' and Month IN (' + CAST(MONTH(GETDATE())AS NVARCHAR) + 
					--					',' + CAST((MONTH(GETDATE()) - 1) AS NVARCHAR) + ',' +
					--					CAST((MONTH(GETDATE()) - 2) AS NVARCHAR) + ')';
					--END
					--ELSE IF((@FromDate = '' and  @ToDate != '') OR (@FromDate != '' and  @ToDate != ''))
					--BEGIN
					--	SET @strSql = @strsql + ' and Month IN (' + CAST(MONTH(@ToDate)AS NVARCHAR) + 
					--					',' + CAST((MONTH(@ToDate) - 1) AS NVARCHAR) + ',' +
					--					CAST((MONTH(@ToDate) - 2) AS NVARCHAR) + ')';
					--END
					--ELSE
					--BEGIN
					--	SET @strSql = @strsql + ' and Month IN (' + CAST((MONTH(@FromDate) + 2) AS NVARCHAR) + 
					--					',' + CAST((MONTH(@FromDate) + 1) AS NVARCHAR) + ',' +
					--					CAST(MONTH(@FromDate) AS NVARCHAR) + ')';
					--END

					 set @strSql = @strSql + " group by brandid) as a
					 left join  #TopBrands on  #TopBrands.brandname = a.brandid "

					 print 'TOPBRANDSSSSSSSSSS_______SALES_YTD'
					print @strsql
					exec sp_executesql @strSql
					
					update #TopBrands set BrandName= brand from RO_PItem , #TopBrands where RO_PItem.BRANDID= #TopBrands.BrandName 
					select 'TopBrands'
					select top 5 * from #TopBrands order by Sales desc

					-------------------------------------------------- PDC  --------------------------------------------------

					DROP TABLE IF EXISTS #PDC_DETAILS;
					DECLARE @TempJson NVARCHAR(MAX);

					DECLARE @PartyName NVARCHAR(MAX);
					DECLARE @InvoiceJson NVARCHAR(MAX);
					DECLARE @Total NUMERIC(18,2);

					SELECT @PartyName = PARTY FROM RO_PCUSTOMER WHERE CUSTOMERID = @CUSTOMERID;
					SELECT @Total =  ISNULL((SELECT SUM(A.OutStandingAmt) FROM 
									(SELECT DISTINCT InvoiceNo,OutStandingAmt FROM RO_PDCDetails WHERE CustomerCode = @CUSTOMERID ) A),0.00)
					SET @PartyName = REPLACE(@PartyName,'"','');

					SET @InvoiceJson = (
					    SELECT 
					        InvoiceNo AS BillNo,
					        InvoiceDate AS BillDate,
					        OutStandingAmt AS Outstanding,
					        ISNULL((
					            SELECT 
					                AllocatedAmt AS Allocated,
					                PDCDate AS [Date]
					            FROM RO_PDCDetails p
					            WHERE p.InvoiceNo = d.InvoiceNo
					                AND p.InvoiceDate = d.InvoiceDate
					                AND p.OutStandingAmt = d.OutStandingAmt
					            FOR JSON PATH
					        ), JSON_QUERY('[]')) AS Details
					    FROM (
					        SELECT DISTINCT
					            InvoiceNo,
					            InvoiceDate,
					            OutStandingAmt
					        FROM RO_PDCDetails
					        WHERE CustomerCode = @CUSTOMERID
					    ) d
					    FOR JSON PATH
					);
					
					SET @InvoiceJson = ISNULL(@InvoiceJson, JSON_QUERY('[]'));

					SET @TempJson = (
					    SELECT 
					        @PartyName AS PartyName,
							@Total AS TotalOutstanding,
					        JSON_QUERY(CASE 
					            WHEN @PartyName IS NOT NULL 
					            THEN JSON_QUERY(@InvoiceJson)  
					            ELSE NULL  
					        END) AS Invoice
					    FOR JSON PATH, ROOT('PDC_Details')
					);

					DECLARE @FinalJson NVARCHAR(MAX);
					
					SET @FinalJson = STUFF(@TempJson, 1, LEN('{"PDC_Details":"') - 1, '');

					CREATE TABLE #PDC_DETAILS (
					    PDC_Details NVARCHAR(MAX)
					);
					
					INSERT INTO #PDC_DETAILS (PDC_Details)
					VALUES (@FinalJson);
					
					SELECT * FROM #PDC_DETAILS;
					-------------------------------------------------- UNALLOACTED  --------------------------------------------------

					SET @InvoiceJson = (
									    SELECT 
									        SUM(UNALLOCATEDAMOUNT) AS Total,
									        (
									            SELECT DISTINCT 
									                VOUCHERNO AS [Voucher No],
									                UNALLOCATEDAMOUNT AS [Unallocated],
									                FORMAT(CAST(VOUCHERDATE AS DATETIME), 'dd-MM-yyyy') AS [Date]
									            FROM RO_UnallocatedDetails
									            WHERE CustomerCode = @CUSTOMERID
									            FOR JSON PATH
									        ) AS Details
									    FROM RO_UnallocatedDetails
									    WHERE CustomerCode = @CUSTOMERID
									    FOR JSON PATH
									);
					
					
					SET @InvoiceJson = CASE WHEN @InvoiceJson = '[{}]' THEN JSON_QUERY('[]') ELSE @InvoiceJson END;
					SET @InvoiceJson = ISNULL(@InvoiceJson, JSON_QUERY('[]'));
					SELECT @Total =  ISNULL((SELECT SUM(UnallocatedAmount) FROM RO_UnallocatedDetails WHERE CustomerCode = @CUSTOMERID),0.00)

					SET @TempJson = ( 
					 SELECT 
					        @PartyName AS PartyName,
							@Total AS Unallocated_Total,
					        JSON_QUERY(CASE 
					            WHEN @PartyName IS NOT NULL 
					            THEN JSON_QUERY(@InvoiceJson)  
					            ELSE NULL  
					        END) AS Voucher
					    FOR JSON PATH, ROOT('Unallocated_Details')
					);

					DECLARE @FinalJson1 NVARCHAR(MAX);
					SET @FinalJson1 = STUFF(@TempJson, 1, LEN('{"Unallocated_Details":"') - 1, '');
					
					CREATE TABLE #UNALLOCATED_DETAILS (
					    Unallocated_Details NVARCHAR(MAX)
					);
					
					INSERT INTO #UNALLOCATED_DETAILS (Unallocated_Details)
					VALUES (@FinalJson1);
					
					SELECT * FROM #UNALLOCATED_DETAILS;
					--------------------------------LEDGER--------------------------------------------
					
					SELECT 'Ledger_Customer';
					SELECT REPLACE(PARTY,'"','') AS PARTY FROM RO_PCUSTOMER WHERE CUSTOMERID = @CUSTOMERID;
					
					
					------------------------------------------------LEDGER DETAILS-----------------------------------------
					DROP TABLE IF EXISTS #LEDGER_VOUCHERDETAILS;
					DROP TABLE IF EXISTS #LEDGER_RECEIPTDETAILS;
					

					CREATE TABLE #LEDGER_VOUCHERDETAILS
					(
						SRNO		INT IDENTITY(1,1),
						ERPCODE		VARCHAR(50),
						[Inv.No.]	VARCHAR(150),
						[Inv.Date]	VARCHAR(MAX),
						[T.P.No.]	VARCHAR(150),
						[T.P.Date]	DATETIME,
						[Inv.Amt.]	NUMERIC(18,2)
					);
					CREATE TABLE #LEDGER_RECEIPTDETAILS
					(
						SRNO				INT IDENTITY(1,1),
						ERPCODE				VARCHAR(50),
						VOUCHERNO			VARCHAR(150),
						ReceiptVoucherNO	VARCHAR(150),
						ReceiptVoucherDate	DATETIME,
						ChequeNo			VARCHAR(150),
						ReceivedAmount		NUMERIC(18,2),
						LedgerName			VARCHAR(150),
						VoucherDate			DATETIME
					);
					DECLARE @ERPCODE VARCHAR(20);
					DECLARE @VOUCHERCSV NVARCHAR(MAX), @VOUCHERNO VARCHAR(20), @VOUCHERDATE VARCHAR(100);
					DECLARE @SQL NVARCHAR(MAX);
					SET @TOTAL = 0;
					
					SELECT @ERPCODE = ERPCODE FROM RO_PCUSTOMER WHERE CUSTOMERID = @CUSTOMERID;

					SELECT 'Ledger_Details';
					IF(@ERPCODE <> '')
					BEGIN
						SET @ERPCODE = CASE WHEN (@ERPCODE != '' OR @ERPCODE != NULL ) THEN CAST(SUBSTRING(@ERPCODE,0,LEN(@ERPCODE)-1) AS VARCHAR(20)) ELSE '' END;
										   
						INSERT INTO #LEDGER_VOUCHERDETAILS (ERPCODE,[Inv.No.],[Inv.Date],[T.P.No.],[T.P.Date],[Inv.Amt.])
						SELECT ERPCODE, VOUCHERNO, CONVERT(VARCHAR(MAX),VOUCHERDATE,3), TPNO, TPDATE, VOUCHERAMOUNT
							FROM RO_CUSTOMERLEDGER
							WHERE ErpCode = @Erpcode  AND Status = 'H'
							ORDER BY VOUCHERDATE;
						
							SELECT @VOUCHERCSV = STUFF((
													SELECT ',' + QUOTENAME([Inv.No.], '''')
													FROM #LEDGER_VOUCHERDETAILS
													FOR XML PATH('')
													), 1, 1, '');
						
						SET @SQL = '
						INSERT INTO #LEDGER_RECEIPTDETAILS (ERPCODE,VOUCHERNO,ReceiptVoucherNO,ReceiptVoucherDate,ChequeNo,ReceivedAmount,LedgerName,VoucherDate)
						( SELECT ERPCODE, VOUCHERNO, ReceiptVoucherNO, ReceiptVoucherDate, ChequeNo , ReceivedAmount, LedgerName, VoucherDate
						FROM RO_CUSTOMERLEDGER 
						WHERE ErpCode = ''' + CAST(SUBSTRING(@ERPCODE,0,4) AS VARCHAR(10)) + ''' 
						  AND Status = ''D'' 
						  AND VoucherNo IN (' + @VOUCHERCSV + ') );';
						print @SQL;
						EXEC sp_executesql @SQL;
												

						DECLARE  @k INT, @COUNT INT;
						
						SET @k = 1;
						SELECT @COUNT = COUNT(SRNO) FROM #LEDGER_VOUCHERDETAILS;
						WHILE (@k <= @COUNT)
						BEGIN

							SELECT @ERPCODE = ErpCode FROM #LEDGER_VOUCHERDETAILS WHERE SRNO = @k;
							SELECT @VOUCHERNO = [Inv.No.] FROM #LEDGER_VOUCHERDETAILS WHERE SRNO = @k;
							SELECT @VOUCHERDATE = [Inv.Date] FROM #LEDGER_VOUCHERDETAILS WHERE SRNO = @k;



							SELECT 'Ledger_VoucherDetails';
								
								SELECT [Inv.No.], CONVERT(VARCHAR,[Inv.Date],3) AS [Inv.Date], [T.P.No.], CONVERT(VARCHAR,[T.P.Date],3) AS [T.P.Date], 
								CAST([Inv.Amt.] AS VARCHAR(MAX)) AS [Inv.Amt.] 
								FROM #LEDGER_VOUCHERDETAILS WHERE SRNO = @k;

							SELECT 'Ledger_ReceiptDetails';
								
								IF EXISTS(SELECT 1 FROM #LEDGER_RECEIPTDETAILS WHERE ErpCode = CAST(SUBSTRING(@ERPCODE,0,4) AS VARCHAR(10)) AND VoucherNo = @VOUCHERNO AND CONVERT(VARCHAR(MAX),VoucherDate,3) = @VOUCHERDATE)
								BEGIN
									SELECT ReceiptVoucherNO AS [Rec.No.], CONVERT(VARCHAR,ReceiptVoucherDate,3) AS Date, ChequeNo AS [Chq.No.] , CAST(ReceivedAmount AS varchar(max))  AS [Adj.Amt.], LedgerName AS [Ledger]
									FROM #LEDGER_RECEIPTDETAILS WHERE ErpCode = CAST(SUBSTRING(@ERPCODE,0,4) AS VARCHAR(10)) AND VoucherNo = @VOUCHERNO
									AND CONVERT(VARCHAR(MAX),VoucherDate,3) = @VOUCHERDATE;
									
									SELECT @TOTAL = SUM(ReceivedAmount) FROM #LEDGER_RECEIPTDETAILS 
									WHERE ErpCode = CAST(SUBSTRING(@ERPCODE,0,4) AS VARCHAR(10)) AND VoucherNo = @VOUCHERNO AND CONVERT(VARCHAR(MAX),VoucherDate,3) = @VOUCHERDATE;

									SELECT 'Ledger_TotalDetails';

									SELECT CAST(@TOTAL AS NVARCHAR(MAX)) AS Total, 
									CAST(
									CASE WHEN ((SELECT CAST([Inv.Amt.] AS varchar(max)) AS Outstanding FROM #LEDGER_VOUCHERDETAILS WHERE SRNO = @k) - @TOTAL) < 0 THEN '0'
									ELSE ((SELECT CAST([Inv.Amt.] AS varchar(max)) AS Outstanding FROM #LEDGER_VOUCHERDETAILS WHERE SRNO = @k) - @TOTAL) END							
									AS NVARCHAR(MAX))
									AS Outstanding;
								END
								ELSE
								BEGIN
									SELECT '' AS [Rec.No.], '' AS Date, '' AS [Chq.No.] , '0' AS [Adj.Amt.], '' AS [Ledger];

									SELECT 'Ledger_TotalDetails';

									SELECT '0' AS Total, CAST([Inv.Amt.] AS varchar(max)) AS Outstanding 
								FROM #LEDGER_VOUCHERDETAILS WHERE SRNO = @k;

								END
						 
						SELECT @k = @k + 1
						END
					END

		--COMMIT TRANSACTION					
		--	SET TRANSACTION ISOLATION LEVEL	READ Committed 
		END TRY
		BEGIN CATCH			
			select [description] from sys.sysmessages  where error = @@Error
			--IF @@TRANCOUNT > 0 ROLLBACK TRANSACTION

		END CATCH			
End
