USE [ZyleminiPlus_BDPL]
GO
/****** Object:  StoredProcedure [dbo].[pr_ReportBrandWiseSales]    Script Date: 3/30/2026 3:38:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO


-- =============================================
-- Author:		Shweta Patil-Mahadik
-- Create date: 09-Jan-2024
-- Description:	Brand wise Sales
-- Exec pr_ReportBrandWiseSales '7595','','','','','','',''
-- Sort By 01-Asc, 02-Desc, 03-Top performing, 04-least performing
-- =============================================
ALTER   PROCEDURE [dbo].[pr_ReportBrandWiseSales]
(
	 @UserId int,
	 @BrandsIds varchar(2000),
	 @DistributorIds varchar(2000),
	 @UOM varchar(25),
	 @SortBy varchar(255),
	 @CustomerId int,
	 @FromDate nvarchar(40) = '',
	 @ToDate nvarchar(40) = ''
)
AS
declare
@DebugMode int,
@strSql nvarchar(max)
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;
	set @DebugMode = 1
	
	declare @i int, @j int
	declare @reportColumn varchar(25), @ControlId varchar(25), @DefaultUOM varchar(25), @UOMId varchar(25), @UOMName varchar(25)
	declare @Months varchar(25), @MonthsName varchar(100), @ConversionUomFormula varchar(100), @MonthsNameForTotal varchar(100)
	Declare @IsParent bit

	DECLARE @StartMonth INT = CASE 
                             WHEN @FROMDATE = '' THEN 0 
                             ELSE MONTH(CONVERT(NVARCHAR(40), @FROMDATE, 105)) 
                           END;

	DECLARE @ToMonth INT = CASE 
                          WHEN @TODATE = '' THEN 0 
                          ELSE MONTH(CONVERT(NVARCHAR(40), @TODATE, 105)) 
                        END;
	
	PRINT 'START ' + CAST(@STARTMONTH AS NVARCHAR(MAX)) + ' END' +CAST( @TOMONTH AS NVARCHAR(MAX));

	BEGIN TRY		
				SET TRANSACTION ISOLATION LEVEL SERIALIZABLE
					BEGIN TRANSACTION	
					
					------ Required settings --------------------

					select @reportColumn = ComboClassification from RO_Report where LabelName = 'Brand Wise Sale'

					select @ControlId = ControlId from RO_ReportControlMaster where ReferenceColumn = @reportColumn

					select @DefaultUOM = [Value] from RO_Settings where [Key] = 'DefaultUOM'
					
					set @ConversionUomFormula =''

					If Exists (SELECT value FROM RO_Settings where [Key]='zyleminiparentID' and value like '%,'+cast(@userID as varchar)+',%')
					begin
						set @IsParent=1
						print 'User is Parent'
						--select * into #tempSettings from RO_Settings
					end
					Else
					begin
						set @IsParent=0
						print 'User is Salesman'
					end


					--if(@UOM != '')
					--begin
					--	select @UOMId = ID, @UOMName = UOMDescription,@ConversionUomFormula= ConversionUomFormula  from RO_UOMMaster where ID = @UOM
						
					--end
					--else
					--begin
					--	select @UOMId = ID, @UOMName = UOMDescription,@ConversionUomFormula= ConversionUomFormula from RO_UOMMaster where UOMDescription = @DefaultUOM
						
					--end

					SELECT @UOMName = CASE WHEN @UOM != '' THEN @UOM
										ELSE (SELECT [VALUE] FROM RO_Settings WHERE [KEY] = 'DefaultUOM') END;
					
					--select @Months = cast(datepart(MONTH,getdate()) as varchar)
					--select @Months = @Months +','+ cast(datepart(MONTH,dateadd(month,-1,getdate())) as varchar)
					--select @Months = @Months +','+ cast(datepart(MONTH,dateadd(month,-2,getdate())) as varchar)

					

					IF(@StartMonth = 0 and @ToMonth = 0)
					BEGIN
						SELECT @Months = CAST(MONTH(GETDATE()) AS NVARCHAR) + ',' + 
							CAST((CASE WHEN MONTH(GETDATE()) - 1 < 1 THEN 12 ELSE MONTH(GETDATE()) - 1 END) AS NVARCHAR) + ',' +
							CAST((CASE 
							    WHEN MONTH(GETDATE()) - 2 < 1 THEN 
							        CASE 
							            WHEN MONTH(GETDATE()) = 1 THEN 11
							            WHEN MONTH(GETDATE()) = 2 THEN 12
							        END
							    ELSE MONTH(GETDATE()) - 2 
							END) AS NVARCHAR);
					END
					ELSE IF((@StartMonth = 0 and  @ToMonth != 0) OR (@StartMonth != 0 and  @ToMonth != 0))
					BEGIN
						SELECT @Months = CAST(@ToMonth AS NVARCHAR) + ',' + 
							CAST((CASE WHEN @ToMonth - 1 < 1 THEN 12 ELSE @ToMonth - 1 END) AS NVARCHAR) + ',' +
							CAST((CASE 
							    WHEN @ToMonth - 2 < 1 THEN 
							        CASE 
							            WHEN @ToMonth = 1 THEN 11
							            WHEN @ToMonth = 2 THEN 12
							        END
							    ELSE @ToMonth - 2 
							END) AS NVARCHAR);
					END
					ELSE
					BEGIN
						IF(MONTH(GETDATE()) - @StartMonth < 3)
						BEGIN 
							SELECT @Months = CAST(MONTH(GETDATE()) AS NVARCHAR) + ',' + 
								CAST((CASE WHEN MONTH(GETDATE()) - 1 < 1 THEN 12 ELSE MONTH(GETDATE()) - 1 END) AS NVARCHAR) + ',' +
								CAST((CASE 
								    WHEN MONTH(GETDATE()) - 2 < 1 THEN 
								        CASE 
								            WHEN MONTH(GETDATE()) = 1 THEN 11
								            WHEN MONTH(GETDATE()) = 2 THEN 12
								        END
								    ELSE MONTH(GETDATE()) - 2 
								END) AS NVARCHAR);
						END
						ELSE
						BEGIN
							SET @Months = 
								CAST(@StartMonth AS NVARCHAR) + ',' + -- Current month
								CAST((CASE WHEN (@StartMonth + 1) > 12 THEN (@StartMonth + 1) % 12 ELSE (@StartMonth + 1) END) AS NVARCHAR) + ',' +
								CAST((CASE WHEN (@StartMonth + 2) > 12 THEN ((@StartMonth + 1) % 12 + 1) ELSE (@StartMonth + 2) END) AS NVARCHAR);
						END
					END

					DECLARE @MonthNum INT, @TEMPMONTHS NVARCHAR(100) = @Months;
					DECLARE @Counter INT = 1;
					SET @MonthsName = '';
					
					WHILE LEN(@TEMPMONTHS) > 0
					BEGIN
					    SET @MonthNum = CAST(LEFT(@TEMPMONTHS, CHARINDEX(',', @TEMPMONTHS + ',') - 1) AS INT);
					    SET @TEMPMONTHS = STUFF(@TEMPMONTHS, 1, CHARINDEX(',', @TEMPMONTHS + ','), '');
					
					    SET @MonthsName = @MonthsName + '[' + DATENAME(MONTH, DATEADD(MONTH, @MonthNum - 1, 0)) + '], ';
					END
					
					SET @MonthsName = LEFT(@MonthsName, LEN(@MonthsName) - 1);
					
					--select @MonthsName = '[' + DATENAME(MONTH,getdate()) + ']'
					--select @MonthsName = @MonthsName +',['+ DATENAME(MONTH,dateadd(month,-1,getdate()))+ ']'
					--select @MonthsName = @MonthsName +',['+ DATENAME(MONTH,dateadd(month,-2,getdate())) + ']'
					--PRINT '@Months'
					--PRINT @Months
					--PRINT '@MonthsName'
					--PRINT @MonthsName


					set @MonthsNameForTotal = replace(@MonthsName,',','+')
					select @MonthsName = @MonthsName +',[YTD]'
--Print 'AW1'					
--Print GETDATE()					
					------------ User wise Item and Customer Universe ------------------
					create table #UsersItems
					(
						ItemId int
					)

					if(@IsParent=1)
					begin
						insert into #UsersItems select distinct UI.ITEMID from RO_UsersItems UI, RO_PUser PU,RO_PItem PIT Where UI.UserID = PU.UserID and UI.ItemID = PIT.ItemId and PU.ParentIdList like '%,'+cast(@userID as varchar)+',%'
					end
					else
					begin
						insert into #UsersItems select itemid from RO_UsersItems where UserID=@UserId
					end

					create table #UsersCustomers
					(
						CustomerId int
					)
					

					if(@IsParent=1)
					begin
						--insert into #UsersCustomers select distinct UC.CUSTOMERID from RO_UsersCustomers UC, RO_PUser PU, RO_PCustomer PC, RO_AreaParentList A where UC.UserID = PU.UserID and UC.customerid = PC.customerid and PC.AreaID = A.AreaID and A.areaparentid like '%,'+cast(@AreaId as varchar)+',%' and PU.ParentIdList like '%,'+cast(@userID as varchar)+',%'	 and PC.RouteID is not null and PC.party is not null	
						insert into #UsersCustomers select distinct UC.CUSTOMERID from RO_UsersCustomers UC, RO_PUser PU 
						where UC.UserID = PU.UserID and PU.ParentIdList like '%,'+cast(@userID as varchar)+',%'	

					end
					else
					begin
						insert into #UsersCustomers select CustomerId from RO_UsersCustomers where UserID=@UserId
					end 	
--					------------ Users Sales ----------------------------
--Print 'AW2'					
--Print GETDATE()
					create table #TempSales
					(
						DistributorId int,
						CustomerId int,
						ItemId int,
						[Month] varchar(25),
						UOM numeric(18,3)
					)
CREATE CLUSTERED INDEX IX_TempSales_Month ON #TempSales([Month])

					set @strSql = 'insert into #TempSales select  RO_Sales.DistributorID, #UsersCustomers.CustomerID, RO_Sales.ItemID, FORMAT(DATEFROMPARTS(1900, [Month], 1), ''MMMM'', ''en-US'') as  [Month], CAST(ROUND(' + CAST(@UOMName AS NVARCHAR(50)) + ',3) AS NUMERIC(18,3)) AS ' + CAST(@UOMName AS NVARCHAR(50)) +' 
					from RO_Sales, #UsersItems, #UsersCustomers, RO_PItem, RO_PDistributor, RO_DistributorDivisionSalesman dds
					where RO_Sales.ItemID = #UsersItems.ItemId and  RO_Sales.CustomerID=#UsersCustomers.CustomerId and  RO_PItem.DIVISIONID = dds.DivisionID AND RO_Sales.itemid=RO_PItem.itemid 
					and RO_Sales.distributorid=RO_PDistributor.distributorId and RO_PDistributor.DistributorId=dds.DistributorId 
					and dds.UserId=' + cast(@userID as varchar) +''
					set @strSql = @strSql + " and RO_Sales.UserId = '," + cast(@userID as varchar) + ",'"
					set @strSql = @strSql + " and [Month] in ("+@Months+")"

					if(@BrandsIds!='')
					begin
						set @strSql = @strSql + " and RO_Pitem.brandid in ("+@BrandsIds+")"
					end
					if(@DistributorIds!='')
					begin
						set @strSql = @strSql + " and RO_Sales.distributorId in ("+@DistributorIds+")"
					end
					if(@CustomerId!='')
					begin
						set @strSql = @strSql + " and RO_Sales.CustomerId in ("+cast(@CustomerId as varchar)+")"
					end


				
					print '1111 --------------- ' +@strSql
					exec sp_executesql @strSql
					
					--update #TempSales set [Month]=FORMAT(DATEFROMPARTS(1900, [Month], 1), 'MMMM', 'en-US')

					--select DISTINCT ItemID from #TempSales
--Print 'AW3'					
--Print GETDATE()
					create table #TempSalesYTD
					(
						DistributorId int,
						CustomerId int,
						ItemId int,
						UOM numeric(18,2)
					)

					set @strSql = 'insert into #TempSalesYTD select RO_SalesYTD.DistributorID, #UsersCustomers.CustomerID, RO_SalesYTD.ItemID, ' + CAST(@UOMName AS NVARCHAR(50)) + ' 
					from RO_SalesYTD, #UsersItems, #UsersCustomers, RO_PItem, RO_PDistributor, RO_DistributorDivisionSalesman dds
					where RO_SalesYTD.ItemID = #UsersItems.ItemId and  RO_SalesYTD.CustomerID=#UsersCustomers.CustomerId and RO_SalesYTD.itemid=RO_PItem.itemid and RO_PItem.DIVISIONID = dds.DivisionID 
					and RO_SalesYTD.distributorid=RO_PDistributor.distributorId and RO_PDistributor.DistributorId=dds.DistributorId and dds.UserId=' +cast(@userID as varchar)+''
					
					if(@BrandsIds!='')
					begin
						set @strSql = @strSql + " and RO_Pitem.brandid in ("+@BrandsIds+")"
					end
					if(@DistributorIds!='')
					begin
						set @strSql = @strSql + " and RO_SalesYTD.distributorId in ("+@DistributorIds+")"
					end
					if(@CustomerId!='')
					begin
						set @strSql = @strSql + " and RO_SalesYTD.CustomerId in ("+cast(@CustomerId as varchar)+")"
					end

					print '1111 --------------- ' +@strSql
					exec sp_executesql @strSql

					--select * from #TempSalesYTD
--Print 'AW4'					
--Print GETDATE()

					create table #Header
					(
						Brands int,
						Distributors int,
						UOM varchar(25)
					)

					--set @strSql = 'insert into #Header(Brands) select count(distinct RO_Pitem.' + @ControlId + ' ) from (select itemid from #TempSales union select itemid from #TempSalesYTD) as a, RO_Pitem where a.ItemId=RO_PItem.ItemId'
					--print @strSql
					--exec sp_executesql @strSql


					Create table #ItemList (Item_Id int) 
					Insert into #ItemList (Item_Id) (select itemid from #TempSales union select itemid from #TempSalesYTD)
					
					set @strSql = 'insert into #Header(Brands) select count(distinct RO_Pitem.' + @ControlId + ' ) from #ItemList as a, RO_Pitem where a.Item_Id=RO_PItem.ItemId'
					print @strSql
					exec sp_executesql @strSql


					--insert into #Header(Brands) select count(distinct RO_Pitem.BRANDID) from (select itemid from #TempSales union select itemid from #TempSalesYTD) as a, RO_Pitem where a.ItemId=RO_PItem.ItemId
					update #Header set Distributors = (select count(distinct d.DistributorId) from (select DistributorId from #TempSales union select DistributorId from #TempSalesYTD) as d)
					update #Header set UOM=@UOMName
--Print 'AW5'					
--Print GETDATE()
					select 'Headers'
					select * from #Header

					create table #BrandPivotFinal (Brand varchar(1000))
										
					Declare @queryMonthSumQuery as nvarchar(2000)
					set @queryMonthSumQuery = 'Select '

					Declare @queryMonthQuery as nvarchar(2000)
					set @queryMonthQuery = 'Select '

					Declare @queryPercentQuery as nvarchar(2000)
					set @queryPercentQuery = ''

					declare @ColumnFieldName varchar(100)
					declare @ColumnFieldNameKeycode varchar(100)

					Declare @queryMonthIsnull as nvarchar(2000)
					set @queryMonthIsnull = ''

					Declare @queryColumnZero as nvarchar(2000)
					set @queryColumnZero = ''

					set @ColumnFieldNameKeycode = @MonthsName + ','
					set @ColumnFieldName = ''

					set @i = patindex('%,%',@ColumnFieldNameKeycode)
					set @j = patindex('%,%',@ColumnFieldNameKeycode)
					
					while @i <> 0
					begin
						set @ColumnFieldName = substring(@ColumnFieldNameKeycode, 0, @i)
						print @ColumnFieldName

						set @strSql = 'alter table  #BrandPivotFinal add ' + @ColumnFieldName + '  numeric(18,3) DEFAULT(0)'
						print @strSql
						exec sp_executesql @strSql

						if(@ColumnFieldName != '[YTD]')
						begin
							set @queryMonthSumQuery = @queryMonthSumQuery + ' CAST(isnull(Sum(' + @ColumnFieldName +'),0) AS NUMERIC(18,2)) as ' + @ColumnFieldName +', '
							set @queryPercentQuery = @queryPercentQuery + ' isnull(Sum(' + @ColumnFieldName +'),1) +'
						end
						
						if(@i=@j)
						begin
							print 'inside'
							set @queryMonthQuery = @queryMonthQuery + ' CAST(isnull(Sum(' + @ColumnFieldName +'),0)  '
							set @j=0
						end

						set @queryMonthIsnull = @queryMonthIsnull + 'CAST(Isnull('+@ColumnFieldName+',0) AS NUMERIC(18,2)) as ' + @ColumnFieldName +','
						set @queryColumnZero = @queryColumnZero + '0 as ' + @ColumnFieldName +','

						set @ColumnFieldNameKeycode = substring(@ColumnFieldNameKeycode, @i+1, len(@ColumnFieldNameKeycode))
						set @i = patindex('%,%',@ColumnFieldNameKeycode)
						
					end

--	Print 'AW6'					
--Print GETDATE()				
					set @strSql =	N'insert into #BrandPivotFinal SELECT * FROM ( '

					set @strSql = 	@strSql +"	select  "+@ControlId+", [Month], UOM from #TempSales, RO_PItem where #TempSales.ItemId=RO_PItem.ItemId 
					union all
										select "+@ControlId+", 'YTD',  UOM from #TempSalesYTD, RO_PItem where #TempSalesYTD.ItemId=RO_PItem.ItemId 
					) AS pvt
					PIVOT 
					( 
					sum(UOM)
					FOR [Month] 
					IN ( "+@MonthsName+") 
					) AS pvtFinal
					order by  "+@ControlId+"; "

					print 'Pivot --------------- ' +@strSql
					exec sp_executesql @strSql

					alter table  #BrandPivotFinal add Total  numeric(18,3) DEFAULT(0)
					set @MonthsNameForTotal = replace(@MonthsNameForTotal,'[',  'isnull([')
					set @MonthsNameForTotal = replace(@MonthsNameForTotal,']', '],0)')

					set @strSql =	N'update #BrandPivotFinal set Total= isnull('+ @MonthsNameForTotal + ',0)'
					print @strSql
					exec sp_executesql @strSql

--	Print 'AW7'					
--Print GETDATE()	
					select 'GraphData'
					set @queryMonthSumQuery = SUBSTRING(@queryMonthSumQuery,0,len(@queryMonthSumQuery))
					set @queryMonthSumQuery = @queryMonthSumQuery + ' from #BrandPivotFinal'
					print 'GRAPH DATA' + @queryMonthSumQuery
					exec sp_executesql @queryMonthSumQuery

					SElect 'Data'
					IF(EXISTS(SELECT 1 FROM #BrandPivotFinal))
					BEGIN  
					
						PRINT 'DATAAAAAAAAAAAAAAAAAAA'
						
						set @strSql =	N'insert into #BrandPivotFinal select distinct '+@ControlId + ','+ SUBSTRING(@queryColumnZero,0,len(@queryColumnZero))+', 0 from RO_Pitem, #UsersItems '
						set @strSql = @strSql + " where brand not in (select brand from #BrandPivotFinal) and #UsersItems.itemid=RO_Pitem.itemid "
						if(@BrandsIds != '')
						begin
							set @strSql = @strSql + " and brandid in (" + @BrandsIds + ") "
						end
						set @strSql = @strSql + "  group by brand "
						print ' ------------ ' + @strSql
						exec sp_executesql @strSql
						


						set @strSql =	 @strSql +" select "+@ControlId + ","+ SUBSTRING(@queryMonthIsnull,0,len(@queryMonthIsnull))+", CAST(Total AS NUMERIC(18,2)) AS Total from #BrandPivotFinal where ISNULL(Total,0) != 0 "
											
						if(@SortBy='1')
						begin
							set @strSql = 	@strSql +" order by " + @ControlId 
						end
						if(@SortBy='2')
						begin
							set @strSql = 	@strSql +" order by " + @ControlId  +' desc'
						end
						if(@SortBy='3')
						begin
							set @strSql = 	@strSql +" order by Total desc "
						end
						if(@SortBy='4')
						begin
							set @strSql = 	@strSql +" order by Total "
						end
						print ' ------------ ' + @strSql
						exec sp_executesql @strSql

					
					END
					else
					begin 
						set @strSql =	N'select distinct '+@ControlId + ','+ SUBSTRING(@queryColumnZero,0,len(@queryColumnZero))+' from RO_Pitem,#UsersItems '
						set @strSql = @strSql + " where #UsersItems.itemid=RO_Pitem.itemid "
						if(@BrandsIds != '')
						begin
							set @strSql = @strSql + " and brandid in (" + @BrandsIds + ")"
						end
						set @strSql = @strSql + " group by brand"
						print ' ------------ ' + @strSql
						exec sp_executesql @strSql
					end

					SElect 'Percentage'
					print @queryMonthQuery
					set @queryPercentQuery =  @queryMonthQuery + '/(' + SUBSTRING(@queryPercentQuery,0,len(@queryPercentQuery)) +')*100  AS NUMERIC(18,2))'
					set @queryPercentQuery =  @queryPercentQuery + ' as Sale_Percentage from #BrandPivotFinal'
					print @queryPercentQuery
					exec sp_executesql @queryPercentQuery

					SElect 'MonthSales'
					set @queryMonthQuery = @queryMonthQuery + ' AS NUMERIC(18,2)) as Sale from #BrandPivotFinal'
					print @queryMonthQuery
					exec sp_executesql @queryMonthQuery

--	Print 'AW8'					
--Print GETDATE()					


		COMMIT TRANSACTION					
			SET TRANSACTION ISOLATION LEVEL	READ Committed 
		END TRY
		BEGIN CATCH			
			select [description] from sys.sysmessages  where error = @@Error
			IF @@TRANCOUNT > 0 ROLLBACK TRANSACTION

		END CATCH			
End
