USE [ZyleminiPlus_BDPL]
GO
/****** Object:  StoredProcedure [dbo].[pr_ReportTargetVsAchievement]    Script Date: 3/30/2026 3:39:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO



-- =============================================
-- Author:		Shweta Patil-Mahadik
-- Create date: 09-Jan-2024
-- Description:	Brand wise Sales
-- Exec pr_ReportTargetVsAchievement '13','','','','','10','2024'
-- Sort By 01-Asc, 02-Desc, 03-Top performing, 04-least performing
-- =============================================
ALTER PROCEDURE [dbo].[pr_ReportTargetVsAchievement]
(
	 @UserId int,
	 @BrandsIds varchar(2000),
	 @DistributorIds varchar(2000),
	 @UOM varchar(25),
	 @SortBy varchar(255),
	 @Month varchar(2),
	 @Year varchar(4)
)
AS
declare
@DebugMode int,
@strSql nvarchar(max)
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;
	set @DebugMode = 1
	
	declare @i int, @j int
	declare @reportColumn varchar(25), @ControlId varchar(25), @DefaultUOM varchar(25), @UOMId varchar(25), @UOMName varchar(25)
	declare @FromDate varchar(11),@ToDate varchar(11), @MonthsName varchar(100), @ConversionUomFormula varchar(100), @MonthsNameForTotal varchar(100)
	declare @RRDays int, @CRDays int, @PreMonthDays int
	Declare @IsParent bit

	BEGIN TRY		
				SET TRANSACTION ISOLATION LEVEL SERIALIZABLE
					BEGIN TRANSACTION	
					
					------ Required settings --------------------

					select @reportColumn = ComboClassification from RO_Report where LabelName = 'Target Vs Achievement'

					select @ControlId = ControlId from RO_ReportControlMaster where ReferenceColumn = @reportColumn

					select @DefaultUOM = [Value] from RO_Settings where [Key] = 'DefaultUOM'
					
					set @ConversionUomFormula =''

					If Exists (SELECT value FROM RO_Settings where [Key]='zyleminiparentID' and value like '%,'+cast(@userID as varchar)+',%')
					begin
						set @IsParent=1
						print 'User is Parent'
						--select * into #tempSettings from RO_Settings
					end
					Else
					begin
						set @IsParent=0
						print 'User is Salesman'
					end

					--if(@UOM != '')
					--begin
					--	select @UOMId = ID, @UOMName = UOMDescription,@ConversionUomFormula= ConversionUomFormula  from RO_UOMMaster where ID = @UOM
					--end
					--else
					--begin
					--	select @UOMId = ID, @UOMName = UOMDescription,@ConversionUomFormula= ConversionUomFormula from RO_UOMMaster where UOMDescription = @DefaultUOM
					--end
					SELECT @UOMName = CASE WHEN @UOM = '' THEN (SELECT [VALUE] FROM RO_Settings WHERE [KEY] = 'DefaultUOM') ELSE @UOM END;
					
					select @FromDate = @year +'/'+@Month+ '/01'
					select @ToDate = convert(varchar,DATEADD(s,-1,DATEADD(mm, DATEDIFF(m,0,@FromDate)+1,0)),23)
					select @MonthsName = '[' + DATENAME(MONTH,@FromDate) + ']'
					
					
					
					------------ User wise Item and Customer Universe ------------------
					------------ User wise Item and Customer Universe ------------------
					create table #UsersItems
					(
						ItemId int
					)

					if(@IsParent=1)
					begin
						insert into #UsersItems select distinct UI.ITEMID from RO_UsersItems UI, RO_PUser PU,RO_PItem PIT Where UI.UserID = PU.UserID and UI.ItemID = PIT.ItemId and PU.ParentIdList like '%,'+cast(@userID as varchar)+',%'
					end
					else
					begin
						insert into #UsersItems select itemid from RO_UsersItems where UserID=@UserId
					end

					create table #UsersCustomers
					(
						CustomerId int
					)
					

					if(@IsParent=1)
					begin
						--insert into #UsersCustomers select distinct UC.CUSTOMERID from RO_UsersCustomers UC, RO_PUser PU, RO_PCustomer PC, RO_AreaParentList A where UC.UserID = PU.UserID and UC.customerid = PC.customerid and PC.AreaID = A.AreaID and A.areaparentid like '%,'+cast(@AreaId as varchar)+',%' and PU.ParentIdList like '%,'+cast(@userID as varchar)+',%'	 and PC.RouteID is not null and PC.party is not null	
						insert into #UsersCustomers select distinct UC.CUSTOMERID from RO_UsersCustomers UC, RO_PUser PU, RO_PCustomer PC where UC.UserID = PU.UserID and UC.customerid = PC.customerid and PU.ParentIdList like '%,'+cast(@userID as varchar)+',%'	 and PC.RouteID is not null and PC.party is not null	

					end
					else
					begin
						insert into #UsersCustomers select CustomerId from RO_UsersCustomers where UserID=@UserId
					end 
										
					------------ Users Sales ----------------------------
					DROP TABLE IF EXISTS ##TempSales;
					set @strSql = 'create table ##TempSales
					(
						DistributorId int,
						CustomerId int,
						ItemId int,
						ClassificationId int,
						' + CAST(@UOMName AS NVARCHAR(40)) + ' numeric(18,3)
					)';
					print @strSql;
					exec sp_executesql @strSql

					set @strSql = 'insert into ##TempSales select RO_Sales.DistributorID, #UsersCustomers.CustomerID, RO_Sales.ItemID, RO_PItem.'+@ControlId+'id, ' + CAST(@UOMName AS NVARCHAR(40)) + '
					from RO_Sales, #UsersItems, #UsersCustomers, RO_PItem, RO_PDistributor
					where RO_Sales.ItemID = #UsersItems.ItemId and  RO_Sales.CustomerID=#UsersCustomers.CustomerId and RO_Sales.itemid=RO_PItem.itemid 
					and RO_Sales.distributorid=RO_PDistributor.distributorId '
					set @strSql = @strSql + " and [Month] in ("+@Month+")"

					if(@BrandsIds!='')
					begin
						set @strSql = @strSql + " and RO_Pitem.brandid in ("+@BrandsIds+")"
					end
					if(@DistributorIds!='')
					begin
						set @strSql = @strSql + " and RO_Sales.distributorId in ("+@DistributorIds+")"
					end

					print '1111 --------------- ' +@strSql
					exec sp_executesql @strSql

					--select * from ##TempSales

					create table #TempTarget
					(
						ClassificationId int,
						[Target] numeric(18,2)
					)

					------------ Users Target ----------------------------

					set @strSql = N'insert into #TempTarget select distinct RO_Target.ClassificationId, sum( Target)
					from RO_Target,  '
					set @strSql = @strSql + " (select distinct "+@ControlId+"ID from #UsersItems, RO_PItem where  #UsersItems.itemid= RO_PItem.itemid ) as b where  RO_Target.classificationid=b."+@ControlId+"id  
					 "
					set @strSql = @strSql + " and TDate >= '"+@FromDate+"' and TDate <= '"+@ToDate+"'"

					if(@BrandsIds!='')
					begin
						set @strSql = @strSql + " and b."+@ControlId+"id in ("+@BrandsIds+")"
					end
					if(@IsParent='0')
					begin
						set @strSql = @strSql + " and UserId = " + cast(@UserId as varchar)
					end
					else
					if(@IsParent='1')
					begin
						set @strSql = @strSql + " and UserID in (select userid from RO_PUser where ParentIdList like '%,"+cast(@UserId as varchar)+",%')"
					end
					set @strSql = @strSql + " group by RO_Target.ClassificationId "

					print '222 --------------- ' +@strSql
					exec sp_executesql @strSql

					--select * from #TempTarget


					create table #Header
					(
						Brands int,
						UOM varchar(25)
					)

					set @strSql = 'insert into #Header(Brands) select count(distinct RO_Pitem.' + @ControlId + 'id ) from (select itemid from ##TempSales ) as a, RO_Pitem where a.ItemId=RO_PItem.ItemId'
					print @strSql
					exec sp_executesql @strSql

					--insert into #Header(Brands) select count(distinct RO_Pitem.BRANDID) from (select itemid from ##TempSales union select itemid from #TempSalesYTD) as a, RO_Pitem where a.ItemId=RO_PItem.ItemId
					update #Header set UOM=@UOMName

					select 'Headers'
					select * from #Header

					create table #TargetVsAchiFinal 
					(
						Brand varchar(1000),
						[Target] numeric(18,2)  default 0,
						Achievement numeric(18,2)  default 0,
						[Percent] numeric(18,2) default 0,
						RR numeric(18,2)  default 0,
						CR numeric(18,2)  default 0
					)
										
					set @strSql = "insert into #TargetVsAchiFinal (brand) select distinct Brandid from RO_Pitem, #UsersItems where RO_Pitem.itemid= #UsersItems.itemid  "

					if(@BrandsIds!='')
					begin
						set @strSql = @strSql + " and RO_Pitem.brandid in ("+@BrandsIds+")"
					end
					print @strSql
					exec sp_executesql @strSql

					set @strSql = "update #TargetVsAchiFinal set [target] = #TempTarget.[Target] from #TempTarget, RO_PItem where #TempTarget.ClassificationId= RO_PItem."+@ControlId+"id "
					set @strSql = @strSql + " and #TargetVsAchiFinal.Brand=RO_PItem.brandid "
					print @strSql
					exec sp_executesql @strSql

					set @strSql = "update #TargetVsAchiFinal set [Achievement] = a.Achieve from (select ClassificationId, sum(##TempSales." + CAST(@UOMName AS NVARCHAR(40)) +") as Achieve from ##TempSales  group by ClassificationId ) as a, RO_PItem where a.ClassificationId= RO_PItem.BRANDid "
					set @strSql = @strSql + " and #TargetVsAchiFinal.Brand=RO_PItem.brandid "
					print @strSql
					exec sp_executesql @strSql

					update #TargetVsAchiFinal set [Percent] = case when [target]!=0 then (Achievement/case when [Target]=0 then 1 else [target] end)*100 else 0 end
					
					-- RR CR calculation for Current month
					if(@Month = datepart(MONTH,getdate()) and @Year = DATEPART(year,getdate()))
					begin
						Set @CRDays = 1
						Set @CRDays = DATEDIFF(DAY,@FromDate, GETDATE())
						Set @RRDays = 1
						Set @RRDays = DATEDIFF(DAY,GETDATE(), @ToDate)
						update #TargetVsAchiFinal set CR = [Achievement]/@CRDays
						update #TargetVsAchiFinal set RR = ([target]-[Achievement])/@RRDays 
					end
					else
					begin
						-- RR CR calculation for Previous months
						select @PreMonthDays = DATEDIFF(day,@FromDate,@ToDate)+1
						update #TargetVsAchiFinal set CR = [Achievement]/@PreMonthDays
						update #TargetVsAchiFinal set RR = ([target]-[Achievement])
					end
					
					update #TargetVsAchiFinal set brand= RO_PItem.brand from RO_PItem, #TargetVsAchiFinal where RO_PItem.BRANDID=#TargetVsAchiFinal.Brand
					
					SElect 'Details'
					select sum([target]) as TotalTarget, (sum(Achievement)/case when sum([target]) = 0 then 1 else sum([target]) end)*100 as [Percent], sum(Achievement) as TotalAchivement  from #TargetVsAchiFinal 

					select 'Data'
					

					set @strSql =	 "  select * from #TargetVsAchiFinal "
											
					if(@SortBy='1')
					begin
						set @strSql = 	@strSql +" order by " + @ControlId 
					end
					if(@SortBy='2')
					begin
						set @strSql = 	@strSql +" order by " + @ControlId  +' desc'
					end
					if(@SortBy='3')
					begin
						set @strSql = 	@strSql +" order by [Achievement] desc "
					end
					if(@SortBy='4')
					begin
						set @strSql = 	@strSql +" order by [Achievement] "
					end
					print ' ------------ ' + @strSql
					exec sp_executesql @strSql

					--update #TargetVsAchiFinal set Achievement = ##TempSales.Quantity from ##TempSales where Brand=##TempSales.ItemId


		COMMIT TRANSACTION					
			SET TRANSACTION ISOLATION LEVEL	READ Committed 
		END TRY
		BEGIN CATCH			
			select [description] from sys.sysmessages  where error = @@Error
			IF @@TRANCOUNT > 0 ROLLBACK TRANSACTION

		END CATCH			
End
