USE [ZyleminiPlus_BDPL]
GO
/****** Object:  StoredProcedure [dbo].[pr_ReportDistDataStatus]    Script Date: 3/30/2026 3:39:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO


-- =============================================
-- Author:		Shweta Patil-Mahadik
-- Create date: 09-Jan-2024
-- Description:	Brand wise Sales
-- Exec pr_ReportDistDataStatus '90',''
-- Sort By 01-Uploaded First, 02-Not Uploaded First, 03-All
-- =============================================
ALTER PROCEDURE [dbo].[pr_ReportDistDataStatus]
(
	 @UserId int,
	 @SortBy varchar(255)
)
AS
declare
@DebugMode int,
@strSql nvarchar(max)
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;
	set @DebugMode = 1
	
	declare @i int, @j int

	BEGIN TRY		
				SET TRANSACTION ISOLATION LEVEL SERIALIZABLE
					BEGIN TRANSACTION	
					
					------ Required settings --------------------

					create table #TempDistStatus
					(
						Branch varchar(25),
						DistributorId int,
						Area varchar(250),
						Day7 varchar(25),
						Day6 varchar(25),
						Day5 varchar(25),
						Day4 varchar(25),
						Day3 varchar(25),
						Day2 varchar(25),
						Day1 varchar(25),
						LastUploadDate varchar(25),
						LastInvoiceDate varchar(25),
						Distributor varchar(100),
						ContactNumber varchar(15),
						Day1UploadFlag bit,
						UploadedDaysCount int
					)

					
					insert into #TempDistStatus
					SELECT DISTINCT dds.*, pd.Distributor, RO_DistributorContacts.ContactNumber, dds.Day1,0 FROM RO_DistributorDataStatus AS dds 
					INNER JOIN RO_DistributorDivisionSalesman AS div ON dds.DistributorId=Cast(div.DistributorId as int) 
					INNER JOIN RO_PUser ON Cast(div.UserId as int)=RO_PUser.UserID 
					inner join RO_Pdistributor pd on dds.distributorid=pd.distributorid
					left join RO_DistributorContacts on dds.distributorid=RO_DistributorContacts.distributorid
					WHERE RO_PUser.ParentIdList like '%,'+cast(@UserId as varchar)+',%'

					update #TempDistStatus set UploadedDaysCount = UploadedDaysCount 
					+ cast(isnull(Day1,0) as int)
					+ cast(isnull(Day2,0) as int)
					+ cast(isnull(Day3,0) as int)
					+ cast(isnull(Day4,0) as int)
					+ cast(isnull(Day5,0) as int)
					+ cast(isnull(Day6,0) as int)
					+ cast(isnull(Day7,0) as int)
					
					--select * from #TempDistStatus

					set @i = 0

					while @i < 7
					begin
												
						set @strSql = 'update #TempDistStatus set Day' + cast(@i+1 as varchar) + ' = '
						set @strSql = @strSql +" '"+ REPLACE(CONVERT(NVARCHAR, getdate()-@i, 106), ' ', '-') +"' + "+"':'"+ " +  Day" + cast(@i+1 as varchar) 
						print @strSql
						exec sp_executesql @strSql

						set @i = @i + 1

					end

					create table #Details
					(
						DistCount numeric(18,2),
						UploadedDays numeric(18,2),
						DistDayCount numeric(18,2),
						UploadPerMonthly numeric(18,2)
					)
					insert into #Details Select count(distinct DistributorId),0,0,0 from #TempDistStatus 
					
					update #Details set UploadedDays = (select sum(UploadedDaysCount) from #TempDistStatus )
					update #Details set DistDayCount = DistCount*7

					update #Details set UploadPerMonthly = (UploadedDays/DistDayCount)
					update #Details set UploadPerMonthly = UploadPerMonthly*100

					--select * from #Details


					Select 'Details'
					Select UploadPerMonthly as 'UploadPerMonthly', DistCount as  'NoOfDistributors' from #Details

					select 'DistStatus'
										
					set @strSql = 'select Branch, DistributorId ,Area,Day7,Day6,Day5,Day4,Day3 ,Day2,Day1 ,LastUploadDate,LastInvoiceDate,Distributor,ContactNumber  from #TempDistStatus ' 
					if(@SortBy='1')
					begin
						set @strSql = 	@strSql +" order by Day1UploadFlag desc"  
					end
					if(@SortBy='2')
					begin
						set @strSql = 	@strSql +" order by Day1UploadFlag" 
					end
					print @strSql
					exec sp_executesql @strSql

		COMMIT TRANSACTION					
			SET TRANSACTION ISOLATION LEVEL	READ Committed 
		END TRY
		BEGIN CATCH			
			select [description] from sys.sysmessages  where error = @@Error
			IF @@TRANCOUNT > 0 ROLLBACK TRANSACTION

		END CATCH			
End
