USE [ZyleminiPlus_BDPL]
GO
/****** Object:  StoredProcedure [dbo].[pr_UpdateCollection]    Script Date: 3/30/2026 3:40:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO

-- =============================================
-- Author:		Shweta Patil-Mahadik
-- Create date: 05-sep-2021
-- Description:	Using this sp update order discount
-- Exec pr_UpdateCollection '0'
-- =============================================
ALTER PROCEDURE [dbo].[pr_UpdateCollection]
(
	 @FirstOrderId INT
)
AS
declare
@DebugMode int,
@strSql nvarchar(max)
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;
	set @DebugMode = 1


	declare @i int, @j int



	BEGIN TRY		
				SET TRANSACTION ISOLATION LEVEL SERIALIZABLE
					BEGIN TRANSACTION	

				IF OBJECT_ID('tempdb..#OrderIds') IS NOT NULL
				BEGIN
					DROP TABLE #OrderIds
				end

				create table #OrderIds
				(
					SRNO int identity(1,1),
					Id int
				)

				create table #CollectionIds
				(
					SRNO int identity(1,1),
					Id int
				)

				declare @Id int,@CId int, @count int, @CollectionType int, @receiptId int, @count1 int;

				if (@FirstOrderId != '')
				begin

					insert into #OrderIds SELECT distinct orderid FROM TX_PaymentReceipt WHERE orderid >= @FirstOrderId
					--insert into #OrderIds SELECT Id FROM TX_OrderMaster WHERE DiscountAmount IS NULL OR DiscountAmount=0
					set @i = 1
					SELECT @count = COUNT(SRNO) FROM #OrderIds 
				
					WHILE (@i <= @count)
					BEGIN
						select @ID = Id from #OrderIds where SRNO=@i

						-- use @Id in query one by one
						SELECT @CollectionType = CollectionType FROM TX_OrderMaster WHERE ID = @ID

						declare  @partyCode varchar(25), @invoiceCode varchar(25), @collectionId int

						insert into #CollectionIds SELECT distinct ID FROM TX_Collections WHERE orderid >= @ID
						--insert into #OrderIds SELECT Id FROM TX_OrderMaster WHERE DiscountAmount IS NULL OR DiscountAmount=0

						select * from #CollectionIds

						set @j = 1
						SELECT @count1 = COUNT(SRNO) FROM #CollectionIds WHILE (@j <= @count1)
						BEGIN
								select @CId = Id from #CollectionIds where SRNO=@j
								print @CId
								select @collectionId=id, @partyCode = partycode, @invoiceCode=InvoiceCode, @receiptId=ReceiptID from TX_Collections where ID=@CId

								print '@collectionId: ' + cast(@collectionId as varchar)
								print @invoiceCode

								Declare @Numbers AS Nvarchar(MAX)
								If(@CollectionType = 7 and @collectionId>0)
									--Payment Discount starts
									Begin				
		 								set @Numbers=''
										SELECT  @Numbers = COALESCE(@Numbers + ',', '') + CAST(ID AS NVARCHAR)
										FROM   TX_Collections where orderid = @CId
		
										set @strSql = N'Update RO_OutstandingDetails set ReceivedAmt=isnull(ReceivedAmt,0) + os.osamt from (Select SUM(Amount) as osamt '
										set @strSql =@strSql +"	from TX_CollectionsDetails where collectionId='"+cast(@collectionId as varchar)+"' and invoicecode='"+@invoiceCode+"') as os, RO_OutstandingDetails Where document='"+@invoiceCode+"' and partycode='"+@partyCode+"'"
										if @DebugMode = 1 print 'table query 11: ' + @strSql
										exec sp_executesql @strSql
									
										set @strSql = N'Update RO_OutstandingDetails set ReceivedAmt=isnull(ReceivedAmt,0) +(Select SUM(AllocatedAmount) '
										set @strSql =@strSql +"	from TX_Collections where ID = "+cast(@collectionId as varchar)+" and invoicecode='"+@invoiceCode+"') Where document='"+@invoiceCode+"' and partycode='"+@partyCode+"'"
										if @DebugMode = 1 print 'table query 22: ' + @strSql
										exec sp_executesql @strSql
							
										set @collectionId = 0
	  									print '1--Inside Payment with order id : '+ CAST(@CId AS NVARCHAR)
									End

								
									set @CId=0
									SELECT @j = @j + 1
							end

							delete #CollectionIds

							set @strSql = N'Insert into TX_PaymentReceipt_Log select *, getdate() from TX_PaymentReceipt where OrderId = ' + cast(@ID as varchar)
							if @DebugMode = 1 print 'table query : ' + @strSql
							exec sp_executesql @strSql

							set @strSql = N'Insert into TX_CollectionsDetails_Log select *, getdate() from TX_CollectionsDetails where CollectionId IN(select ID from TX_Collections '
							set @strSql =@strSql +"	where OrderId = " + cast(@ID as varchar) +")"
							if @DebugMode = 1 print 'table query : ' + @strSql
							exec sp_executesql @strSql
							
							set @strSql = N'Insert into TX_Collections_Log select *, getdate() from TX_Collections where (InvoiceCode != '''' AND InvoiceCode != ''0'') AND OrderId = ' + cast(@ID as varchar) 
							if @DebugMode = 1 print 'table query : ' + @strSql
							exec sp_executesql @strSql

							set @collectionId = 0

							SELECT @i = @i + 1
					End
				End

				DROP TABLE #OrderIds

		COMMIT TRANSACTION					
			SET TRANSACTION ISOLATION LEVEL	READ Committed 
		END TRY
		BEGIN CATCH			
			select [description] from sys.sysmessages  where error = @@Error
			IF @@TRANCOUNT > 0 ROLLBACK TRANSACTION

		END CATCH			
End
