USE [ZyleminiPlus_BDPL]
GO
/****** Object:  StoredProcedure [dbo].[pr_UpdateDiscount]    Script Date: 3/30/2026 3:40:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Dnyaneshwwar Gaikwad
-- Create date: 05-sep-2021
-- Description:	Using this sp update order discount
-- Exec pr_UpdateDiscount '10'
-- Updated: On 14-May-2023, by Shweta, added  where OrderID=@ID condition in #ItemIds table creation, resolved performnace issue
-- =============================================
ALTER   PROCEDURE [dbo].[pr_UpdateDiscount]
(
	 @FirstOrderId INT
)
AS
declare
@DebugMode int,
@strSql nvarchar(max)
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;
	set @DebugMode = 0


	declare @i int

	IF OBJECT_ID('tempdb..#OrderIds') IS NOT NULL
	BEGIN
		DROP TABLE #OrderIds
	end

	create table #OrderIds
	(
		SRNO int identity(1,1),
		Id int
	)

	declare @Id int, @count int, @CollectionType int;

	insert into #OrderIds SELECT Id FROM TX_OrderMaster WHERE id >= @FirstOrderId AND (DiscountAmount IS NULL OR DiscountAmount=0)
	--insert into #OrderIds SELECT Id FROM TX_OrderMaster WHERE DiscountAmount IS NULL OR DiscountAmount=0
	set @i = 1
	SELECT @count = COUNT(SRNO) FROM #OrderIds WHILE (@i <= @count)
	BEGIN
		select @ID = Id from #OrderIds where SRNO=@i

		-- use @Id in query one by one
		SELECT @CollectionType = CollectionType FROM TX_OrderMaster WHERE ID = @ID
		Declare @Numbers AS Nvarchar(MAX)
		If(@CollectionType = 7)
			--Payment Discount starts
			Begin				
		 		set @Numbers=''
				SELECT  @Numbers = COALESCE(@Numbers + ',', '') + CAST(ID AS NVARCHAR)
				FROM   TX_Collections where orderid = @ID
			
				set @strSql = 'Update TX_OrderMaster set DiscountAmount=(Select SUM(Amount) 
					from TX_CollectionsDetails where CollectionID IN('+ SUBSTRING(@Numbers, 2, LEN(@Numbers)-1) +')) Where Id = '+ CAST(@ID AS NVARCHAR) 
				if @DebugMode = 1 print 'table query : ' + @strSql
				exec sp_executesql @strSql
				--print @strSql
			
	  			print '1--Inside Payment with order id : '+ CAST(@ID AS NVARCHAR)
			End
		Else
			Begin
			--Order Discount Starts 
		
				declare @j int, @count1 int, @Id1 int

				IF OBJECT_ID('tempdb..#ItemIds') IS NOT NULL
				BEGIN
					DROP TABLE #ItemIds
				end

				create table #ItemIds
				(
					SRNO1 int identity(1,1),
					Id1 int
				)

				insert into #ItemIds SELECT Distinct ItemID FROM TX_OrderDetails  where OrderID=@ID
				set @j = 1
					SELECT @count1 = COUNT(SRNO1) FROM #ItemIds WHILE (@j <= @count1)
					BEGIN
						select @Id1 = Id1 from #ItemIds where SRNO1=@j

						Update TX_OrderDetails set TotalDiscount=(Select SUM(DiscountAmount) from TX_Discount where OrderID=@ID AND OrderedItemID= @Id1 group by OrderId,OrderedItemID)
						Where OrderId=@ID AND ItemID= @Id1 

					SELECT @j = @j + 1
					End

				Update TX_OrderMaster set DiscountAmount=(Select SUM(TotalDiscount) from TX_OrderDetails where OrderID=@ID group by OrderId) Where Id=@ID 
				print '2--Inside Orders with order id : '+CAST(@ID AS NVARCHAR)
			End

			SELECT @i = @i + 1
	End

	UPDATE TX_OrderMaster SET DiscountAmount=0 WHERE DiscountAmount IS NULL
	UPDATE TX_OrderDetails SET TotalDiscount=0 WHERE TotalDiscount IS NULL

	update TXD set TXD.MobileGenPrimaryKey = TXM.MobileGenPrimaryKey from TX_OrderDetails TXD, TX_OrderMaster TXM where TXM.id=TXD.OrderID and TXD.MobileGenPrimaryKey is NULL
	update TXD set TXD.MobileGenPrimaryKey = TXM.MobileGenPrimaryKey from TX_Discount TXD, TX_OrderMaster TXM where TXM.id=TXD.OrderID and TXD.MobileGenPrimaryKey is NULL

	DROP TABLE #ItemIds
	DROP TABLE #OrderIds
End