USE [ZyleminiPlus_BDPL]
GO
/****** Object:  StoredProcedure [dbo].[prClearDatabase]    Script Date: 3/30/2026 3:41:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO
--exec [prClearDatabase] ''
ALTER PROCEDURE [dbo].[prClearDatabase] (@CompanyName as varchar(100))
WITH RECOMPILE
AS
DECLARE
@STRSQL NVARCHAR(200),
@TABLENAME NVARCHAR(100)

BEGIN
	DECLARE CUR_GETTABLE CURSOR FOR SELECT TABLE_NAME FROM INFORMATION_SCHEMA.TABLES WHERE table_type = 'BASE TABLE' and table_name 
	not in('dtproperties','RO_Settings','RO_REPORT','RO_REPORTCONTROLMASTER','RO_COLLECTIONTYPE') 
	ORDER BY table_name
	OPEN CUR_GETTABLE
	FETCH NEXT FROM CUR_GETTABLE INTO @TABLENAME
	WHILE @@FETCH_STATUS=0
	BEGIN
		SET @STRSQL = N'delete ' + @TABLENAME
		print @STRSQL
		EXEC SP_EXECUTESQL @STRSQL
		FETCH NEXT FROM CUR_GETTABLE INTO @TABLENAME
	END
	CLOSE CUR_GETTABLE
	DEALLOCATE CUR_GETTABLE

	
END




