USE [ZyleminiPlus_BDPL]
GO
/****** Object:  StoredProcedure [dbo].[prCreateZyleMiniUsersFromZylemMIS]    Script Date: 3/30/2026 3:41:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

ALTER procedure [dbo].[prCreateZyleMiniUsersFromZylemMIS] 

as

begin
	-- Provide User List below
	declare @listOfIDs table (id int);
	insert @listOfIDs(id) values(1),(2),(3); 

	insert into ZYLEMONGO..ZyleminiClientUserList 
		(UserID,Name,LoginID,Password,DeviceID,ClientID,AreaID,IsActive)
		select cast(id as int) userid,name  ,Login,Password,NULL,14,cast(AreaId as int) Areaid,1
		from [180.179.227.86,21443].[CPA].[dbo].[USERMASTER]
		where id in (select id from @listOfIDs) 

END
