USE [ZyleminiPlus_BDPL]
GO
/****** Object:  StoredProcedure [dbo].[prDropAndCreateTableScript]    Script Date: 3/30/2026 3:42:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO
-- =============================================
-- Author:		<Shweta Mahadik>
-- Create date: <06-Jul-2018>
-- Description:	<Script to Create Missing Tables dynamically >
-- =============================================
ALTER PROCEDURE [dbo].[prDropAndCreateTableScript] 
AS
declare  
	@strQuery as nvarchar(max),
	@strQueryTableSchema as nvarchar(max),
	@strTableSchema as nvarchar(max),
	@strTableSchemaTemp as nvarchar(max),
	@intNoOfCustomer as int,
	@intLoopCounter as int,
	@strTableName varchar(2000),
	@strLoopQuery varchar(max),
	@intLoopColmCounter int,
	@intColumnCount int,
	@strColumnName nvarchar(max),
	@strDataType varchar(50),
	@intLenght int,
	@strLength nvarchar(max),
	@strIsNullable varchar(25),
	@strNullable varchar(255),
	@Precision varchar(10),
	@Scale varchar(10)
		
BEGIN
	
	SET NOCOUNT ON;

	CREATE TABLE #TABLES
	(
		SRNO INT IDENTITY,
		table_name VARCHAR(255)
	)

	create table #ColumnNames
	(
		SrNo int identity (1,1),
		ColumnName varchar(255),
		DataType varchar(50),
		[Length] int,
		IsNullable varchar(10),
		ColPrecision varchar(10),
		ColScale varchar(10)
	)

	create table #Queries
	(
		Query nvarchar(max)
	)

	INSERT INTO #TABLES 
	SELECT table_name  FROM INFORMATION_SCHEMA.TABLES  WHERE TABLE_TYPE = 'BASE TABLE' and table_name not like '%dt%' 
	and  table_name not like '%tracker%' 
	and table_name not like 'TEMPLATE%' 
	and table_name not like 'ZylemAuditLog%'
	and table_name not like 'Asset%'
	and table_name not like 'PCustomer%'
	and table_name not like 'PDate'
	and table_name not like 'PSupplier'
	and table_name not like 'PDistributor'
	and table_name not like 'PUser'
	 --and TABLE_NAME = 'DealerUploadAlertMailId'--and table_name in ('settings')
 --INSERT INTO #TABLES SELECT table_name  FROM INFORMATION_SCHEMA.TABLES  WHERE TABLE_TYPE = 'BASE TABLE' and table_name ='UserType' --and TABLE_NAME = 'DealerUploadAlertMailId'--and table_name in ('settings')
	set @strQuery =''
	set @strLoopQuery=''
	SELECT @intNoOfCustomer= COUNT(*) FROM #TABLES                                                                          
	print @intNoOfCustomer
	set @intLoopCounter=1

	while @intLoopCounter <= @intNoOfCustomer
	begin
		set @strQuery=''
		set @strTableSchema =''
		set @strTableSchemaTemp =''
		SELECT @strTableName= table_name FROM #TABLES WHERE SRNO=@intLoopCounter
	
		SET @strQueryTableSchema = 'exec prGetSourceTableScript ' + @strTableName +',@strTableSchemaTemp OUTPUT'			
		EXECUTE sp_executesql @strQueryTableSchema, N'@strTableSchemaTemp nvarchar(max) OUTPUT', @strTableSchemaTemp= @strTableSchema OUTPUT
				
		set @strTableSchema = @strTableSchema + "else begin "
		truncate table #ColumnNames
		insert into #ColumnNames SELECT COLUMN_NAME,data_type,character_maximum_length,is_nullable,NUMERIC_PRECISION_RADIX,NUMERIC_SCALE  FROM INFORMATION_SCHEMA.COLUMNS WHERE TABLE_NAME = @strTableName
		
		select @intColumnCount = count(*) from #ColumnNames
		set @intLoopColmCounter=1

		while @intLoopColmCounter<=@intColumnCount
		begin
			set @strLength = ''
			select @strColumnName =ColumnName from  #ColumnNames where srno=@intLoopColmCounter
			select @strDataType = DataType from  #ColumnNames where srno=@intLoopColmCounter
			select @intLenght = [Length] from  #ColumnNames where srno=@intLoopColmCounter
			select @strIsNullable = IsNullable from  #ColumnNames where srno=@intLoopColmCounter
			select @Precision = ColPrecision from  #ColumnNames where srno=@intLoopColmCounter
			select @Scale = ColScale from  #ColumnNames where srno=@intLoopColmCounter

			set @strNullable='null'
	
			if(@intLenght <> '')
			begin
			
				if(@intLenght = '-1')
				begin
					
					set @strLength = '(max)'
				end
				else
				begin
					
					set @strLength = '(' +cast(@intLenght as varchar)+ ')'
				end
			end
			
			if(UPPER(@strIsNullable) ='NO')
			begin
				set @strNullable='not null'
			end

			set @strTableSchema = @strTableSchema + "IF EXISTS(SELECT 1 FROM sys.columns WHERE Name = N'"+@strColumnName+"' AND Object_ID = Object_ID(N'"+@strTableName+"'))"
			if(upper(@strDataType) = 'NUMERIC')
			begin
				set @strTableSchema = @strTableSchema + " alter table "+@strTableName+" alter column ["+@strColumnName+"] "+@strDataType+" ("+@Precision+","+@Scale+") "+@strNullable+"; else"
				set @strTableSchema = @strTableSchema + " begin alter table ["+@strTableName+"] add ["+@strColumnName+"] "+@strDataType+" ("+@Precision+","+@Scale+") "+@strNullable+"; end "	
			end
			else
			begin
				set @strTableSchema = @strTableSchema + " alter table "+@strTableName+" alter column ["+@strColumnName+"] "+@strDataType+" "+@strLength+" "+@strNullable+"; else"
				set @strTableSchema = @strTableSchema + " begin alter table ["+@strTableName+"] add ["+@strColumnName+"] "+@strDataType+" "+@strLength+" "+@strNullable+"; end  "	
			end
			set @intLoopColmCounter=@intLoopColmCounter+1
		end
		
		set @strQuery = @strQuery + @strTableSchema +' end '

		set @strQuery = @strQuery + " Print 'Validation Completed For "+@strTableName+"'"
		
		insert into #Queries values (@strQuery)
			
		set @intLoopCounter=@intLoopCounter+1
		--print @strQuery	
	end		

	select * from #Queries
		--print @strQuery	
		--exec sp_executesql @strQuery
END