USE [ZyleminiPlus_BDPL]
GO
/****** Object:  StoredProcedure [dbo].[prFetchZMPUserActivation]    Script Date: 3/30/2026 3:43:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO






-- =============================================
-- Author:		<Rajesh kumar>
-- Create date: <08-Aug-2022> 
--Exec prFetchZMPUserActivation '000000000000001',1
--@UserCatogarySelectionId-> 1 -- "All Users" 
--@UserCatogarySelectionId-> 2 -- "Active Users" 
--@UserCatogarySelectionId-> 3 -- "InActive Users" 
--@UserCatogarySelectionId-> 4 -- "Blank Users" 
            
-- =============================================
ALTER PROCEDURE [dbo].[prFetchZMPUserActivation] 
	(
	   @LoginUserId varchar(17), 
	   @UserCatogarySelectionId int,
	   @UserId nvarchar(max)=NULL,
	   @IsUpdate bit = 0, -- IsUpdate = 0 means Fetch data and = 1 means update and insert data in table
	   @ActiveParentId Nvarchar(max) = Null,
	   @InActiveParentId Nvarchar(max) = Null,
	   @ActiveSalesmanId Nvarchar(max) = Null,
	   @InActiveSalesmanId Nvarchar(max) = Null
	   
	)
AS
declare
    @DebugMode as bit,
	@strSql nvarchar(max),
	@columnName varchar(50),
	@strLoginUserType varchar(15),
	@ZMPSalesManId Nvarchar(max),
	@ZMPParentID Nvarchar(max),
	@ActiveParentIdWithoutLastComma Nvarchar(max),
	@FinalCommaSepParentId Nvarchar(max),
	@FinalCommaSepSalesmanId Nvarchar(max),
	@Cnt int,
	@Index int,
	@UserIds int,
	@CommaSepUserIds Nvarchar(3000),
	@ZyleminiPlusParentIDForDataTransfer nvarchar(max),
	@ZyleminiPlusSalesmanIDForDataTransfer nvarchar(max)

BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;
	if substring(@LoginUserId,1,2) = '1:'
	begin
		set @DebugMode = 1
		set @LoginUserId = Right(@LoginUserId,len(@LoginUserId)-2)
	end
	if @DebugMode = 1 Print 'Start Execution: ' + convert(varchar,getdate(), 109)
	create table #TempUserMaster
	(
	  UserId varchar(15)
	)
	create table #ZMPActiveParentId
	(
	   UserId int
	)
	create table #ZMPActiveParentIdCurrent
	(
	   SrNo int identity,
	   UserId int
	)
	create table #ZMPInActiveParentId
	(
	   SrNo int identity,
	   UserId int
	)
	create table #ZMPActiveSalesmanId
	(
	   UserId int
	)
	create table #ZMPActiveSalesmanIdCurrent
	(
	   SrNo int identity,
	   UserId int
	)
	
	create table #ZMPInActiveSalesmanId
	(
	   SrNo int identity,
	   UserId int
	)
	create table #ZMPActiveParentIdFinal
	(
	   UserId int
	)
	create table #ZMPActiveSalesmanIdFinal
	(
	   UserId int
	)
	Create table #MobileUserDetails
    (
				    UserId int,
					UserName Nvarchar(500),
					DeviceId Nvarchar(100),
					AreaId int,
					LoginId Nvarchar(255),
					Password Nvarchar(255),
					ParentIdList Nvarchar(3000),
					IsActive bit,
	   ContactNumber nvarchar(50),
	   EmailId nvarchar(200)
	)

	set @ZMPSalesManId = ''
	select @ZMPSalesManId = [Name] from Settings where id = 'ZylemMiniSalesmanID'
	set @ZMPParentID = ''
	select @ZMPParentID = [Name] from Settings where id = 'ZylemMiniParentID'
	set @ZyleminiPlusParentIDForDataTransfer=''
	SELECT @ZyleminiPlusParentIDForDataTransfer = [Name] FROM Settings WHERE Id = 'ZyleminiPlusParentIDForDataTransfer'
	set @ZyleminiPlusSalesmanIDForDataTransfer=''
	SELECT @ZyleminiPlusSalesmanIDForDataTransfer = [Name] FROM Settings WHERE Id = 'ZyleminiPlusSalesmanIDForDataTransfer'

	if(@ZMPSalesManId <> '')
	 begin
	   set @strSql= ''
	   set @strSql = "insert into #ZMPActiveSalesmanId select val from dbo.split('"+@ZMPSalesManId+"',',') "
	   if @DebugMode = 1 Print 'insert into #ZMPActiveSalesmanId: ' + @strSql
	   exec sp_executesql @strSql
	 end
	--#ZMPActiveParentId
	if(@ZMPParentID <> '')
	 begin
	  set @ZMPParentID = substring(@ZMPParentID, 0, len(@ZMPParentID))
	  set @strSql= ''
	  set @strSql = "insert into #ZMPActiveParentId select val from dbo.split('"+@ZMPParentID+"',',') "
	  if @DebugMode = 1 Print 'insert into #ZMPActiveParentId: ' + @strSql
	  exec sp_executesql @strSql
	 end
	 --select 'Settings_Key_Parent', * from #ZMPActiveParentId order by UserId
	 --select 'Settings_Key_Salesman', * from #ZMPActiveSalesmanId
	If(@IsUpdate = 1)
	 begin
	    		
		 If(@InActiveParentId <> '')
		 begin
		   
		   set @CommaSepUserIds = @CommaSepUserIds + @InActiveParentId + ','

	       set @strSql= ''
	       set @strSql = "insert into #ZMPInActiveParentId select val from dbo.split('"+@InActiveParentId+"',',') "
		   if @DebugMode = 1 Print 'insert into #ZMPInActiveParentId: ' + @strSql
	       exec sp_executesql @strSql

		   --Delete from Active parent table --------------------------------------------------------
		   if(@ZMPParentID <> '')
		    begin

			  Update #ZMPActiveParentId set UserId = 0 from #ZMPActiveParentId,#ZMPInActiveParentId where #ZMPActiveParentId.UserId = #ZMPInActiveParentId.UserId
			  Delete from #ZMPActiveParentId where UserId = 0
			  set @strSql= ''
	          set @strSql = "insert into #ZMPActiveParentIdFinal select UserId from #ZMPActiveParentId "
	          if @DebugMode = 1 Print 'insert into #ZMPActiveParentIdFinal: ' + @strSql
			  exec sp_executesql @strSql
--changes by Akash added column um.Telephone,um.emailid
			end
			--select 'Deleted -#ZMPActiveParentIdFinal', * from #ZMPActiveParentIdFinal order by UserId
			set @strSql=' Insert into #MobileUserDetails SELECT cast(ID as int) USERID, NAME AS USERNAME, '''' AS DeviceId,
			cast(AREAID as int) AREAID , login as[LoginID] , password as[Password], '','' + SUBSTRING((SELECT cast(cast(UserCode as int) as varchar) + '','' FROM dbo.fnGetUserParent(UM.Id) FOR XML PATH('''')),0,4000) as [ParentIdList],0,um.Telephone,um.emailid FROM 
			[dbo].USERMASTER AS UM,#ZMPInActiveParentId WHERE Cast(UM.ID as int) = #ZMPInActiveParentId.UserId and UM.Type in (2) and UM.Isactive=1'
	        if @DebugMode = 1 Print 'Insert into #MobileUserDetails: ' + convert(varchar,getdate(), 109) + ' ' + @strSql
		    exec sp_executeSql @strSql 

		 end
		 If(@ActiveParentId <> '')
		 begin
		   --set @ActiveParentIdWithoutLastComma=''
		   --set @ActiveParentIdWithoutLastComma = substring(@ActiveParentId, 0, len(@ActiveParentId))
		   --select '@ActiveParentId',@ActiveParentId
		   --select '@ActiveParentIdWithoutLastComma',@ActiveParentIdWithoutLastComma
		   --set @CommaSepUserIds = @CommaSepUserIds + @ActiveParentId + ','

		   if(@ZMPParentID <> '')
		    begin
			  set @strSql= ''
	          set @strSql = "insert into #ZMPActiveParentIdFinal select * from #ZMPActiveParentId "
	          if @DebugMode = 1 Print 'insert into #ZMPActiveParentIdFinal: ' + @strSql
			  exec sp_executesql @strSql

			end

	       set @strSql= ''
	       set @strSql = "insert into #ZMPActiveParentIdFinal select val from dbo.split('"+@ActiveParentId+"',',') "
	       if @DebugMode = 1 Print 'insert into #ZMPActiveParentIdFinal: ' + @strSql
		   exec sp_executesql @strSql

		   set @strSql= ''
	       set @strSql = "insert into #ZMPActiveParentIdCurrent select val from dbo.split('"+@ActiveParentId+"',',') "
	       if @DebugMode = 1 Print 'insert into #ZMPActiveParentIdCurrent: ' + @strSql
		   exec sp_executesql @strSql
--changes by Akash added column um.Telephone,um.emailid
		   set @strSql=' Insert into #MobileUserDetails SELECT cast(ID as int) USERID, NAME AS USERNAME, '''' AS DeviceId,
			cast(AREAID as int) AREAID , login as[LoginID] , password as[Password], '','' + SUBSTRING((SELECT cast(cast(UserCode as int) as varchar) + '','' FROM dbo.fnGetUserParent(UM.Id) FOR XML PATH('''')),0,4000) as [ParentIdList],1,UM.Telephone,um.EmailId FROM 
			[dbo].USERMASTER AS UM,#ZMPActiveParentIdCurrent WHERE Cast(UM.ID as int) = #ZMPActiveParentIdCurrent.UserId and UM.Type in (2) and UM.Isactive=1'
	        if @DebugMode = 1 Print 'Insert into #MobileUserDetails: ' + convert(varchar,getdate(), 109) + ' ' + @strSql
		    exec sp_executeSql @strSql 
		   --select Distinct 'Added -#ZMPActiveParentIdFinal',  userid from #ZMPActiveParentIdFinal order by UserId 

		 end

		 If(@InActiveSalesmanId <> '')
		 begin

		   set @CommaSepUserIds = @CommaSepUserIds + @InActiveSalesmanId + ','

	       set @strSql= ''
	       set @strSql = "insert into #ZMPInActiveSalesmanId select val from dbo.split('"+@InActiveSalesmanId+"',',') "
		   if @DebugMode = 1 Print 'insert into #ZMPInActiveSalesmanId: ' + @strSql
	       exec sp_executesql @strSql

		   --Delete from Active parent table --------------------------------------------------------
		   if(@ZMPSalesManId <> '')
		    begin
			 
			 Update #ZMPActiveSalesmanId set UserId = 0 from #ZMPActiveSalesmanId,#ZMPInActiveSalesmanId where #ZMPActiveSalesmanId.UserId = #ZMPInActiveSalesmanId.UserId
			  Delete from #ZMPActiveSalesmanId where UserId = 0
			  
			  set @strSql= ''
	          set @strSql = "insert into #ZMPActiveSalesmanIdFinal select UserId from #ZMPActiveSalesmanId "
	          if @DebugMode = 1 Print 'insert into #ZMPActiveSalesmanIdFinal: ' + @strSql
			  exec sp_executesql @strSql

			end
			set @strSql=' Insert into #MobileUserDetails SELECT cast(ID as int) USERID, NAME AS USERNAME, '''' AS DeviceId,
			cast(AREAID as int) AREAID , login as[LoginID] , password as[Password], '','' + SUBSTRING((SELECT cast(cast(UserCode as int) as varchar) + '','' FROM dbo.fnGetUserParent(UM.Id) FOR XML PATH('''')),0,4000) as [ParentIdList],0,Telephone, EmailId FROM 
			[dbo].USERMASTER AS UM,#ZMPInActiveSalesmanId WHERE Cast(UM.ID as int) = #ZMPInActiveSalesmanId.UserId and UM.Type in (2) and UM.Isactive=1'
	        if @DebugMode = 1 Print 'Insert into #MobileUserDetails: ' + convert(varchar,getdate(), 109) + ' ' + @strSql
		    exec sp_executeSql @strSql 
			--select Distinct 'Deleted -#ZMPActiveSalesmanIdFinal', * from #ZMPActiveSalesmanIdFinal order by UserId

		 end

	    If(@ActiveSalesmanId <> '')
		 begin
		  
		  if(@ZMPSalesManId <> '')
		    begin
			  set @strSql= ''
	          set @strSql = "insert into #ZMPActiveSalesmanIdFinal select * from #ZMPActiveSalesmanId "
	          if @DebugMode = 1 Print 'insert into #ZMPActiveParentIdFinal: ' + @strSql
			  exec sp_executesql @strSql

			end

		   --set @CommaSepUserIds = @CommaSepUserIds + @ActiveSalesmanId + ','
	       set @strSql= ''
	       set @strSql = "insert into #ZMPActiveSalesmanIdFinal select val from dbo.split('"+@ActiveSalesmanId+"',',') "
	       if @DebugMode = 1 Print 'insert into #ZMPActiveSalesmanIdFinal: ' + @strSql
		   exec sp_executesql @strSql

		   --select Distinct 'Added -#ZMPActiveSalesmanIdFinal', * from #ZMPActiveSalesmanIdFinal order by UserId
		   set @strSql= ''
	       set @strSql = "insert into #ZMPActiveSalesmanIdCurrent select val from dbo.split('"+@ActiveSalesmanId+"',',') "
	       if @DebugMode = 1 Print 'insert into #ZMPActiveSalesmanIdCurrent: ' + @strSql
		   exec sp_executesql @strSql

		   set @strSql=' Insert into #MobileUserDetails SELECT cast(ID as int) USERID, NAME AS USERNAME, '''' AS DeviceId,
			cast(AREAID as int) AREAID , login as[LoginID] , password as[Password], '','' + SUBSTRING((SELECT cast(cast(UserCode as int) as varchar) + '','' FROM dbo.fnGetUserParent(UM.Id) FOR XML PATH('''')),0,4000) as [ParentIdList],1,Telephone,EmailId FROM 
			[dbo].USERMASTER AS UM,#ZMPActiveSalesmanIdCurrent WHERE Cast(UM.ID as int) = #ZMPActiveSalesmanIdCurrent.UserId and UM.Type in (2) and UM.Isactive=1'
	        if @DebugMode = 1 Print 'Insert into #MobileUserDetails: ' + convert(varchar,getdate(), 109) + ' ' + @strSql
		    exec sp_executeSql @strSql 

		 end
		 set @FinalCommaSepParentId=''
		 select @FinalCommaSepParentId=SUBSTRING((select distinct cast(UserId as varchar) + ','  from #ZMPActiveParentIdFinal FOR XML PATH('')),0,4000)

		 set @FinalCommaSepSalesmanId=''
		 select @FinalCommaSepSalesmanId=SUBSTRING((select distinct cast(UserId as varchar) + ','  from #ZMPActiveSalesmanIdFinal FOR XML PATH('')),0,4000)

		 --Select 'New-ParentId',@FinalCommaSepParentId
		-- Select 'Befor-New-SalesmanId',@FinalCommaSepSalesmanId
		 set @FinalCommaSepSalesmanId = substring(@FinalCommaSepSalesmanId, 0, len(@FinalCommaSepSalesmanId))
		 --Select 'After New-SalesmanId',@FinalCommaSepSalesmanId
		 BEGIN TRY		
		   SET TRANSACTION ISOLATION LEVEL SERIALIZABLE
			 BEGIN TRANSACTION	
			   set @strSql= ''
	           set @strSql = " Update SETTINGS set Name = '"+@FinalCommaSepParentId+"' where id = 'ZylemMiniParentID'"
			   if @DebugMode = 1 Print 'Update SETTINGS: ' + @strSql
	           exec sp_executesql @strSql

			   set @strSql= ''
	           set @strSql = " Update SETTINGS set Name = '"+@FinalCommaSepSalesmanId+"' where id = 'ZylemMiniSalesmanID'"
			   if @DebugMode = 1 Print 'Update SETTINGS: ' + @strSql
	           exec sp_executesql @strSql

			   if(@InActiveParentId <> '')
			    begin
				   set @Cnt = 0
				   set @Index = 1
				   set @UserIds = 0
				   select @Cnt=Count(SrNo) from #ZMPInActiveParentId
				   print '@Cnt - ' + Cast(@Cnt as varchar)
				   While(@Index <= @Cnt)
				   begin
				       Select @UserIds = UserId from #ZMPInActiveParentId where SrNo = @Index 
					   if exists(select 1 from MobileAppUserActivation where UserId = @UserIds)
						begin
						  set @strSql= ''
						  set @strSql = "Insert into MobileAppUserActivationHistory select UserId,IsActiveMobileUser,UserLevel,UserParentId,CreatedBy,CreatedDate,
						  '"+@LoginUserId+"', getDate() from  MobileAppUserActivation where UserId = '"+cast(@UserIds as varchar)+"' "
						  If @DebugMode = 1 Print 'Insert into MobileAppUserActivationHistory- ' + @strSql
						  exec sp_executesql @strSql

						  set @strSql= ''
						  set @strSql = "Delete from MobileAppUserActivation where UserId = '"+cast(@UserIds as varchar)+"' "
						  If @DebugMode = 1 Print 'Delete from MobileAppUserActivation - ' + @strSql
						  exec sp_executesql @strSql
						end
						set @Index = @Index + 1
					end
				 end
                if(@InActiveSalesmanId <> '')
				 begin
				   Print 'Rajesh-@InActiveSalesmanId'+@InActiveSalesmanId
				   set @Cnt = 0
				   set @Index = 1
				   set @UserIds = 0
				   select @Cnt=Count(SrNo) from #ZMPInActiveSalesmanId
				   print '@Cnt - ' + Cast(@Cnt as varchar)
				   While(@Index <= @Cnt)
				   begin
				        Select @UserIds = UserId from #ZMPInActiveSalesmanId where SrNo = @Index 
						if exists(select 1 from MobileAppUserActivation where UserId = @UserIds )
						begin
						  Print 'If exist condition true'
						  set @strSql= ''
						  set @strSql = "Insert into MobileAppUserActivationHistory select UserId,IsActiveMobileUser,UserLevel,UserParentId,CreatedBy,CreatedDate,
						  '"+cast(@LoginUserId as varchar)+"', getDate() from  MobileAppUserActivation where UserId = '"+cast(@UserIds as varchar)+"' "
						  If @DebugMode = 1 Print 'Insert into MobileAppUserActivationHistory- ' + @strSql
						  exec sp_executesql @strSql

						  set @strSql= ''
						  set @strSql = "Delete from MobileAppUserActivation where UserId = '"+cast(@UserIds as varchar)+"' "
						  If @DebugMode = 1 Print 'Delete from MobileAppUserActivation - ' + @strSql
						  exec sp_executesql @strSql
						end
						set @Index = @Index + 1
					end
				 end
				if(@ActiveParentId <> '')
			     begin
				  Print 'Rajesh-@@ActiveParentId- '+@ActiveParentId
				  --select '#ZMPActiveParentIdCurrent',* from #ZMPActiveParentIdCurrent
				  set @Cnt = 0
				  set @Index = 1
				  set @UserIds = 0
				  select @Cnt=Count(SrNo) from #ZMPActiveParentIdCurrent
				  print '@Cnt - ' + Cast(@Cnt as varchar)
					  While(@Index <= @Cnt)
					   begin
						   Select @UserIds = UserId from #ZMPActiveParentIdCurrent where SrNo = @Index 
						   Print '@@ActiveParentId @UserIds -'+cast(@UserIds as varchar)
						   IF NOT EXISTS(select 1 from MobileAppUserActivation where UserId = @UserIds)
							begin
							  Print 'IF exist condition true'
							  set @strSql= ''
							  set @strSql = "Insert into MobileAppUserActivation (UserId,IsActiveMobileUser,UserLevel,UserParentId,CreatedBy,CreatedDate)" 
							  set @strSql = @strSql + "Values('"+cast(@UserIds as varchar)+"',1,'Parent','1','"+@LoginUserId+"', getDate()) "
							  If @DebugMode = 1 Print 'Insert into MobileAppUserActivation- ' + @strSql
							  exec sp_executesql @strSql
							end
							set @Index = @Index + 1
					     end
						 
				 end
				if(@ActiveSalesmanId <> '')
			    begin
				  Print 'Rajesh-@@@ActiveSalesmanId'+@ActiveSalesmanId
				  set @Cnt = 0
				  set @Index = 1
				  set @UserIds = 0
				  select @Cnt=Count(UserId) from #ZMPActiveSalesmanIdCurrent
				  While(@Index <= @Cnt)
				   begin
				       Select @UserIds = UserId from #ZMPActiveSalesmanIdCurrent where SrNo = @Index 
					   IF NOT EXISTS(select 1 from MobileAppUserActivation where UserId = @UserIds)
						begin
						  Print 'IF exist condition true'					  
						  set @strSql= ''
						  set @strSql = "Insert into MobileAppUserActivation (UserId,IsActiveMobileUser,UserLevel,UserParentId,CreatedBy,CreatedDate) Values(
						  "+cast(@UserIds as varchar)+",1,'Salesman','0','"+@LoginUserId+"', getDate()) "
						  If @DebugMode = 1 Print 'Insert into MobileAppUserActivation- ' + @strSql
						  exec sp_executesql @strSql
				     	 end
					  set @Index = @Index + 1
					end
				 end
					--Added by Akash Wani NewCode For SalesmanID
					-- Compare and update if necessary
			IF @ZMPSalesManId IS NOT NULL AND @ZyleminiPlusSalesmanIDForDataTransfer IS NOT NULL
			BEGIN
				-- Create a table to hold split values
				CREATE TABLE #SplitValues (ID nvarchar(Max));    
				-- Variable for looping
				DECLARE @Start int, @End int
				SET @Start = 1   
				-- Split ZylemMiniSalesmanID
				WHILE CHARINDEX(',', @ZMPSalesManId, @Start) > 0
				BEGIN
					SET @End = CHARINDEX(',', @ZMPSalesManId, @Start)
					INSERT INTO #SplitValues (ID) VALUES (SUBSTRING(@ZMPSalesManId, @Start, @End - @Start))
					SET @Start = @End + 1
				END    
				-- Insert last item
				INSERT INTO #SplitValues (ID) VALUES (SUBSTRING(@ZMPSalesManId, @Start, LEN(@ZMPSalesManId)))   
				-- Find new IDs
				DECLARE @NewIDs nvarchar(max) = '';   
				SELECT @NewIDs = @NewIDs + ID + ',' FROM #SplitValues WHERE CHARINDEX(',' + ID + ',', ',' + @ZyleminiPlusSalesmanIDForDataTransfer + ',') = 0    
				-- Remove trailing comma
				IF LEN(@NewIDs) > 0 
				SET @NewIDs = LEFT(@NewIDs, LEN(@NewIDs) - 1);    
				-- If there are new IDs, update ZyleminiPlusSalesmanIDForDataTransfer
				IF @NewIDs != ''
				BEGIN
					UPDATE Settings SET Name = Name + ',' + @NewIDs WHERE Id = 'ZyleminiPlusSalesmanIDForDataTransfer';
				END    
				DROP TABLE #SplitValues;
			END
					--Code End SalesmanId Updated
					--Added by Akash Wani NewCode For ParentID
					-- Compare and update if necessary
			IF @ZMPParentID IS NOT NULL AND @ZyleminiPlusParentIDForDataTransfer IS NOT NULL
			BEGIN
				-- Create a table to hold split values
				CREATE TABLE #SplitValues1 (ID nvarchar(Max));    
				-- Variable for looping
				DECLARE @Start1 int, @End1 int
				SET @Start1 = 1    
				-- Split ZylemMiniParentID
				WHILE CHARINDEX(',', @ZMPParentID, @Start1) > 0
				BEGIN
					SET @End1 = CHARINDEX(',', @ZMPParentID, @Start1)
					INSERT INTO #SplitValues1 (ID) VALUES (SUBSTRING(@ZMPParentID, @Start1, @End1 - @Start1))
					SET @Start1 = @End1 + 1
				END    
				-- Find new IDs
				DECLARE @NewIDs1 nvarchar(max) = '';
    
				SELECT @NewIDs1 =','+ @NewIDs1 + ID + ','
				FROM #SplitValues1
				WHERE CHARINDEX(',' + ID + ',', @ZyleminiPlusParentIDForDataTransfer) = 0;    
				-- If there are new IDs, update ZyleminiPlusParentIDForDataTransfer
				IF @NewIDs1 != ''
				BEGIN
					UPDATE Settings
					SET Name = LEFT(Name, LEN(Name) - 1) + @NewIDs1 WHERE Id = 'ZyleminiPlusParentIDForDataTransfer';
				END    
				DROP TABLE #SplitValues1;
			END
					--Code End Parenid Updated		
		 			  
				 Select * from #MobileUserDetails
				 Select 'True'


			 COMMIT TRANSACTION					
		   SET TRANSACTION ISOLATION LEVEL	READ Committed 
		 END TRY
		 BEGIN CATCH	
		  select 'False'
		  if(@@ERROR = '1701')
			begin
				select  'Maximum allowed columns Exceeded' as Error
			end
			else if(@@ERROR = '1702')
			begin
				select 'Maximum allowed columns Exceeded' as Error
			end
			else
			begin
				select 'Error while processing data, please contact admin' as Error
			end 
			--IF @@TRANCOUNT > 0 ROLLBACK TRANSACTION
			INSERT INTO [ERRORLOG] VALUES ('prFetchZMPUserActivation', GETDATE(), ERROR_LINE(), ERROR_MESSAGE())
		

		 END CATCH
		 
		 --select * from #ZMPActiveParentId
		 --select * from #ZMPInActiveParentId
		 --select * from #ZMPActiveSalesmanId
		 --select * from #ZMPInActiveSalesmanId
	 end
	else 
	 begin

	create table #UserChildren
	(
	  Usercode varchar(15)
      
	)
	
	create table #TempUserDetails
	(
	   Id int,
	   Name Nvarchar(500),
	   StatusInZMP bit,
	   StatusInZMPName Nvarchar(100),
	   UserParentStatus int,
	   UserLevelName Nvarchar(255),
	   Telephone nvarchar(50),
	   EmailId nvarchar(200)
	)
	
	--set @strUserId = ''
	--select @UserId
	if(@UserId <> '')
	begin
	 set @strSql= ''
	 set @strSql = "insert into #TempUserMaster select val from dbo.split('"+@UserId+"',',') "
	 if @DebugMode = 1 Print 'insert into #TempUserMaster: ' + @strSql
	 exec sp_executesql @strSql
	end

	set @strSql= ''
	set @strSql = "insert into #UserChildren Exec prGetUserChildrenOnly '"+@LoginUserId+"' "
	exec sp_executesql @strSql

	
	--select '#ZMPActiveParentId', * from #ZMPActiveParentId
	--@UserCatogarySelectionId = 1 Means All User of Type 2 from UserMaster
	If(@UserCatogarySelectionId = 1 or @UserCatogarySelectionId = 2 or @UserCatogarySelectionId = 4)
	 begin
	   set @strSql= ''
	  set @strSql = "insert into #TempUserDetails select Id,Name,0,'Blank',0,'Salesman',Telephone, EmailId from UserMaster,#UserChildren "
	  If(@UserId <> '')
	  begin
	   set @strSql = @strSql + ",#TempUserMaster "
	  end
	  --Ak added UserMaster.Isactive=1 
	  set @strSql = @strSql + " where UserMaster.Id=#UserChildren.Usercode and UserMaster.Type = 2 and UserMaster.Isactive=1 "
	  If(@UserId <> '')
	  begin
	   set @strSql = @strSql + " and UserMaster.Id = #TempUserMaster.UserId "
	  end
	  If @debugMode = 1 print '>>insert into #TempUserDetails'+@strSql
	  exec sp_executesql  @strSql

	  set @strSql= ''
	  set @strSql = "Update #TempUserDetails set StatusInZMP = 1, StatusInZMPName = 'Active' from #TempUserDetails,#ZMPActiveSalesmanId
	   where Cast(Id as int) = #ZMPActiveSalesmanId.UserId"	  
	  If @debugMode = 1 print '>>Update #TempUserDetails for Active salesmanId'+@strSql
	  exec sp_executesql  @strSql

	  set @strSql= ''
	  set @strSql = "Update #TempUserDetails set StatusInZMP = 1, StatusInZMPName = 'Active' from #TempUserDetails,#ZMPActiveParentId
	   where Cast(Id as int) = #ZMPActiveParentId.UserId"	  
	  If @debugMode = 1 print '>>Update #TempUserDetails for Active ParentId'+@strSql
	  exec sp_executesql  @strSql

	  set @strSql= ''
	  set @strSql = " Update #TempUserDetails set UserParentStatus = 1, UserLevelName = 'Parent' from #TempUserDetails,
	  ORGANIZATIONTREE where #TempUserDetails.Id = cast(ORGANIZATIONTREE.ParentId as int) "	  
	  If @debugMode = 1 print '>>Update #TempUserDetails for Parent '+@strSql
	  exec sp_executesql  @strSql  
	   
	 end
	 if(@UserCatogarySelectionId = 4) -- = 4 Means Blank User 
	  begin
	    
	    Delete from #TempUserDetails where StatusInZMP = 1
	  end

	 If(@UserCatogarySelectionId = 2) --=2 Means ZyleminiPlus Active user
	  begin
	    Delete from #TempUserDetails where StatusInZMP = 0
	  end

	 If(@UserCatogarySelectionId = 3) --= 3 means InActive ZyleminiPlus User
	  begin
	    set @strSql= ''
	    set @strSql = "insert into #TempUserDetails select UserMaster.Id,Name,0,'Blank',0,'Salesman',UserMaster.Telephone, UserMaster.EmailId from UserMaster,#UserChildren,MobileAppUserActivationHistory "
		If(@UserId <> '')
	    begin
	     set @strSql = @strSql + ",#TempUserMaster "
	    end
	    set @strSql = @strSql + " where UserMaster.Id=#UserChildren.Usercode and UserMaster.Type = 2 and UserMaster.Id=MobileAppUserActivationHistory.UserId "
	    If(@UserId <> '')
	    begin
	     set @strSql = @strSql + " and UserMaster.Id = #TempUserMaster.UserId "
	    end
		If @debugMode = 1 print '>>insert into #TempUserDetails'+@strSql
	    exec sp_executesql  @strSql

	  --set @strSql= ''
	  --set @strSql = "Update #TempUserDetails set StatusInZMP = 1, StatusInZMPName = 'Active' from #TempUserDetails,#ZMPActiveSalesmanId
	  -- where Cast(Id as int) = #ZMPActiveSalesmanId.UserId"	  
	  --If @debugMode = 1 print '>>Update #TempUserDetails for Active salesmanId'+@strSql
	  --exec sp_executesql  @strSql

	  set @strSql= ''
	  set @strSql = " Update #TempUserDetails set UserParentStatus = 1, UserLevelName = 'Parent' from #TempUserDetails,
	  ORGANIZATIONTREE where #TempUserDetails.Id = cast(ORGANIZATIONTREE.ParentId as int) "	  
	  If @debugMode = 1 print '>>Update #TempUserDetails for Parent '+@strSql
	  exec sp_executesql  @strSql  
	  end
	 
	 --select * from #TempUserDetails
	 Select ID,Name,StatusInZMP as Selected,StatusInZMPName as [Status],UserLevelName as [UserLevel],UserParentStatus,'' as UpsertId, EmailId,Telephone as ContactNumber from #TempUserDetails order by Name


	 Drop table #UserChildren
	--Drop table #UserAreaDetails
	end
	drop table #TempUserMaster
	drop table #ZMPActiveParentId
	drop table #ZMPActiveParentIdCurrent
	drop table #ZMPInActiveParentId
	drop table #ZMPActiveSalesmanId
	drop table #ZMPActiveSalesmanIdCurrent
	drop table #ZMPInActiveSalesmanId
	drop table #ZMPActiveParentIdFinal
	drop table #ZMPActiveSalesmanIdFinal
	drop table #MobileUserDetails
	 
END


