USE [ZyleminiPlus_BDPL]
GO
/****** Object:  StoredProcedure [dbo].[prGetUsersDetails]    Script Date: 3/30/2026 3:45:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author: Moreshwar Mujbaile
-- Created date: 04 Feb 2024
-- Description:	Get user details for detailed activity based report
-- EXEC prGetUsersDetails 15, '27-09-2025', 2, 15 , 7 
-- =============================================
ALTER       PROCEDURE [dbo].[prGetUsersDetails]
(
		@P_ParentUserID		INT,
		@P_Date				NVARCHAR(200),
		@P_Command_Type		INT,
		@P_UserID			INT,
		@P_CollectionType	NVARCHAR(20)
)
AS 
BEGIN 

	DECLARE @V_STRSQL NVARCHAR(MAX), @V_DATE NVARCHAR(200) = '''' + CONVERT(VARCHAR(200), CONVERT(DATETIME, @P_Date, 105), 105) + '''';
	SET @P_Date = CONVERT(VARCHAR(200), CONVERT(DATETIME, @P_Date, 105), 105);

	DECLARE @V_UOMLABEL NVARCHAR(50) = (SELECT [Value] FROM RO_Settings WHERE [KEY] = 'UOMLABLE'),
				@V_LARGE NVARCHAR(50),
				@V_SMALL NVARCHAR(50),
				@JSONResult VARCHAR(MAX);

	SET @V_LARGE = SUBSTRING(@V_UOMLABEL, 0, CHARINDEX('/', @V_UOMLABEL));
	SET @V_SMALL = SUBSTRING(@V_UOMLABEL, CHARINDEX('/', @V_UOMLABEL) + 1, LEN(@V_UOMLABEL));
			
	SET NOCOUNT ON; 

	IF(@P_Command_Type = 1)
	BEGIN
		IF(@P_ParentUserID != @P_UserID)
		BEGIN
			SET @V_STRSQL = N'
								;WITH BaseExecutives AS (
								    SELECT DISTINCT 
								        U.UserID,
								        U.UserName,
								        ISNULL(U.ProfileImage, '''') AS ProfileImage
								    FROM RO_PUser U
								    WHERE ParentIdList LIKE ''%,' + CAST(@P_ParentUserID AS NVARCHAR(100)) + ',%''
								),
								OrderData AS (
								    SELECT 
								        O.ExecutiveID,
								        O.CollectionType,
								        O.MobileGenPrimaryKey,
								        O.TotalAmount,
								        O.EntityID,
								        O.OrderTakenDatetime,
								        BE.UserName,
								        BE.ProfileImage
								    FROM TX_OrderMaster O
								    INNER JOIN BaseExecutives BE ON O.ExecutiveID = BE.UserID
									INNER JOIN RO_PCustomer PC ON PC.CustomerId = O.EntityID
								    WHERE CONVERT(VARCHAR(MAX), O.OrderTakenDatetime, 34) = ' + @V_DATE + '
									AND CollectionType NOT IN (8,9)
								),
								ActivityData AS (
								    SELECT 
								        O.ExecutiveID,
								        MAX(CASE 
								            WHEN O.CollectionType IN (1, 2) THEN 1
								            ELSE O.CollectionType 
								        END) AS collectionType,
								        MAX(CASE 
								            WHEN O.CollectionType IN (1, 2) THEN ''Data Collection''
								            WHEN O.CollectionType = 0 THEN ''Order Booked''
								            WHEN O.CollectionType = 7 THEN ''Collections''
								            WHEN O.CollectionType = 6 THEN ''Activity''
								            ELSE CASE WHEN C.Type = ''PaymentCollection'' THEN ''Collections'' ELSE C.Type END
								        END) AS type,
								        COUNT(DISTINCT O.MobileGenPrimaryKey) AS [count],
								        SUM(CASE 
								            WHEN O.CollectionType = 0 THEN O.TotalAmount
								            WHEN O.CollectionType = 7 THEN PR.Amount
								            ELSE 0 
								        END) AS total,
								        MAX(CASE 
								            WHEN O.CollectionType IN (1, 2) THEN ''#E8F5E9''
								            WHEN O.CollectionType = 3 THEN ''#FCE4EC''
								            WHEN O.CollectionType = 4 THEN ''#E3F2FD''
								            WHEN O.CollectionType = 5 THEN ''#E0F2F1''
								            WHEN O.CollectionType = 6 THEN ''#E8EAF6''
								            WHEN O.CollectionType = 0 THEN ''#F3E5F5''
								            WHEN O.CollectionType = 7 THEN ''#FFF3E0''
								        END) AS [color]
								    FROM OrderData O
								    LEFT JOIN RO_CollectionType C ON O.CollectionType = C.Id
								    --LEFT JOIN TX_Collections_Log CL ON CL.MobileGenPrimaryKey = O.MobileGenPrimaryKey 
									LEFT JOIN TX_PaymentReceipt_Log PR ON PR.MobileGenPrimaryKey = O.MobileGenPrimaryKey
								        AND O.CollectionType = 7 
									WHERE O.CollectionType NOT IN (8,9)
								    GROUP BY 
								        O.ExecutiveID,
								        CASE 
								            WHEN O.CollectionType IN (1, 2) THEN 1
								            ELSE O.CollectionType 
								        END
								),';

			SET @V_STRSQL = @V_STRSQL + N'	UserSummary AS (
								    SELECT 
								        O.ExecutiveID AS userId,
								        MAX(O.UserName) AS name,
								        MAX(O.ProfileImage) AS profilePicURL,
								        COUNT(DISTINCT O.EntityID) AS outlets,
								        COUNT(O.MobileGenPrimaryKey) AS totalActivities
								    FROM OrderData O
								    GROUP BY O.ExecutiveID
								)
								SELECT REPLACE(
								 ISNULL((
								    SELECT 
								        U.userId,
								        U.name,
								        U.profilePicURL,
								        U.outlets,
								        U.totalActivities,
								        ISNULL((
								            SELECT 
								                A.collectionType,
								                A.type,
								                A.[count],
								                A.total,
								                A.color
								            FROM ActivityData A
								            WHERE A.ExecutiveID = U.userId
								            FOR JSON PATH
								        ), JSON_QUERY(''[]'')) AS activities
								    FROM UserSummary U
								    FOR JSON PATH
								), ''[]''),
								''\/'', ''/''
							);'
			
					PRINT @V_STRSQL;
			EXEC sp_executesql @V_STRSQL
		END
		ELSE
		BEGIN

			SET @V_STRSQL = N'
								;WITH BaseExecutives AS (
								    SELECT DISTINCT 
								        U.UserID,
								        U.UserName,
								        ISNULL(U.ProfileImage, '''') AS ProfileImage
								    FROM RO_PUser U
								    WHERE UserID = ' + CAST(@P_ParentUserID AS NVARCHAR(100)) + '
								),
								OrderData AS (
								    SELECT 
								        O.ExecutiveID,
								        O.CollectionType,
								        O.MobileGenPrimaryKey,
								        O.TotalAmount,
								        O.EntityID,
								        O.OrderTakenDatetime,
								        BE.UserName,
								        BE.ProfileImage
								    FROM TX_OrderMaster O
								    INNER JOIN BaseExecutives BE ON O.ExecutiveID = BE.UserID
									INNER JOIN RO_PCustomer PC ON PC.CustomerId = O.EntityID
								    WHERE CONVERT(VARCHAR(MAX), O.OrderTakenDatetime, 34) = ' + @V_DATE + '
									AND CollectionType NOT IN (8,9)
								),
								ActivityData AS (
								    SELECT 
								        O.ExecutiveID,
								        MAX(CASE 
								            WHEN O.CollectionType IN (1, 2) THEN 1
								            ELSE O.CollectionType 
								        END) AS collectionType,
								        MAX(CASE 
								            WHEN O.CollectionType IN (1, 2) THEN ''Data Collection''
								            WHEN O.CollectionType = 0 THEN ''Order Booked''
								            WHEN O.CollectionType = 7 THEN ''Collections''
								            WHEN O.CollectionType = 6 THEN ''Activity''
								            ELSE CASE WHEN C.Type = ''PaymentCollection'' THEN ''Collections'' ELSE C.Type END
								        END) AS type,
								        COUNT(DISTINCT O.MobileGenPrimaryKey) AS [count],
								        SUM(CASE 
								            WHEN O.CollectionType = 0 THEN O.TotalAmount
								            WHEN O.CollectionType = 7 THEN PR.Amount
								            ELSE 0 
								        END) AS total,
								        MAX(CASE 
								            WHEN O.CollectionType IN (1, 2) THEN ''#E8F5E9''
								            WHEN O.CollectionType = 3 THEN ''#FCE4EC''
								            WHEN O.CollectionType = 4 THEN ''#E3F2FD''
								            WHEN O.CollectionType = 5 THEN ''#E0F2F1''
								            WHEN O.CollectionType = 6 THEN ''#E8EAF6''
								            WHEN O.CollectionType = 0 THEN ''#F3E5F5''
								            WHEN O.CollectionType = 7 THEN ''#FFF3E0''
								        END) AS [color]
								    FROM OrderData O
								    LEFT JOIN RO_CollectionType C ON O.CollectionType = C.Id
								    --LEFT JOIN TX_Collections_Log CL ON CL.MobileGenPrimaryKey = O.MobileGenPrimaryKey 
									LEFT JOIN TX_PaymentReceipt_Log PR ON PR.MobileGenPrimaryKey = O.MobileGenPrimaryKey
								        AND O.CollectionType = 7 
									WHERE O.CollectionType NOT IN (8,9)
								    GROUP BY 
								        O.ExecutiveID,
								        CASE 
								            WHEN O.CollectionType IN (1, 2) THEN 1
								            ELSE O.CollectionType 
								        END
								),';

			SET @V_STRSQL = @V_STRSQL + N'UserSummary AS (
								    SELECT 
								        O.ExecutiveID AS userId,
								        MAX(O.UserName) AS name,
								        MAX(O.ProfileImage) AS profilePicURL,
								        COUNT(DISTINCT O.EntityID) AS outlets,
								        COUNT(O.MobileGenPrimaryKey) AS totalActivities
								    FROM OrderData O
								    GROUP BY O.ExecutiveID
								)
								SELECT REPLACE(
								 ISNULL((
								    SELECT 
								        U.userId,
								        U.name,
								        U.profilePicURL,
								        U.outlets,
								        U.totalActivities,
								        ISNULL((
								            SELECT 
								                A.collectionType,
								                A.type,
								                A.[count],
								                A.total,
								                A.color
								            FROM ActivityData A
								            WHERE A.ExecutiveID = U.userId
								            FOR JSON PATH
								        ), JSON_QUERY(''[]'')) AS activities
								    FROM UserSummary U
								    FOR JSON PATH
								), ''[]''),
								''\/'', ''/''
							);'
			
					PRINT @V_STRSQL;
			EXEC sp_executesql @V_STRSQL

		END

	END
	IF(@P_Command_Type = 2)
	BEGIN 
		
		-- ORDER
		IF(@P_CollectionType = '0')
		BEGIN

			SET @JSONResult = (
		   SELECT DISTINCT  
		        C.PARTY AS outletName,
				O.MobileGenPrimaryKey ,
		        ISNULL(
		            (
		                SELECT  
		                    JSON_QUERY(
		                        (
		                            SELECT 
		                                I.Item AS SKU,
		                                CONCAT(CAST(OD.LargeUnit AS NVARCHAR(50)), ' ', @V_LARGE, ' ', CAST(OD.SmallUnit AS NVARCHAR(50)), ' ', @V_SMALL) AS items,
										OD.Amount AS rate
		                            FROM 
										TX_OrderDetails OD 
		                            INNER JOIN 
										RO_PItem I ON I.ItemId = OD.ItemID
		                            WHERE O.EntityID = C.CustomerId 
										AND  O.MobileGenPrimaryKey = OD.MobileGenPrimaryKey
										AND O.ExecutiveID = @P_UserID AND O.CollectionType = 0
										AND CONVERT(VARCHAR(MAX), O.OrderTakenDatetime, 34) = @P_Date
		                            FOR JSON PATH
		                        )
		                    )
		            ), '[]'
		        ) AS items,
		        (
		             SELECT 
					     O.TotalAmount AS Rate
		        ) AS totalRate,
				(
		            SELECT  
					    O.DiscountAmount AS Discount
		        ) AS totalDiscount
		    FROM 
				RO_PCustomer C 
		    INNER JOIN 
				TX_OrderMaster O ON 
				O.EntityID = C.CustomerId AND
				O.ExecutiveID = @P_UserID AND O.CollectionType = 0
				AND CONVERT(VARCHAR(MAX), OrderTakenDatetime, 34) = @P_Date
			INNER JOIN 
				TX_OrderDetails OD ON O.MobileGenPrimaryKey = OD.MobileGenPrimaryKey
		   GROUP BY O.MobileGenPrimaryKey, C.Party, C.CustomerId, O.EntityID, O.ExecutiveID, O.CollectionType, 
			O.OrderTakenDatetime, O.TotalAmount, O.DiscountAmount
		    FOR JSON PATH);

			SET @JSONResult = CONCAT(
						    '{"orderDetails":{"', CAST(@P_UserID AS NVARCHAR(50)), '":', @JSONResult, '}}'
						);

		PRINT CAST(@JSONResult AS NVARCHAR(MAX));
		IF(@JSONResult = '{"orderDetails":{"' + CAST(@P_UserID AS NVARCHAR(50)) + '":}}')
			SELECT '{"orderDetails": []}' AS JsonData;
		ELSE
			SELECT ISNULL(@JSONResult,'{"orderDetails": []}') AS JsonData;

		END

		IF(@P_CollectionType = '1')
		BEGIN

			SET @JSONResult = (
			    SELECT DISTINCT 
			        C.PARTY AS outletName,
			        ISNULL(
			            (
			                SELECT 
			                    JSON_QUERY(
			                        (
			                            SELECT 
			                                I.Item AS SKU,
			                                CONCAT(CAST(OD.LargeUnit AS NVARCHAR(50)), ' ', @V_LARGE, ' ', CAST(OD.SmallUnit AS NVARCHAR(50)), ' ', @V_SMALL) AS items
			                            FROM 
											TX_OrderMaster OM 
			                            INNER JOIN 
											TX_OrderDetails OD ON OM.MobileGenPrimaryKey = OD.MobileGenPrimaryKey
			                            INNER JOIN 
											RO_PItem I ON I.ItemId = OD.ItemID
			                            WHERE 
											OM.EntityID = C.CustomerId 
											AND OM.ExecutiveID = @P_UserID AND OM.CollectionType IN (1,2)
											AND CONVERT(VARCHAR(MAX), OrderTakenDatetime, 34) = @P_Date
											AND O.MobileGenPrimaryKey = OD.MobileGenPrimaryKey
			                            FOR JSON PATH
			                        )
			                    )
			            ), '[]'
			        ) AS items
			    FROM 
					RO_PCustomer C 
			    INNER JOIN 
					TX_OrderMaster O ON O.EntityID = C.CustomerId AND O.ExecutiveID = @P_UserID AND O.CollectionType IN (1,2)
					AND CONVERT(VARCHAR(MAX), OrderTakenDatetime, 34) = @P_Date
			    FOR JSON PATH
			);

			SET @JSONResult = CONCAT(
						    '{"dataCollectionDetails":{"', CAST(@P_UserID AS NVARCHAR(50)), '":', @JSONResult, '}}'
						);

			IF(@JSONResult = '{"dataCollectionDetails":{"' + CAST(@P_UserID AS NVARCHAR(50)) + '":}}')
				SELECT '{"dataCollectionDetails": []}' AS JsonData;
			ELSE
				SELECT ISNULL(@JSONResult,'{"dataCollectionDetails": []}') AS JsonData;


		END

		-- IMAGES
		IF(@P_CollectionType = '3')
		BEGIN

			SELECT 
				P.Party AS Outlet,
			 	CAST(I.OrderID AS NVARCHAR(100)) + '_' + I.ImageNameWithExt AS ImageURL
			FROM 
				RO_PCustomer P
			INNER JOIN 
				TX_OrderMaster OM ON OM.EntityID = P.CustomerId AND OM.CollectionType = 3 
				AND CONVERT(VARCHAR(MAX), OrderTakenDatetime, 34) = @P_DATE AND OM.ExecutiveID = @P_USERID
			INNER JOIN 
				TX_ImagesDetails I ON I.OrderID = OM.ID

		END

		-- VISIT REPORT
		IF(@P_CollectionType = '4')
		BEGIN

			SET @JSONResult = (
				SELECT 
					P.Party AS outlet, 
					FORMAT(ActivityStartTime, 'hh:mm tt') AS checkIn,
					FORMAT(ActivityEndTime, 'hh:mm tt') AS checkOut
				FROM
					RO_PCustomer P
				INNER JOIN TX_OrderMaster OM ON OM.EntityID = P.CustomerId AND OM.ExecutiveID = @P_UserID AND OM.CollectionType = 4
					AND CONVERT(VARCHAR(MAX),OrderTakenDatetime, 34) = @P_Date
					FOR JSON PATH
			);

			SET @JSONResult = CONCAT(
						    '{"visitDetails":{"', CAST(@P_UserID AS NVARCHAR(50)), '":', @JSONResult, '}}'
						);

			IF(@JSONResult = '{"visitDetails":{"' + CAST(@P_UserID AS NVARCHAR(50)) + '":}}')
				SELECT '{"visitDetails": []}' AS JsonData;
			ELSE
				SELECT ISNULL(@JSONResult,'{"visitDetails": []}') AS JsonData;

		END
		
		-- MEETING 
		IF(@P_CollectionType = '6')
		BEGIN

			SET @JSONResult = (
			SELECT 
				P.Party AS outlet, 
				FORMAT(ActivityStartTime, 'hh:mm tt') AS meetingStart,
				FORMAT(ActivityEndTime, 'hh:mm tt') AS meetingEnd,
				OM.Remarks AS remarks
			FROM
				RO_PCustomer P
			INNER JOIN TX_OrderMaster OM ON OM.EntityID = P.CustomerId 
			AND OM.ExecutiveID = @P_UserID AND OM.CollectionType = 6
				AND CONVERT(VARCHAR(MAX),OrderTakenDatetime, 34) = @P_Date

				FOR JSON PATH
		);

		SET @JSONResult = CONCAT(
						    '{"meetingDetails":{"', CAST(@P_UserID AS NVARCHAR(50)), '":', @JSONResult, '}}'
						);

		IF(@JSONResult = '{"meetingDetails":{"' + CAST(@P_UserID AS NVARCHAR(50)) + '":}}')
				SELECT '{"meetingDetails": []}' AS JsonData;
			ELSE
				SELECT ISNULL(@JSONResult,'{"meetingDetails": []}') AS JsonData;

		END
		
		-- RECEIPT
		IF(@P_CollectionType = '7' )
		BEGIN

			SET @JSONResult = (
				    SELECT DISTINCT 
				        P.PARTY AS outletName,
						ISNULL(
							(
								 SELECT  DISTINCT
									    PR.Amount AS collectedAmount,
									    CASE 
									        WHEN PR.PaymentMode = 0 THEN 'CASH'
									        WHEN PR.PaymentMode = 1 THEN 'CHEQUE'
									        WHEN PR.PaymentMode = 2 THEN 'RTGS'
									        ELSE 'NEFT' 
									    END AS paymentMode,
										ISNULL(SUM(CAST(CL.AllocatedAmount AS NUMERIC(18,2))),0) AS allocatedAmount,
										ISNULL(PR.Amount - ISNULL(SUM(CAST(CL.AllocatedAmount AS NUMERIC(18,2))),0),0) AS balance
									FROM TX_PaymentReceipt_Log PR
									LEFT JOIN TX_Collections_Log CL ON CL.MobileGenPrimaryKey = PR.MobileGenPrimaryKey
									WHERE PR.MobileGenPrimaryKey = O.MobileGenPrimaryKey
									GROUP BY PR.Amount, PR.PaymentMode
									FOR JSON PATH
							)
						,'[]') AS paymentDetails,
				        ISNULL(
				            (
				                SELECT 
				                    CL.InvoiceCode AS invNo,
				                    CL.CollectionDatetime AS invoiceDate,
				                    SUM(CL.AllocatedAmount) AS collectedAmount
				                FROM 
				                    RO_PCustomer P
				                INNER JOIN 
				                    TX_OrderMaster OM ON OM.EntityID = P.CustomerId AND OM.ExecutiveID = @P_UserID 
				                    AND CONVERT(VARCHAR(MAX), OM.OrderTakenDatetime, 34) = @P_Date
				                    AND OM.CollectionType = 7 AND OM.MobileGenPrimaryKey = O.MobileGenPrimaryKey
				                INNER JOIN 
				                    TX_Collections_Log CL ON CL.MobileGenPrimaryKey = O.MobileGenPrimaryKey
				                INNER JOIN 
				                    TX_PaymentReceipt_Log PR ON CL.MobileGenPrimaryKey = PR.MobileGenPrimaryKey
				                GROUP BY 
				                    CL.InvoiceCode,
				                    P.Party,  
				                    CL.CollectionDatetime
				                FOR JSON PATH
				            ), '[]'
				        ) AS receipts
				    FROM 
				        RO_PCustomer P
				    INNER JOIN 
				        TX_OrderMaster O ON O.EntityID = P.CustomerId AND O.ExecutiveID = @P_UserID 
				        AND CONVERT(VARCHAR(MAX), O.OrderTakenDatetime, 34) = @P_Date
				        AND O.CollectionType = 7
				    FOR JSON PATH
				);

				SET @JSONResult = CONCAT(
						    '{"receiptDetails":{"', CAST(@P_UserID AS NVARCHAR(50)), '":', @JSONResult, '}}'
						);

				IF(@JSONResult = '{"receiptDetails":{"' + CAST(@P_UserID AS NVARCHAR(50)) + '":}}')
				SELECT '{"receiptDetails": []}' AS JsonData;
			ELSE
				SELECT ISNULL(@JSONResult,'{"receiptDetails": []}') AS JsonData;

		END
	END

END