USE [ZyleminiPlus_BDPL]
GO
/****** Object:  StoredProcedure [dbo].[prGetMandatoryDataForZyleminiApp]    Script Date: 3/30/2026 3:44:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



--prGetMandatoryDataForZyleminiApp '',54923,'0'

--areaid 629


ALTER   Procedure [dbo].[prGetMandatoryDataForZyleminiApp]	
(
	 @areaID NVARCHAR(20),
	 @userID INT,
	 @newpartyCount INT
)
As
Begin

Declare @IsParent bit
Declare @valForMJP varchar(20)
Declare @SalesmanCode varchar(50)
declare @LastNoOfDays int
declare @FromDate datetime
declare @DistPrefix varchar(10)
declare @LoginId as varchar(50)
declare @Password as varchar(50)
declare @PriceListIdSettingColumn varchar(25)
declare @LoginIDNoColon varchar(50)
declare @strSQl as nvarchar(max)

	select @LoginId =loginId, @Password= [Password] from RO_PUser where userid = @userID

	set @DistPrefix =  SUBSTRING(@LoginId,0,patindex('%:%',@LoginId)+1) 
	print @DistPrefix

	SET @LoginIDNoColon = SUBSTRING(@LoginId, PATINDEX('%:%', @LoginId) + 1, LEN(@LoginId))

	if(SUBSTRING(@DistPrefix,0,patindex('%:%',@DistPrefix))!='')
	begin
		select @PriceListIdSettingColumn = GroupId from RO_pricelistidsettings where distributorid=SUBSTRING(@DistPrefix,0,patindex('%:%',@DistPrefix))
	end
	else
	begin
		select @PriceListIdSettingColumn = GroupId from RO_pricelistidsettings 
	end

	Set @SalesmanCode=(select LoginID from RO_PUser where UserID=@userID)
	print @SalesmanCode

	Set @valForMJP=(select [Value] from RO_Settings where [Key]='SentCustomerBasedOn')

	Set @LastNoOfDays=(select [Value] from RO_Settings where [Key]='LastNDaysData')

	select @FromDate = dateadd(day,-@LastNoOfDays, getdate())

	print @FromDate

	Declare @valISNONWINDSR varchar(20)
	Set @valISNONWINDSR=(select upper([Value]) from RO_Settings where [Key]='ISNONWINDSR')

	Declare @valIsMultiUser varchar(20)
	Set @valIsMultiUser=(select [Value] from RO_Settings where [Key]='IsMultiUser')
	print @valIsMultiUser
	Declare @valPriceListLevel varchar(20)
	Set @valPriceListLevel=(select [Value] from RO_Settings where [Key]='PriceListLevel')

	create table #TempRoute(SrNo int identity, RouteID int , RouteName varchar(100), userid int) 

	update RO_Settings set Value= FORMAT(getdate(),'dd/MM/yyyy hh:mm:s tt') where [Key]='SYNCDATETIME'		
	
	update RO_Settings set Value= (select REPLACE(CONVERT(NVARCHAR,max(OrderTakenDatetime), 106), ' ', '-') from TX_OrderMaster where ExecutiveID=@userID) where [Key]='LastOrderSyncDate'

	SELECT DISTINCT 
		dbo.RO_PCustomer.Party, dbo.RO_PendingOrdersMaster.Id, dbo.RO_PendingOrdersMaster.POM_DOC_NO, dbo.RO_PendingOrdersMaster.POM_DOC_DATE, dbo.RO_PendingOrdersMaster.POM_DOC_AMOUNT, 
		dbo.RO_PendingOrdersDetails.POD_ITEM_NAME, dbo.RO_PendingOrdersDetails.POD_SQTY, dbo.RO_PendingOrdersDetails.POD_FQTY, dbo.RO_PendingOrdersDiscount.POD_LEDGER_NAME, 
		dbo.RO_PendingOrdersDiscount.POD_RNP, dbo.RO_PendingOrdersDiscount.POD_RATE, dbo.RO_PendingOrdersDiscount.POD_QUANTITY, dbo.RO_PendingOrdersDiscount.POD_TOTALDISCOUNT, 
		dbo.RO_PCustomer.CustomerId, dbo.RO_PendingOrdersMaster.POM_SALESMAN_CODE
	INTO #TEMPVIEW
		FROM   dbo.RO_PendingOrdersMaster INNER JOIN
		dbo.RO_PendingOrdersDetails ON dbo.RO_PendingOrdersMaster.Id = dbo.RO_PendingOrdersDetails.POD_POM_ID  AND 
		dbo.RO_PendingOrdersMaster.POM_PAM_PARTY_CODE = dbo.RO_PendingOrdersDetails.POD_PAM_PARTY_CODE LEFT OUTER JOIN
		dbo.RO_PendingOrdersDiscount ON dbo.RO_PendingOrdersMaster.Id = dbo.RO_PendingOrdersDiscount.POD_POM_ID AND 
		dbo.RO_PendingOrdersMaster.POM_PAM_PARTY_CODE = dbo.RO_PendingOrdersDiscount.POD_PARTY_CODE INNER JOIN
		dbo.RO_PCustomer ON dbo.RO_PendingOrdersMaster.POM_PAM_PARTY_CODE = cast(dbo.RO_PCustomer.CustomerId as varchar)
		--WHERE RO_PendingOrdersMaster.POM_SALESMAN_CODE = @LoginIDNoColon 
		--AND RO_PendingOrdersMaster.DistributorID IN (SELECT DistributorId FROM RO_DistributorDivisionSalesman WHERE USERID  = @userID)
	where Cast(RO_PendingOrdersMaster.DistributorID as varchar)+':'+RO_PendingOrdersMaster.POM_SALESMAN_CODE = @LoginId


	If Exists (SELECT value FROM RO_Settings where [Key]='zyleminiparentID' and value like '%,'+cast(@userID as varchar)+',%')
	begin	
	set @IsParent=1
	print 'User is Parent'
	--select * into #tempSettings from RO_Settings
	end
	Else
	begin
	set @IsParent=0
	print 'User is Salesman'
	end

	--set @IsParent=1
	--set @areaID='ALL'
	--PCustomer,PDistributor,PItem,Target,ReportControlMaster,UOMMaster,CollectionType,Resources,Settings,OrderMaster,OrderDetails,ImageDetails,AssetVerificationPlacement,
	--ZyleminiNewParty,Discount,Collections,CollectionsDetails,OnlineParentArea,AssetTypeClassificationList,DistributorContacts,DistributorDataStatus,OutletAssetInformation,
	--UsersCustomers,UsersItems,PaymentReceipt,Sales,SalesYTD,Report,AdvancedReport

	If(@IsParent=1 and (isnull(@areaID,'')=''or @areaID='0'))
	Begin		
		print 'RO_UOMMaster'
		Select 'UOMMaster'
		select * from RO_UOMMaster 
		
		print 'RO_OnlineParentArea'
		Select 'OnlineParentArea'
		select AreaId,Area from RO_OnlineParentArea where userid=@userID

		print 'RO_Settings'
		Select 'Settings'
		select * into #tempSettings from RO_Settings
		update #tempSettings set Value='1' where [Key]='IsOnline'
		update #tempSettings set Value= replace(lower([Value]), '@userid',@LoginId) where [Key]='QDVP3URL'		
		update #tempSettings set Value= replace(lower([Value]), '@password',@Password) where [Key]='QDVP3URL'		

		IF EXISTS (SELECT 1 FROM RO_Settings WHERE Value = 'YES' AND [KEY] = 'Global Setting')
		BEGIN
			IF EXISTS (SELECT 1 FROM RO_Settings WHERE Value = 'YES' AND [KEY] = 'User Settings')
			BEGIN
				IF EXISTS(SELECT 1 FROM RO_BackdatedDispatchDate WHERE EntityToApply = 'USER' AND EntityId = @userID)
				BEGIN
					UPDATE #tempSettings SET VALUE = CAST((SELECT NoOfDays FROM RO_BackdatedDispatchDate WHERE EntityToApply = 'USER' AND EntityId = @userID) AS NVARCHAR(5))
						WHERE [KEY] = 'AllowBackdatedDispatchDays';
				END
				ELSE
				BEGIN
					UPDATE #tempSettings SET VALUE = CAST((SELECT S.VALUE FROM RO_SETTINGS S WHERE S.[KEY] = 'Global No. of Days') AS NVARCHAR(5))
						WHERE [KEY] = 'AllowBackdatedDispatchDays';
				END
			END
			ELSE
			BEGIN
				IF EXISTS(SELECT 1 FROM RO_Settings WHERE Value = 'YES' AND [KEY] = 'Distributor Settings')
				BEGIN
					IF EXISTS(SELECT 1 FROM RO_BackdatedDispatchDate WHERE EntityToApply = 'DISTRIBUTOR' AND EntityId = @userID)
					BEGIN
						UPDATE #tempSettings SET VALUE = CAST((SELECT NoOfDays FROM RO_BackdatedDispatchDate WHERE EntityToApply = 'DISTRIBUTOR' AND EntityId = @userID) AS NVARCHAR(5))
							WHERE [KEY] = 'AllowBackdatedDispatchDays';
					END
					ELSE
					BEGIN
						UPDATE #tempSettings SET VALUE = CAST((SELECT S.VALUE FROM RO_SETTINGS S WHERE S.[KEY] = 'Global No. of Days') AS NVARCHAR(5))
						WHERE [KEY] = 'AllowBackdatedDispatchDays';
					END
				END
				ELSE
				BEGIN
					UPDATE #tempSettings SET VALUE = CAST((SELECT S.VALUE FROM RO_SETTINGS S WHERE S.[KEY] = 'Global No. of Days') AS NVARCHAR(5))
						WHERE [KEY] = 'AllowBackdatedDispatchDays';
				END
			END
		END
		ELSE
		BEGIN
			UPDATE #tempSettings SET VALUE = CAST(0 AS NVARCHAR(5)) WHERE [KEY] = 'AllowBackdatedDispatchDays';
		END

		SELECT * FROM #tempSettings
		drop table #tempSettings 

		-- Removed SEQUENCE word, as these columns are not transfered from MIS to PITEM table
		print 'RO_ReportControlMaster'
		Select 'ReportControlMaster'
		select ControlName, ControlId, replace(ReferenceColumn,'SEQUENCE','') as ReferenceColumn from RO_ReportControlMaster
		
		print 'RO_Report'
		Select 'ReportControlMaster'
		select * into #tempReport from RO_Report 	
		update #tempReport set isActive='False'		
		select * from #tempReport
		drop table #tempReport			

		print 'TX_OrderMaster'
        Select 'OrderMaster'
        if(@valIsMultiUser='1' and exists(select mappedUsers from RO_UserMapping where userid= @userID))
        begin
                SELECT ID,MobileGenPrimaryKey,OrderTakenDatetime ,EntityType,EntityID,Latitude,Longitude,TotalAmount,Cast(FORMAT (FromDate, 'dd-MMM-yyyy ') AS Varchar(11)) AS FromDate,Cast(FORMAT (ToDate, 'dd-MMM-yyyy ') AS Varchar(11)) AS ToDate,CollectionType,ExecutiveID,Remarks,DefaultDistributorID,ExpectedDeliveryDate,DBInsertDateTime,ActivityStatus,ActivityStartTime,ActivityEndTime,DiscountAmount, A.MappedUsers as userid, OrderPriority
                FROM TX_OrderMaster, (select mappedUsers from RO_UserMapping where userid= @userID) as A
                where TX_OrderMaster.ExecutiveID = A.MappedUsers  and OrderTakenDatetime>= @FromDate and CollectionType in (8,9)
        end
        else
        begin
                SELECT ID,MobileGenPrimaryKey,OrderTakenDatetime ,EntityType,EntityID,Latitude,Longitude,TotalAmount,Cast(FORMAT (FromDate, 'dd-MMM-yyyy ') AS Varchar(11)) AS FromDate,Cast(FORMAT (ToDate, 'dd-MMM-yyyy ') AS Varchar(11)) AS ToDate,CollectionType,ExecutiveID,Remarks,DefaultDistributorID,ExpectedDeliveryDate,DBInsertDateTime,ActivityStatus,ActivityStartTime,ActivityEndTime,DiscountAmount,@userID as userid, OrderPriority
                FROM TX_OrderMaster where ExecutiveID= @userID and OrderTakenDatetime>= @FromDate and CollectionType in (8,9)
        end

		Select 'RO_MultiEntityUser'
		select * from RO_MultiEntityUser where distributorid in (select distributorid from RO_MultiEntityUser WHERE UserID in (select mappedUsers from RO_UserMapping where userid= @userID))
		and userid in( select mappedUsers from RO_UserMapping where userid= @userID)

		SELECT 'RO_BankCustomer';
		SELECT * FROM RO_BankCustomer WHERE UserId = @userID;
	End
	--Parent login start
    ELSE IF(@IsParent=1 and (isnull(@areaID,'') != '' or @areaID!='0'))
	Begin
		print 'Parent Login'
		declare @selectAll bit
		declare @IsNonRelevantData bit
		declare @isDigit bit
		set @selectAll=0
		
		set @isDigit=(SELECT CASE WHEN @areaID LIKE '%[0-9]%' THEN 1 ELSE 0 END)
		
		if(@isDigit=1)
		begin
			print 'AreaId is Digit'
		end
		else if(Upper(@areaID)='ALL')
		begin
			print 'Area selected All'
			set @selectAll=1
		end
		else
		begin
			return 
			set @selectAll=0
			--Exit From Procedure 
		end

		--Distributor Division 
		Declare @IsDistDivision bit
		If Exists (SELECT value FROM RO_Settings where [Key]='DistributorListFilter' and value='DISTDIVUSER')
		begin
			set @IsDistDivision=1
		end
		Else
		begin
			set @IsDistDivision=0
		end

		If Exists (SELECT value FROM RO_Settings where [Key]='ISNONRELEVANTDATAPITEM')
		begin
			set @IsNonRelevantData=1
		end
		Else
		begin
			set @IsNonRelevantData=0
		end

		if(@selectAll=1)
		begin
			print 'RO_PCust-omer'
			Select 'PCustomer'
			--select PC.* from RO_PCustomer PC where PC.party like '%NewParty%'

			if(@PriceListIdSettingColumn!='')
			begin
				if(upper(@PriceListIdSettingColumn)='DEFAULTDISTRIBUTORID' and @valISNONWINDSR!='TRUE')
				begin
					set @strSql = N'update RO_PCustomer set PriceListId = ' + SUBSTRING(@DistPrefix,0,patindex('%:%',@DistPrefix)) 
					print @strSql
					exec sp_executeSQL @strSQl
				end
				else
				begin
					set @strSql = N'update RO_PCustomer set PriceListId = ' + @PriceListIdSettingColumn 
					print @strSql
					exec sp_executeSQL @strSQl
				end
			end

			
			--Executive/MJP
			if(@valForMJP='Executive')
			Begin
				select distinct PC.CustomerId,PC.Party,PC.LicenceNo,PC.IsActive,PC.ERPCode,PC.RouteID,PC.RouteName,PC.AREAID,PC.AREA,PC.BRANCHID,PC.BRANCH,PC.CUSTOMERCLASSID,PC.CUSTOMERCLASS,PC.CUSTOMERCLASS2ID,PC.CUSTOMERCLASS2,PC.CUSTOMERGROUPID,PC.CUSTOMERGROUP,PC.CUSTOMERSEGMENTID,PC.CUSTOMERSEGMENT,PC.CUSTOMERSUBSEGMENTID,PC.CUSTOMERSUBSEGMENT,PC.LICENCETYPEID,PC.LICENCETYPE,PC.OCTROIZONEID,PC.OCTROIZONE,PC.OUTLETINFO,PC.DefaultDistributorId,PC.PriceListId,PC.Latitude,PC.Longitude,PC.WEEKOFF,PC.CreditLimit,PC.CreditDays,
				ISNULL(REPLACE(CONVERT(VARCHAR(11), PC.LicExpDate, 106), ' ', '-'),'null') AS LicExpDate,ISNULL(REPLACE(CONVERT(VARCHAR(11), PC.FssaiExpDate, 106), ' ', '-'),'null') AS FssaiExpDate,
				case when PC.Latitude is null and PC.Longitude is null then 'N' when PC.Latitude='' and PC.Longitude='' then 'N' when PC.Latitude ='0.000000' and PC.Longitude = '0.000000' then 'N' else 'Y' end as isLatLongSynced,@userID as userid from RO_PCustomer PC where PC.party not like '%NewParty%' and RouteID is not null and party is not null
			End
			if(@valForMJP='MJP')
			Begin
			print 'SentCustomerBasedOn: MJP'
			Select PC.CustomerId,PC.Party,PC.LicenceNo,PC.IsActive,PC.ERPCode,PC.RouteID,PC.RouteName,PC.AREAID,PC.AREA,PC.BRANCHID,PC.BRANCH,PC.CUSTOMERCLASSID,PC.CUSTOMERCLASS,PC.CUSTOMERCLASS2ID,PC.CUSTOMERCLASS2,PC.CUSTOMERGROUPID,PC.CUSTOMERGROUP,PC.CUSTOMERSEGMENTID,PC.CUSTOMERSEGMENT,PC.CUSTOMERSUBSEGMENTID,PC.CUSTOMERSUBSEGMENT,PC.LICENCETYPEID,PC.LICENCETYPE,PC.OCTROIZONEID,PC.OCTROIZONE,PC.OUTLETINFO,PC.DefaultDistributorId,PC.PriceListId,PC.Latitude,PC.Longitude,PC.WEEKOFF,PC.CreditLimit,PC.CreditDays,
			ISNULL(REPLACE(CONVERT(VARCHAR(11), PC.LicExpDate, 106), ' ', '-'),'null') AS LicExpDate,ISNULL(REPLACE(CONVERT(VARCHAR(11), PC.FssaiExpDate, 106), ' ', '-'),'null') AS FssaiExpDate,
			case when PC.Latitude is null and PC.Longitude is null then 'N' when PC.Latitude='' and PC.Longitude='' then 'N' when PC.Latitude ='0.000000' and PC.Longitude = '0.000000' then 'N' else 'Y' end as isLatLongSynced,@userID as userid from RO_PCustomer PC where PC.CustomerId in(Select distinct mm.ExecutiveId from  ro_mjpmaster mm inner Join ro_mjpmasterdetails md on mm.ID=md.MJPMasterID where md.PlannedDate=Cast(GETDATE() as date))  and PC.RouteID is not null and PC.party is not null
			End

			

		end
		else
		begin			
			print 'RO_PCustomer'
			Select 'PCustomer'
			--select PC.* from RO_UsersCustomers UC, RO_PUser PU, RO_PCustomer PC, RO_AreaParentList A where UC.UserID = PU.UserID and UC.customerid = PC.customerid and PC.AreaID = A.AreaID and A.areaparentid like '%,'+cast(@areaID as varchar)+',%' and PU.ParentIdList like '%,'+cast(@userID as varchar)+',%'				
			
			if(@PriceListIdSettingColumn!='')
			begin
				if(upper(@PriceListIdSettingColumn)='DEFAULTDISTRIBUTORID' and @valISNONWINDSR!='TRUE')
				begin
					set @strSql = N'update RO_PCustomer set PriceListId = ' + SUBSTRING(@DistPrefix,0,patindex('%:%',@DistPrefix)) 
					print @strSql
					exec sp_executeSQL @strSQl
				end
				else
				begin
					set @strSql = N'update RO_PCustomer set PriceListId = ' + @PriceListIdSettingColumn 
					print @strSql
					exec sp_executeSQL @strSQl
				end
			end

			
			
			--Executive/MJP
			if(@valForMJP='Executive')
			Begin
			select distinct PC.CustomerId,PC.Party,PC.LicenceNo,PC.IsActive,PC.ERPCode,PC.RouteID,PC.RouteName,PC.AREAID,PC.AREA,PC.BRANCHID,PC.BRANCH,PC.CUSTOMERCLASSID,PC.CUSTOMERCLASS,PC.CUSTOMERCLASS2ID,PC.CUSTOMERCLASS2,PC.CUSTOMERGROUPID,PC.CUSTOMERGROUP,PC.CUSTOMERSEGMENTID,PC.CUSTOMERSEGMENT,PC.CUSTOMERSUBSEGMENTID,PC.CUSTOMERSUBSEGMENT,PC.LICENCETYPEID,PC.LICENCETYPE,PC.OCTROIZONEID,PC.OCTROIZONE,PC.OUTLETINFO,PC.DefaultDistributorId,PC.PriceListId,PC.Latitude,PC.Longitude,PC.WEEKOFF,PC.CreditLimit,PC.CreditDays,
			ISNULL(REPLACE(CONVERT(VARCHAR(11), PC.LicExpDate, 106), ' ', '-'),'null') AS LicExpDate,ISNULL(REPLACE(CONVERT(VARCHAR(11), PC.FssaiExpDate, 106), ' ', '-'),'null') AS FssaiExpDate,
			case when PC.Latitude is null and PC.Longitude is null then 'N' when PC.Latitude='' and PC.Longitude='' then 'N' when PC.Latitude ='0.000000' and PC.Longitude = '0.000000' then 'N' else 'Y' end as isLatLongSynced,@userID as userid from RO_UsersCustomers UC, RO_PUser PU, RO_PCustomer PC, RO_AreaParentList A where UC.UserID = PU.UserID and UC.customerid = PC.customerid and PC.AreaID = A.AreaID and A.areaparentid like '%,'+cast(@areaID as varchar)+',%' and PU.ParentIdList like '%,'+cast(@userID as varchar)+',%'	 and PC.RouteID is not null and PC.party is not null	
			End
			if(@valForMJP='MJP')
			Begin
			Select PC.CustomerId,PC.Party,PC.LicenceNo,PC.IsActive,PC.ERPCode,PC.RouteID,PC.RouteName,PC.AREAID,PC.AREA,PC.BRANCHID,PC.BRANCH,PC.CUSTOMERCLASSID,PC.CUSTOMERCLASS,PC.CUSTOMERCLASS2ID,PC.CUSTOMERCLASS2,PC.CUSTOMERGROUPID,PC.CUSTOMERGROUP,PC.CUSTOMERSEGMENTID,PC.CUSTOMERSEGMENT,PC.CUSTOMERSUBSEGMENTID,PC.CUSTOMERSUBSEGMENT,PC.LICENCETYPEID,PC.LICENCETYPE,PC.OCTROIZONEID,PC.OCTROIZONE,PC.OUTLETINFO,PC.DefaultDistributorId,PC.PriceListId,PC.Latitude,PC.Longitude,PC.WEEKOFF,PC.CreditLimit,PC.CreditDays,
			ISNULL(REPLACE(CONVERT(VARCHAR(11), PC.LicExpDate, 106), ' ', '-'),'null') AS LicExpDate,ISNULL(REPLACE(CONVERT(VARCHAR(11), PC.FssaiExpDate, 106), ' ', '-'),'null') AS FssaiExpDate,
			case when PC.Latitude is null and PC.Longitude is null then 'N' when PC.Latitude='' and PC.Longitude='' then 'N' when PC.Latitude ='0.000000' and PC.Longitude = '0.000000' then 'N' else 'Y' end as isLatLongSynced,@userID as userid from RO_PCustomer PC where PC.CustomerId in(Select distinct mm.ExecutiveId from  ro_mjpmaster mm inner Join ro_mjpmasterdetails md on mm.ID=md.MJPMasterID where md.PlannedDate=Cast(GETDATE() as date))  and PC.RouteID is not null and PC.party is not null
			End
			
			
		end

		if(@IsDistDivision=1)
		begin
			--RO_PDistributor
			print 'RO_PDistributor 11'
			Select 'PDistributor'
			SELECT DISTINCT pd.*,@userID as userid  FROM RO_PDistributor AS pd INNER JOIN RO_DistributorDivisionSalesman AS div ON pd.DistributorId=Cast(div.DistributorId as int)   INNER JOIN RO_PUser ON Cast(div.UserId as int)=RO_PUser.UserID  WHERE RO_PUser.ParentIdList like '%,'+cast(@userID as varchar)+',%'
		end
		else
		begin
			--RO_PDistributor
			print 'RO_PDistributor 22'
			Select 'PDistributor'
			select distinct RO_PDistributor.*,@userID as userid from  RO_PUser,RO_UsersCustomers,RO_UsersItems,RO_Sales,RO_PDistributor where RO_UsersCustomers.UserID=RO_PUser.UserID and RO_Sales.CustomerID=RO_UsersCustomers.CustomerID and RO_Sales.DistributorID=RO_PDistributor.DistributorId and RO_Sales.ItemID=RO_UsersItems.ItemID and RO_PUser.ParentIdList like '%,'+cast(@userID as varchar)+',%' union select distinct RO_PDistributor.*,@userID as userid from  RO_PUser,RO_UsersCustomers,RO_UsersItems,RO_SalesYTD,RO_PDistributor where RO_UsersCustomers.UserID=RO_PUser.UserID and RO_SalesYTD.CustomerID=RO_UsersCustomers.CustomerID and RO_SalesYTD.DistributorID=RO_PDistributor.DistributorId and RO_SalesYTD.ItemID=RO_UsersItems.ItemID and RO_PUser.ParentIdList like '%,'+cast(@userID as varchar)+',%'
		end	
		
		if(@IsNonRelevantData=1)
		begin
			--RO_PItem
			print 'RO_PItem 1'
			Select 'PItem'
			SELECT [ItemId],[Item],[ItemAlias],[ITEMSEQUENCE],[BPC],[BPC1],[BPC2],[ErpCode],[Volume],[ReportingQuantity],[MRP],[PTR],[BRANDID],[BRAND]
			  ,[DIVISIONID],[DIVISION],[FLAVOURID],[FLAVOUR],[ITEMCLASSID],[ITEMCLASS],[ITEMGROUPID],[ITEMGROUP],[ITEMSIZEID],[ITEMSIZE],[ITEMSUBGROUPID]
			  ,[ITEMSUBGROUP],[ITEMTYPEID],[ITEMTYPE],[ISFOCUS],[SchemeID],[ScanCode],@userID as userid, GSTRate FROM RO_PItem
		end
		else
		begin
			--RO_PItem
			print 'RO_PItem 2'
			Select 'PItem'
			Select Distinct PIT.[ItemId],PIT.[Item],PIT.[ItemAlias],PIT.ITEMSEQUENCE,PIT.[BPC],PIT.[BPC1],PIT.[BPC2],PIT.[ErpCode],PIT.[Volume],PIT.[ReportingQuantity],PIT.[MRP],PIT.[PTR],PIT.[BRANDID],PIT.[BRAND]
			  ,PIT.[DIVISIONID],PIT.[DIVISION],PIT.[FLAVOURID],PIT.[FLAVOUR],PIT.[ITEMCLASSID],PIT.[ITEMCLASS],PIT.[ITEMGROUPID],PIT.[ITEMGROUP],PIT.[ITEMSIZEID],PIT.[ITEMSIZE],PIT.[ITEMSUBGROUPID]
			  ,PIT.[ITEMSUBGROUP],PIT.[ITEMTYPEID],PIT.[ITEMTYPE],PIT.[ISFOCUS],PIT.[SchemeID],PIT.[ScanCode],@userID as userid From RO_UsersItems UI, RO_PUser PU,RO_PItem PIT Where UI.UserID = PU.UserID and UI.ItemID = PIT.ItemId and PU.ParentIdList like '%,'+cast(@userID as varchar)+',%'
		end
				
		--print 'RO_Target'
		--Select 'Target'
		--select * from RO_Target where UserID=@userID

		-- Removed SEQUENCE word, as these columns are not transfered from MIS to PITEM table
		print 'RO_ReportControlMaster'
		Select 'ReportControlMaster'
		select ControlName, ControlId, replace(ReferenceColumn,'SEQUENCE','') as ReferenceColumn from RO_ReportControlMaster
		
		print 'RO_UOMMaster'
		Select 'UOMMaster'
		select * from RO_UOMMaster

		print 'RO_CollectionType'
		Select 'CollectionType'
		SELECT * FROM RO_CollectionType

		print 'RO_Resources'
		Select 'Resources'
		select * from RO_Resources

		print 'RO_Settings'
		Select 'Settings'
		SELECT * into #tempSettingsparent FROM RO_Settings
		update #tempSettingsparent set Value='1' where [Key]='IsOnline'
		update #tempSettingsparent set Value= replace(lower([Value]), '@userid',@LoginId) where [Key]='QDVP3URL'		
		update #tempSettingsparent set Value= replace(lower([Value]), '@password',@Password) where [Key]='QDVP3URL'	

		IF EXISTS (SELECT 1 FROM RO_Settings WHERE Value = 'YES' AND [KEY] = 'Global Setting')
		BEGIN
			IF EXISTS (SELECT 1 FROM RO_Settings WHERE Value = 'YES' AND [KEY] = 'User Settings')
			BEGIN
				IF EXISTS(SELECT 1 FROM RO_BackdatedDispatchDate WHERE EntityToApply = 'USER' AND EntityId = @userID)
				BEGIN
					UPDATE #tempSettingsparent SET VALUE = CAST((SELECT NoOfDays FROM RO_BackdatedDispatchDate WHERE EntityToApply = 'USER' AND EntityId = @userID) AS NVARCHAR(5))
						WHERE [KEY] = 'AllowBackdatedDispatchDays';
				END
				ELSE
				BEGIN
					UPDATE #tempSettingsparent SET VALUE = CAST((SELECT S.VALUE FROM RO_SETTINGS S WHERE S.[KEY] = 'Global No. of Days') AS NVARCHAR(5))
						WHERE [KEY] = 'AllowBackdatedDispatchDays';
				END
			END
			ELSE
			BEGIN
				IF EXISTS(SELECT 1 FROM RO_Settings WHERE Value = 'YES' AND [KEY] = 'Distributor Settings')
				BEGIN
					IF EXISTS(SELECT 1 FROM RO_BackdatedDispatchDate WHERE EntityToApply = 'DISTRIBUTOR' AND EntityId = @userID)
					BEGIN
						UPDATE #tempSettingsparent SET VALUE = CAST((SELECT NoOfDays FROM RO_BackdatedDispatchDate WHERE EntityToApply = 'DISTRIBUTOR' AND EntityId = @userID) AS NVARCHAR(5))
							WHERE [KEY] = 'AllowBackdatedDispatchDays';
					END
					ELSE
					BEGIN
						UPDATE #tempSettingsparent SET VALUE = CAST((SELECT S.VALUE FROM RO_SETTINGS S WHERE S.[KEY] = 'Global No. of Days') AS NVARCHAR(5))
						WHERE [KEY] = 'AllowBackdatedDispatchDays';
					END
				END
				ELSE
				BEGIN
					UPDATE #tempSettingsparent SET VALUE = CAST((SELECT S.VALUE FROM RO_SETTINGS S WHERE S.[KEY] = 'Global No. of Days') AS NVARCHAR(5))
						WHERE [KEY] = 'AllowBackdatedDispatchDays';
				END
			END
		END
		ELSE
		BEGIN
			UPDATE #tempSettingsparent SET VALUE = CAST(0 AS NVARCHAR(5)) WHERE [KEY] = 'AllowBackdatedDispatchDays';
		END

		SELECT * FROM #tempSettingsparent
		drop table #tempSettingsparent

		print 'TX_OrderMaster'
		Select 'OrderMaster'
		SELECT ID,MobileGenPrimaryKey,OrderTakenDatetime ,EntityType,EntityID,Latitude,Longitude,TotalAmount,Cast(FORMAT (FromDate, 'dd-MMM-yyyy ') AS Varchar(11)) AS FromDate,Cast(FORMAT (ToDate, 'dd-MMM-yyyy ') AS Varchar(11)) AS ToDate,CollectionType,ExecutiveID,Remarks,DefaultDistributorID,ExpectedDeliveryDate,DBInsertDateTime,ActivityStatus,ActivityStartTime,ActivityEndTime,DiscountAmount,@userID as userid, OrderPriority
	    FROM TX_OrderMaster where ExecutiveID= @userID and OrderTakenDatetime>= @FromDate 
		
		print 'TX_OrderDetails'
		Select 'OrderDetails'

		--SELECT * FROM TX_OrderDetails where OrderId in(SELECT Id FROM TX_OrderMaster where ExecutiveID= @userID)
		SELECT OD.ID, OM.MobileGenPrimaryKey as OrderID, OD.ItemID, OD.LargeUnit, OD.SmallUnit, OD.Rate, OD.Amount, FreeLargeUnit, FreeSmallUnit ,@userID as userid, GSTRate, GSTTotal, GrossAmount
		FROM TX_OrderMaster OM, TX_OrderDetails OD where OM.ID = OD.OrderID and OrderId in(SELECT Id FROM TX_OrderMaster where ExecutiveID= @userID)
		and OM.OrderTakenDatetime>= @FromDate 

		print 'TX_ImagesDetails'
		Select 'ImagesDetails'
		select *,@userID as userid from TX_ImagesDetails where OrderId in(SELECT Id FROM TX_OrderMaster where ExecutiveID= @userID and OrderTakenDatetime>= @FromDate )

		print 'TX_AssetPlacementVerification'
		Select 'AssetPlacementVerification'
		select *,@userID as userid from TX_AssetPlacementVerification where OrderId in(SELECT Id FROM TX_OrderMaster where ExecutiveID= @userID and OrderTakenDatetime>= @FromDate )

		---------------------------- zylemininewparty code commented ----------------------------
		--if(@newpartyCount>=0)
		--begin
		--	--zylemininewparty				
		--	print 'TX_Zylemininewparty'
		--	Select 'Zylemininewparty'
		--	select distinct newparty.MobileGenPrimaryKey as id,newparty.BeatId,newparty.OutletName,newparty.ContactNumber,newparty.OwnersName,        
		--	newparty.OutletAddress,newparty.Remark,newparty.Latitude, 
		--	newparty.Longitude,newparty.AddedOnDate,@userID as userid from TX_Zylemininewparty  
		--	newparty inner join TX_OrderMaster      
		--	on TX_OrderMaster.entityid=newparty.MobileGenPrimaryKey  and TX_OrderMaster.ExecutiveID= ''+@userID+'' and 
		--	cast (TX_OrderMaster.OrderTakenDatetime as date) in  (select distinct top (select cast (value as int) from RO_Settings 
		--	where [key] ='KEEPLASTNDAYSORDERBOOK')    cast (OrderTakenDatetime as date) as lastorderdate  from TX_OrderMaster      
		--	where ExecutiveID=''+@userID+'' order by cast(OrderTakenDatetime as date) desc)					
		--end
		--else
		--begin
		--	--zylemininewparty
		--	Select 'Zylemininewparty'
		--	select *,@userID as userid from TX_Zylemininewparty where BeatId=00000000
		--	print 'zylemininewparty with empty data'
		--end
				
		print 'TX_Discount'
		Select 'Discount'
		select *,@userID as userid from TX_Discount
				
		print 'TX_Collections'
		Select 'Collections'
		select *,@userID as userid from TX_Collections

		print 'TX_CollectionsDetails'
		Select 'CollectionsDetails'
		select *,@userID as userid from TX_CollectionsDetails

		print 'RO_OnlineParentArea'
		Select 'OnlineParentArea'
		select AreaId,Area,@userID as userid from RO_OnlineParentArea where userid=@userID

		print 'RO_AssetTypeClassificationList'
		Select 'AssetTypeClassificationList'
		select *,@userID as userid from RO_AssetTypeClassificationList

		if(@IsDistDivision=1)
		begin
			--distributorcontacts
			print 'RO_DistributorContacts'
			Select 'DistributorContacts'
			SELECT DISTINCT dc.*,@userID as userid FROM RO_DistributorContacts AS dc INNER JOIN RO_DistributorDivisionSalesman AS div ON dc.DistributorId=Cast(div.DistributorId as int) INNER JOIN RO_PUser ON Cast(div.UserId as int)=RO_PUser.UserID WHERE RO_PUser.ParentIdList like '%,'+cast(@userID as varchar)+',%'
			
			--RO_DistributorDataStatus
			print 'RO_DistributorDataStatus'
			Select 'DistributorDataStatus'
			SELECT DISTINCT dds.*,@userID as userid FROM RO_DistributorDataStatus AS dds INNER JOIN RO_DistributorDivisionSalesman AS div ON dds.DistributorId=Cast(div.DistributorId as int) INNER JOIN RO_PUser ON Cast(div.UserId as int)=RO_PUser.UserID WHERE RO_PUser.ParentIdList like '%,'+cast(@userID as varchar)+',%'
			end
		else
		begin			
			--distributorcontacts
			print 'RO_DistributorContacts'
			Select 'DistributorContacts'
			select RO_DistributorContacts.*,@userID as userid from RO_DistributorContacts, RO_PDistributor , RO_AreaParentList  where RO_DistributorContacts.DistributorID=RO_PDistributor.DistributorId and RO_PDistributor.areaid=RO_AreaParentList.Areaid and RO_AreaParentList.AreaParentId like '%,'+cast(@areaID as varchar)+',%'
			
			--RO_DistributorDataStatus		
			print 'RO_DistributorDataStatus'
			Select 'DistributorDataStatus'
			select distinct RO_DistributorDataStatus.*,@userID as userid from  RO_PUser,RO_UsersCustomers,RO_UsersItems,RO_sales,RO_DistributorDataStatus where 
			RO_UsersCustomers.UserID=RO_PUser.UserID and RO_Sales.CustomerID=RO_UsersCustomers.CustomerID and RO_sales.DistributorID=RO_DistributorDataStatus.DistributorId and RO_sales.ItemID=RO_usersitems.ItemID 
			and RO_PUser.ParentIdList like '%,'+cast(@userID as varchar)+',%' union select distinct RO_DistributorDataStatus.*,@userID as userid from  RO_puser,RO_UsersCustomers,RO_usersitems,RO_SalesYTD,RO_DistributorDataStatus 
			where RO_UsersCustomers.UserID=RO_PUser.UserID and RO_SalesYTD.CustomerID=RO_UsersCustomers.CustomerID and RO_SalesYTD.DistributorID=RO_DistributorDataStatus.DistributorId and RO_SalesYTD.ItemID=RO_usersitems.ItemID and RO_PUser.ParentIdList like '%,'+cast(@userID as varchar)+',%'
		end

		print 'RO_OutletAssetInformation'
		Select 'OutletAssetInformation'
		select Distinct  RO_OutletAssetInformation.*,@userID as userid from RO_OutletAssetInformation,RO_UsersCustomers where RO_OutletAssetInformation.CUSTOMERID=RO_UsersCustomers.CUSTOMERID and  RO_UsersCustomers.UserID=@userID
		
		--print 'RO_UsersCustomers'
		--Select 'UsersCustomers'
		--select * from RO_UsersCustomers where UserID=@userID

		--print 'RO_UsersItems 1'
		--Select 'UsersItems'
		--select * from RO_UsersItems where UserID=@userID

		print 'TX_PaymentReceipt'
		Select 'PaymentReceipt'
		select *,@userID as userid from TX_PaymentReceipt  where ExecutiveID=@userID

		--if(@selectAll=1)
		--begin
		--	print 'RO_Sales'
		--	Select 'Sales'
		--	SELECT *,@userID as userid FROM RO_Sales WHERE UserId like '%,'+cast(@userID as varchar)+',%'

		--	print 'RO_SalesYTD'
		--	Select 'SalesYTD'
		--	select *,@userID as userid from RO_SalesYTD WHERE UserID=@userID					
		--end
		--else
		--begin
		--	print 'RO_Sales' 
		--	Select 'Sales'
		--	SELECT *,@userID as userid FROM RO_Sales WHERE 
		--    UserId in (select ','+cast(userid as varchar)+',' from RO_PUser where ParentIdList like '%,'+cast(@userID as varchar)+',%')
		--    and customerid in (select customerid from RO_PCustomer where areaid  in (select areaid from RO_AreaParentList where AreaParentid like '%,'+cast(@areaID as varchar)+',%'))
		--	union
		--	SELECT top 1 UserID, DistributorID,CustomerID, month(getdate()), itemid, 0 , 1,@userID as userid FROM RO_Sales WHERE 
		--    UserId in (select ','+cast(userid as varchar)+',' from RO_PUser where ParentIdList like '%,'+cast(@userID as varchar)+',%')
		--    and customerid in (select customerid from RO_PCustomer where areaid  in (select areaid from RO_AreaParentList where AreaParentid like '%,'+cast(@areaID as varchar)+',%'))

			
		--	print 'RO_SalesYTD'
		--	Select 'SalesYTD'
		--	select *,@userID as userid from RO_SalesYTD WHERE
		--    UserId in (select UserID from RO_PUser where ParentIdList like '%,'+cast(@userID as varchar)+',%')
		--    and customerid in (select customerid from RO_PCustomer where areaid  in (select areaid from RO_AreaParentList where AreaParentid like '%,'+cast(@areaID as varchar)+',%'))

		--end		

		-- Removed SEQUENCE word, as these columns are not transfered from MIS to PITEM table
		print 'RO_Report'
		Select 'Report'
		select MenuKey, replace([Classification],'SEQUENCE','') as [Classification] ,replace(ComboClassification,'SEQUENCE','') as ComboClassification ,LabelName,IsActive from RO_Report

		print 'RO_AdvanceReport'
		Select 'AdvanceReport'
		select * from RO_AdvanceReport


			--MJPMaster
		print 'RO_MJPMaster'
		Select 'MJPMaster'
		select Distinct ID,ExecutiveId,Convert(varchar(11),MonthYear,113) AS MonthYear,@userID as userid from RO_MJPMaster where ExecutiveId=@userID

		--MJPMasterDetails, Added contition 1=2, for not returning records from API, as activity module does not need these.
		print 'RO_MJPMasterDetails'
		Select 'MJPMasterDetails'
		select Distinct Id,MJPMasterID,Convert(varchar(11),PlannedDate,113) AS PlannedDate,EntityType,EntityTypeID, ActivityTitle, IsActivityDone ,@userID as userid from RO_MJPMasterDetails 
		where MJPMasterID in(select Id from RO_MJPMaster where ExecutiveId=@userID) and PlannedDate >=getdate() and 1=2 order by PlannedDate
		
		--SubGroupMaster
		print 'RO_SubGroupMaster'
		Select 'SubGroupMaster'
		select distinct cast(Id as int) as Id,GroupId,Name from RO_SubGroupMaster where groupid in ('FIELDACTIVITY','MJPCANCELREMARKS')

		--Outstanding Details
		print 'RO_OutstandingDetails'
		Select 'OutstandingDetails'
		--select * from RO_OutstandingDetails
		-- Commented by Shweta on 2nd Dec2021, for getting calculated pending OSAmount
		--select o.*,p.Party as PartyName,p.AREA as Location from RO_OutstandingDetails o inner join RO_PCustomer p on o.PartyCode=p.CustomerId and o.PartyCode <> 'UNKNOWN'
		--where o.SalesmanCode=@SalesmanCode

		select o.[ID],o.[PartyCode],o.[Document],REPLACE(CONVERT(char(10), CONVERT(DATETIME,o.[Date],103),126),'-','/') as [Date],o.[DisPactchDate],o.[Amount]
		,((cast(o.Amount as numeric(18,2)) - (cast(o.Amount as numeric(18,2)) -cast(o.OSAmount as numeric(18,2)))) -isnull(o.ReceivedAmt,0)) as [OSAmount]
		,o.[OSDocument],o.[InvoiceDate],o.[DiscountAc],o.[PdcAmt],o.[PdcDate],o.[CDStatus],o.[Narration],o.[TpNo],o.[LedgerCode],o.[CDPercentage],o.[ChqNo]
		,o.[PayslipNo],o.[ReceivedAmt],DATEDIFF(DAY,o.InvoiceDate, getdate()) as [Lag],o.[UnAllocated],o.[NetOsAmt],o.[VhrNo],o.[SalemanName] ,o.[SalesmanCode]
		,o.[DistributorName], p.Party as PartyName,p.AREA as Location,@userID as userid
		from RO_OutstandingDetails o  
		--left join VW_TotalCollectionAmount tca on o.Document = tca.InvoiceCode 
		left join RO_PCustomer p on o.PartyCode=p.CustomerId
		inner join RO_AreaParentList A on  P.AreaID = A.AreaID and A.areaparentid like '%,'+cast(@areaID as varchar)+',%'
		where o.PartyCode <> 'UNKNOWN' ---and o.SalesmanCode=@SalesmanCode
		order by [Document]

		If (@valISNONWINDSR='TRUE')
		begin
		----Party Bank
				print 'RO_PartyBank'
				Select 'PartyBank'
				select *,@userID as userid from RO_PartyBank where salesmancode = @loginid;

				----Pending Order Details
				print 'RO_PendingOrderDetails'
				Select 'PendingOrderDetails'
				select *,@userID as userid from RO_PendingOrderDetails

				----Cheque Return Details
				print 'RO_ChequeReturnDetails'
				Select 'ChequeReturnDetails'
				select [ID]
      ,[PartyCode]
      ,[ReceiptNo]
      ,cast([ReceiptDate] as varchar(10)) as [ReceiptDate]
      ,[ChqNo]
      ,cast([ChqDate] as varchar(10)) as [ChqDate]
      ,[ChqAmt]
      ,[BankName]
      ,[Branch]
      ,cast([BounceDate] as varchar(10)) as [BounceDate],@userID as userid from RO_ChequeReturnDetails

		
				----Discount Master
				print 'RO_DiscountMaster'
				Select 'DiscountMaster'
				select *,@userID as userid from RO_DiscountMaster

				----Scheme Master
				print 'RO_SchemeMaster'
				Select 'SchemeMaster'
				select *,@userID as userid from RO_SchemeMaster 

				----View of Pending Order Master, Pending Order Details, -Pending Order Discount
				print 'VW_PendingOrders'
				Select 'VW_PendingOrders'
				select *,@userID as userid from #TEMPVIEW where POM_SALESMAN_CODE=@LoginIdNoColon OPTION (RECOMPILE);

			
		end
		else
		begin
				print 'RO_PartyBank'
				Select 'PartyBank'
				select *,@userID as userid from RO_PartyBank where PartyCode like  ''+@DistPrefix+'%' and salesmancode = @loginid;

				----Pending Order Details
				print 'RO_PendingOrderDetails'
				Select 'PendingOrderDetails'
				select *,@userID as userid from RO_PendingOrderDetails where SalesmanCode like  ''+@DistPrefix+'%'

				----Cheque Return Details
				print 'RO_ChequeReturnDetails'
				Select 'ChequeReturnDetails'
				select [ID]
      ,[PartyCode]
      ,[ReceiptNo]
      ,cast([ReceiptDate] as varchar(10)) as [ReceiptDate]
      ,[ChqNo]
      ,cast([ChqDate] as varchar(10)) as [ChqDate]
      ,[ChqAmt]
      ,[BankName]
      ,[Branch]
      ,cast([BounceDate] as varchar(10)) as [BounceDate],@userID as userid from RO_ChequeReturnDetails where PartyCode like  ''+@DistPrefix+'%'
		
				----Discount Master
				print 'RO_DiscountMaster'
				Select 'DiscountMaster'
				select *,@userID as userid from RO_DiscountMaster where Code like  ''+@DistPrefix+'%'

				----Scheme Master
				print 'RO_SchemeMaster'
				Select 'SchemeMaster'
				select *,@userID as userid from RO_SchemeMaster where Code like  ''+@DistPrefix+'%'

					----View of Pending Order Master, Pending Order Details, -Pending Order Discount
				print 'VW_PendingOrders'
				Select 'VW_PendingOrders'
				select *,@userID as userid from #TEMPVIEW --where POM_SALESMAN_CODE=@LoginIdNoColon OPTION (RECOMPILE);

			
		end

		Select 'RO_MultiEntityUser'
		select * from RO_MultiEntityUser where distributorid in (select distributorid from RO_MultiEntityUser WHERE UserID in (select mappedUsers from RO_UserMapping where userid= @userID))
		and userid in( select mappedUsers from RO_UserMapping where userid= @userID)

		print 'TX_PaymentReceipt_Log'
		Select 'PaymentReceipt_Log'
		select * from TX_PaymentReceipt_Log  where ExecutiveID= @userID and ReceivedDateTime>= @FromDate

		print 'TX_Collections_Log'
		Select 'Collections_Log'
		select * from TX_Collections_Log   where ReceiptID in (select ID from TX_PaymentReceipt_Log  where ExecutiveID= @userID and ReceivedDateTime>= @FromDate)

		print 'TX_CollectionsDetails_Log'
		Select 'CollectionsDetails_Log'
		select * from TX_CollectionsDetails_Log  where CollectionID in (select id from TX_Collections_Log   where ReceiptID in (select ID from TX_PaymentReceipt_Log  where ExecutiveID= @userID and ReceivedDateTime>= @FromDate))

		print 'TX_ZyleminiNewParty'
		Select 'ZyleminiNewParty'
		select * from TX_ZyleminiNewParty where UserId = @userID --and isnull(TargetId, '') = ''

		print 'PJPMaster'
		Select 'PJPMaster'
		If Exists (select entitytypeid from RO_MJPMasterDetails where MJPMasterID = (select top 1 id from RO_MJPMaster where ExecutiveID=@userID order by MonthYear desc)
					and PlannedDate=CONVERT(char(10), GetDate(),126))
		begin

			insert into #TempRoute select distinct RouteID, RouteName from RO_PCustomer where customerid in 
			(select entitytypeid from RO_MJPMasterDetails where MJPMasterID = (select top 1 id from RO_MJPMaster where ExecutiveID=@userID order by MonthYear desc)
			and PlannedDate=CONVERT(char(10), GetDate(),126))	order by RouteName		
			insert into #TempRoute select distinct RouteID, RouteName from RO_PCustomer where customerid not in 
			(select entitytypeid from RO_MJPMasterDetails where MJPMasterID = (select top 1 id from RO_MJPMaster where ExecutiveID=@userID order by MonthYear desc)
			and PlannedDate=CONVERT(char(10), GetDate(),126)) order by RouteName
						
			select RouteID, RouteName from #TempRoute order by SrNo
		end
		else
		begin
			select distinct RouteID, RouteName,@userID as userid from RO_UsersCustomers UC, RO_PUser PU, RO_PCustomer PC, RO_AreaParentList A where UC.UserID = PU.UserID and UC.customerid = PC.customerid and PC.AreaID = A.AreaID and A.areaparentid like '%,'+cast(@areaID as varchar)+',%' and PU.ParentIdList like '%,'+cast(@userID as varchar)+',%'				
		end
				
		
		if (@DistPrefix!='')
		begin
			print 'RO_PriceListClassification ' + SUBSTRING(@DistPrefix,0,patindex('%:%',@DistPrefix))
			Select 'PriceListClassification'
			select PRC.* from RO_PriceListClassification PRC	where distributorid = SUBSTRING(@DistPrefix,0,patindex('%:%',@DistPrefix))
					
		end
		else
		begin 
			print 'RO_PriceListClassification'
			Select 'PriceListClassification'
			select PRC.* from RO_PriceListClassification PRC	
		end	

		SELECT 'RO_BankCustomer';
		SELECT * FROM RO_BankCustomer WHERE UserId = @userID;
		
		--print 'TX_ZyleminiUsageLog'
		--Select 'uses_log'
		--select [MenuKeys],[UsageDateTime]  from TX_ZyleminiUsageLog  where UserID=@userID

	End 
	--Parent login End
	---Salesman Login
	Else
	Begin
		print 'Salesman Login'

		print 'RO_PCustomer'
		Select 'PCustomer'

		if(@PriceListIdSettingColumn!='')
		begin
			if(upper(@PriceListIdSettingColumn)='DEFAULTDISTRIBUTORID' and @valISNONWINDSR!='TRUE')
			begin
				set @strSql = N'update RO_PCustomer set PriceListId = ' + SUBSTRING(@DistPrefix,0,patindex('%:%',@DistPrefix)) 
				print @strSql
				exec sp_executeSQL @strSQl
			end
			else
			begin
				set @strSql = N'update RO_PCustomer set PriceListId = ' + @PriceListIdSettingColumn 
				print @strSql
				exec sp_executeSQL @strSQl
			end
		end

		--SELECT * FROM RO_PCustomer WHERE CustomerId IN (SELECT CustomerId from RO_UsersCustomers WHERE UserID =@userID)
		select @areaID = AreaID from RO_PUser where userid=@userID
		if(@valForMJP='Executive')
			Begin
				if(@valIsMultiUser='1' and exists(select mappedUsers from RO_UserMapping where userid= @userID))
				begin
					print 'multi'
					SELECT RO_PCustomer.CustomerId,RO_PCustomer.Party,RO_PCustomer.LicenceNo,RO_PCustomer.IsActive,RO_PCustomer.ERPCode,RO_PCustomer.RouteID,RO_PCustomer.RouteName,RO_PCustomer.AREAID,RO_PCustomer.AREA,RO_PCustomer.BRANCHID,RO_PCustomer.BRANCH,RO_PCustomer.CUSTOMERCLASSID,RO_PCustomer.CUSTOMERCLASS,RO_PCustomer.CUSTOMERCLASS2ID,RO_PCustomer.CUSTOMERCLASS2,RO_PCustomer.CUSTOMERGROUPID,RO_PCustomer.CUSTOMERGROUP,RO_PCustomer.CUSTOMERSEGMENTID,RO_PCustomer.CUSTOMERSEGMENT,RO_PCustomer.CUSTOMERSUBSEGMENTID,RO_PCustomer.CUSTOMERSUBSEGMENT,RO_PCustomer.LICENCETYPEID,RO_PCustomer.LICENCETYPE,RO_PCustomer.OCTROIZONEID,RO_PCustomer.OCTROIZONE,RO_PCustomer.OUTLETINFO,RO_PCustomer.DefaultDistributorId,RO_PCustomer.PriceListId,RO_PCustomer.Latitude,RO_PCustomer.Longitude,RO_PCustomer.WEEKOFF,RO_PCustomer.CreditLimit,RO_PCustomer.CreditDays,
					ISNULL(REPLACE(CONVERT(VARCHAR(11), RO_PCustomer.LicExpDate, 106), ' ', '-'),'null') AS LicExpDate,ISNULL(REPLACE(CONVERT(VARCHAR(11), RO_PCustomer.FssaiExpDate, 106), ' ', '-'),'null') AS FssaiExpDate,
					case when RO_PCustomer.Latitude is null and RO_PCustomer.Longitude is null then 'N' when RO_PCustomer.Latitude='' and RO_PCustomer.Longitude='' then 'N' when RO_PCustomer.Latitude ='0.000000' and RO_PCustomer.Longitude = '0.000000' then 'N' else 'Y' end as isLatLongSynced,a.UserID as userid FROM RO_PCustomer, (select customerid, userid from RO_UsersCustomers WHERE UserID in (select MappedUsers from RO_UserMapping where userid= @userID)) as a 
					where a.customerid = RO_PCustomer.CustomerId and RouteID is not null and party is not null
				end
				else
				begin
					print 'non-multi'
					SELECT RO_PCustomer.CustomerId,RO_PCustomer.Party,RO_PCustomer.LicenceNo,RO_PCustomer.IsActive,RO_PCustomer.ERPCode,RO_PCustomer.RouteID,RO_PCustomer.RouteName,RO_PCustomer.AREAID,RO_PCustomer.AREA,RO_PCustomer.BRANCHID,RO_PCustomer.BRANCH,RO_PCustomer.CUSTOMERCLASSID,RO_PCustomer.CUSTOMERCLASS,RO_PCustomer.CUSTOMERCLASS2ID,RO_PCustomer.CUSTOMERCLASS2,RO_PCustomer.CUSTOMERGROUPID,RO_PCustomer.CUSTOMERGROUP,RO_PCustomer.CUSTOMERSEGMENTID,RO_PCustomer.CUSTOMERSEGMENT,RO_PCustomer.CUSTOMERSUBSEGMENTID,RO_PCustomer.CUSTOMERSUBSEGMENT,RO_PCustomer.LICENCETYPEID,RO_PCustomer.LICENCETYPE,RO_PCustomer.OCTROIZONEID,RO_PCustomer.OCTROIZONE,RO_PCustomer.OUTLETINFO,RO_PCustomer.DefaultDistributorId,RO_PCustomer.PriceListId,RO_PCustomer.Latitude,RO_PCustomer.Longitude,RO_PCustomer.WEEKOFF,RO_PCustomer.CreditLimit,RO_PCustomer.CreditDays,
					ISNULL(REPLACE(CONVERT(VARCHAR(11), RO_PCustomer.LicExpDate, 106), ' ', '-'),'null') AS LicExpDate,ISNULL(REPLACE(CONVERT(VARCHAR(11), RO_PCustomer.FssaiExpDate, 106), ' ', '-'),'null') AS FssaiExpDate,
					case when RO_PCustomer.Latitude is null and RO_PCustomer.Longitude is null then 'N' when RO_PCustomer.Latitude='' and RO_PCustomer.Longitude='' then 'N' when RO_PCustomer.Latitude ='0.000000' and RO_PCustomer.Longitude = '0.000000' then 'N' else 'Y' end as isLatLongSynced,@userID as userid FROM RO_PCustomer WHERE CustomerId IN (SELECT CustomerId from RO_UsersCustomers WHERE UserID =@userID) and RouteID is not null and party is not null		
				end				
			End
			if(@valForMJP='MJP')
			Begin
			print 'SentCustomerBasedOn: MJP'
			Select PC.CustomerId,PC.Party,PC.LicenceNo,PC.IsActive,PC.ERPCode,PC.RouteID,PC.RouteName,PC.AREAID,PC.AREA,PC.BRANCHID,PC.BRANCH,PC.CUSTOMERCLASSID,PC.CUSTOMERCLASS,PC.CUSTOMERCLASS2ID,PC.CUSTOMERCLASS2,PC.CUSTOMERGROUPID,PC.CUSTOMERGROUP,PC.CUSTOMERSEGMENTID,PC.CUSTOMERSEGMENT,PC.CUSTOMERSUBSEGMENTID,PC.CUSTOMERSUBSEGMENT,PC.LICENCETYPEID,PC.LICENCETYPE,PC.OCTROIZONEID,PC.OCTROIZONE,PC.OUTLETINFO,PC.DefaultDistributorId,PC.PriceListId,PC.Latitude,PC.Longitude,PC.WEEKOFF,PC.CreditLimit,PC.CreditDays,
			ISNULL(REPLACE(CONVERT(VARCHAR(11), PC.LicExpDate, 106), ' ', '-'),'null') AS LicExpDate,ISNULL(REPLACE(CONVERT(VARCHAR(11), PC.FssaiExpDate, 106), ' ', '-'),'null') AS FssaiExpDate,
			case when PC.Latitude is null and PC.Longitude is null then 'N' when PC.Latitude='' and PC.Longitude='' then 'N' when PC.Latitude ='0.000000' and PC.Longitude = '0.000000' then 'N' else 'Y' end as isLatLongSynced from RO_PCustomer PC where PC.CustomerId in(Select distinct mm.ExecutiveId from  ro_mjpmaster mm inner Join ro_mjpmasterdetails md on mm.ID=md.MJPMasterID where md.PlannedDate=Cast(GETDATE() as date)) and PC.RouteID is not null and PC.party is not null		
			End
	
			

		print 'RO_PDistributor 33'
		Select 'PDistributor'
		---Commented below 1 line by sagar m on 180 DEC 2021 during zylemini+ morning meeting
		--SELECT * FROM RO_PDistributor where areaid in (select AREAID from RO_AreaParentList where AreaParentid like '%,'+cast(@areaID as varchar)+',%')

			if(@valIsMultiUser='1' and exists(select mappedUsers from RO_UserMapping where userid= @userID))
			begin
				print 'multi'
				SELECT DISTINCT pd.*, A.userid  FROM RO_PDistributor AS pd 
				INNER JOIN RO_DistributorDivisionSalesman AS div ON pd.DistributorId=Cast(div.DistributorId as int)  
				INNER JOIN RO_PUser ON Cast(div.UserId as int)=RO_PUser.UserID 
				CROSS JOIN (select distributorid, userid from RO_MultiEntityUser WHERE UserID in (select mappedUsers from RO_UserMapping where userid= @userID)) as A
				WHERE RO_PUser.ParentIdList like '%,'+cast(A.userid as varchar)+',%' and A.distributorid=pd.DistributorId
			end
			else
			begin
				print 'non-multi'
				SELECT DISTINCT pd.*,@userID as userid  FROM RO_PDistributor AS pd INNER JOIN RO_DistributorDivisionSalesman AS div ON pd.DistributorId=Cast(div.DistributorId as int)   INNER JOIN RO_PUser ON Cast(div.UserId as int)=RO_PUser.UserID  WHERE RO_PUser.ParentIdList like '%,'+cast(@userID as varchar)+',%'
			end

		If Exists (SELECT value FROM RO_Settings where [Key]='ISNONRELEVANTDATAPITEM')
		begin
			print 'RO_PItem 3: ' --+cast(@IsNonRelevantData as varchar)+''
			Select 'PItem'
			If (@valISNONWINDSR='TRUE')
			begin
				if(@valIsMultiUser='1' and exists(select mappedUsers from RO_UserMapping where userid= @userID))
				begin
					 select RO_PItem.[ItemId],RO_PItem.[Item],RO_PItem.[ItemAlias],RO_PItem.ITEMSEQUENCE,RO_PItem.[BPC],RO_PItem.[BPC1],RO_PItem.[BPC2],RO_PItem.[ErpCode],RO_PItem.[Volume],RO_PItem.[ReportingQuantity],RO_PItem.[MRP],RO_PItem.[PTR],RO_PItem.[BRANDID],RO_PItem.[BRAND]
			  ,RO_PItem.[DIVISIONID],RO_PItem.[DIVISION],RO_PItem.[FLAVOURID],RO_PItem.[FLAVOUR],RO_PItem.[ITEMCLASSID],RO_PItem.[ITEMCLASS],RO_PItem.[ITEMGROUPID],RO_PItem.[ITEMGROUP],RO_PItem.[ITEMSIZEID],RO_PItem.[ITEMSIZE],RO_PItem.[ITEMSUBGROUPID]
			  ,RO_PItem.[ITEMSUBGROUP],RO_PItem.[ITEMTYPEID],RO_PItem.[ITEMTYPE],RO_PItem.[ISFOCUS],RO_PItem.[SchemeID],RO_PItem.[ScanCode],a.UserID as userid, GSTRate from RO_PItem, (select ItemID, userid from RO_UsersItems WHERE UserID in (select mappedUsers from RO_UserMapping where userid= @userID)) as a 
						where a.Itemid = RO_PItem.ItemID 
				end
				else
				begin
					SELECT RO_PItem.[ItemId],RO_PItem.[Item],RO_PItem.[ItemAlias],RO_PItem.ITEMSEQUENCE,RO_PItem.[BPC],RO_PItem.[BPC1],RO_PItem.[BPC2],RO_PItem.[ErpCode],RO_PItem.[Volume],RO_PItem.[ReportingQuantity],RO_PItem.[MRP],RO_PItem.[PTR],RO_PItem.[BRANDID],RO_PItem.[BRAND]
			  ,RO_PItem.[DIVISIONID],RO_PItem.[DIVISION],RO_PItem.[FLAVOURID],RO_PItem.[FLAVOUR],RO_PItem.[ITEMCLASSID],RO_PItem.[ITEMCLASS],RO_PItem.[ITEMGROUPID],RO_PItem.[ITEMGROUP],RO_PItem.[ITEMSIZEID],RO_PItem.[ITEMSIZE],RO_PItem.[ITEMSUBGROUPID]
			  ,RO_PItem.[ITEMSUBGROUP],RO_PItem.[ITEMTYPEID],RO_PItem.[ITEMTYPE],RO_PItem.[ISFOCUS],RO_PItem.[SchemeID],RO_PItem.[ScanCode],@userID as userid, GSTRate FROM RO_PItem 
				end
				
			end
			else
			begin
				if(@valIsMultiUser='1' and exists(select mappedUsers from RO_UserMapping where userid= @userID))
				begin
					 select RO_PItem.[ItemId],RO_PItem.[Item],RO_PItem.[ItemAlias],RO_PItem.ITEMSEQUENCE,RO_PItem.[BPC],RO_PItem.[BPC1],RO_PItem.[BPC2],RO_PItem.[ErpCode],RO_PItem.[Volume],RO_PItem.[ReportingQuantity],RO_PItem.[MRP],RO_PItem.[PTR],RO_PItem.[BRANDID],RO_PItem.[BRAND]
			  ,RO_PItem.[DIVISIONID],RO_PItem.[DIVISION],RO_PItem.[FLAVOURID],RO_PItem.[FLAVOUR],RO_PItem.[ITEMCLASSID],RO_PItem.[ITEMCLASS],RO_PItem.[ITEMGROUPID],RO_PItem.[ITEMGROUP],RO_PItem.[ITEMSIZEID],RO_PItem.[ITEMSIZE],RO_PItem.[ITEMSUBGROUPID]
			  ,RO_PItem.[ITEMSUBGROUP],RO_PItem.[ITEMTYPEID],RO_PItem.[ITEMTYPE],RO_PItem.[ISFOCUS],RO_PItem.[SchemeID],RO_PItem.[ScanCode],a.UserID as userid, GSTRate from RO_PItem, (select ItemID, userid from RO_UsersItems WHERE UserID in (select mappedUsers from RO_UserMapping where userid= @userID)) as a 
						where a.Itemid = RO_PItem.ItemID 
				end
				else
				begin
					SELECT RO_PItem.[ItemId],RO_PItem.[Item],RO_PItem.[ItemAlias],RO_PItem.ITEMSEQUENCE,RO_PItem.[BPC],RO_PItem.[BPC1],RO_PItem.[BPC2],RO_PItem.[ErpCode],RO_PItem.[Volume],RO_PItem.[ReportingQuantity],RO_PItem.[MRP],RO_PItem.[PTR],RO_PItem.[BRANDID],RO_PItem.[BRAND]
			  ,RO_PItem.[DIVISIONID],RO_PItem.[DIVISION],RO_PItem.[FLAVOURID],RO_PItem.[FLAVOUR],RO_PItem.[ITEMCLASSID],RO_PItem.[ITEMCLASS],RO_PItem.[ITEMGROUPID],RO_PItem.[ITEMGROUP],RO_PItem.[ITEMSIZEID],RO_PItem.[ITEMSIZE],RO_PItem.[ITEMSUBGROUPID]
			  ,RO_PItem.[ITEMSUBGROUP],RO_PItem.[ITEMTYPEID],RO_PItem.[ITEMTYPE],RO_PItem.[ISFOCUS],RO_PItem.[SchemeID],RO_PItem.[ScanCode],@userID as userid, GSTRate FROM RO_PItem  WHERE ItemId IN (SELECT ItemId from RO_UsersItems WHERE UserID =@userID)
				end
			end
		end	
		Else
		begin
			print 'RO_PItem 4: ' ---+cast(@IsNonRelevantData as varchar)+''
			Select 'PItem'
			If (@valISNONWINDSR='TRUE')
			begin
				SELECT RO_PItem.[ItemId],RO_PItem.[Item],RO_PItem.[ItemAlias],RO_PItem.ITEMSEQUENCE,RO_PItem.[BPC],RO_PItem.[BPC1],RO_PItem.[BPC2],RO_PItem.[ErpCode],RO_PItem.[Volume],RO_PItem.[ReportingQuantity],RO_PItem.[MRP],RO_PItem.[PTR],RO_PItem.[BRANDID],RO_PItem.[BRAND]
			  ,RO_PItem.[DIVISIONID],RO_PItem.[DIVISION],RO_PItem.[FLAVOURID],RO_PItem.[FLAVOUR],RO_PItem.[ITEMCLASSID],RO_PItem.[ITEMCLASS],RO_PItem.[ITEMGROUPID],RO_PItem.[ITEMGROUP],RO_PItem.[ITEMSIZEID],RO_PItem.[ITEMSIZE],RO_PItem.[ITEMSUBGROUPID]
			  ,RO_PItem.[ITEMSUBGROUP],RO_PItem.[ITEMTYPEID],RO_PItem.[ITEMTYPE],RO_PItem.[ISFOCUS],RO_PItem.[SchemeID],RO_PItem.[ScanCode], GSTRate FROM RO_PItem 
			end
			else
			begin
				SELECT RO_PItem.[ItemId],RO_PItem.[Item],RO_PItem.[ItemAlias],RO_PItem.ITEMSEQUENCE,RO_PItem.[BPC],RO_PItem.[BPC1],RO_PItem.[BPC2],RO_PItem.[ErpCode],RO_PItem.[Volume],RO_PItem.[ReportingQuantity],RO_PItem.[MRP],RO_PItem.[PTR],RO_PItem.[BRANDID],RO_PItem.[BRAND]
			  ,RO_PItem.[DIVISIONID],RO_PItem.[DIVISION],RO_PItem.[FLAVOURID],RO_PItem.[FLAVOUR],RO_PItem.[ITEMCLASSID],RO_PItem.[ITEMCLASS],RO_PItem.[ITEMGROUPID],RO_PItem.[ITEMGROUP],RO_PItem.[ITEMSIZEID],RO_PItem.[ITEMSIZE],RO_PItem.[ITEMSUBGROUPID]
			  ,RO_PItem.[ITEMSUBGROUP],RO_PItem.[ITEMTYPEID],RO_PItem.[ITEMTYPE],RO_PItem.[ISFOCUS],RO_PItem.[SchemeID],RO_PItem.[ScanCode], GSTRate FROM RO_PItem  WHERE ItemId IN (SELECT ItemId from RO_UsersItems WHERE UserID =@userID)
			end
		end

		--print 'RO_Target'
		--Select 'Target'
		--select * from RO_Target where UserID=@userID

		-- Removed SEQUENCE word, as these columns are not transfered from MIS to PITEM table
		print 'RO_ReportControlMaster'
		Select 'ReportControlMaster'
		select ControlName, ControlId, replace(ReferenceColumn,'SEQUENCE','') as ReferenceColumn from RO_ReportControlMaster

		print 'RO_UOMMaster'
		Select 'UOMMaster'
		select * from(select * from RO_UOMMaster) as RO_UOMMaster
		
		print 'RO_CollectionType'
		Select 'CollectionType'
		SELECT * FROM RO_CollectionType

		print 'RO_Resources'
		Select 'Resources'
		select * from RO_Resources
		
		print 'RO_Settings'
		Select 'Settings'
		select * into #tempSettingsSalesman from RO_Settings
		update #tempSettingsSalesman set Value= replace(lower([Value]), '@userid',@LoginId) where [Key]='QDVP3URL'		
		update #tempSettingsSalesman set Value= replace(lower([Value]), '@password',@Password) where [Key]='QDVP3URL'		

		IF EXISTS (SELECT 1 FROM RO_Settings WHERE Value = 'YES' AND [KEY] = 'Global Setting')
		BEGIN
			IF EXISTS (SELECT 1 FROM RO_Settings WHERE Value = 'YES' AND [KEY] = 'User Settings')
			BEGIN
				IF EXISTS(SELECT 1 FROM RO_BackdatedDispatchDate WHERE EntityToApply = 'USER' AND EntityId = @userID)
				BEGIN
					UPDATE #tempSettingsSalesman SET VALUE = CAST((SELECT NoOfDays FROM RO_BackdatedDispatchDate WHERE EntityToApply = 'USER' AND EntityId = @userID) AS NVARCHAR(5))
						WHERE [KEY] = 'AllowBackdatedDispatchDays';
				END
				ELSE
				BEGIN
					UPDATE #tempSettingsSalesman SET VALUE = CAST((SELECT S.VALUE FROM RO_SETTINGS S WHERE S.[KEY] = 'Global No. of Days') AS NVARCHAR(5))
						WHERE [KEY] = 'AllowBackdatedDispatchDays';
				END
			END
			ELSE
			BEGIN
				IF EXISTS(SELECT 1 FROM RO_Settings WHERE Value = 'YES' AND [KEY] = 'Distributor Settings')
				BEGIN
					IF EXISTS(SELECT 1 FROM RO_BackdatedDispatchDate WHERE EntityToApply = 'DISTRIBUTOR' AND EntityId = @userID)
					BEGIN
						UPDATE #tempSettingsSalesman SET VALUE = CAST((SELECT NoOfDays FROM RO_BackdatedDispatchDate WHERE EntityToApply = 'DISTRIBUTOR' AND EntityId = @userID) AS NVARCHAR(5))
							WHERE [KEY] = 'AllowBackdatedDispatchDays';
					END
					ELSE
					BEGIN
						UPDATE #tempSettingsSalesman SET VALUE = CAST((SELECT S.VALUE FROM RO_SETTINGS S WHERE S.[KEY] = 'Global No. of Days') AS NVARCHAR(5))
						WHERE [KEY] = 'AllowBackdatedDispatchDays';
					END
				END
				ELSE
				BEGIN
					UPDATE #tempSettingsSalesman SET VALUE = CAST((SELECT S.VALUE FROM RO_SETTINGS S WHERE S.[KEY] = 'Global No. of Days') AS NVARCHAR(5))
						WHERE [KEY] = 'AllowBackdatedDispatchDays';
				END
			END
		END
		ELSE
		BEGIN
			UPDATE #tempSettingsSalesman SET VALUE = CAST(0 AS NVARCHAR(5)) WHERE [KEY] = 'AllowBackdatedDispatchDays';
		END

		SELECT * FROM #tempSettingsSalesman
		drop table #tempSettingsSalesman 

		print 'TX_OrderMaster'
		Select 'OrderMaster'
		if(@valIsMultiUser='1' and exists(select mappedUsers from RO_UserMapping where userid= @userID))
		begin
			SELECT ID,MobileGenPrimaryKey,OrderTakenDatetime ,EntityType,EntityID,Latitude,Longitude,TotalAmount,Cast(FORMAT (FromDate, 'dd-MMM-yyyy ') AS Varchar(11)) AS FromDate,Cast(FORMAT (ToDate, 'dd-MMM-yyyy ') AS Varchar(11)) AS ToDate,CollectionType,ExecutiveID,Remarks,DefaultDistributorID,ExpectedDeliveryDate,DBInsertDateTime,ActivityStatus,ActivityStartTime,ActivityEndTime,DiscountAmount, A.MappedUsers as userid, OrderPriority
			FROM TX_OrderMaster, (select mappedUsers from RO_UserMapping where userid= @userID) as A
			where TX_OrderMaster.ExecutiveID = A.MappedUsers  and OrderTakenDatetime>= @FromDate 
		end
		else
		begin
			SELECT ID,MobileGenPrimaryKey,OrderTakenDatetime ,EntityType,EntityID,Latitude,Longitude,TotalAmount,Cast(FORMAT (FromDate, 'dd-MMM-yyyy ') AS Varchar(11)) AS FromDate,Cast(FORMAT (ToDate, 'dd-MMM-yyyy ') AS Varchar(11)) AS ToDate,CollectionType,ExecutiveID,Remarks,DefaultDistributorID,ExpectedDeliveryDate,DBInsertDateTime,ActivityStatus,ActivityStartTime,ActivityEndTime,DiscountAmount,@userID as userid, OrderPriority
			FROM TX_OrderMaster where ExecutiveID= @userID and OrderTakenDatetime>= @FromDate 
		end
		
		
		print 'TX_OrderDetails'
		Select 'OrderDetails'
		if(@valIsMultiUser='1' and exists(select mappedUsers from RO_UserMapping where userid= @userID))
		begin
			--SELECT * FROM TX_OrderDetails where OrderId in(SELECT Id FROM TX_OrderMaster where ExecutiveID= @userID)
			SELECT OD.ID, OM.MobileGenPrimaryKey as OrderID, OD.ItemID, OD.LargeUnit, OD.SmallUnit, OD.Rate, OD.Amount, FreeLargeUnit, FreeSmallUnit, A.MappedUsers  as userid, GSTRate, GSTTotal, GrossAmount
			FROM TX_OrderMaster OM, TX_OrderDetails OD, (select mappedUsers from RO_UserMapping where userid= @userID) as A
			where OM.ID = OD.OrderID and OM.OrderTakenDatetime>= @FromDate and A.MappedUsers=OM.ExecutiveID
		end
		else
		begin
			--SELECT * FROM TX_OrderDetails where OrderId in(SELECT Id FROM TX_OrderMaster where ExecutiveID= @userID)
			SELECT OD.ID, OM.MobileGenPrimaryKey as OrderID, OD.ItemID, OD.LargeUnit, OD.SmallUnit, OD.Rate, OD.Amount, FreeLargeUnit, FreeSmallUnit,@userID as userid, GSTRate, GSTTotal, GrossAmount
			FROM TX_OrderMaster OM, TX_OrderDetails OD where OM.ID = OD.OrderID and OrderId in (SELECT Id FROM TX_OrderMaster where ExecutiveID= @userID)
			and OM.OrderTakenDatetime>= @FromDate 
		end
		

		print 'TX_ImagesDetails'
		Select 'ImagesDetails'
		if(@valIsMultiUser='1' and exists(select mappedUsers from RO_UserMapping where userid= @userID))
		begin
				select TX_ImagesDetails.*,TX_OrderMaster.ExecutiveID as userid  from TX_ImagesDetails, TX_OrderMaster, (select mappedUsers from RO_UserMapping where userid= @userID) as A 
				where TX_ImagesDetails.OrderID=TX_OrderMaster.ID and TX_OrderMaster.ExecutiveID =A.MappedUsers 
				and OrderTakenDatetime>= @FromDate
		end
		else
		begin
				select *,@userID as userid from TX_ImagesDetails where OrderId in(SELECT Id FROM TX_OrderMaster where ExecutiveID= @userID and OrderTakenDatetime>= @FromDate )
		end

		print 'TX_AssetPlacementVerification'
		Select 'AssetPlacementVerification'
		if(@valIsMultiUser='1' and exists(select mappedUsers from RO_UserMapping where userid= @userID))
		begin
			select TX_AssetPlacementVerification.*,TX_OrderMaster.ExecutiveID as userid from TX_AssetPlacementVerification, TX_OrderMaster, (select mappedUsers from RO_UserMapping where userid= @userID) as A 
			where TX_AssetPlacementVerification.OrderID =TX_OrderMaster.ID and TX_OrderMaster.ExecutiveID =A.MappedUsers 
			and OrderTakenDatetime>= @FromDate
		end
		else
		begin
			select *,@userID as userid from TX_AssetPlacementVerification where OrderId in(SELECT Id FROM TX_OrderMaster where ExecutiveID= @userID and OrderTakenDatetime>= @FromDate )
		end

		--print 'TX_ZyleminiNewParty'	
		--if(@newpartyCount>=0)
		--begin
		--	if(@valIsMultiUser='1' and exists(select mappedUsers from RO_UserMapping where userid= @userID))
		--	begin
		--		-- No proper data available, need to validate query after receiving data
		--		Select 'ZyleminiNewParty'
		--		select distinct newparty.MobileGenPrimaryKey as id,newparty.BeatId,newparty.OutletName, newparty.ContactNumber,newparty.OwnersName,
		--		newparty.OutletAddress,newparty.Remark,newparty.Latitude, newparty.Longitude,newparty.AddedOnDate, A.MappedUsers as userid 
		--		from TX_ZyleminiNewParty newparty 
		--		inner join TX_OrderMaster  on TX_OrderMaster.MobileGenPrimaryKey=newparty.MobileGenPrimaryKey, (select mappedUsers from RO_UserMapping where userid= ''+@userID+'') as A 
		--		where newparty.UserId=TX_OrderMaster.ExecutiveID and TX_OrderMaster.ExecutiveID =A.MappedUsers  and
		--		cast (TX_OrderMaster.OrderTakenDatetime as date) in (select distinct top (select cast (value as int) from RO_Settings 
		--		where [key] ='KEEPLASTNDAYSORDERBOOK')     cast (OrderTakenDatetime as date) as lastorderdate  from TX_OrderMaster    
		--		where ExecutiveID  in (select mappedUsers from RO_UserMapping where userid= ''+@userID+'') order by cast(OrderTakenDatetime as date) desc)
		--	end
		--	else
		--	begin
		--		Select 'ZyleminiNewParty'
		--		select distinct newparty.MobileGenPrimaryKey as id,newparty.BeatId,newparty.OutletName, newparty.ContactNumber,newparty.OwnersName,
		--		newparty.OutletAddress,newparty.Remark,newparty.Latitude, newparty.Longitude,newparty.AddedOnDate,@userID as userid from TX_ZyleminiNewParty newparty 
		--		inner join TX_OrderMaster  on TX_OrderMaster.entityid=newparty.MobileGenPrimaryKey  and TX_OrderMaster.ExecutiveID= ''+@userID+'' and
		--		cast (TX_OrderMaster.OrderTakenDatetime as date) in (select distinct top (select cast (value as int) from RO_Settings 
		--		where [key] ='KEEPLASTNDAYSORDERBOOK')     cast (OrderTakenDatetime as date) as lastorderdate  from TX_OrderMaster    
		--		where ExecutiveID=''+@userID+'' order by cast(OrderTakenDatetime as date) desc) 
		--	end
			
		--end
		--else
		--begin
		--	Select 'ZyleminiNewParty'
		--	select * from TX_ZyleminiNewParty where BeatId=00000000
		--end
		
		print 'TX_Discount'
		Select 'Discount'
		if(@valIsMultiUser='1' and exists(select mappedUsers from RO_UserMapping where userid= @userID))
		begin
			select TX_Discount.*,TX_OrderMaster.ExecutiveID as userid from TX_Discount, TX_OrderMaster, (select mappedUsers from RO_UserMapping where userid= @userID) as A 
			where TX_Discount.OrderID=TX_OrderMaster.ID and TX_OrderMaster.ExecutiveID =A.MappedUsers 
		end
		else
		begin
			select *,@userID as userid from TX_Discount
		end
		
				
		print 'TX_Collections'
		Select 'Collections'
		if(@valIsMultiUser='1' and exists(select mappedUsers from RO_UserMapping where userid= @userID))
		begin
			select TX_Collections.*,TX_OrderMaster.ExecutiveID  as userid  from TX_Collections, TX_OrderMaster, (select mappedUsers from RO_UserMapping where userid= @userID) as A 
			where TX_Collections.OrderID=TX_OrderMaster.ID and TX_OrderMaster.ExecutiveID =A.MappedUsers 
		end
		else
		begin
			select *,@userID as userid from TX_Collections
		end
		

		print 'TX_CollectionsDetails'
		Select 'CollectionsDetails'
		if(@valIsMultiUser='1' and exists(select mappedUsers from RO_UserMapping where userid= @userID))
		begin
			select TX_CollectionsDetails.*,TX_OrderMaster.ExecutiveID as userid   from TX_CollectionsDetails, TX_OrderMaster, (select mappedUsers from RO_UserMapping where userid= @userID) as A 
			where TX_CollectionsDetails.MobileGenPrimaryKey=TX_OrderMaster.MobileGenPrimaryKey and TX_OrderMaster.ExecutiveID =A.MappedUsers
		end
		else
		begin
			select *,@userID as userid from TX_CollectionsDetails
		end
		

		print 'RO_OnlineParentArea'
		Select 'OnlineParentArea'
		if(@valIsMultiUser='1' and exists(select mappedUsers from RO_UserMapping where userid= @userID))
		begin
			select AreaId,Area,userid from RO_OnlineParentArea, (select mappedUsers from RO_UserMapping where userid= @userID) as A where RO_OnlineParentArea.userid=A.MappedUsers
		end
		else
		begin
			select AreaId,Area,@userID as userid from RO_OnlineParentArea where userid=@userID
		end
		

		print 'RO_AssetTypeClassificationList'
		Select 'AssetTypeClassificationList'
		select * from RO_AssetTypeClassificationList

		--print 'RO_AreaParentList'
		--SELECT * FROM RO_AreaParentList where Areaid in (select AREAID from RO_AreaParentList where AreaParentid like '%,'+cast(@areaID as varchar)+',%')
		
		print 'RO_DistributorContacts'
		Select 'DistributorContacts'

		if(@valIsMultiUser='1' and exists(select mappedUsers from RO_UserMapping where userid= @userID))
		begin
			SELECT DISTINCT dc.*, A.userid FROM RO_DistributorContacts AS dc 
			INNER JOIN RO_DistributorDivisionSalesman AS div ON dc.DistributorId=Cast(div.DistributorId as int)
			INNER JOIN RO_PUser ON Cast(div.UserId as int)=RO_PUser.UserID 
			CROSS JOIN (select distributorid, userid from RO_MultiEntityUser WHERE UserID in (select mappedUsers from RO_UserMapping where userid= @userID)) as A
			WHERE RO_PUser.ParentIdList like '%,'+cast(@userID as varchar)+',%'  and A.DistributorId=dc.DistributorID
		end
		else
		begin
			--select * from RO_DistributorContacts where DistributorID in(select DistributorId from RO_PDistributor where areaid in (select AREAID from RO_AreaParentList where AreaParentid like '%,'+cast(@areaID as varchar)+',%'))
			SELECT DISTINCT dc.*,@userID as userid FROM RO_DistributorContacts AS dc INNER JOIN RO_DistributorDivisionSalesman AS div ON dc.DistributorId=Cast(div.DistributorId as int) INNER JOIN RO_PUser ON Cast(div.UserId as int)=RO_PUser.UserID WHERE RO_PUser.ParentIdList like '%,'+cast(@userID as varchar)+',%'

		end



		print 'RO_DistributorDataStatus'
		Select 'DistributorDataStatus'
		if(@valIsMultiUser='1' and exists(select mappedUsers from RO_UserMapping where userid= @userID))
		begin
				SELECT DISTINCT dds.*, A.userid FROM RO_DistributorDataStatus AS dds 
				INNER JOIN RO_DistributorDivisionSalesman AS div ON dds.DistributorId=Cast(div.DistributorId as int) 
				INNER JOIN RO_PUser ON Cast(div.UserId as int)=RO_PUser.UserID 
				CROSS JOIN (select distributorid, userid from RO_MultiEntityUser WHERE UserID in (select mappedUsers from RO_UserMapping where userid= @userID)) as A
				WHERE RO_PUser.ParentIdList like '%,'+cast(@userID as varchar)+',%' and A.DistributorId=dds.DistributorID
		end
		else
		begin
				--SELECT * FROM RO_DistributorDataStatus where DistributorID in(select DistributorId from RO_PDistributor where areaid in (select AREAID from RO_AreaParentList where AreaParentid like '%,'+cast(@areaID as varchar)+',%'))
				SELECT DISTINCT dds.*,@userID as userid FROM RO_DistributorDataStatus AS dds INNER JOIN RO_DistributorDivisionSalesman AS div ON dds.DistributorId=Cast(div.DistributorId as int) INNER JOIN RO_PUser ON Cast(div.UserId as int)=RO_PUser.UserID WHERE RO_PUser.ParentIdList like '%,'+cast(@userID as varchar)+',%'
		end

		print 'RO_OutletAssetInformation'
		Select 'OutletAssetInformation'
		if(@valIsMultiUser='1' and exists(select mappedUsers from RO_UserMapping where userid= @userID))
		begin
			SELECT RO_OutletAssetInformation.*, a.UserID FROM RO_OutletAssetInformation, (SELECT CUSTOMERID, UserID from RO_UsersCustomers WHERE UserID in (select mappedUsers from RO_UserMapping where userid= @userID) ) as a
			where a.customerid = RO_OutletAssetInformation.CustomerId 
		end
		else
		begin
			SELECT *,@userID as userid FROM RO_OutletAssetInformation WHERE CUSTOMERID IN (SELECT CUSTOMERID from RO_UsersCustomers WHERE UserID =@userID)
		end
		
		
		--print 'RO_UsersCustomers'
		--Select 'UsersCustomers'
		--if(@valIsMultiUser='1' and exists(select mappedUsers from RO_UserMapping where userid= @userID))
		--begin
		--	select * from RO_UsersCustomers where UserID in (select mappedUsers from RO_UserMapping where userid= @userID) 
		--end
		--else
		--begin
		--	select * from RO_UsersCustomers where UserID=@userID
		--end
		

		--print 'RO_UsersItems 2'
		--Select 'UsersItems'
		--if(@valIsMultiUser='1' and exists(select mappedUsers from RO_UserMapping where userid= @userID))
		--begin
		--	select * from RO_UsersItems where UserID in (select mappedUsers from RO_UserMapping where userid= @userID) 
		--end
		--else
		--begin
		--	select * from RO_UsersItems where UserID=@userID
		--end
		

		print 'TX_PaymentReceipt'
		Select 'PaymentReceipt'
		if(@valIsMultiUser='1' and exists(select mappedUsers from RO_UserMapping where userid= @userID))
		begin
			select TX_PaymentReceipt.*,TX_OrderMaster.ExecutiveID as userid from TX_PaymentReceipt, TX_OrderMaster, (select mappedUsers from RO_UserMapping where userid= @userID) as A 
			where TX_PaymentReceipt.OrderID=TX_OrderMaster.ID and TX_OrderMaster.ExecutiveID =A.MappedUsers 
		end
		else
		begin
			select *,@userID as userid from TX_PaymentReceipt  where ExecutiveID=@userID
		end

		

		--print 'RO_Sales'
		--Select 'Sales'
		--if(@valIsMultiUser='1' and exists(select mappedUsers from RO_UserMapping where userid= @userID))
		--begin
		--	SELECT RO_Sales.*,A.MappedUsers  as userid  FROM RO_Sales, (select mappedUsers from RO_UserMapping where userid= @userID) as A
		--	WHERE UserId like '%,'+cast(A.MappedUsers as varchar)+',%'
		--end
		--else
		--begin
		--	select *,@userID as userid from (SELECT * FROM RO_Sales WHERE UserId like '%,'+cast(@userID as varchar)+',%') as Sales
		--	union
		--	select top 1 UserID, DistributorID, CustomerID, month(getdate()), ItemID,0,1,@userID as userid from (SELECT * FROM RO_Sales WHERE UserId like '%,'+cast(@userID as varchar)+',%') as Sales
		--end

		--print 'RO_SalesYTD'
		--Select 'SalesYTD'
		--if(@valIsMultiUser='1' and exists(select mappedUsers from RO_UserMapping where userid= @userID))
		--begin
		--	SELECT RO_SalesYTD.*,A.MappedUsers  as userid FROM RO_SalesYTD, (select mappedUsers from RO_UserMapping where userid= @userID) as A
		--	WHERE UserId like '%,'+cast(A.MappedUsers as varchar)+',%'
		--end
		--else
		--begin
		--	select *,@userID as userid from RO_SalesYTD WHERE UserID=@userID	
		--end
			
		-- Removed SEQUENCE word, as these columns are not transfered from MIS to PITEM table
		print 'RO_Report'
		Select 'Report'
		select MenuKey, replace([Classification],'SEQUENCE','') as [Classification] ,replace(ComboClassification,'SEQUENCE','') as ComboClassification ,LabelName,IsActive from RO_Report

		print 'RO_AdvanceReport'
		Select 'AdvanceReport'
		select * from RO_AdvanceReport


		--MJPMaster
		print 'RO_MJPMaster'
		Select 'MJPMaster'
		if(@valIsMultiUser='1' and exists(select mappedUsers from RO_UserMapping where userid= @userID))
		begin
			select Distinct ID,ExecutiveId,Replace(Convert(NVARCHAR,MonthYear,106),' ','-') AS MonthYear,A.MappedUsers as userid from RO_MJPMaster, (select mappedUsers from RO_UserMapping where userid= @userID) as A 
			where RO_MJPMaster.ExecutiveId=A.MappedUsers
		end
		else
		begin
			select Distinct ID,ExecutiveId,Replace(Convert(NVARCHAR,MonthYear,106),' ','-') AS MonthYear,@userID as userid from RO_MJPMaster where ExecutiveId=@userID
		end

		--MJPMasterDetails, Added contition 1=2, for not returning records from API, as activity module does not need these.
		print 'RO_MJPMasterDetails'
		Select 'MJPMasterDetails'
		if(@valIsMultiUser='1' and exists(select mappedUsers from RO_UserMapping where userid= @userID))
		begin
			select Distinct RO_MJPMasterDetails.Id,MJPMasterID,Replace(Convert(NVARCHAR,PlannedDate,106),' ','-') AS PlannedDate,EntityType,EntityTypeID, ActivityTitle, IsActivityDone, A.MappedUsers as userid
			from RO_MJPMasterDetails, RO_MJPMaster, (select mappedUsers from RO_UserMapping where userid= @userID) as A where RO_MJPMasterDetails.MJPMasterID=RO_MJPMaster.ID 
			and RO_MJPMaster.ExecutiveID = A.MappedUsers
		end
		else
		begin
			select Distinct Id,MJPMasterID,Replace(Convert(NVARCHAR,PlannedDate,106),' ','-') AS PlannedDate,EntityType,EntityTypeID, ActivityTitle, IsActivityDone ,@userID as userid
			from RO_MJPMasterDetails where MJPMasterID in(select Id from RO_MJPMaster where ExecutiveId=@userID) and 1=2 
		end
		
		
		--SubGroupMaster
		print 'RO_SubGroupMaster'
		Select 'SubGroupMaster'
		select distinct cast(Id as int) as Id,GroupId,Name from RO_SubGroupMaster where groupid in ('FIELDACTIVITY','MJPCANCELREMARKS')

		--Survey Master
		print 'RO_SurveyMaster'
		Select 'SurveyMaster'
		select [ID],[SurveyName],[CompanyName],[CustomerID],[PublishedDate] ,[TimeRequired],REPLACE(REPLACE([SurveyURL],'@Password',@Password),'@UserId',@LoginId) as [SurveyURL] ,[SurveyDoneDate] from RO_SurveyMaster

		--Outstanding Details
		print 'RO_OutstandingDetails'
		Select 'OutstandingDetails'
		--select * from RO_OutstandingDetails
		-- Commented by Shweta on 2nd Dec2021, for getting calculated pending OSAmount
		--select o.*,p.Party as PartyName,p.AREA as [Location] from RO_OutstandingDetails o 
		--inner join RO_PCustomer p on o.PartyCode=p.CustomerId and o.PartyCode <> 'UNKNOWN'
		--where o.SalesmanCode=@SalesmanCode

		if(@valIsMultiUser='1' and exists(select mappedUsers from RO_UserMapping where userid= @userID))
		begin
			select o.[ID],o.[PartyCode],o.[Document],REPLACE(CONVERT(char(11), CONVERT(DATETIME,o.[Date],103),126),'-','/') as [Date],o.[DisPactchDate],o.[Amount]
			,((cast(o.Amount as numeric(18,2)) - (cast(o.Amount as numeric(18,2)) -cast(o.OSAmount as numeric(18,2)))) -isnull(o.ReceivedAmt,0)) as [OSAmount]
			,o.[OSDocument],o.[InvoiceDate],o.[DiscountAc],o.[PdcAmt],o.[PdcDate],o.[CDStatus],o.[Narration],o.[TpNo],o.[LedgerCode],o.[CDPercentage],o.[ChqNo]
			,o.[PayslipNo],o.[ReceivedAmt],DATEDIFF(DAY,o.InvoiceDate, getdate()) as [Lag],o.[UnAllocated],o.[NetOsAmt],o.[VhrNo],o.[SalemanName] ,o.[SalesmanCode]
			,o.[DistributorName], p.Party as PartyName,p.AREA as Location, a.UserID as userid
			from RO_OutstandingDetails o  
			--left join VW_TotalCollectionAmount tca on o.Document = tca.InvoiceCode 
			left join RO_PCustomer p
			on o.PartyCode=p.CustomerId
			, (select customerid, userid from RO_UsersCustomers WHERE UserID in (select MappedUsers from RO_UserMapping where userid= @userID)) as a 
					where a.customerid = p.CustomerId 
			and o.PartyCode <> 'UNKNOWN' --and o.SalesmanCode='2:EM004'
			order by [Document]
		end		
		else
		begin
			--select o.[ID],o.[PartyCode],o.[Document],REPLACE(CONVERT(char(11), CONVERT(DATETIME,o.[Date],103),126),'-','/') as [Date],o.[DisPactchDate],o.[Amount]
			--,((cast(o.Amount as numeric(18,2)) - (cast(o.Amount as numeric(18,2)) -cast(o.OSAmount as numeric(18,2)))) -isnull(o.ReceivedAmt,0)) as [OSAmount]
			--,o.[OSDocument],o.[InvoiceDate],o.[DiscountAc],o.[PdcAmt],o.[PdcDate],o.[CDStatus],o.[Narration],o.[TpNo],o.[LedgerCode],o.[CDPercentage],o.[ChqNo]
			--,o.[PayslipNo],o.[ReceivedAmt],o.[Lag],o.[UnAllocated],o.[NetOsAmt],o.[VhrNo],o.[SalemanName] ,o.[SalesmanCode]
			--,o.[DistributorName], p.Party as PartyName,p.AREA as Location,@userID as userid
			--from RO_OutstandingDetails o  
			----left join VW_TotalCollectionAmount tca on o.Document = tca.InvoiceCode 
			--left join RO_PCustomer p
			--on o.PartyCode=p.CustomerId
			--where o.PartyCode <> 'UNKNOWN' and o.SalesmanCode=@SalesmanCode
			--order by [Document]

			select o.[ID],o.[PartyCode],o.[Document],REPLACE(CONVERT(char(10), CONVERT(DATETIME,o.[Date],103),126),'-','/') as [Date],o.[DisPactchDate],o.[Amount]
			,((cast(o.Amount as numeric(18,2)) - (cast(o.Amount as numeric(18,2)) -cast(o.OSAmount as numeric(18,2)))) -isnull(o.ReceivedAmt,0)) as [OSAmount]
			,o.[OSDocument],o.[InvoiceDate],o.[DiscountAc],o.[PdcAmt],o.[PdcDate],o.[CDStatus],o.[Narration],o.[TpNo],o.[LedgerCode],o.[CDPercentage],o.[ChqNo]
			,o.[PayslipNo],o.[ReceivedAmt],DATEDIFF(DAY,o.InvoiceDate, getdate()) as [Lag],o.[UnAllocated],o.[NetOsAmt],o.[VhrNo],o.[SalemanName] ,o.[SalesmanCode]
			,o.[DistributorName], p.Party as PartyName,p.AREA as Location,@userID as userid
			from RO_OutstandingDetails o  
			--left join VW_TotalCollectionAmount tca on o.Document = tca.InvoiceCode 
			left join RO_PCustomer p
			on o.PartyCode=p.CustomerId
			, (select customerid, userid from RO_UsersCustomers WHERE UserID= @userID) as a 
					where a.customerid = p.CustomerId 
			and o.PartyCode <> 'UNKNOWN' and o.SalesmanCode=@SalesmanCode
			order by [Document]
		end
			
		If (@valISNONWINDSR='TRUE')
		begin
				--Party Bank
				print 'RO_PartyBank'
				Select 'PartyBank'
				select * from RO_PartyBank  where salesmancode = @loginid;

				--Pending Order Details
				print 'RO_PendingOrderDetails'
				Select 'PendingOrderDetails'
				select * from RO_PendingOrderDetails

				--Cheque Return Details
				print 'RO_ChequeReturnDetails'
				Select 'ChequeReturnDetails'
				select [ID]
      ,[PartyCode]
      ,[ReceiptNo]
      ,cast([ReceiptDate] as varchar(10)) as [ReceiptDate]
      ,[ChqNo]
      ,cast([ChqDate] as varchar(10)) as [ChqDate]
      ,[ChqAmt]
      ,[BankName]
      ,[Branch]
      ,cast([BounceDate] as varchar(10)) as [BounceDate] from RO_ChequeReturnDetails

				--Discount Master
				print 'RO_DiscountMaster'
				Select 'DiscountMaster'
				select * ,@userID as userid from RO_DiscountMaster

				----Scheme Master
				print 'RO_SchemeMaster'
				Select 'SchemeMaster'
				select * ,@userID as userid from RO_SchemeMaster 

					----View of Pending Order Master, Pending Order Details, -Pending Order Discount
				print 'VW_PendingOrders'
				Select 'VW_PendingOrders'
				select * from #TEMPVIEW where POM_SALESMAN_CODE=@LoginIdNoColon OPTION (RECOMPILE);
		end
		else
		begin
				print 'RO_PartyBank 11'
				Select 'PartyBank'
				if(@valIsMultiUser='1' and exists(select mappedUsers from RO_UserMapping where userid= @userID))
				begin
					select RO_PartyBank.*, a.UserId as userid from RO_PartyBank, (select DistributorId, userid from RO_MultiEntityUser WHERE UserID in (select mappedUsers from RO_UserMapping where userid= @userID)) as a 
						where PartyCode like  '' + cast(a.DistributorId as varchar) + ':%'  and salesmancode = @loginid;
				end
				else
				begin
					select *,@userID as userid from RO_PartyBank where PartyCode like  ''+@DistPrefix+'%' and  salesmancode = @loginid;
				end
				

				----Pending Order Details
				print 'RO_PendingOrderDetails'
				Select 'PendingOrderDetails'
				if(@valIsMultiUser='1' and exists(select mappedUsers from RO_UserMapping where userid= @userID))
				begin
					select *, a.UserId as userid from RO_PendingOrderDetails, (select DistributorId, userid from RO_MultiEntityUser WHERE UserID in (select mappedUsers from RO_UserMapping where userid= @userID)) as a 
						where SalesmanCode like  '' + cast(a.DistributorId as varchar) + ':%'
				end
				else
				begin
					select *,@userID as userid from RO_PendingOrderDetails where SalesmanCode like  ''+@DistPrefix+'%'
				end

				----Cheque Return Details
				print 'RO_ChequeReturnDetails'
				Select 'ChequeReturnDetails'
				if(@valIsMultiUser='1' and exists(select mappedUsers from RO_UserMapping where userid= @userID))
				begin
					select [ID],[PartyCode],[ReceiptNo],cast([ReceiptDate] as varchar(10)) as [ReceiptDate],[ChqNo],cast([ChqDate] as varchar(10)) as [ChqDate]
					  ,[ChqAmt],[BankName],[Branch],cast([BounceDate] as varchar(10)) as [BounceDate], a.UserId as userid 
					  from RO_ChequeReturnDetails, (select DistributorId, userid from RO_MultiEntityUser WHERE UserID in (select mappedUsers from RO_UserMapping where userid= @userID)) as a 
						where PartyCode like  '' + cast(a.DistributorId as varchar) + ':%'
				end
				else
				begin
					select [ID],[PartyCode],[ReceiptNo],cast([ReceiptDate] as varchar(10)) as [ReceiptDate],[ChqNo],cast([ChqDate] as varchar(10)) as [ChqDate]
					  ,[ChqAmt],[BankName],[Branch],cast([BounceDate] as varchar(10)) as [BounceDate] ,@userID as userid
					  from RO_ChequeReturnDetails where PartyCode like  ''+@DistPrefix+'%'
				end
		
				----Discount Master
				print 'RO_DiscountMaster'
				Select 'DiscountMaster'
				if(@valIsMultiUser='1' and exists(select mappedUsers from RO_UserMapping where userid= @userID))
				begin
					select RO_DiscountMaster.*, a.UserId as userid from RO_DiscountMaster, (select DistributorId, userid from RO_MultiEntityUser WHERE UserID in (select mappedUsers from RO_UserMapping where userid= @userID)) as a 
						where Code like  '' + cast(a.DistributorId as varchar) + ':%'
				end
				else
				begin
					select *,@userID as userid from RO_DiscountMaster where Code like  ''+@DistPrefix+'%'
				end
				
				----Scheme Master
				print 'RO_SchemeMaster'
				Select 'SchemeMaster'
				if(@valIsMultiUser='1' and exists(select mappedUsers from RO_UserMapping where userid= @userID))
				begin
					select * from RO_SchemeMaster, (select DistributorId, userid from RO_MultiEntityUser WHERE UserID in (select mappedUsers from RO_UserMapping where userid= @userID)) as a 
						where Code like  '' + cast(a.DistributorId as varchar) + ':%'
				end
				else
				begin
					select *,@userID as userid from RO_SchemeMaster where Code like  ''+@DistPrefix+'%'
				end


				--View of Pending Order Master, Pending Order Details, -Pending Order Discount
				print 'VW_PendingOrders'
				Select 'VW_PendingOrders'
				if(@valIsMultiUser='1' and exists(select mappedUsers from RO_UserMapping where userid= @userID))
				begin
					-- No proper data available, need to validate query after receiving data
					select VW_PendingOrders.*, a.UserID as userid FROM VW_PendingOrders, 
					(select customerid, userid from RO_UsersCustomers WHERE UserID in (select MappedUsers from RO_UserMapping where userid= @userID)) as a 
					where a.customerid = VW_PendingOrders.CustomerId  
				end
				else
				begin
					select *,@userID as userid from #TEMPVIEW -- where POM_SALESMAN_CODE=@LoginIdNoColon OPTION (RECOMPILE);
				end
			
		end

		print 'RO_SchemeDetails'
		Select 'SchemeDetails'
		select ID, SchemeID, SchemeName, format(FromDate, 'dd-MMM-yyyy') FromDate, format(ToDate, 'dd-MMM-yyyy') ToDate, SlabNo, SchemeBenefits, Remarks 
		from RO_SchemeDetails
		
		Select 'RO_MultiEntityUser'
		select * from RO_MultiEntityUser where distributorid in (select distributorid from RO_MultiEntityUser WHERE UserID in (select mappedUsers from RO_UserMapping where userid= @userID))
		and userid in( select mappedUsers from RO_UserMapping where userid= @userID)


	
		if(@valIsMultiUser='1' and exists(select mappedUsers from RO_UserMapping where userid= @userID))
		begin
			print 'TX_PaymentReceipt_Log'
			Select 'PaymentReceipt_Log'
			select * from TX_PaymentReceipt_Log, (select mappedUsers from RO_UserMapping where userid= @userID) as A
			where TX_PaymentReceipt_Log.ExecutiveID = A.MappedUsers  and ReceivedDateTime>= @FromDate
		end
		else
		begin
			print 'TX_PaymentReceipt_Log'
			Select 'PaymentReceipt_Log'
			select * from TX_PaymentReceipt_Log  where ExecutiveID= @userID and ReceivedDateTime>= @FromDate
		end

		if(@valIsMultiUser='1' and exists(select mappedUsers from RO_UserMapping where userid= @userID))
		begin
			print 'TX_Collections_Log'
			Select 'Collections_Log'
			select * from TX_Collections_Log where ReceiptID in (select id from TX_PaymentReceipt_Log, (select mappedUsers from RO_UserMapping where userid= @userID) as A
			where TX_PaymentReceipt_Log.ExecutiveID = A.MappedUsers  and ReceivedDateTime>= @FromDate)
		end
		else
		begin
			print 'TX_Collections_Log'
			Select 'Collections_Log'
			select * from TX_Collections_Log   where ReceiptID in (select ID from TX_PaymentReceipt_Log  where ExecutiveID= @userID and ReceivedDateTime>= @FromDate)
		end


		if(@valIsMultiUser='1' and exists(select mappedUsers from RO_UserMapping where userid= @userID))
		begin
			print 'TX_CollectionsDetails_Log'
			Select 'CollectionsDetails_Log'
			select * from TX_CollectionsDetails_Log where CollectionID in (select id from TX_Collections_Log where ReceiptID in (select id from TX_PaymentReceipt_Log, (select mappedUsers from RO_UserMapping where userid= @userID) as A
			where TX_PaymentReceipt_Log.ExecutiveID = A.MappedUsers  and ReceivedDateTime>= @FromDate))

		end
		else
		begin
				print 'TX_CollectionsDetails_Log'
			Select 'CollectionsDetails_Log'
			select * from TX_CollectionsDetails_Log  where CollectionID in (select id from TX_Collections_Log   where ReceiptID in (select ID from TX_PaymentReceipt_Log  where ExecutiveID= @userID and ReceivedDateTime>= @FromDate))
		end

		print 'TX_ZyleminiNewParty'
		Select 'ZyleminiNewParty'
		select * from TX_ZyleminiNewParty where UserId = @userID --and isnull(TargetId, '') = ''

		print 'PJPMaster'
		Select 'PJPMaster'
		If Exists (select entitytypeid from RO_MJPMasterDetails where MJPMasterID = (select top 1 id from RO_MJPMaster where ExecutiveID=@userID order by MonthYear desc)
					and PlannedDate=CONVERT(char(10), GetDate(),126))
		begin

			if(@valIsMultiUser='1' and exists(select mappedUsers from RO_UserMapping where userid= @userID))
			begin
				print ' route 1'
				insert into #TempRoute select distinct RouteID, RouteName, a.UserID as userid from RO_PCustomer,
				(select customerid, userid from RO_UsersCustomers WHERE UserID in (select MappedUsers from RO_UserMapping where userid= @userID)) as a 
				where RO_PCustomer.customerid in 
				(select entitytypeid from RO_MJPMasterDetails where MJPMasterID = (select top 1 id from RO_MJPMaster where ExecutiveID=@userID order by MonthYear desc)
				and PlannedDate=CONVERT(char(10), GetDate(),126)) and RO_PCustomer.CustomerId=a.CustomerID	order by RouteName		
				insert into #TempRoute select distinct RouteID, RouteName, a.UserID as userid from RO_PCustomer,
				(select customerid, userid from RO_UsersCustomers WHERE UserID in (select MappedUsers from RO_UserMapping where userid= @userID)) as a 
				where RO_PCustomer.CustomerId not in 
				(select entitytypeid from RO_MJPMasterDetails where MJPMasterID = (select top 1 id from RO_MJPMaster where ExecutiveID in (select MappedUsers from RO_UserMapping where userid= @userID) order by MonthYear desc)
				and PlannedDate=CONVERT(char(10), GetDate(),126)) and RO_PCustomer.CustomerId=a.CustomerID	order by RouteName
						
				select RouteID, RouteName, userid from #TempRoute order by SrNo
			end
			else
			begin
				print ' route 2'
				insert into #TempRoute select distinct RouteID, RouteName from RO_PCustomer where customerid in 
				(select entitytypeid from RO_MJPMasterDetails where MJPMasterID = (select top 1 id from RO_MJPMaster where ExecutiveID=@userID order by MonthYear desc)
				and PlannedDate=CONVERT(char(10), GetDate(),126))	order by RouteName		
				insert into #TempRoute select distinct RouteID, RouteName from RO_PCustomer where customerid not in 
				(select entitytypeid from RO_MJPMasterDetails where MJPMasterID = (select top 1 id from RO_MJPMaster where ExecutiveID=@userID order by MonthYear desc)
				and PlannedDate=CONVERT(char(10), GetDate(),126)) order by RouteName
						
				select RouteID, RouteName, @userID as userid from #TempRoute order by SrNo
			end
		end
		else
		begin
			if(@valIsMultiUser='1' and exists(select mappedUsers from RO_UserMapping where userid= @userID))
			begin
				print ' route 3'
				select distinct RouteID, RouteName,a.UserID as userid from RO_PCustomer,
				(select customerid, userid from RO_UsersCustomers WHERE UserID in (select MappedUsers from RO_UserMapping where userid= @userID)) as a 
				WHERE  RO_PCustomer.CustomerId = a.CustomerID
			end
			else
			begin
				print ' route 4'
				select distinct RouteID, RouteName,@userID as userid from RO_PCustomer WHERE CustomerId IN (SELECT CustomerId from RO_UsersCustomers WHERE UserID =@userID)
			end
		end

		
		if (@DistPrefix!='')
		begin
			if(@valIsMultiUser='1' and exists(select mappedUsers from RO_UserMapping where userid= @userID))
			begin
				print ' price 1'
				print 'RO_PriceListClassification ' + SUBSTRING(@DistPrefix,0,patindex('%:%',@DistPrefix))
				Select 'PriceListClassification'
				select PRC.*, A.UserId as userid  from RO_PriceListClassification PRC	
				, (select distributorid, userid from RO_MultiEntityUser WHERE UserID in (select mappedUsers from RO_UserMapping where userid= @userID)) as A
				WHERE A.distributorid=PRC.DistributorId
				--and PRC.DistributorId = SUBSTRING(@DistPrefix,0,patindex('%:%',@DistPrefix))
			end
			else
			begin
				print ' price 2'
				print 'RO_PriceListClassification ' + SUBSTRING(@DistPrefix,0,patindex('%:%',@DistPrefix))
				Select 'PriceListClassification'
				select PRC.*,@userID as userid from RO_PriceListClassification PRC	where DistributorId = SUBSTRING(@DistPrefix,0,patindex('%:%',@DistPrefix))
			end
		end
		else
		begin 
			if(@valIsMultiUser='1' and exists(select mappedUsers from RO_UserMapping where userid= @userID))
			begin

				print ' price 4'
				print 'RO_PriceListClassification'
				Select 'PriceListClassification'
				select PRC.*, A.UserId as userid from RO_PriceListClassification PRC	, (select distributorid, userid from RO_MultiEntityUser WHERE UserID in (select mappedUsers from RO_UserMapping where userid= @userID)) as A
				WHERE A.distributorid=PRC.DistributorId
			
			end
			else
			begin
				print ' price 3'
				print 'RO_PriceListClassification'
				Select 'PriceListClassification'
				select PRC.*,@userID as userid from RO_PriceListClassification PRC	
			end
		end

		SELECT 'RO_BankCustomer';
		SELECT * FROM RO_BankCustomer WHERE UserId = @userID;


		--print 'TX_ZyleminiUsageLog'
		--Select 'uses_log'
		--select [MenuKeys],[UsageDateTime] from TX_ZyleminiUsageLog  where UserID=@userID
	End 
	--Salesman Login end

End
