USE [ZyleminiPlus_BDPL]
GO
/****** Object:  StoredProcedure [dbo].[prGetUserChildren_ZMP_DB]    Script Date: 3/30/2026 3:45:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO
/*
*********************************************************************************
This Procedure returns a list of all the children for the specified User
Project: ZyleminiPlus
Author: Rajesh kumar   
Dated: 13-Oct-2022
*********************************************************************************
Parameters passed
-----------------
@Code = The code of which the child needs to be fetched
Variables used
--------------
@ReturnTable = Table that is returned by the function
@LIST = Table used to store the complete set of Users
@LIST1 = Table used to store the Current Level of Users
@LIST2 = Table used to store the Next Level of Users
Execution
---------
ZMP -> ZyleminiPlus 
*/

ALTER   Procedure [dbo].[prGetUserChildren_ZMP_DB] 
(
 @Code as varchar(18)
)
--Returns @ReturnTable Table (USERCODE varchar(15), USERNAME varchar(255), SHORTNAME varchar(100), 
--	PARENTCODE varchar(15), PARENTNAME varchar(255), PARENTSHORTNAME varchar(100), BRANCH varchar(50))
as
declare 
@DebugMode as int,
@strsql nvarchar(max),
--@LIST table(code varchar(15), 

@UserType smallint,
@AreaId as varchar(15)
begin
set @DebugMode = 1
   if substring(@Code,1,2) = '1:'
	begin
		set @DebugMode = 1
		set @Code = Right(@Code,len(@Code)-2)
	end
   if @DebugMode = 1 Print 'Start: ' + convert(varchar,getdate(), 109)
Create table #LIST
(
 code varchar(15),
 name nvarchar(500),
 shortname nvarchar(255), 
 parentcode varchar(15),
 parentname nvarchar(500),
 parentshortname nvarchar(255), 
 Branch nvarchar(255),
 UserType nvarchar(10)
)
Create table #LIST1
(
 code varchar(15)
)
Create table #LIST2
(
 code varchar(15)
)
Create table #AreaList
(
 AreaId varchar(15)
)
	-----------------------------------------------------
	--select @UserType = type, @AreaId = AreaId from RO_PUser where UserId = @Code
	
	--insert into #AreaList 
	--select AreaParentList.Areaid from AreaParentList,(select AreaId from usermaster left join UserAreaMapping on usermaster.id=UserAreaMapping.UserId where UserId = @Code ) as a where AreaParentId like '%' + a.AreaId + '%' 
	------------------------------------------------------
	-- Inserts the Primary Code for which the children needs to be fetched
	insert into #LIST values (@Code,'','','','','','','')
	-- insert the First level of Children into LIST1
	--if (@UserType = 2)
	--	begin
			insert into #LIST1 select UserId from RO_OrganizationTree where PARENTID = @Code 
		--End
		--else
		--Begin
		--	insert into #LIST1 select distinct id from usermaster,#AreaList 
		--	where usermaster.Areaid = #AreaList.Areaid 

		--	--select distinct userid from ORGANIZATIONTREE,usermaster where ORGANIZATIONTREE.userid = usermaster.id
		--	--and areaid = @AreaId
		--	--union select UserId from OrganizationTree where PARENTID = @Code 
		--End
	
	-- insert the First Level of Children into LIST
	insert into #LIST select code,'','','','','','','' from #LIST1
	--select distinct code from #LIST where code = '000000000000182'
	-- Clears LIST2 and inserts the second level of Children
	-- LIST2 is supposed to hold the NEXT level of Children 
	delete from #LIST2
	insert into #LIST2 select UserId  from RO_ORGANIZATIONTREE,#LIST1 where RO_ORGANIZATIONTREE.PARENTID = #LIST1.code 
	-- Loop that keeps on executing till the next level fetched is empty
	while exists ( select * from #LIST2)
	begin
	   Print 'RK'
		-- Moves the Currently fetched children to LIST
		insert into #LIST select code,'','','','','','','' from #LIST2
		-- Clears LIST1 and moves the Current children to LIST1, to fetch the next level
		delete  from #LIST1
		insert into #LIST1 select * from #LIST2
		-- LIST2 is cleared and stores the children for the NEXT level
		delete from #LIST2
		insert into #LIST2 select UserId from RO_ORGANIZATIONTREE,#LIST1 where RO_ORGANIZATIONTREE.PARENTID = #LIST1.code  
		--where PARENTID in ( select code from @LIST1)
	end
	-- Updates the PARENTID for each User
	Update #LIST set parentcode = PARENTID from #LIST, RO_ORGANIZATIONTREE where code = UserId
	-- Updates the Name & Short Name of each User
	Update #LIST set name = RO_PUser.UserName, shortname = LOGINID from #LIST,RO_PUser where code = RO_PUser.UserId
	--(select id, name, login, BranchId from USERMASTER where type in (select id from UserType where UserGroup='zylem users')) USERMASTER  where code = Id
	-- Updates the Name & Short Name of each Parent
	Update #LIST set parentname = RO_PUser.UserName, parentshortname = LOGINID 	from #LIST,RO_PUser where parentcode = RO_PUser.UserId
	--(select id, name, login from USERMASTER where type in (select id from UserType where UserGroup='zylem users')) USERMASTER where parentcode = Id
	-- Updates the Branch of each User
	--Update #LIST set Branch = SUBGROUPMASTER.Name from #LIST, SUBGROUPMASTER  where Branch=SUBGROUPMASTER.Id
	
	--delete from #LIST where code <> @Code and parentcode = ''
	--delete from #LIST where code <> @Code and UserType in (4,5)
	-- The Final List of Children
select distinct L.*
from #LIST L
join RO_PUser U on L.code = U.UserId
where U.IsActive = 1
	--insert into @ReturnTable
	--select distinct * from @LIST
	Drop table #LIST 
	Drop table #LIST1
	Drop table #LIST2
end