USE [ZyleminiPlus_BDPL]
GO
/****** Object:  StoredProcedure [dbo].[prGetTeamActivitySummary]    Script Date: 3/30/2026 3:44:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author: Moreshwar Mujbaile
-- Created date: 04 Feb 2024
-- Description:	Get summary of child users of a parent user
-- EXEC prGetTeamActivitySummary 210, '25-09-2025', 1
-- =============================================
ALTER     PROCEDURE [dbo].[prGetTeamActivitySummary]
(
	@P_Parent_UserID		INT,
	@P_Date					NVARCHAR(100),
	@P_CommandType			INT
)
AS 
BEGIN
	DECLARE @V_StrQuery NVARCHAR(MAX), @V_JsonData NVARCHAR(MAX);
	SET @P_Date = '''' + CONVERT(VARCHAR(200), CONVERT(DATETIME, @P_Date, 105), 105) + '''';
	PRINT 'Parent UserID : ' + CAST(@P_Parent_UserID AS NVARCHAR(100));
	PRINT 'Date : ' + @P_Date;
	

	DROP TABLE IF EXISTS #TEAMSUMMARY;
	DROP TABLE IF EXISTS #TEMP_Parent;

	CREATE TABLE #TEAMSUMMARY
	(
		Activity	NVARCHAR(200),
		Figure		NUMERIC(18,2),
		Icon		NVARCHAR(200),
		IconBg		NVARCHAR(200),
		IconColor	NVARCHAR(200),
		IconFamily	NVARCHAR(200)
	);

	IF(@P_CommandType = 1) -- FOR ENTIRE TEAM
	BEGIN

		-- TOTAL CALLS
		SET @V_StrQuery =' INSERT INTO #TEAMSUMMARY VALUES (''Total Calls'',(SELECT ISNULL(COUNT(DISTINCT O.EntityID),0) FROM TX_OrderMaster O 
							INNER JOIN RO_PCustomer PC ON PC.CustomerId = O.EntityID
							WHERE O.ExecutiveID IN (SELECT USERID FROM RO_PUser WHERE ParentIdList LIKE ''%,' + CAST(@P_Parent_UserID AS NVARCHAR(40)) + ',%'') 
							AND CONVERT(VARCHAR(MAX), O.OrderTakenDatetime, 34 )= ' + @P_Date + ' AND O.CollectionType NOT IN (8,9)),
							''phone'',''#EBF5FF'',''#1E40AF'',''MaterialCommunityIcons'');';

		

		-- VISIT CALLS 
		SET @V_StrQuery = @V_StrQuery + ' INSERT INTO #TEAMSUMMARY VALUES (''Visit Calls'',(SELECT ISNULL(COUNT(DISTINCT O.EntityID),0) FROM TX_OrderMaster O 
						INNER JOIN RO_PCustomer PC ON PC.CustomerId = O.EntityID
					WHERE O.ExecutiveID IN (SELECT USERID FROM RO_PUser WHERE ParentIdList LIKE ''%,' + CAST(@P_Parent_UserID AS NVARCHAR(40)) + ',%'')
					AND CONVERT(VARCHAR(MAX), O.OrderTakenDatetime, 34 )= ' + @P_Date + ' AND O.CollectionType = 4),
					''phone'',''#EBF5FF'',''#1E40AF'',''MaterialCommunityIcons'');';


		-- PRODUCTIVE CALLS
		SET @V_StrQuery = @V_StrQuery + ' INSERT INTO #TEAMSUMMARY VALUES (''Productive Calls'',(SELECT ISNULL(COUNT(DISTINCT O.EntityID),0) FROM TX_OrderMaster O 
					INNER JOIN RO_PCustomer PC ON PC.CustomerId = O.EntityID
					WHERE O.ExecutiveID IN (SELECT USERID FROM RO_PUser WHERE ParentIdList LIKE ''%,' + CAST(@P_Parent_UserID AS NVARCHAR(40)) + ',%'')
					AND CONVERT(VARCHAR(MAX), O.OrderTakenDatetime, 34 )= ' + @P_Date + ' AND O.CollectionType = 0),
					''check-circle'',''#ECFDF5'',''#065F46'',''MaterialCommunityIcons'');';

		-- ORDER BOOKED
		SET @V_StrQuery = @V_StrQuery + ' INSERT INTO #TEAMSUMMARY VALUES (''Order Booked'',(SELECT ISNULL(COUNT(DISTINCT MobileGenPrimaryKey),0) FROM TX_OrderMaster O 
					INNER JOIN RO_PCustomer PC ON PC.CustomerId = O.EntityID
					WHERE O.ExecutiveID IN (SELECT USERID FROM RO_PUser WHERE ParentIdList LIKE ''%,' + CAST(@P_Parent_UserID AS NVARCHAR(40)) + ',%'')
					AND CONVERT(VARCHAR(MAX), O.OrderTakenDatetime, 34 )= ' + @P_Date + ' AND O.CollectionType = 0),
					''clipboard-list'',''#F5F3FF'',''#5B21B6'',''MaterialCommunityIcons'');';
					
		
		-- ORDER VALUE
		SET @V_StrQuery = @V_StrQuery + ' INSERT INTO #TEAMSUMMARY VALUES (''Order Value'',(SELECT ISNULL(SUM(O.TotalAmount),0) FROM TX_OrderMaster O 
					INNER JOIN RO_PCustomer PC ON PC.CustomerId = O.EntityID
					WHERE O.ExecutiveID IN (SELECT USERID FROM RO_PUser WHERE ParentIdList LIKE ''%,' + CAST(@P_Parent_UserID AS NVARCHAR(40)) + ',%'')
					AND CONVERT(VARCHAR(MAX), O.OrderTakenDatetime, 34)= ' + @P_Date + ' AND O.CollectionType = 0),
					''currency-inr'',''#FFF7ED'',''#9A3412'',''MaterialCommunityIcons'');';

		PRINT @V_StrQuery;
		EXEC sp_executesql @V_StrQuery;
		--Added condition and RO_UsersCustomers.Customerid=RO_OutstandingDetails.Partycode by Akash
		-- TODAY'S OUTSTANDING
		SET @V_StrQuery = 'SELECT * INTO #TEMP_Parent
		 FROM RO_PUser WHERE ParentIdList LIKE ''%,' + CAST(@P_Parent_UserID AS NVARCHAR(40)) + ',%'';

		INSERT INTO #TEAMSUMMARY VALUES (''Todays Outstanding'',(SELECT ISNULL(SUM(CAST(RO_OutstandingDetails.OSAmount AS NUMERIC(18,2))),0)
		FROM RO_OutstandingDetails, #TEMP_Parent,RO_UsersCustomers WHERE RO_OutstandingDetails.SalesmanCode = #TEMP_Parent.LoginID and RO_UsersCustomers.Customerid=RO_OutstandingDetails.Partycode),
		''chart-line'',''#FFF7ED'',''#9A3412'',''MaterialCommunityIcons'');';

		-- TODAY'S COLLECTION
		SET @V_StrQuery = @V_StrQuery + ' INSERT INTO #TEAMSUMMARY VALUES (''Total Collection'',(SELECT ISNULL(SUM(Amount),0)  FROM TX_PaymentReceipt_Log PR
		INNER JOIN TX_OrderMaster O ON PR.MobileGenPrimaryKey = O.MobileGenPrimaryKey
		INNER JOIN #TEMP_Parent T ON T.UserID = O.ExecutiveID
		WHERE CONVERT(VARCHAR(MAX), OrderTakenDatetime, 34)= ' + @P_Date + '),
		''credit-card'',''#FFF7ED'',''#9A3412'',''MaterialCommunityIcons'');'
		
		PRINT @V_StrQuery;
		EXEC sp_executesql @V_StrQuery;

		SELECT 
			Activity,
			ISNULL(CAST(Figure AS NVARCHAR(100)),'"Figure" : "0",') AS Figure, 
			Icon,
			IconBg,
			IconColor,
			IconFamily
		FROM #TEAMSUMMARY 
		FOR JSON AUTO;

	END

	ELSE		-- FOR PARENT USER ONLY
	BEGIN

			-- TOTAL CALLS
		SET @V_StrQuery =' INSERT INTO #TEAMSUMMARY VALUES (''Total Calls'',(SELECT ISNULL(COUNT(DISTINCT EntityID),0) FROM TX_OrderMaster O 
					INNER JOIN RO_PCustomer PC ON PC.CustomerId = O.EntityID
					WHERE O.ExecutiveID = ' + CAST(@P_Parent_UserID AS NVARCHAR(40)) + ' 
					AND CONVERT(VARCHAR(MAX), O.OrderTakenDatetime, 34 )= ' + @P_Date + ' AND O.CollectionType NOT IN (8,9)),
					''phone'',''#EBF5FF'',''#1E40AF'',''MaterialCommunityIcons'');';

		

		-- VISIT CALLS 
		SET @V_StrQuery = @V_StrQuery + ' INSERT INTO #TEAMSUMMARY VALUES (''Visit Calls'',(SELECT ISNULL(COUNT(DISTINCT EntityID),0) FROM TX_OrderMaster O 
					INNER JOIN RO_PCustomer PC ON PC.CustomerId = O.EntityID
					WHERE O.ExecutiveID = ' + CAST(@P_Parent_UserID AS NVARCHAR(40)) + ' 
					AND CONVERT(VARCHAR(MAX), O.OrderTakenDatetime, 34 )= ' + @P_Date + ' AND O.CollectionType = 4),
					''phone'',''#EBF5FF'',''#1E40AF'',''MaterialCommunityIcons'');';


		-- PRODUCTIVE CALLS
		SET @V_StrQuery = @V_StrQuery + ' INSERT INTO #TEAMSUMMARY VALUES (''Productive Calls'',(SELECT ISNULL(COUNT(DISTINCT EntityID),0) FROM TX_OrderMaster O 
					INNER JOIN RO_PCustomer PC ON PC.CustomerId = O.EntityID
					WHERE O.ExecutiveID = ' + CAST(@P_Parent_UserID AS NVARCHAR(40)) + ' 
					AND CONVERT(VARCHAR(MAX), O.OrderTakenDatetime, 34 )= ' + @P_Date + ' AND O.CollectionType = 0),
					''check-circle'',''#ECFDF5'',''#065F46'',''MaterialCommunityIcons'');';

		-- ORDER BOOKED
		SET @V_StrQuery = @V_StrQuery + ' INSERT INTO #TEAMSUMMARY VALUES (''Order Booked'',(SELECT ISNULL(COUNT(DISTINCT MobileGenPrimaryKey),0) FROM TX_OrderMaster O 
					INNER JOIN RO_PCustomer PC ON PC.CustomerId = O.EntityID
					WHERE O.ExecutiveID = ' + CAST(@P_Parent_UserID AS NVARCHAR(40)) + ' 
					AND CONVERT(VARCHAR(MAX), O.OrderTakenDatetime, 34 )= ' + @P_Date + ' AND O.CollectionType = 0),
					''clipboard-list'',''#F5F3FF'',''#5B21B6'',''MaterialCommunityIcons'');';
					
		
		-- ORDER VALUE
		SET @V_StrQuery = @V_StrQuery + ' INSERT INTO #TEAMSUMMARY VALUES (''Order Value'',(SELECT ISNULL(SUM(TotalAmount),0) FROM TX_OrderMaster O 
					INNER JOIN RO_PCustomer PC ON PC.CustomerId = O.EntityID
					WHERE O.ExecutiveID = ' + CAST(@P_Parent_UserID AS NVARCHAR(40)) + ' 
					AND CONVERT(VARCHAR(MAX), O.OrderTakenDatetime, 34)= ' + @P_Date + ' AND O.CollectionType = 0),
					''currency-inr'',''#FFF7ED'',''#9A3412'',''MaterialCommunityIcons'');';

		PRINT @V_StrQuery;
		EXEC sp_executesql @V_StrQuery;

		-- TODAY'S OUTSTANDING
		SET @V_StrQuery = 'SELECT * INTO #TEMP_Parent
		 FROM RO_PUser WHERE UserID = ' + CAST(@P_Parent_UserID AS NVARCHAR(40)) + ';

		INSERT INTO #TEAMSUMMARY VALUES (''Todays Outstanding'',(SELECT ISNULL(SUM(CAST(RO_OutstandingDetails.OSAmount AS NUMERIC(18,2))),0)
		FROM RO_OutstandingDetails, #TEMP_Parent WHERE RO_OutstandingDetails.SalesmanCode = #TEMP_Parent.LoginID),
		''chart-line'',''#FFF7ED'',''#9A3412'',''MaterialCommunityIcons'');';

		-- TODAY'S COLLECTION
		SET @V_StrQuery = @V_StrQuery + ' INSERT INTO #TEAMSUMMARY VALUES (''Total Collection'',(SELECT ISNULL(SUM(Amount),0)  FROM TX_PaymentReceipt_Log PR
		INNER JOIN TX_OrderMaster O ON PR.MobileGenPrimaryKey = O.MobileGenPrimaryKey
		INNER JOIN #TEMP_Parent T ON T.UserID = O.ExecutiveID
		WHERE CONVERT(VARCHAR(MAX), OrderTakenDatetime, 34)= ' + @P_Date + '),
		''credit-card'',''#FFF7ED'',''#9A3412'',''MaterialCommunityIcons'');'
		
		PRINT @V_StrQuery;
		EXEC sp_executesql @V_StrQuery;

		SELECT 
			Activity,
			ISNULL(CAST(Figure AS NVARCHAR(100)),'"Figure" : "0",') AS Figure, 
			Icon,
			IconBg,
			IconColor,
			IconFamily
		FROM #TEAMSUMMARY 
		FOR JSON AUTO;

		END

END