USE [ZyleminiPlus_BDPL]
GO
/****** Object:  StoredProcedure [dbo].[prLocationBaseLatLongDetails_ZMP_DB]    Script Date: 3/30/2026 3:46:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO

-- =============================================
-- Author:		<Author,Rajesh kumar>
-- Create date: <Create Date 20-Oct-2022>
-- Poject : ZyleminiPlus
-- Description:	<Description,,There should be report available based on lat long details of executive in ZyleminiPlus Database
-- =============================================
-- exec prLocationBaseLatLongDetails_ZMP_DB '1:76,75','2022-10-19','2022-10-19','0'
--exec prLocationBaseLatLongDetails_ZMP_DB '1:76,75','2022-10-19','2022-10-19','1'
--exec prLocationBaseLatLongDetails_ZMP_DB '89','2024-08-06','2024-08-07','1'
ALTER     PROCEDURE [dbo].[prLocationBaseLatLongDetails_ZMP_DB] (
@UserId nvarchar(max),
@FromDate varchar(11),
@ToDate varchar(11),
@MultidayLatLong varchar(2) -- value 1 means true and 0 means false // Expected value 1 or 0
) 
AS 
DECLARE 
	@strSql nvarchar (MAX),
	@startDay tinyint,
	@endDay tinyint,	
	@endDate smalldatetime,
	@startDate varchar(11),
	@lastDate varchar(11),	
	@DebugMode int,
	@strUserId nvarchar(max),	
	@ColumnFieldNameKeycode nvarchar(max),
	@ColumnFieldName nvarchar(50),
	@k int,
	@MonthYear as nvarchar(50),
	@Index int,
	@Count int,
	@MaxRecCount int,
	@MinRecCount int
	
	
BEGIN
	BEGIN TRY
		set @DebugMode = 1
    
	create table #UserChildren
	(
		UserId int
	)

    Create table #LocationBaseLatLongDetails
	(
		SrNo int identity,
		UserId int,
		UserName nvarchar(500),
		VisitDate date,
		DateTimeStamp nvarchar(100),
		latitude numeric(18,6), -- requried column name in small latter
		longitude numeric(18,6) -- required column name in small latter
		
	)

	
	
	
	
	if substring(@UserId,1,2) = '1:'
	begin
		set @DebugMode = 1
		set @UserId = Right(@UserId,len(@UserId)-2)		
	end
	if @DebugMode=1  print 'Get user children start : ' + convert(varchar,getdate(), 113)
	
	SET @strSql = N'' + "Insert into #UserChildren select val from Split('"+@UserId+"',',')"
	   Print "@strSql-#UserChildren-"+@strSql
	   exec sp_executeSql @strSql
	
	
	
	if @DebugMode=1  print 'Get user children end : ' + convert(varchar,getdate(), 113) +' ' + @strSql
	
	if(@MultidayLatLong = '1')
	 begin
	    set @strSql= N'insert into #LocationBaseLatLongDetails'
		set @strSql=@strSql + " select RO_Puser.UserId,RO_Puser.UserName,cast(LatLongTakenDatetime as date) as VisitDate,
		CONVERT(varchar,LatLongTakenDatetime,21) as LatLongTakenDatetime,
		Latitude,Longitude from TX_LocationMaster,RO_Puser,#UserChildren
		where TX_LocationMaster.UserId = RO_Puser.UserId and RO_Puser.UserId = #UserChildren.UserId 
		and cast(LatLongTakenDatetime as date) >= '"+@FromDate+"' and cast(LatLongTakenDatetime as date) <= '"+@ToDate+"'
		and cast(Latitude as varchar) <> '' and Latitude <> cast(10.000000 as varchar)
		and cast(Longitude as varchar) <> '' and Longitude <> cast(10.000000 as varchar) "
		--and Longitude <> '' and Longitude <> cast('10.000000' as varchar)"
		if @DebugMode=1  print '@strSql : ' + @strSql
		exec sp_executesql @strSql		
	 end
	else
	 begin
	  set @strSql= N'insert into #LocationBaseLatLongDetails'
		set @strSql=@strSql + " select RO_Puser.UserId,RO_Puser.UserName,Null,CONVERT(varchar,Max(LatLongTakenDatetime),21) as LatLongTakenDatetime,NULL,NULL
		from TX_LocationMaster,RO_Puser,#UserChildren
		where TX_LocationMaster.UserId = RO_Puser.UserId and RO_Puser.UserId = #UserChildren.UserId 
		and cast(LatLongTakenDatetime as date) = '"+@FromDate+"' 
		and cast(Latitude as varchar) <> '' and Latitude <> cast(10.000000 as varchar)
		and cast(Longitude as varchar) <> '' and Longitude <> cast(10.000000 as varchar) Group by RO_Puser.UserId,RO_Puser.UserName  "
		--and Longitude <> '' and Longitude <> cast('10.000000' as varchar)"
		if @DebugMode=1  print '@strSql : ' + @strSql
		exec sp_executesql @strSql	
		
		update #LocationBaseLatLongDetails set #LocationBaseLatLongDetails.Latitude =TX_LocationMaster.Latitude,
		#LocationBaseLatLongDetails.Longitude =TX_LocationMaster.Longitude,VisitDate = cast(LatLongTakenDatetime as date) from #LocationBaseLatLongDetails,TX_LocationMaster
		where #LocationBaseLatLongDetails.UserId= TX_LocationMaster.UserId
		and #LocationBaseLatLongDetails.DateTimeStamp = TX_LocationMaster.LatLongTakenDatetime

	 end

	 select 'LocationBaseLatLongDetails' as Tablename	
	    select distinct UserId,UserName,Cast(VisitDate as varchar) as [VisitDate],MAX(DateTimeStamp) DateTimeStamp,latitude,longitude 
		from #LocationBaseLatLongDetails 
		GROUP BY UserId, UserName, VisitDate, latitude, longitude
		order by UserName --where ExecutiveId = 22839
	
    Drop table #LocationBaseLatLongDetails	
	DROP TABLE #UserChildren

	if @DebugMode = 1
	begin
		print format(getdate(),'HH:mm:ss:ms') + ' - Report End'
	end
	END TRY
	BEGIN CATCH			

		if(@@ERROR = '1701')
		begin
			select  'Maximum allowed columns Exceeded' as Error
		end
		else if(@@ERROR = '1702')
		begin
			select 'Maximum allowed columns Exceeded' as Error
		end
		else
		begin
			select 'Error while processing data, please contact admin' as Error
		end 
		IF @@TRANCOUNT > 0 ROLLBACK TRANSACTION
		INSERT INTO [ERRORLOG] VALUES ('prLocationBaseLatLongDetails_ZMP_DB', GETDATE(), ERROR_LINE(), ERROR_MESSAGE()+' '+@strSql)
		
	END CATCH


END