USE [ZyleminiPlus_BDPL]
GO
/****** Object:  StoredProcedure [dbo].[prMJPCreater]    Script Date: 3/30/2026 3:46:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER procedure [dbo].[prMJPCreater] (@UserID as int, @MonthYear as varchar)
as 
begin 
	select top 1 * from RO_PUser
end