USE [ZyleminiPlus_BDPL]
GO
/****** Object:  StoredProcedure [dbo].[proc_zyleminiPlusToZylemForAPI]    Script Date: 3/30/2026 3:46:44 PM ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER OFF
GO

/*
** The system profile of the same type of agent will be used as a template for 
** the parameters in this new user profile.
*/

--Exec proc_zyleminiPlusToZylemForAPI '4070','1'
ALTER procedure [dbo].[proc_zyleminiPlusToZylemForAPI] (
    @id             int,
	@report_id            int
)
AS
    SET NOCOUNT ON

Begin 


If(@report_id=1)
	  --Begin OrderMaster
Begin
    If(@id !='')
	  Begin	
	  
	       --OrderMaster 
		   print 'OrderMaster' 
		   Select 'OrderMaster' 
           select ID,MobileGenPrimaryKey as AppOrderId,CONVERT(NVARCHAR(30), OrderTakenDatetime, 121) as CurrentDatetime,EntityType,EntityId,Latitude,Longitude,TotalAmount, format(FromDate , 'yyyy-MM-dd') FromDate,format(ToDate , 'yyyy-MM-dd')ToDate
		   ,CollectionType,ExecutiveID as UserId,Remarks as Remark,isNull(DefaultDistributorId,'0') as DefaultDistributorId,CONVERT(NVARCHAR(30), ExpectedDeliveryDate, 121)ExpectedDeliveryDate,CONVERT(NVARCHAR(30), DBInsertDateTime
		   , 121)InsertedDate
		   ,CONVERT(NVARCHAR(30), ActivityStartTime, 121)ActivityStartTime,CONVERT(NVARCHAR(30), ActivityEndTime, 121)ActivityEndTime  ,DiscountAmount, ActivityStatus
		   from TX_OrderMaster where ID>@id

		   --OrderDetais
		   print 'OrderDetails'
		   Select 'OrderDetails'
		   select  * from TX_OrderDetails where OrderId>@id

		    --TX_Discount
		   print 'TX_Discount'
		   Select 'TX_Discount'
		   select  TX_Discount.* from TX_Discount, TX_OrderMaster where TX_Discount.OrderID = TX_OrderMaster.ID and  OrderId>@id

		   --AssetsDetails
		   print 'AssetPlacementVerification'
		   Select 'AssetsDetails'
		   select  * from TX_AssetPlacementVerification where OrderId>@id

		   --ImagesDetails
		   --print 'ImagesDetails'
		   Select 'ImagesDetails'
		   select  Id,OrderId,CONVERT(NVARCHAR(30), ImageTakenDatetime, 121)ImageDateTime,ImageNameWithExt as ImageName  from  TX_ImagesDetails where OrderId>@id
		   
		   --PaymentReceipt
		   print 'PaymentReceipt'
		   Select 'PaymentReceipt'
		   select * from TX_PaymentReceipt where OrderId>@id

		   --Insert into TX_PaymentReceipt_Log select *, getdate() from TX_PaymentReceipt where OrderId>@id
		   delete from TX_PaymentReceipt where OrderId>@id

		   --CollectionsDetails
		   print 'CollectionsDetails'
		   Select 'CollectionsDetails'
		   select * from TX_CollectionsDetails where CollectionId IN(select ID from TX_Collections where OrderId > @id)

		   --Insert into TX_CollectionsDetails_Log select *, getdate() from TX_CollectionsDetails where CollectionId IN(select ID from TX_Collections where OrderId > @id)
		   delete from TX_CollectionsDetails where CollectionId IN(select ID from TX_Collections where OrderId > @id)
		   
		   --Collections
		   print 'Collections'
		   Select 'Collections'
		   select * from TX_Collections where OrderId>@id

		   --Insert into TX_Collections_Log select *, getdate() from TX_Collections where OrderId>@id
		   delete from TX_Collections where OrderId>@id

		   print 'DiscountItemCategory'
		   Select 'DiscountItemCategory'
		   select * from TX_DiscountItemCategory   where OrderId>@id
	  End
	  Else
	  Begin

	      --OrderMaster
		  print 'OrderMaster'
		  Select 'OrderMaster'
		   select ID,MobileGenPrimaryKey as AppOrderId,CONVERT(NVARCHAR(30), OrderTakenDatetime, 121) as CurrentDatetime,EntityType,EntityId,Latitude,Longitude,TotalAmount, format(FromDate , 'yyyy-MM-dd') FromDate,format(ToDate , 'yyyy-MM-dd')ToDate
		   ,CollectionType,ExecutiveID as UserId,Remarks as Remark,isNull(DefaultDistributorId,'0') as DefaultDistributorId,CONVERT(NVARCHAR(30), ExpectedDeliveryDate, 121)ExpectedDeliveryDate,CONVERT(NVARCHAR(30), DBInsertDateTime
		   , 121)InsertedDate
		   ,CONVERT(NVARCHAR(30), ActivityStartTime, 121)ActivityStartTime,CONVERT(NVARCHAR(30), ActivityEndTime, 121)ActivityEndTime  ,DiscountAmount, ActivityStatus
		   from TX_OrderMaster

		  --OrderDetais
		   print 'OrderDetails'
		   Select 'OrderDetails'
		   select  * from TX_OrderDetails

		     --TX_Discount
		   print 'TX_Discount'
		   Select 'TX_Discount'
		  select  TX_Discount.* from TX_Discount, TX_OrderMaster where TX_Discount.OrderID = TX_OrderMaster.ID ----where OrderId>@id

		   --AssetsDetails
		   print 'AssetPlacementVerification'
		   Select 'AssetsDetails'
		   select  * from TX_AssetPlacementVerification

		   --ImagesDetails
		   print 'ImagesDetails'
		   Select 'ImagesDetails'
		   select  Id,OrderId,CONVERT(NVARCHAR(30), ImageTakenDatetime, 121)ImageDateTime,ImageNameWithExt as ImageName  from  TX_ImagesDetails

		   --PaymentReceipt
		   print 'PaymentReceipt'
		   Select 'PaymentReceipt'
		   select * from TX_PaymentReceipt

		   Insert into TX_PaymentReceipt_Log select *, getdate() from TX_PaymentReceipt
		   delete from TX_PaymentReceipt 

		   --CollectionsDetails
		   print 'CollectionsDetails'
		   Select 'CollectionsDetails'
		   select * from TX_CollectionsDetails

		   Insert into TX_CollectionsDetails_Log select *, getdate() from TX_CollectionsDetails
		   delete from TX_CollectionsDetails 

		   --Collections
		   print 'Collections'
		   Select 'Collections'
		   select * from TX_Collections

		   Insert into TX_Collections_Log select *, getdate() from TX_Collections
		   delete from TX_Collections 

		    print 'DiscountItemCategory'
		   Select 'DiscountItemCategory'
		   select * from TX_DiscountItemCategory



	  End
	  --End OrderMaster
	  End
	  If(@report_id=2)
	  Begin
	  --Begin New Party
	    If(@id !='')
	    Begin
		   --zyleminiusagelog
		   print 'zyleminiNewParty'
		   Select 'zyleminiNewParty'
		   SELECT id,BeatID as bitid,MobileGenPrimaryKey as partyid,outletName,contactNumber,ownersName,outletAddress,remark,Latitude,Longitude,image,AddedOnDate as addedon,userid,'' as TargetId,InsertedOnDate as InsertedDate FROM TX_ZyleminiNewParty where ID>@id
		End
		Else
		Begin
		   --zyleminiusagelog
		   print 'zyleminiNewParty'
		   Select 'zyleminiNewParty'
		   SELECT id,BeatID as bitid,MobileGenPrimaryKey as partyid,outletName,contactNumber,ownersName,outletAddress,remark,Latitude,Longitude,image,AddedOnDate as addedon,userid,'' as TargetId,InsertedOnDate as InsertedDate FROM TX_ZyleminiNewParty
		End
	  --End New Party
	  End

	  If(@report_id=3)
	  Begin
	  --Begin Usage Log
	    If(@id !='')
	    Begin
		   --zyleminiusagelog
		   print 'UsageLog'
		   Select 'UsageLog'
		   select ID,MenuKeys,UsageDateTime,UserID,CONVERT(NVARCHAR(30), InsertedDate, 121)InsertedDate from TX_ZyleminiUsageLog where ID>@id
		End
		Else
		Begin
		    --zyleminiusagelog
		    print 'UsageLog'
		    Select 'UsageLog'
			select ID,MenuKeys,UsageDateTime,UserID,CONVERT(NVARCHAR(30), InsertedDate, 121)InsertedDate from TX_ZyleminiUsageLog
		End
	  --End Usage Log
	  End

End