USE [ZyleminiPlus_BDPL]
GO
/****** Object:  StoredProcedure [dbo].[ProcDMSDataSync]    Script Date: 3/30/2026 3:47:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO

ALTER procedure [dbo].[ProcDMSDataSync] ( @TableID numeric(18) , @output tinyint = 0,@Type tinyint = 0 )
with recompile
AS
declare
 
 @strsql nvarchar(3000),
 @TableName varchar(100),
 @TableColcnt numeric(18),
 @TableColname varchar(4000),
 @strcollarr varchar(4000),
 @strColname  varchar(4000),
 @n int,
 @i int
 

Begin
		
 


	create table #TABLE_LIST(			
			TABLE_NAME varchar(100),
			TABLE_COLCNT NUMERIC(18),
			TABLE_COLNAME VARCHAR(500)
			)
	

	create table #COLLIST
	(
	COLID bigint identity(1,1),
	COLNAME varchar(50)
	)
			

			set @n = 1
			set @i = 0
			set @strcollarr = ""
			set @strColname = ""
			set @strcollarr=""


		begin


		 if @Type = 0 
		 begin

			insert into #TABLE_LIST(TABLE_NAME,TABLE_COLCNT,TABLE_COLNAME )  			
			select distinct RCD_CLOUD_DMSKEY,CDT_DMS_COLCNT,CDT_DMS_COLNAME  
			from Retailer_Classification_Details,Cloud_DMS_Tablekey
			where rcd_cloud_dmskey = cdt_cloud_dmskey and 
			CDT_DMS_DMSKEYID =  @TableID 




			Declare Cur_items cursor for
			Select TABLE_NAME,TABLE_COLCNT,TABLE_COLNAME  from #TABLE_LIST  
			open Cur_items

			fetch next from Cur_items into @TableName,@TableColcnt,@TableColname
			while @@fetch_Status  =0            
			Begin			

	
			IF @TableColname <>''
			BEGIN
				while len(@TableColname)  <> 0 
				begin
	
	          
					set @i = PATINDEX ('%,%',@TableColname)
				

					if @i <> 0
					begin			
				    
						set @strcollarr  = SUBSTRING( @TableColname , 1, @i-1)
						set @TableColname = SUBSTRING(@TableColname,@i+1,len(@TableColname))

						set @strColname =  @strColname + " rcd_cloud_Desc" +ltrim(str(@n))+ " as "+ @strcollarr +","
					
						insert into #COLLIST values (@strcollarr)

						set @n = @n+ 1
					end
					else
					begin
						
							insert into #COLLIST values (@TableColname)

							set @strColname =  @strColname +"rcd_cloud_Desc" +ltrim(str(@n))+ " as "+ @TableColname 
							set @TableColname = ""

							

       				end



				end
			END
	


					set @Strsql = " Select distinct cdt_dms_dmskey as Table_Name,cdt_dms_primkey,cdt_dms_colcnt,rcd_cloud_transtatus,rcd_id ," + @strColname 
					set @Strsql = @Strsql + " from  Retailer_Classification_Details,Cloud_DMS_Tablekey "
					set @Strsql = @Strsql + " Where  rcd_cloud_dmskey = cdt_cloud_dmskey and rcd_cloud_dmskey = '" +  @TableName + "'"
					set @Strsql = @Strsql + " and  rcd_dms_syncstatus = 0 "

					if @output= 0
					begin
						EXEC sp_executesql @Strsql
					end

     
				fetch next from Cur_items into @TableName,@TableColcnt,@TableColname

			end
			close Cur_Items
			Deallocate  Cur_Items
        end   

         end

 --   /* Start Product code */ 
		 if @Type = 1
		 begin 	  	  	  	  	  	  	  	  	  	  	  	  	  	  	  	  	  	  	  	  	  	  	  	  	  	  	  	  	  	  	  	  	  	  	  	  	  	  	  	  	  	  	  	  	  	  	  	  	  	  	  	  	  	  	  begin

			insert into #TABLE_LIST(TABLE_NAME,TABLE_COLCNT,TABLE_COLNAME )  			
			select distinct PCD_CLOUD_DMSKEY,CDT_DMS_COLCNT,CDT_DMS_COLNAME  
			from Product_Classification_Details,Cloud_DMS_Tablekey
			where pcd_cloud_dmskey = cdt_cloud_dmskey and 
			CDT_DMS_DMSKEYID =  @TableID 




			Declare Cur_items cursor for
			Select TABLE_NAME,TABLE_COLCNT,TABLE_COLNAME  from #TABLE_LIST  
			open Cur_items

			fetch next from Cur_items into @TableName,@TableColcnt,@TableColname
			while @@fetch_Status  =0            
			Begin			

	
			IF @TableColname <>''
			BEGIN
				while len(@TableColname)  <> 0 
				begin
	
	          
					set @i = PATINDEX ('%,%',@TableColname)
				

					if @i <> 0
					begin			
				    
						set @strcollarr  = SUBSTRING( @TableColname , 1, @i-1)
						set @TableColname = SUBSTRING(@TableColname,@i+1,len(@TableColname))

						set @strColname =  @strColname + " pcd_cloud_Desc" +ltrim(str(@n))+ " as "+ @strcollarr +","
					
						insert into #COLLIST values (@strcollarr)

						set @n = @n+ 1
					end
					else
					begin
						
							insert into #COLLIST values (@TableColname)

							set @strColname =  @strColname +"pcd_cloud_Desc" +ltrim(str(@n))+ " as "+ @TableColname 
							set @TableColname = ""

							

       				end



				end
			END
	


					set @Strsql = " Select distinct cdt_dms_dmskey as Table_Name,cdt_dms_primkey,cdt_dms_colcnt,pcd_cloud_transtatus,pcd_id ," + @strColname 
					set @Strsql = @Strsql + " from  Product_Classification_Details,Cloud_DMS_Tablekey "
					set @Strsql = @Strsql + " Where  pcd_cloud_dmskey = cdt_cloud_dmskey and pcd_cloud_dmskey = '" +  @TableName + "'"
					set @Strsql = @Strsql + " and  pcd_dms_syncstatus = 0 "

					if @output= 0
					begin
						EXEC sp_executesql @Strsql
					end

     
				fetch next from Cur_items into @TableName,@TableColcnt,@TableColname

			end
			close Cur_Items
			Deallocate  Cur_Items
        end   

		 end




		if @output= 1
		begin
 			select COLID, COLNAME 
			from #COLLIST
			order by COLID
		end

	end	
 

  
 -- exec ProcDMSDataSync 5 , 0,0
 -- exec ProcDMSDataSync 5 , 1,0

