USE [ZyleminiPlus_BDPL]
GO
/****** Object:  StoredProcedure [dbo].[prOutletPerformanceReport]    Script Date: 3/30/2026 3:47:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO
-- =============================================
-- Author:		<Rajesh kumar>
-- Create date: <07-Nov-2022>
-- Description:	<Description,,> 
--exec prOutletPerformanceReport '3704',3797,'SKU','3,5,15'
--exec prOutletPerformanceReport '3704',3797,'BRAND','371,372'
-- Added @CurrentMonthEnd for end date of target date of current month 
-- Modified By Nupul On 13-FEB-2025 Issue ID:514585 updated Month condition in Sales section
-- Modified By Nupul On 19-AUG-2025 Issue ID:546988
-- =============================================
ALTER  PROCEDURE [dbo].[prOutletPerformanceReport](
	-- Add the parameters for the stored procedure here
	@LoginUserId Nvarchar(50)='',
	@CustomerId int,
	@FilterType Nvarchar(500)='', --Brand ,Size , SKU
	@FilterTypeId Nvarchar(max)='',
	@UOM NVARCHAR(40) = '',
	@DistributorID nvarchar(10),
	@FromDate NVARCHAR(50),
	@ToDate NVARCHAR(50)
	)
AS
Declare 
   @DebugMode as int,
   @strSql as nvarchar(max),
   @IdColumn nvarchar(50),
   @NameColumn nvarchar(50),
   --@FromDate as date = null,
   --@ToDate as date = null,
   @CurrentMonthEnd as Date=null,
   @FirstDayOfCurMonth as Date,
   @FirstDayOfPreMonth1 as Date,
   @LastDayOfPreMonth1 as Date,
   @FirstDayOfPreMonth2 as Date,
   @LastDayOfPreMonth2 as Date,
   @FieldName as nvarchar(200),
   @TempColumnName as nvarchar(255),
   @Month int,
   @Addbit bit,
   @StartMonth INT,
   @ToMonth INT,
   @Month1 INT,
   @Month2 INT,
   @Month3 INT;
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;
	set @DebugMode = 1
	 SET @StartMonth = (SELECT CASE 
                             WHEN @FromDate = '' THEN 0 
                             ELSE MONTH(CONVERT(NVARCHAR(50), @FromDate, 105)) 
                           END);

	 SET @ToMonth = (SELECT CASE 
	                      WHEN @ToDate = '' THEN 0 
	                      ELSE MONTH(CONVERT(NVARCHAR(50), @ToDate, 105)) 
	                    END);
	
	if substring(@LoginUserId,1,2) = '1:'
		begin
			set @DebugMode = 1
			set @LoginUserId = Right(@LoginUserId,len(@LoginUserId)-2)
		end
		if @DebugMode = 1 Print 'Start: ' + convert(varchar,getdate(), 109)
		
		--set @FromDate = (SELECT cast(DATEADD(month, DATEDIFF(month, 0, EOMONTH (GETDATE(), -2)), 0) as Date) AS StartOfMonth)
		----select @FromDate
		--set @ToDate = (select cast(GETDATE() as Date))
		--select @ToDate

		

		IF(@StartMonth = 0 and @ToMonth = 0)
		BEGIN
			PRINT 1;
			SELECT @Month = MONTH(GETDATE()),
			@Addbit = 0, @FromDate = DATEADD(MONTH, -2, GETDATE()), @ToDate = GETDATE();
		END
		ELSE IF((@StartMonth = 0 and  @ToMonth != 0) OR (@StartMonth != 0 and  @ToMonth != 0))
		BEGIN
			PRINT 2;
			SELECT @Month = @ToMonth,
			@Addbit = 0;
			IF(@StartMonth = 0)
				SET @FromDate = DATEADD(MONTH, -2, CONVERT(NVARCHAR(40), @ToDate, 23));
		END
		ELSE
		BEGIN
			PRINT 3;
			SELECT @Month = @StartMonth,
			@Addbit = 1, @ToDate = DATEADD(MONTH, 2, CONVERT(NVARCHAR(40), @FromDate, 23));
		END

		if(@Addbit = 0)
		begin
			DECLARE @DATE NVARCHAR(20) = DATEFROMPARTS(YEAR(GETDATE()),@Month,1);

			set @CurrentMonthEnd= (select(cast(EOMONTH(@DATE) as Date)))
			--PRINT 'CurrentMonthEnd ' + CAST(@CurrentMonthEnd AS NVARCHAR(20))

			set @FirstDayOfCurMonth = (select DateAdd(month,DateDiff(month,0,@DATE),0))
			--PRINT 'FirstDayOfCurMonth ' + CAST(@FirstDayOfCurMonth  AS NVARCHAR(20))

			set @FirstDayOfPreMonth1 = (select DateAdd(month,DateDiff(month,0,@DATE)-1,0))
			--PRINT 'FirstDayOfPreMonth1 ' + CAST(@FirstDayOfPreMonth1 AS NVARCHAR(20))

			set @LastDayOfPreMonth1 =  (select DateAdd(month,DateDiff(month,0,@DATE),-1))
			--PRINT 'LastDayOfPreMonth1 ' +  CAST(@LastDayOfPreMonth1 AS NVARCHAR(20))

			set @FirstDayOfPreMonth2 = (select DateAdd(month,DateDiff(month,0,@DATE)-2,0))
			--PRINT 'FirstDayOfPreMonth2 ' + CAST(@FirstDayOfPreMonth2 AS NVARCHAR(20))

			set @LastDayOfPreMonth2 = (select DateAdd(month,DateDiff(month,0,@FirstDayOfPreMonth1),-1))
			--PRINT 'LastDayOfPreMonth2 ' + CAST(@LastDayOfPreMonth2 AS NVARCHAR(20))
		end
		ELSE
		BEGIN
		    DECLARE @DATE1 DATE = DATEFROMPARTS(YEAR(GETDATE()), @Month, 1);
		
		    SET @CurrentMonthEnd = EOMONTH(@DATE1);
		    --PRINT 'CurrentMonthEnd ' + CAST(@CurrentMonthEnd AS NVARCHAR(20));
		
		    SET @FirstDayOfCurMonth = DATEADD(MONTH, DATEDIFF(MONTH, 0, @DATE1), 0);
		    --PRINT 'FirstDayOfCurMonth ' + CAST(@FirstDayOfCurMonth AS NVARCHAR(20));
		
		    SET @FirstDayOfPreMonth1 = DATEADD(MONTH, 1, @FirstDayOfCurMonth);
		    --PRINT 'FirstDayOfPreMonth1 ' + CAST(@FirstDayOfPreMonth1 AS NVARCHAR(20));
		
		    SET @LastDayOfPreMonth1 = EOMONTH(@FirstDayOfPreMonth1);
		    --PRINT 'LastDayOfPreMonth1 ' + CAST(@LastDayOfPreMonth1 AS NVARCHAR(20));
		
		    SET @FirstDayOfPreMonth2 = DATEADD(MONTH, 2, @FirstDayOfCurMonth);
		    --PRINT 'FirstDayOfPreMonth2 ' + CAST(@FirstDayOfPreMonth2 AS NVARCHAR(20));

		    SET @LastDayOfPreMonth2 = EOMONTH(@FirstDayOfPreMonth2);
		    --PRINT 'LastDayOfPreMonth2 ' + CAST(@LastDayOfPreMonth2 AS NVARCHAR(20));
		END

		if @DebugMode = 1 Print '@FromDate: ' + convert(varchar,@FromDate, 109)
		if @DebugMode = 1 Print '@ToDate: ' + convert(varchar,@ToDate, 109)

		SELECT @FromDate = convert(varchar,@FromDate, 109), @ToDate = convert(varchar,@ToDate, 109);

		SELECT @UOM = CASE WHEN @UOM = '' THEN (SELECT [VALUE] FROM RO_Settings WHERE [KEY] = 'DefaultUOM') ELSE @UOM END;
		--select @FromDate,@ToDate
		Create Table #PartyOrderDetails
		(
		  SrNo int identity(1,1),
		  CustomerId int,
		  OrderFilterTypeId int,
		  OrderFilterType nvarchar(1000),		  
		  OrderQty numeric(18,2),
		  OrderDateTime datetime,
		  ItemBPC int
		)

		Create Table #PartyTransDetails
		(
		  SrNo int identity(1,1),
		  CustomerId int,
		  FilterTypeId int,
		  FilterType nvarchar(1000),		  
		  QtyInBtl numeric(18,2),
		  OrderDateTime datetime,
		  BPC numeric(18,2),
		  QtyInCase Numeric(18,2)
		)


		Create table #FinalOutletPerformence
		(
		  SrNo int identity(1,1),
		  FilterTypeId int,
		  FilterType nvarchar(1000),
		  --ActivityType nvarchar(50),
		  OR1 numeric(18,2),
		  OR2 numeric(18,2),
		  OR3 numeric(18,2),
		  SA1 numeric(18,2),
		  SA2 numeric(18,2),
		  SA3 numeric(18,2),
		  TA1 numeric(18,2),
		  TA2 numeric(18,2),
		  TA3 numeric(18,2),
		  seq int
		)

		if(upper(@FilterType) = 'SKU')
		 begin
		   set @IdColumn = 'ItemId'
		   set @NameColumn = 'Item'
		   SET @strSql = N'' + "Insert into #FinalOutletPerformence select val,null as N1,null as N2,null as N3,null as N4,null as N5, null as N6,null as N7,null as N8,null as N9,null as N10,id as N11 from Split('"+@FilterTypeId+"',',')"
	       if @DebugMode = 1 Print "@strSql-BrandWise-"+@strSql
	       exec sp_executeSql @strSql

		   --SET @strSql = N'' + "Insert into #FinalOutletPerformence select val,null as N1,null as N2,null as N3,null as N4,null as N5, null as N6,null as N7,null as N8,null as N9,null as N10,id as N11 from Split('"+@FilterTypeId+"',',')"
	    --   if @DebugMode = 1 Print "@strSql-BrandWise-"+@strSql
	    --   exec sp_executeSql @strSql

		   Update #FinalOutletPerformence set FilterType = RO_PItem.Item from #FinalOutletPerformence,RO_PItem where #FinalOutletPerformence.FilterTypeId=RO_PItem.ItemId
	
		 end
	    else if(upper(@FilterType) = 'SIZE')
		 begin
		   set @IdColumn = 'SizeId'
		   set @NameColumn = 'Size'
		   SET @strSql = N'' + "Insert into #FinalOutletPerformence select val,null as N1,null as N2,null as N3,null as N4,null as N5, null as N6,null as N7,null as N8,null as N9,null as N10,id as N11 from Split('"+@FilterTypeId+"',',')"
	       if @DebugMode = 1 Print "@strSql-SizeWise-"+@strSql
	       exec sp_executeSql @strSql

		   
		   Update #FinalOutletPerformence set FilterType = RO_PItem.ITEMSIZE from #FinalOutletPerformence,RO_PItem where #FinalOutletPerformence.FilterTypeId=RO_PItem.ITEMSIZEID
	
		 end
		else if(upper(@FilterType) = 'BRAND')
		 begin
		  
		   set @IdColumn = 'BrandId'
		   set @NameColumn = 'Brand'
		   SET @strSql = N'' + "Insert into #FinalOutletPerformence select val,null as N1,null as N2,null as N3,null as N4,null as N5, null as N6,null as N7,null as N8,null as N9,null as N10,id as N11 from Split('"+@FilterTypeId+"',',')"
	       if @DebugMode = 1 Print "@strSql-BrandWise-"+@strSql
	       exec sp_executeSql @strSql

		   --SET @strSql = N'' + "Insert into #FinalOutletPerformence select val,null as N1,'Achivement' as N2,null as N3,null as N4,null as N5, id as N6 from Split('"+@FilterTypeId+"',',')"
	    --   if @DebugMode = 1 Print "@strSql-BrandWise-"+@strSql
	    --   exec sp_executeSql @strSql
		   Update #FinalOutletPerformence set FilterType = RO_PItem.BRAND from #FinalOutletPerformence,RO_PItem where #FinalOutletPerformence.FilterTypeId=RO_PItem.BRANDID

		 end
	   else 
	    begin
		   set @IdColumn = 'BrandId'
		   set @NameColumn = 'Brand'
		   SET @strSql = N'' + "Insert into #FinalOutletPerformence select Distinct BrandId,Brand,null as N2,null as N3,null as N4,null as N5, null as N6,null as N7,null as N8,null as N9,null as N10,null as N11 from RO_PItem"
	       if @DebugMode = 1 Print "@strSql-BrandWise-"+@strSql
	       exec sp_executeSql @strSql

		   --SET @strSql = N'' + "Insert into #FinalOutletPerformence select Distinct BrandId,Brand,'Achivement' as N2,null as N3,null as N4,null as N5, null as N6 from RO_PItem"
	    --   if @DebugMode = 1 Print "@strSql-BrandWise-"+@strSql
	    --   exec sp_executeSql @strSql

		end

--========================Start Activity Type - Order section =======================================================================

		set @strSql = "Insert into #PartyOrderDetails select EntityID,RO_PItem.ItemId,Item,(LargeUnit * BPC) + SmallUnit  as OrderQty,
		OrderTakenDatetime,RO_PItem.BPC from TX_OrderMaster , TX_OrderDetails,RO_PItem where TX_OrderMaster.ID = TX_OrderDetails.OrderID 
		and TX_OrderDetails.ItemID = RO_PItem.ItemId and ExecutiveID = '"+@LoginUserId+"' "
		if(@CustomerId!='')
		begin
			set @strSql =@strSql+ "  and EntityType = 1 and EntityID = '"+cast(@CustomerId as varchar)+"' " 
		end
		set @strSql = @strSql + " and Cast(OrderTakenDatetime as Date) >= '"+cast(@FromDate as varchar)+"' and Cast(OrderTakenDatetime as Date) <= '"+cast(@ToDate as varchar)+"' "
		if @DebugMode = 1 Print "@strSql-OrderDetails-"+@strSql
	    exec sp_executeSql @strSql
		
		set @strSql = "Insert into #PartyTransDetails select CustomerId,OrderFilterTypeId,OrderFilterType,SUM(OrderQty),
		cast(OrderDateTime as Date) as MonthDate,ItemBPC,Null from #PartyOrderDetails 
		group by CustomerId,OrderFilterTypeId,OrderFilterType,ItemBPC,cast(OrderDateTime as Date) "
		if @DebugMode = 1 Print "@strSql-#PartyTransDetails-"+@strSql
	    exec sp_executeSql @strSql

		--Update #PartyTransDetails set QtyInCase =  cast(QtyInBtl / BPC as varchar) + '.' + cast(QtyInBtl % BPC as varchar) 


		set @strSql = "Update #PartyTransDetails set QtyInCase = Case when BPC <> 0 then cast((QtyInBtl / BPC) as numeric(18,2)) else cast(QtyInBtl as numeric(18,2)) end "
		if @DebugMode = 1 Print "Update-#PartyTransDetails-"+@strSql
	    exec sp_executeSql @strSql

		--select 'Order',* from #PartyOrderDetails
		--select 'Order in case',* from #PartyTransDetails

		set @strSql = "Update #FinalOutletPerformence set OR1 = OD.CurMonthOrder from #FinalOutletPerformence, 
		(Select RO_PITem."+@IdColumn+" as Idcol, SUM(ISNULL(QtyInCase,0)) as CurMonthOrder from #PartyTransDetails,RO_PITem 
		Where #PartyTransDetails.FilterTypeId = RO_PItem.ItemId and Cast(OrderDateTime as Date) >= '"+Cast(@FirstDayOfCurMonth as varchar)+"' 
		and Cast(OrderDateTime as Date) <= '"+Cast(@ToDate as varchar)+"' group by RO_PITem."+@IdColumn+" ) OD where 
		#FinalOutletPerformence.FilterTypeId = OD.Idcol "
		if @DebugMode = 1 Print "@strSql-Update CurMonth Data-"+@strSql
	    exec sp_executeSql @strSql

		set @strSql = "Update #FinalOutletPerformence set OR2 = OD.PreMonthOrder1 from #FinalOutletPerformence, 
		(Select RO_PITem."+@IdColumn+" as Idcol,SUM(ISNULL(QtyInCase,0)) as PreMonthOrder1 from #PartyTransDetails,RO_PITem 
		Where #PartyTransDetails.FilterTypeId = RO_PItem.ItemId and Cast(OrderDateTime as Date) >= '"+Cast(@FirstDayOfPreMonth1 as varchar)+"' 
		and Cast(OrderDateTime as Date) <= '"+Cast(@LastDayOfPreMonth1 as varchar)+"' group by RO_PITem."+@IdColumn+" ) OD where 
		#FinalOutletPerformence.FilterTypeId = OD.Idcol "
		if @DebugMode = 1 Print "@strSql-Update OR2 Data-"+@strSql
	    exec sp_executeSql @strSql

		set @strSql = "Update #FinalOutletPerformence set OR3 = OD.PreMonthOrder2 from #FinalOutletPerformence,
		(Select RO_PITem."+@IdColumn+" as Idcol,SUM(ISNULL(QtyInCase,0)) as PreMonthOrder2 from #PartyTransDetails,RO_PITem  
		Where #PartyTransDetails.FilterTypeId = RO_PItem.ItemId and Cast(OrderDateTime as Date) >= '"+Cast(@FirstDayOfPreMonth2 as varchar)+"' 
		and Cast(OrderDateTime as Date) <= '"+Cast(@LastDayOfPreMonth2 as varchar)+"' group by RO_PITem."+@IdColumn+" ) OD where 
		#FinalOutletPerformence.FilterTypeId = OD.Idcol "
		if @DebugMode = 1 Print "@strSql-Update OR3 Data-"+@strSql
	    exec sp_executeSql @strSql
--========================End Activity Type - Order section =====================================================================

------====================Start Activity Type - Sales section ==================================================================
        Truncate table #PartyOrderDetails
		Truncate table #PartyTransDetails
		Alter table #PartyOrderDetails drop column OrderDateTime 
		Alter table #PartyOrderDetails Add OrderDateTime int
		Alter table #PartyTransDetails drop Column OrderDateTime 
		Alter table #PartyTransDetails Add OrderDateTime int
		if @DebugMode = 1 print 'Sales start'

		SET @Month1 = MONTH(@ToDate);  -- Current month
        SET @Month2 = CASE WHEN @Month1 = 1 THEN 12 ELSE @Month1 - 1 END;
        SET @Month3 = CASE WHEN @Month1 <= 2 THEN 12 + @Month1 - 2 ELSE @Month1 - 2 END;

		--Changed Start by Akash Date: 08-Jan-2023
		set @strSql = "Insert into #PartyOrderDetails select CustomerId,RO_PItem.ItemId,Item," + CAST(@UOM AS NVARCHAR(40)) +",
		RO_PItem.BPC,[Month] from RO_Sales,RO_PItem where RO_Sales.ItemID = RO_PItem.ItemId 
		and SUBSTRING(UserID,2,LEN(UserID)-2) = '"+@LoginUserId+"' " 
		
		if(@CustomerId!='')
		begin
			set @strSql =@strSql+ "  and CustomerId = '"+cast(@CustomerId as varchar)+"' " 
		end
		if(@DistributorID!='')
		begin
			set @strSql =@strSql+ "  and DISTRIBUTORID = '"+cast(@DistributorID as varchar)+"' " 
		end
			--set @strSql = @strSql + " and [Month] <= '"+cast(Month(@ToDate) as varchar)+"'  "
			--Updated Month Condition By Nupul: 13-FEB-2025

         SET @strSql = @strSql + ' and ([Month] IN (' 
                 + CAST(@Month1 AS VARCHAR(2)) + ', ' 
                 + CAST(@Month2 AS VARCHAR(2)) + ', ' 
                 + CAST(@Month3 AS VARCHAR(2)) + '))'

		if @DebugMode = 1 Print "@strSql-SalesDetails-"+@strSql
	    exec sp_executeSql @strSql
		--Changes END
		--select 'Sales', * from #PartyOrderDetails
		--select '#PartyTransDetails', * from #PartyTransDetails

		set @strSql = "Insert into #PartyTransDetails select CustomerId,OrderFilterTypeId,OrderFilterType,SUM(OrderQty) as salesQty,
		 ItemBPC,Null,OrderDateTime from #PartyOrderDetails 
		group by CustomerId,OrderFilterTypeId,OrderFilterType,ItemBPC,OrderDateTime "
		if @DebugMode = 1 Print "Sales-#PartyTransDetails-"+@strSql
	    exec sp_executeSql @strSql

		--Update #PartyTransDetails set QtyInCase =  cast(QtyInBtl / BPC as varchar) + '.' + cast(QtyInBtl % BPC as varchar) 
		--select 'After #PartyTransDetails', * from #PartyTransDetails

		--Commented By Akash date:12Jan2023 as we are taking Quantity in Cases in table RO_Sales and again converting here So i have updated as QtyInCase = QtyInBtl
		--set @strSql = "Update #PartyTransDetails set QtyInCase = Case when BPC <> 0 then cast((QtyInBtl / BPC) as numeric(18,2)) else cast(QtyInBtl as numeric(18,2)) end "
		--if @DebugMode = 1 Print "Sales Update-#PartyTransDetails-"+@strSql
	 --   exec sp_executeSql @strSql
		set @strSql = "Update #PartyTransDetails set QtyInCase = QtyInBtl"
		if @DebugMode = 1 Print "Sales Update-#PartyTransDetails-"+@strSql
	    exec sp_executeSql @strSql 

		--select 'Order',* from #PartyOrderDetails
		--select 'Order in case',* from #PartyTransDetails

		set @strSql = "Update #FinalOutletPerformence set SA1 = OD.CurMonthOrder from #FinalOutletPerformence, 
		(Select RO_PITem."+@IdColumn+" as Idcol, SUM(ISNULL(QtyInCase,0)) as CurMonthOrder from #PartyTransDetails,RO_PITem 
		Where #PartyTransDetails.FilterTypeId = RO_PItem.ItemId and OrderDateTime = '"+Cast(Month(@FirstDayOfCurMonth) as varchar)+"' 
		group by RO_PITem."+@IdColumn+" ) OD where 
		#FinalOutletPerformence.FilterTypeId = OD.Idcol "
		if @DebugMode = 1 Print "@strSql-Update SA1 Data-"+@strSql
	    exec sp_executeSql @strSql

		set @strSql = "Update #FinalOutletPerformence set SA2 = OD.PreMonthOrder1 from #FinalOutletPerformence, 
		(Select RO_PITem."+@IdColumn+" as Idcol,SUM(ISNULL(QtyInCase,0)) as PreMonthOrder1 from #PartyTransDetails,RO_PITem 
		Where #PartyTransDetails.FilterTypeId = RO_PItem.ItemId and OrderDateTime = '"+Cast(Month(@FirstDayOfPreMonth1) as varchar)+"' 
		group by RO_PITem."+@IdColumn+" ) OD where 
		#FinalOutletPerformence.FilterTypeId = OD.Idcol "
		if @DebugMode = 1 Print "@strSql-Update SA2 Data-"+@strSql
	    exec sp_executeSql @strSql

		set @strSql = "Update #FinalOutletPerformence set SA3 = OD.PreMonthOrder2 from #FinalOutletPerformence,
		(Select RO_PITem."+@IdColumn+" as Idcol,SUM(ISNULL(QtyInCase,0)) as PreMonthOrder2 from #PartyTransDetails,RO_PITem  
		Where #PartyTransDetails.FilterTypeId = RO_PItem.ItemId and OrderDateTime = '"+Cast(Month(@FirstDayOfPreMonth2) as varchar)+"' 
		group by RO_PITem."+@IdColumn+" ) OD where 
		#FinalOutletPerformence.FilterTypeId = OD.Idcol "
		if @DebugMode = 1 Print "@strSql-Update SA3 Data-"+@strSql
	    exec sp_executeSql @strSql
------============================= Start activity type - Target section ===================================================================
        Truncate table #PartyOrderDetails
		Truncate table #PartyTransDetails
		--Alter table #PartyOrderDetails drop column OrderDateTime 
		--Alter table #PartyOrderDetails Add OrderDateTime datetime
		--Alter table #PartyTransDetails drop Column OrderDateTime 
		--Alter table ##PartyTransDetails Add OrderDateTime datetime
		ALTER TABLE #PartyOrderDetails ALTER COLUMN OrderDateTime datetime
		ALTER TABLE #PartyTransDetails ALTER COLUMN OrderDateTime datetime
		if @DebugMode = 1 print 'Target start'

		--select 'before Target',* from #PartyOrderDetails
		--select 'before Target in case',* from #PartyTransDetails

		set @strSql = "Insert into #PartyOrderDetails select EntityID,RO_PItem.ItemId,Item,Target,
		RO_PItem.BPC,TDate from RO_Target,RO_PItem where RO_Target.ClassificationID = RO_PItem.ItemId and EntityType = 'CUSTOMER'
		and ClassificationName = '"+@FilterType+"' and UserId = '"+@LoginUserId+"' "
		if(@CustomerId!='')
		begin
			set @strSql =@strSql+ "  and EntityID = '"+cast(@CustomerId as varchar)+"' " 
		end
		
		set @strSql = @strSql + " and TDate >= '"+cast(@FromDate as varchar)+"' and TDate <= '"+cast(@CurrentMonthEnd as varchar)+"' "
		if @DebugMode = 1 Print "@strSql-Target Query-"+@strSql
	    exec sp_executeSql @strSql

		set @strSql = "Insert into #PartyTransDetails select CustomerId,OrderFilterTypeId,OrderFilterType,SUM(OrderQty),
		ItemBPC,Null,OrderDateTime from #PartyOrderDetails 
		group by CustomerId,OrderFilterTypeId,OrderFilterType,ItemBPC,OrderDateTime "
		if @DebugMode = 1 Print "For Target @strSql-#PartyTransDetails-"+@strSql
	    exec sp_executeSql @strSql

		--select 'before Target',* from #PartyOrderDetails
		--select 'before Target in case',* from #PartyTransDetails

		--Update #PartyTransDetails set QtyInCase =  cast(QtyInBtl / BPC as varchar) + '.' + cast(QtyInBtl % BPC as varchar) 


		set @strSql = "Update #PartyTransDetails set QtyInCase = QtyInBtl "
		if @DebugMode = 1 Print "Update-#PartyTransDetails-"+@strSql
	    exec sp_executeSql @strSql



		--select 'Target in case',* from #PartyTransDetails

		
		set @strSql = "Update #FinalOutletPerformence set TA1 = OD.CurMonthOrder from #FinalOutletPerformence, 
		(Select distinct RO_PITem."+@IdColumn+" as Idcol, SUM(ISNULL(QtyInCase,0)) as CurMonthOrder from #PartyTransDetails
		,(select distinct "+@IdColumn+" from RO_PITem ) as RO_PITem 
		Where #PartyTransDetails.FilterTypeId = RO_PItem."+@IdColumn+" and OrderDateTime >= '"+Cast(@FirstDayOfCurMonth as varchar)+"' 
		and OrderDateTime <= '"+Cast(@CurrentMonthEnd as varchar)+"' group by RO_PITem."+@IdColumn+" ) OD where 
		#FinalOutletPerformence.FilterTypeId = OD.Idcol "
		if @DebugMode = 1 Print "@strSql-Update CurMonth Data Target-"+@strSql
	    exec sp_executeSql @strSql

		set @strSql = "Update #FinalOutletPerformence set TA2 = OD.PreMonthOrder1 from #FinalOutletPerformence, 
		(Select RO_PITem."+@IdColumn+" as Idcol,SUM(ISNULL(QtyInCase,0)) as PreMonthOrder1 from #PartyTransDetails
		,(select distinct "+@IdColumn+" from RO_PITem ) as RO_PITem
		Where #PartyTransDetails.FilterTypeId = RO_PItem."+@IdColumn+" and OrderDateTime >= '"+Cast(@FirstDayOfPreMonth1 as varchar)+"' 
		and OrderDateTime <= '"+Cast(@LastDayOfPreMonth1 as varchar)+"' group by RO_PITem."+@IdColumn+" ) OD where 
		#FinalOutletPerformence.FilterTypeId = OD.Idcol "
		if @DebugMode = 1 Print "@strSql-Update OR2 Data Target-"+@strSql
	    exec sp_executeSql @strSql

		set @strSql = "Update #FinalOutletPerformence set TA3 = OD.PreMonthOrder2 from #FinalOutletPerformence,
		(Select RO_PITem."+@IdColumn+" as Idcol,SUM(ISNULL(QtyInCase,0)) as PreMonthOrder2 from #PartyTransDetails
		,(select distinct "+@IdColumn+" from RO_PITem ) as RO_PITem
		Where #PartyTransDetails.FilterTypeId = RO_PItem."+@IdColumn+" and OrderDateTime >= '"+Cast(@FirstDayOfPreMonth2 as varchar)+"' 
		and OrderDateTime <= '"+Cast(@LastDayOfPreMonth2 as varchar)+"' group by RO_PITem."+@IdColumn+" ) OD where 
		#FinalOutletPerformence.FilterTypeId = OD.Idcol "
		if @DebugMode = 1 Print "@strSql-Update OR3 Data-Target"+@strSql
	    exec sp_executeSql @strSql
-----============================== End activity type - Target section  ====================================================================
		--select 'Final', * from #FinalOutletPerformence 

				  Alter table #FinalOutletPerformence drop column seq,SrNo,FiltertypeId	  

		set @FieldName = 'FilterType'
		if(upper(@FilterType) = 'SKU')
		 begin 		   
		   set @TempColumnName = 'SKU'	
		   set @strSQL = N'EXEC tempdb..sp_rename '
		   set @strSQL =@strSQL +"'#FinalOutletPerformence."  + @FieldName + "' ,[" + @TempColumnName+ "], 'COLUMN'"	
		   if @DebugMode = 1 print @strSQL
		   exec sp_executesql @strsql	
		   select  * from #FinalOutletPerformence WHERE ( OR1 != 0 OR OR2 != 0 OR OR3 != 0 OR SA1 != 0 OR SA2 != 0 OR SA3 != 0 OR TA1 != 0 OR TA2 != 0 OR TA3 != 0) order by isnull(SA1,0) desc 
		   --select SrNo, SKU,ActivityType,CurMonth as 'CM',PreMonth1 as 'CM-1',PreMonth1 as 'CM-2',seq from #FinalOutletPerformence order by sku asc , activitytype desc
		   --select ROW_NUMBER() OVER(PARTITION BY SKU ORDER BY SKU ASC) AS SrNo, SKU,ActivityType,CurMonth as 'CM',PreMonth1 as 'CM-1',PreMonth1 as 'CM-2' from #FinalOutletPerformence   
		 end
		else if(upper(@FilterType) = 'SIZE')
		 begin		  
		   set @TempColumnName = 'Size'
		   set @strSQL = N'EXEC tempdb..sp_rename '
		   set @strSQL =@strSQL +"'#FinalOutletPerformence."  + @FieldName + "' ,[" + @TempColumnName+ "], 'COLUMN'"	
		   if @DebugMode = 1 print @strSQL
		   exec sp_executesql @strsql	
		   select  * from #FinalOutletPerformence WHERE ( OR1 != 0 OR OR2 != 0 OR OR3 != 0 OR SA1 != 0 OR SA2 != 0 OR SA3 != 0 OR TA1 != 0 OR TA2 != 0 OR TA3 != 0) order by isnull(SA1,0) desc  
		 end
		else if(upper(@FilterType) = 'BRAND')
		 begin	
		   set @TempColumnName = 'Brand'
		   set @strSQL = N'EXEC tempdb..sp_rename '
		   set @strSQL =@strSQL +"'#FinalOutletPerformence."  + @FieldName + "' ,[" + @TempColumnName+ "], 'COLUMN'"	
		   if @DebugMode = 1 print @strSQL
		   exec sp_executesql @strsql	
		   select  * from #FinalOutletPerformence WHERE ( OR1 != 0 OR OR2 != 0 OR OR3 != 0 OR SA1 != 0 OR SA2 != 0 OR SA3 != 0 OR TA1 != 0 OR TA2 != 0 OR TA3 != 0) order by isnull(SA1,0) desc  
		 end
		else
		 begin
		  
		 
		  set @TempColumnName = 'Brand'
		  set @strSQL = N'EXEC tempdb..sp_rename '
		   set @strSQL =@strSQL +"'#FinalOutletPerformence."  + @FieldName + "' ,[" + @TempColumnName+ "], 'COLUMN'"	
		   if @DebugMode = 1 print @strSQL
		   exec sp_executesql @strsql	
		   select  * from #FinalOutletPerformence  WHERE ( OR1 != 0 OR OR2 != 0 OR OR3 != 0 OR SA1 != 0 OR SA2 != 0 OR SA3 != 0 OR TA1 != 0 OR TA2 != 0 OR TA3 != 0) order by isnull(SA1,0) desc 
		 end

		
		

		Drop table #PartyOrderDetails
		Drop table #PartyTransDetails
		Drop table #FinalOutletPerformence
		
END
