USE [ZyleminiPlus_BDPL]
GO
/****** Object:  StoredProcedure [dbo].[PrSaplHelpDesk_TruncateLog]    Script Date: 3/30/2026 3:47:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO
-- =============================================
-- Author:		<Harish Mhatre>
-- Create date: <30 Oct 2023 >
-- Description:	< Truncate database log file size >
-- Not Working till 30th Oct
--sp_helpdb Zylem_MaintenanceDB 
--Zylem_MaintenanceDB_log

-- =============================================


ALTER PROCEDURE [dbo].[PrSaplHelpDesk_TruncateLog] 
AS
BEGIN
Declare 
@strSQL as nvarchar(1000),
@CurrentDBName Varchar(100),
@LogicalDBName Varchar(100),
@DBSrNo int,
@DBCount int,
@LogDatabaseSizeMb numeric(18,3),
@LogHistoryMaxId int

			Create Table #DatabaseList  (Id int Identity,database_id int, DBName Varchar(100)) 
			Insert into #DatabaseList select database_id,Name from sys.databases Where name in (select db_name())			
			
			Create Table #LogicalDBName (Id int Identity,DatabaseName Varchar(100), LogicalDBName Varchar(100),SizeMB numeric(18,3),SizeBG numeric(18,3))  

			insert into #LogicalDBName (DatabaseName,LogicalDBName,SizeMB,SizeBG)
			SELECT DB_NAME(database_id) AS DatabaseName,Name AS Logical_Name,(size * 8) / 1024 SizeMB,((size * 8) / 1024)/1000 as SizeBG
			FROM sys.master_files WHERE DB_NAME(database_id) in (select db_name()) and type_desc='LOG'

			Insert into Zylem_MaintenanceDB..TruncatedDatabaseLogHistory (DatabaseName,LogicalDBName,IsApplicableForTruncate,SizeMB,SizeBG,InsertDateTime)
			Select DatabaseName,LogicalDBName,case when SizeMB >500 then 1 else 0 end as IsApplicableForTruncate,SizeMB,SizeBG,getdate() as InsertDateTime
			From #LogicalDBName

			Set @LogHistoryMaxId=(Select max(Id) from Zylem_MaintenanceDB..TruncatedDatabaseLogHistory)
			Set @LogDatabaseSizeMb=(select top 1  SizeMB from #LogicalDBName)

	If @LogDatabaseSizeMb > 500
		Begin	
				Set @DBCount=(select count(id) from #DatabaseList)
				Set @DBSrNo=1

				While @DBCount >=@DBSrNo
					Begin 			
							Set @CurrentDBName=(Select DBName From #DatabaseList where Id=@DBSrNo)

							Set @StrSql=N''
							Set @StrSql=" Insert into #LogicalDBName  (DatabaseName) Select Mf.name FROM sys.master_files mf  INNER JOIN sys.databases db ON db.database_id = mf.database_id"  
							Set @StrSql= @StrSql+ " WHERE db.name='"+@CurrentDBName+"' and mf.type_desc = 'LOG' ORDER BY db.name "
							print 'Select logical name-->>>'+@StrSql
							exec sp_executesql @StrSql

							Set @LogicalDBName=(select top 1 LogicalDBName from #LogicalDBName)

							---Start Truncate the log by changing the database recovery model to SIMPLE.
							Set @StrSql=N''
							Set @StrSql=" ALTER DATABASE "+@CurrentDBName+"" 
							Set @StrSql= @StrSql+ " SET RECOVERY SIMPLE; "
							print 'ALTER DATABASE-->>>'+@StrSql
							exec sp_executesql @StrSql
							---End Truncate the log by changing the database recovery model to SIMPLE.

							---- Start Shrink the truncated log file to 1 MB.
							--DBCC SHRINKFILE (Espirit_log, 1);
							Set @StrSql=N''
							Set @StrSql=" DBCC SHRINKFILE ( '"+@LogicalDBName+"', 1);" 
							print 'DBCC SHRINKFILE-->>>1'+@StrSql
							exec sp_executesql @StrSql
							---- END Shrink the truncated log file to 1 MB.

							---Start Reset the database recovery model as FULL.--
							Set @StrSql=N''
							Set @StrSql=" ALTER DATABASE "+@CurrentDBName+"" 
							Set @StrSql= @StrSql+ " SET RECOVERY FULL; "
							print 'ALTER DATABASE-->>>'+@StrSql
							exec sp_executesql @StrSql
							---END Reset the database recovery model as FULL.--

						-----Start Shrink Database.--
						--Set @StrSql=N''
						----Set @StrSql=" DBCC SHRINKFILE ( '"+@CurrentDBName+"', 10);" 
						--Set @StrSql=" DBCC SHRINKFILE ( '"+@LogicalDBName+"', 0);" 
						--print 'DBCC SHRINKFILE-->>>2'+@StrSql
						--exec sp_executesql @StrSql
						-----END Shrink Database.--

						--Set @StrSql=N''
						----Set @StrSql=" DBCC SHRINKFILE ( '"+@CurrentDBName+"', 10);" 
						--Set @StrSql=" DBCC SHRINKFILE ( '"+@LogicalDBName+"', 0,TRUNCATEONLY);" 
						--print 'DBCC SHRINKFILE-->>>2'+@StrSql
						--exec sp_executesql @StrSql
						-----END Shrink Database.--


						--Set @StrSql=N''
						----Set @StrSql=" DBCC SHRINKFILE ( '"+@CurrentDBName+"', 10);" 
						--Set @StrSql=" DBCC SHRINKFILE ( '"+@LogicalDBName+"', 1);" 
						--print 'DBCC SHRINKFILE-->>>2'+@StrSql
						--exec sp_executesql @StrSql
						-----END Shrink Database.--

					Update TruncatedDatabaseLogHistory Set AfterTruncate_SizeMB=A.SizeMB,AfterTruncate_SizeBG=A.SizeBG
					From Zylem_MaintenanceDB..TruncatedDatabaseLogHistory,(
					SELECT DB_NAME(database_id) AS DatabaseName,Name AS Logical_Name,(size * 8) / 1024 as  SizeMB,((size * 8) / 1024)/1000 as SizeBG
					FROM sys.master_files WHERE DB_NAME(database_id) in (select db_name()) and type_desc='LOG') as A
					Where TruncatedDatabaseLogHistory.ID=@LogHistoryMaxId
	

						truncate table #LogicalDBName
					Set @DBSrNo=@DBSrNo+1
				END	
		END

END


