USE [ZyleminiPlus_BDPL]
GO
/****** Object:  StoredProcedure [dbo].[prScriptTableType]    Script Date: 3/30/2026 3:47:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO
-- =============================================
-- Author:		Pramila Khamkar
-- Create date: 11-Jul-2018
-- Description:	Create script for table type variable
-- =============================================
ALTER PROCEDURE [dbo].[prScriptTableType] 
AS
DECLARE
	@ColumnName varchar(50),
	@DataType varchar(50),
	@DebugMode int =1,
	@TableType varchar(50),
	@Nullable int,
	@strSql nvarchar(max)
BEGIN
	create table #TableType
	(
		SRNO int identity(1,1),
		TypeName varchar(50),
		ColumnName varchar(50),
		ColumnType varchar(50),
		Nullable int
	)
	
	Create table #TableTypeDefination
	(
		ObjectName varchar(50),
		ObjectDefination nvarchar(max)
	)

	DECLARE @sql nvarchar(max) = N'', 
	  @stub nvarchar(max) = N'SELECT N''$--obj--$'', 
	   name, system_type_name,is_nullable
	   FROM sys.dm_exec_describe_first_result_set(''DECLARE 
	   @tvp $--obj--$; SELECT * FROM @tvp;'',null,null)
	   ORDER BY column_ordinal;';

	SELECT @sql += 'insert into #TableType  ' + REPLACE(@stub, N'$--obj--$', 
	  QUOTENAME(s.name) + N'.' + QUOTENAME(t.name))
	FROM sys.table_types AS t
	INNER JOIN sys.schemas AS s
	ON t.[schema_id] = s.[schema_id];

	print @sql
	EXEC sys.sp_executesql @sql;

	--select * from #TableType

	
	declare cur_Table cursor for select distinct TypeName from #TableType
	open cur_Table
	fetch next from cur_Table into @TableType
	while @@Fetch_status = 0
	begin
		--set @strSql = N'create table ' + @TrackerTableName +'(ID int identity(1,1))'
		if @DebugMode = 1 print 'Create Table:' + convert(varchar,getdate(), 109) + ' ' + @strSql
		--exec sp_executeSql @strSql 
		set @strSql = N'CREATE TYPE ' + @TableType + ' AS TABLE('
		declare cur_TableColumns cursor for select ColumnName,ColumnType,Nullable from #TableType where TypeName = @TableType order by SRNO
		open cur_TableColumns
		fetch next from cur_TableColumns into @ColumnName,@DataType,@Nullable
		while @@Fetch_status = 0
		begin
			set @strSql += '' + @ColumnName +' ' + @DataType +  ' ' + CASE WHEN @Nullable = 1 THEN ' NULL' ELSE ' NOT NULL' END  + ','
			

			fetch next from cur_TableColumns into @ColumnName,@DataType,@Nullable
		end
		close cur_TableColumns
		deallocate cur_TableColumns
		set @strSql = substring(@strSql,0,len(@strSql))
		set @strSql += ')'
		if @DebugMode = 1 print 'Create Table:' + convert(varchar,getdate(), 109) + ' ' + @strSql
			--exec sp_executeSql @strSql
		Insert into #TableTypeDefination values(substring(@TableType,8,len(@TableType) -8),@strSql)
	fetch next from cur_Table into @TableType
	end
	close cur_Table
	deallocate cur_Table

	select * from #TableTypeDefination
	drop table #TableType
	drop table #TableTypeDefination
END