USE [ZyleminiPlus_BDPL]
GO
/****** Object:  StoredProcedure [dbo].[prSyncOrderToServer]    Script Date: 3/30/2026 3:48:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- exec prSyncOrderToServer
-- =============================================
ALTER PROCEDURE [dbo].[prSyncOrderToServer]
AS
DECLARE
@DebugMode as bit,
@DbaseName varchar(50),
@strsql nvarchar(4000),
@FromDate as varchar(15),	
@ToDate as varchar(15),
@MaxID as int
BEGIN
	set @DebugMode = 1
	set @DbaseName = N'[180.179.227.86,21443].[CPA].[dbo].'
	SET NOCOUNT ON;

    Print 'Started Execution: ' + convert(varchar,getdate(), 109) + ' ' + @strSql
	BEGIN TRY		
		SET XACT_ABORT ON
		--SET TRANSACTION ISOLATION LEVEL READ COMMITTED
		BEGIN DISTRIBUTED TRANSACTION	
		
		set @strSql = N'SELECT @MaxID = MAX(ID) FROM ' + @DbaseName + 'ZYLEMININORDERMASTER '
		select @MaxID 
		set @strSql = N'INSERT INTO ' + @DbaseName + 'ZYLEMINIORDERMASTER '
		set @strSql = @strSql + '  SELECT * FROM ORDERMASTER'
		exec sp_executeSql @strSql 
		if @DebugMode = 1 Print 'ORDERMASTER: ' + convert(varchar,getdate(), 120) + ' - ' + @strSql

		set @strSql = N'INSERT INTO ' + @DbaseName + 'ZYLEMINIORDERDETAILS '
		set @strSql = @strSql + ' SELECT * FROM ORDERDETAILS'
		exec sp_executeSql @strSql 
		if @DebugMode = 1 Print 'ORDERMASTER: ' + convert(varchar,getdate(), 120) + ' - ' + @strSql

		COMMIT TRANSACTION					
		--SET TRANSACTION ISOLATION LEVEL	READ Committed 
	END TRY
	BEGIN CATCH	
		IF @@TRANCOUNT > 0 ROLLBACK TRANSACTION
		INSERT INTO [ERRORLOG] VALUES ('prSyncOrderToServer - ORDER SYNC', GETDATE(), ERROR_LINE(), ERROR_MESSAGE() + @strSql)
		
	END CATCH
END
