USE [ZyleminiPlus_BDPL]
GO
/****** Object:  StoredProcedure [dbo].[prUserProfileReports]    Script Date: 3/30/2026 3:48:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


-- =============================================
-- Author: Moreshwar Mujbaile
-- Created date: 08 July 2024
-- Description:	User Profile Reports
-- EXEC prUserProfileReports 13,6,0,0,'241, 6444, 8796, 7445','','',''
-- =============================================
-- Updated By: Nupul Sharma
-- On date: 19 Jun 2025
-- Description:	For Report 6 Updated the execution statment 
-- =============================================

ALTER     PROCEDURE [dbo].[prUserProfileReports]
(
	@P_USERID		INT,
	@P_CommandType	INT,
	@CustomerId		INT = 0,
	@DistributorId	INT = 0,
	@Brand			NVARCHAR(MAX),
	@UOM			NVARCHAR(MAX)='',
	@FromDate		NVARCHAR(40) = '',
	@ToDate			NVARCHAR(40) = ''
)
AS
BEGIN

SET NOCOUNT ON;

	DECLARE @MONTHSTART INT, @MONTHS NVARCHAR(MAX), @YEAR DATETIME, @ZylemDB NVARCHAR(256), @SQL NVARCHAR(MAX), @PARAMS NVARCHAR(MAX) = ' ',
		@CurrentMonth INT = MONTH(GETDATE()), @CurrentYear INT = YEAR(GETDATE());
	Declare @ISPARENT BIT;

	IF EXISTS (SELECT VALUE FROM RO_SETTINGS WHERE [KEY]='ZYLEMINIPARENTID' AND VALUE LIKE '%,' + CAST(@P_USERID AS VARCHAR) + ',%')
	BEGIN	
		SET @ISPARENT=1;
	END
	ELSE
	BEGIN
		SET @ISPARENT = 0;
	END

	SELECT @ZylemDB = Value FROM RO_Settings WHERE [Key] = 'ZylemMISDBName';
	SELECT @MONTHSTART = Value FROM RO_Settings WHERE [Key] = 'FirstMonth';

	SET @MONTHS = CAST( MONTH(GETDATE()) AS NVARCHAR(MAX)) + ',' + CAST((MONTH(GETDATE()) - 1) AS NVARCHAR(MAX)) + ',' + 
				CAST((MONTH(GETDATE()) - 2) AS NVARCHAR(MAX));
	
	SELECT @YEAR = DATEFROMPARTS((SELECT YEAR(GETDATE())),@MONTHSTART,1);

	SELECT @UOM = CASE WHEN @UOM = '' THEN (SELECT [VALUE] FROM RO_Settings WHERE [KEY] = 'DefaultUOM') ELSE @UOM END;
	   declare     @ParamDefinition NVARCHAR(MAX);

	----------------------------------------------------- MONTHS -----------------------------------------------------

	DECLARE @StartMonth INT = CASE 
                             WHEN @FROMDATE = '' THEN 0 
                             ELSE MONTH(CONVERT(NVARCHAR(40), @FROMDATE, 105)) 
                           END;

	DECLARE @ToMonth INT = CASE 
                        WHEN @TODATE = '' THEN 0 
                        ELSE MONTH(CONVERT(NVARCHAR(40), @TODATE, 105)) 
                      END;
	DECLARE @CM NVARCHAR(5), @PM NVARCHAR(5), @MBP NVARCHAR(5);

	IF(@StartMonth = 0 and @ToMonth = 0)
	BEGIN
		SELECT @CM = CAST(MONTH(GETDATE()) AS NVARCHAR(5)),
			@PM = CAST(CASE WHEN (MONTH(GETDATE()) - 1) < 1 THEN 12 ELSE MONTH(GETDATE()) - 1 END AS NVARCHAR(5)),
			@MBP = CAST(CASE WHEN (MONTH(GETDATE()) - 2) < 1 THEN 
											CASE
												WHEN MONTH(GETDATE()) = 1 THEN 11
												WHEN MONTH(GETDATE()) = 2 THEN 12
											END
										ELSE MONTH(GETDATE()) - 2									
									END	AS NVARCHAR(5));
	END
	ELSE IF((@StartMonth = 0 and  @ToMonth != 0) OR (@StartMonth != 0 and  @ToMonth != 0))
	BEGIN
		SELECT @CM = CAST((@ToMonth) AS NVARCHAR(5)),
			@PM = CAST(CASE WHEN ((@ToMonth) - 1) < 1 THEN 12 ELSE (@ToMonth) - 1 END AS NVARCHAR(5)),
			@MBP = CAST(CASE WHEN ((@ToMonth) - 2) < 1 THEN 
											CASE
												WHEN (@ToMonth) = 1 THEN 11
												WHEN (@ToMonth) = 2 THEN 12
											END
										ELSE (@ToMonth) - 2									
									END	AS NVARCHAR(5));
	END
	ELSE
	BEGIN
		SELECT @CM = CAST(CASE WHEN ((@StartMonth) + 2) > 12 THEN ((@StartMonth + 1) % 12 + 1) ELSE (@StartMonth + 2) END AS NVARCHAR(5)),
			@PM = CAST(CASE WHEN ((@StartMonth) + 1) > 12 THEN (@StartMonth + 1) % 12 ELSE (@StartMonth + 1) END AS NVARCHAR(5)),
			@MBP = CAST((@StartMonth) AS NVARCHAR(5));
	END

	----------------------------------------------------- PARAMETERS -----------------------------------------------------
	IF(@P_CommandType != 6)
	BEGIN
		IF(@DistributorId != 0)
		BEGIN
			SET @PARAMS = @PARAMS + ' AND DistributorID = ' + cast(@DistributorId as varchar);
		END
		IF(@CustomerId != 0)
		BEGIN
			SET @PARAMS = @PARAMS + ' AND CustomerID = ' + cast(@CustomerId as varchar);
		END
		IF(@Brand != '')
		BEGIN
			set @PARAMS = @PARAMS + ' AND ItemID IN (SELECT ItemID FROM RO_PITEM WHERE BrandId IN (' + cast(@Brand as Nvarchar(MAX)) + '))';
		END
	END
	ELSE
	BEGIN
		IF(@DistributorId != 0)
		BEGIN
			SET @PARAMS = @PARAMS + ' AND S.DistributorID = ' + cast(@DistributorId as varchar);
		END
		IF(@CustomerId != 0)
		BEGIN
			SET @PARAMS = @PARAMS + ' AND S.CustomerID = ' + cast(@CustomerId as varchar);
		END
		IF(@Brand != '')
		BEGIN
			set @PARAMS = @PARAMS + ' AND S.ItemID IN (SELECT ItemID FROM RO_PITEM WHERE BrandId IN ( ' + cast(@Brand as varchar) + '))';
		END
	END
	
	--PRINT 'PARAMS ----------' + @PARAMS;
	
	---------------------------------------------------TARGET VS PERFORMANCE-------------------------------------------------
	IF(@P_CommandType = 1)
	BEGIN
			DECLARE @ACHYTD NUMERIC(5,2), @ACHMTD NUMERIC(5,2),
					@BTGYTD NUMERIC(18,2), @BTGMTD NUMERIC(18,2)
		
			DROP TABLE IF EXISTS #TARGETVSPERFORMANCE;

			CREATE TABLE #TARGETVSPERFORMANCE
			(
				[NAME]	NVARCHAR(50),
				[YTD]		NVARCHAR(50),
				[MTD]		NVARCHAR(50)
			);
			
			INSERT INTO #TARGETVSPERFORMANCE VALUES ('PLAN',
			(SELECT ISNULL(SUM(Target),'0') FROM RO_TARGET WHERE UserID = @P_USERID AND TDate >= (@YEAR)),
			(SELECT ISNULL(SUM(Target),'0') FROM RO_TARGET WHERE UserID = @P_USERID AND TDate >= CAST(DATEADD(DAY, -DAY(GETDATE()) + 1, GETDATE()) AS DATE) ));

			SET @SQL = '
			INSERT INTO #TARGETVSPERFORMANCE VALUES (''ACHIV'',
			(SELECT ISNULL(SUM('+ @UOM +'),''0'') FROM RO_SalesYTD WHERE USERID =' + CAST(@P_USERID AS NVARCHAR(20)) + ' ' + @PARAMS + '),
			(SELECT ISNULL(SUM('+ @UOM +'),''0'') FROM RO_Sales WHERE SUBSTRING(USERID, 2, LEN(USERID)-2) = ' + CAST(@P_USERID AS NVARCHAR(20)) +
					' ' + @PARAMS +' AND Month = MONTH(GETDATE())))';

			PRINT 'TVP -- ACHIV --------- ' + @SQL;
			EXEC sp_executesql @SQL;

			SET @ACHYTD = CASE WHEN CAST((SELECT YTD FROM #TARGETVSPERFORMANCE WHERE NAME = 'PLAN') AS NUMERIC(18,2)) <> 0 THEN 
							ROUND( CAST((SELECT YTD FROM #TARGETVSPERFORMANCE WHERE NAME = 'ACHIV') AS NUMERIC(18,2)) /
							CAST((SELECT YTD FROM #TARGETVSPERFORMANCE WHERE NAME = 'PLAN') AS NUMERIC(18,2)) * 100,2)
							ELSE 0.00 END;

			SET @ACHMTD = CASE WHEN CAST((SELECT MTD FROM #TARGETVSPERFORMANCE WHERE NAME = 'PLAN') AS NUMERIC(18,2)) <> 0 THEN 
							ROUND( CAST((SELECT MTD FROM #TARGETVSPERFORMANCE WHERE NAME = 'ACHIV') AS NUMERIC(18,2)) /
							CAST((SELECT MTD FROM #TARGETVSPERFORMANCE WHERE NAME = 'PLAN') AS NUMERIC(18,2)) * 100,2)
							ELSE 0.00 END;

			INSERT INTO #TARGETVSPERFORMANCE VALUES ('ACH%',
			CAST (@ACHYTD AS nvarchar) + ' %',
			CAST (@ACHMTD AS nvarchar) + ' %'
			);

			SET @BTGYTD = CAST((SELECT YTD FROM #TARGETVSPERFORMANCE WHERE NAME = 'PLAN') AS NUMERIC(18,2)) - 
							CAST((SELECT YTD FROM #TARGETVSPERFORMANCE WHERE NAME = 'ACHIV') AS NUMERIC(18,2));

			SET @BTGMTD = CAST((SELECT MTD FROM #TARGETVSPERFORMANCE WHERE NAME = 'PLAN') AS NUMERIC(18,2)) - 
							CAST((SELECT MTD FROM #TARGETVSPERFORMANCE WHERE NAME = 'ACHIV') AS NUMERIC(18,2));

			INSERT INTO #TARGETVSPERFORMANCE VALUES ('BTG',
			CASE WHEN @BTGYTD < 0.00 THEN '0.00' ELSE @BTGYTD END,
			CASE WHEN @BTGMTD < 0.00 THEN '0.00' ELSE @BTGMTD END);

			SET @SQL = 'INSERT INTO #TARGETVSPERFORMANCE VALUES(''Coverage'',
			(SELECT ISNULL(COUNT(DISTINCT CustomerID),''0'') FROM RO_SalesYTD WHERE UserID = ' + CAST(@P_USERID AS NVARCHAR(20)) + ' '+ @PARAMS + '),
			(SELECT ISNULL(COUNT(DISTINCT CustomerID),''0'') FROM RO_Sales WHERE SUBSTRING(USERID, 2, LEN(USERID)-2) = ' + CAST(@P_USERID AS NVARCHAR(20)) + 
				' ' + @PARAMS +' AND Month = MONTH(GETDATE())));';
			PRINT 'TVP -- COVERAGE --------- ' + @SQL;
			EXEC sp_executesql @SQL;

			SELECT 'Target_Vs_Performance';
		
			SELECT * FROM #TARGETVSPERFORMANCE;
	END
	------------------------------------------------- WOD Performance -------------------------------------------------
	IF(@P_CommandType = 2)
	BEGIN

			DECLARE @VISITCOVYTD NUMERIC(18,2), @VISITCOVMTD NUMERIC(18,2), 
					@BilledCOVYTD NUMERIC(18,2), @BilledCOVMTD NUMERIC(18,2),
					@OrderCOVYTD NUMERIC(18,2), @OrderCOVMTD NUMERIC(18,2);

			DROP TABLE IF EXISTS #WODPerformance;

			CREATE TABLE #WODPerformance
			(
				[NAME]	NVARCHAR(50),
				[YTD]		NVARCHAR(50),
				[MTD]		NVARCHAR(50)
			);

			IF(@ISPARENT = 0)
			BEGIN
				INSERT INTO #WODPerformance VALUES('Total Outlets',
				(SELECT COUNT(DISTINCT CustomerID) FROM RO_UsersCustomers where UserID = @P_USERID),
				(SELECT COUNT(DISTINCT CustomerID) FROM RO_UsersCustomers where UserID = @P_USERID));
			END
			ELSE
			BEGIN
				 INSERT INTO #WODPerformance VALUES('Total Outlets',
				(SELECT COUNT(DISTINCT CustomerID) FROM RO_UsersCustomers WHERE UserID IN 
					(SELECT USERID FROM RO_PUSER WHERE ParentIdList LIKE '%,' + CAST(@P_USERID AS VARCHAR) + ',%')),
				(SELECT COUNT(DISTINCT CustomerID) FROM RO_UsersCustomers WHERE UserID IN 
					(SELECT USERID FROM RO_PUSER WHERE ParentIdList LIKE '%,' + CAST(@P_USERID AS VARCHAR) + ',%')));
			END

			INSERT INTO #WODPerformance VALUES('Visited',
			(SELECT COUNT(DISTINCT EntityID) FROM TX_OrderMaster WHERE ExecutiveID = @P_USERID AND OrderTakenDatetime >= (@YEAR)
			AND CollectionType = 4),
			(SELECT COUNT(DISTINCT EntityID) FROM TX_OrderMaster WHERE ExecutiveID = @P_USERID AND OrderTakenDatetime >= DATEADD(DAY, -DAY(GETDATE()) + 1, GETDATE())
			AND CollectionType = 4));

			SET @VISITCOVYTD = CASE WHEN CAST((SELECT YTD FROM #WODPerformance WHERE NAME = 'Total Outlets') AS NUMERIC(18,2)) <> 0 THEN 
								(CAST((SELECT YTD FROM #WODPerformance WHERE NAME = 'Visited') AS NUMERIC(18,2))/
								CAST((SELECT YTD FROM #WODPerformance WHERE NAME = 'Total Outlets') AS NUMERIC(18,2))) * 100 
								ELSE 0.00 END;

			SET @VISITCOVMTD = CASE WHEN CAST((SELECT YTD FROM #WODPerformance WHERE NAME = 'Total Outlets') AS NUMERIC(18,2)) <> 0 THEN 
								(CAST((SELECT MTD FROM #WODPerformance WHERE NAME = 'Visited') AS NUMERIC(18,2))/
								CAST((SELECT MTD FROM #WODPerformance WHERE NAME = 'Total Outlets') AS NUMERIC(18,2))) * 100
								ELSE 0.00 END;

			INSERT INTO #WODPerformance VALUES('Visitcoverage',
			@VISITCOVYTD,
			@VISITCOVMTD);

			INSERT INTO #WODPerformance VALUES('Ordered',
			(SELECT COUNT(DISTINCT EntityID) FROM TX_OrderMaster WHERE ExecutiveID = @P_USERID AND OrderTakenDatetime >= @YEAR AND CollectionType = 0),
			(SELECT COUNT(DISTINCT EntityID) FROM TX_OrderMaster WHERE ExecutiveID = @P_USERID AND OrderTakenDatetime >= DATEADD(DAY, -DAY(GETDATE()) + 1, GETDATE())
			AND CollectionType = 0));


			SET @OrderCOVYTD = CASE WHEN CAST((SELECT YTD FROM #WODPerformance WHERE NAME = 'Total Outlets') AS NUMERIC(18,2)) <> 0 THEN 
								(CAST((SELECT YTD FROM #WODPerformance WHERE NAME = 'Ordered') AS NUMERIC(18,2))/
								CAST((SELECT YTD FROM #WODPerformance WHERE NAME = 'Total Outlets') AS NUMERIC(18,2))) * 100
								ELSE 0.00 END;

			SET @OrderCOVMTD = CASE WHEN CAST((SELECT MTD FROM #WODPerformance WHERE NAME = 'Total Outlets') AS NUMERIC(18,2)) <> 0 THEN
								(CAST((SELECT MTD FROM #WODPerformance WHERE NAME = 'Ordered') AS NUMERIC(18,2))/
								CAST((SELECT MTD FROM #WODPerformance WHERE NAME = 'Total Outlets') AS NUMERIC(18,2))) * 100
								ELSE 0.00 END;

			INSERT INTO #WODPerformance VALUES('OrdCoverage',
			@OrderCOVYTD,
			@OrderCOVMTD);

			SET @SQL = '
			INSERT INTO #WODPerformance VALUES(''Billed'',
			(SELECT COUNT (DISTINCT CustomerID) FROM RO_SalesYTD WHERE UserID = ' + CAST(@P_USERID AS NVARCHAR(20)) + ' ' + @PARAMS + '),
			(SELECT COUNT (DISTINCT CustomerID) FROM RO_Sales WHERE SUBSTRING(USERID, 2, LEN(USERID)-2) = ' + CAST(@P_USERID AS NVARCHAR(20)) + 
				' ' + @PARAMS + ' AND Month = MONTH(GETDATE()) ));';

			PRINT 'WOD -- BILLED -------- ' + @SQL;
			EXEC sp_executesql @SQL;
		

			SET @BilledCOVYTD = CASE WHEN CAST((SELECT YTD FROM #WODPerformance WHERE NAME = 'Total Outlets') AS NUMERIC(18,2)) <> 0 THEN 
								(CAST((SELECT YTD FROM #WODPerformance WHERE NAME = 'Billed') AS NUMERIC(18,2))/
								CAST((SELECT YTD FROM #WODPerformance WHERE NAME = 'Total Outlets') AS NUMERIC(18,2))) * 100
								ELSE 0.00 END;

			SET @BilledCOVMTD =  CASE WHEN CAST((SELECT YTD FROM #WODPerformance WHERE NAME = 'Total Outlets') AS NUMERIC(18,2)) <> 0 THEN 
								(CAST((SELECT MTD FROM #WODPerformance WHERE NAME = 'Billed') AS NUMERIC(18,2))/
								CAST((SELECT MTD FROM #WODPerformance WHERE NAME = 'Total Outlets') AS NUMERIC(18,2))) * 100
								ELSE 0.00 END;

			INSERT INTO #WODPerformance VALUES('BilledCoverage',
			@BilledCOVYTD,
			@BilledCOVMTD);

			SELECT 'WOD_Performance';

			SELECT * FROM #WODPerformance;

	END
	----------------------------------------------- Unbilled Outlets -------------------------------------------------
	IF(@P_CommandType = 3)
	BEGIN

			SELECT 'Unbilled_Outlets';

			SET @SQL = '
				SELECT Party AS Outlet, Area, Convert(NVARCHAR(50),LastInvoiceDate,103) AS LastInvDate FROM ' + QUOTENAME(@ZylemDB) + '.dbo.PCustomer C
				INNER JOIN (
				SELECT DISTINCT customerid, MAX(VoucherDate) AS LastInvoiceDate FROM ' + QUOTENAME(@ZylemDB) + 
				'.dbo.SALES WHERE VoucherDate <= DATEFROMPARTS( CASE  WHEN MONTH(GETDATE()) - 2 < 1 THEN YEAR(GETDATE()) - 1 ELSE YEAR(GETDATE()) 
                  END,
                  CASE  WHEN MONTH(GETDATE()) - 2 < 1 THEN MONTH(GETDATE()) - 2 + 12  ELSE MONTH(GETDATE()) - 2 
                  END,
                  1) ' + @PARAMS + ' AND customerid IN (
				SELECT CUSTOMERID FROM ' + QUOTENAME(@ZylemDB) + '.dbo.fnGetCustomersOfUser(right(''000000000000000''+ rtrim(' + CAST(@P_USERID AS NVARCHAR(MAX)) + '), 15)))
				GROUP BY customerid) B
				ON C.CustomerId = B.customerid ORDER BY LastInvoiceDate;';
				
				PRINT @SQL;
				EXEC sp_executesql @SQL;



	END
	------------------------------------------------- Unbilled Items -------------------------------------------------
	IF(@P_CommandType = 4)
	BEGIN

			SELECT 'Unbilled_Items';
		
			SET @SQL = '
			SELECT Item, CONVERT(NVARCHAR(50),LastInvoiceDate,103) AS LastInvDate FROM ' + QUOTENAME(@ZylemDB) + '.dbo.PItem I
			INNER JOIN (
			SELECT DISTINCT itemid, MAX(VoucherDate) AS LastInvoiceDate
			FROM ' + QUOTENAME(@ZylemDB) + '.dbo.SALES WHERE  VoucherDate <= GETDATE() 
			--VoucherDate <= DATEFROMPARTS( CASE  WHEN MONTH(GETDATE()) - 2 < 1 THEN YEAR(GETDATE()) - 1 ELSE YEAR(GETDATE()) 
            --END,
            --CASE  WHEN MONTH(GETDATE()) - 2 < 1 THEN MONTH(GETDATE()) - 2 + 12  ELSE MONTH(GETDATE()) - 2 
            --END, 1)
			' 
			+ @PARAMS + ' AND customerid IN (
						SELECT CUSTOMERID FROM ' + QUOTENAME(@ZylemDB) + '.dbo.fnGetCustomersOfUser(right(''000000000000000''+ rtrim(' + CAST(@P_USERID AS NVARCHAR(MAX)) + '), 15)))
						GROUP BY itemid
						) A ON I.ItemId = A.itemid
						ORDER BY LastInvoiceDate;';

				EXEC sp_executesql @SQL;

	END
	------------------------------------------------- Not Visited Outlets -------------------------------------------------
	IF(@P_CommandType = 5)
	BEGIN
			SELECT 'Not_Visited_Outlets';
			IF(@ISPARENT = 0)
			BEGIN
				SELECT Party AS Outlet, RouteName AS Route, Area FROM RO_PCustomer WHERE CustomerId NOT IN 
				(SELECT EntityID FROM TX_OrderMaster WHERE CollectionType = 4  AND EntityID IN (SELECT CustomerID FROM RO_UsersCustomers WHERE UserID = @P_USERID))
				AND CustomerId IN (SELECT CustomerID FROM RO_UsersCustomers WHERE UserID = @P_USERID);
			END
			ELSE
			BEGIN
				SELECT Party AS Outlet, RouteName AS Route, Area FROM RO_PCustomer WHERE CustomerId NOT IN 
				(SELECT EntityID FROM TX_OrderMaster WHERE CollectionType = 4  AND EntityID IN 
				(SELECT CustomerID FROM RO_UsersCustomers WHERE UserID IN 
					(SELECT USERID FROM RO_PUSER WHERE ParentIdList LIKE '%,' + CAST(@P_USERID AS VARCHAR) + ',%')))
				AND CustomerId IN (SELECT CustomerID FROM RO_UsersCustomers WHERE UserID = @P_USERID);
			END
	END
	------------------------------------------------- Brand Wise Sale -------------------------------------------------
	IF(@P_CommandType = 6)
	BEGIN
			SELECT 'Brand_Wise_Sales';

			DROP TABLE IF EXISTS ##BillCuts;
			DROP TABLE IF EXISTS #BrandSalesCTE
			DROP TABLE IF EXISTS #TotalsCTE

			CREATE TABLE ##BillCuts (
				BRANDID INT,
				BillCutsCM INT,
				BillCutsPM INT,
				BillCutsMBP INT
			);
		
			SET @SQL = N'
			INSERT INTO ##BillCuts (BRANDID, BillCutsCM, BillCutsPM, BillCutsMBP)
			SELECT 
				I.BRANDID,
				COUNT(DISTINCT CASE WHEN S.VOUCHERDATE >= DATEFROMPARTS(' + CAST(@CurrentYear AS NVARCHAR(20)) + ',' + @CM + ', 1) THEN S.VOUCHERNUMBER END) AS BillCutsCM,
				COUNT(DISTINCT CASE WHEN S.VOUCHERDATE >= DATEFROMPARTS(' + CASE WHEN @CM = 1 THEN CAST((@CurrentYear - 1) AS NVARCHAR(20)) ELSE CAST(@CurrentYear AS NVARCHAR(20)) END + ',' + @PM + ', 1) AND S.VOUCHERDATE < DATEFROMPARTS(' + CAST(@CurrentYear AS NVARCHAR(20)) + ',' + @CM + ', 1) THEN S.VOUCHERNUMBER END) AS BillCutsPM,
				COUNT(DISTINCT CASE WHEN S.VOUCHERDATE >= DATEFROMPARTS(' + CASE WHEN (@CM = 1 OR @CM = 2) THEN CAST((@CurrentYear - 1) AS NVARCHAR(20)) ELSE CAST(@CurrentYear AS NVARCHAR(20)) END + ',' + @MBP + ', 1) AND S.VOUCHERDATE < DATEFROMPARTS(' + CASE WHEN @CM = 1 THEN CAST((@CurrentYear - 1) AS NVARCHAR(20)) ELSE CAST(@CurrentYear AS NVARCHAR(20)) END + ',' + @PM + ', 1) THEN S.VOUCHERNUMBER END) AS BillCutsMBP
			FROM ' + QUOTENAME(@ZylemDB) + '.dbo.SALES S
			INNER JOIN ' + QUOTENAME(@ZylemDB) + '.dbo.PItem I ON S.ITEMID = I.ItemId
			WHERE S.CUSTOMERID IN (SELECT CUSTOMERID FROM ' + QUOTENAME(@ZylemDB) + '.dbo.fnGetCustomersOfUser(RIGHT(''000000000000000''+ RTRIM(' + CAST(@P_USERID AS NVARCHAR(20)) + '), 15)))' + @PARAMS + '
				 AND S.VOUCHERDATE >= DATEFROMPARTS(' + CASE WHEN (@CM = 1 OR @CM = 2) THEN CAST((@CurrentYear - 1) AS NVARCHAR(20)) ELSE CAST(@CurrentYear AS NVARCHAR(20)) END + ',' + @MBP + ', 1)
			GROUP BY I.BRANDID;';
			
			PRINT @SQL;

			EXEC sp_executesql @SQL;
			CREATE TABLE #BrandSalesCTE (
				BrandID INT,
				Brand NVARCHAR(100),
				CM DECIMAL(18, 6),
				PM DECIMAL(18, 6),
				PPM DECIMAL(18, 6),
				Items NVARCHAR(MAX)
			);
			CREATE TABLE #TotalsCTE (
			    TotalVolumeCM DECIMAL(18, 2),
			    TotalVolumePM DECIMAL(18, 2),
			    TotalVolumeMBP DECIMAL(18, 2),
			    TotalValueCM DECIMAL(18, 2),
			    TotalValuePM DECIMAL(18, 2),
			    TotalValueMBP DECIMAL(18, 2)
			);


			SET @SQL = N'
			INSERT INTO #BrandSalesCTE (BrandID, Brand, CM, PM, PPM, Items)
				SELECT I.BRANDID, I.BRAND,
					   SUM(CASE WHEN S.Month = ' + @CM + ' THEN S.' + @UOM + ' ELSE 0 END) AS CM,
					   SUM(CASE WHEN S.Month = ' + @PM + ' THEN S.' + @UOM + ' ELSE 0 END) AS PM,
					   SUM(CASE WHEN S.Month = ' + @MBP + ' THEN S.' + @UOM + ' ELSE 0 END) AS PPM,
					   STUFF((SELECT '','' + CAST(ItemId AS NVARCHAR(20))
							  FROM RO_PItem I2
							  WHERE I2.BRANDID = I.BRANDID
							  FOR XML PATH('''')), 1, 1, '''') AS ITEMS
				FROM RO_PItem I
				LEFT JOIN RO_SALES S ON I.ItemId = S.ITEMID AND SUBSTRING(S.USERID, 2, LEN(S.USERID)-2) = ' + CAST(@P_USERID AS NVARCHAR(MAX)) + '
				WHERE S.Month IN (' + @CM + ',' + @PM + ',' + @MBP + ')' + @PARAMS + '
				GROUP BY I.BRANDID, I.BRAND';

			PRINT @SQL;
			EXEC sp_executesql @SQL;
					

			SET @SQL = N'
			INSERT INTO #TotalsCTE
				SELECT 
					SUM(CASE WHEN S.Month = ' + @CM + ' THEN S.' + @UOM + ' ELSE 0 END) AS TotalVolumeCM,
					SUM(CASE WHEN S.Month = ' + @PM + ' THEN S.' + @UOM + ' ELSE 0 END) AS TotalVolumePM,
					SUM(CASE WHEN S.Month = ' + @MBP + ' THEN S.' + @UOM + ' ELSE 0 END) AS TotalVolumeMBP,
					SUM(CASE WHEN S.Month = ' + @CM + ' THEN S.SalesValue ELSE 0 END) AS TotalValueCM,
					SUM(CASE WHEN S.Month = ' + @PM + ' THEN S.SalesValue ELSE 0 END) AS TotalValuePM,
					SUM(CASE WHEN S.Month = ' + @MBP + ' THEN S.SalesValue ELSE 0 END) AS TotalValueMBP
				FROM RO_SALES S
				WHERE SUBSTRING(S.USERID, 2, LEN(S.USERID)-2) = ' + CAST(@P_USERID AS NVARCHAR(20)) + '
				AND S.Month IN (' + @CM + ',' + @PM + ',' + @MBP + ')' + @PARAMS + '
				';
			PRINT @SQL;
			EXEC sp_executesql @SQL;

			SET @SQL = N'
			SELECT  --ROW_NUMBER() OVER (ORDER BY (SELECT NULL)) AS SRNO,
					B.BRAND, CONVERT(NVARCHAR(25),CAST(B.CM AS DECIMAL(18,2))) AS CM, CONVERT(NVARCHAR(25),CAST(B.PM AS DECIMAL(18,2))) AS PM, CONVERT(NVARCHAR(25),CAST(B.PPM AS DECIMAL(18,2))) AS MBP,
					CONVERT(NVARCHAR(25),ISNULL(BC.BillCutsCM, 0)) AS BillCutsCM,
				   CONVERT(NVARCHAR(25),ISNULL(BC.BillCutsPM, 0)) AS BillCutsPM,
				   CONVERT(NVARCHAR(25),ISNULL(BC.BillCutsMBP, 0)) AS BillCutsMBP,
				   CONVERT(NVARCHAR(25),COUNT(DISTINCT CASE WHEN S.Month = ' + @CM + ' THEN S.CustomerId END)) AS OutletsCM,
				   CONVERT(NVARCHAR(25),COUNT(DISTINCT CASE WHEN S.Month = ' + @PM + ' THEN S.CustomerId END)) AS OutletsPM,
				   CONVERT(NVARCHAR(25),COUNT(DISTINCT CASE WHEN S.Month = ' + @MBP + ' THEN S.CustomerId END)) AS OutletsMBP,
				   CONVERT(NVARCHAR(25),SUM(CASE WHEN S.Month = ' + @CM + ' THEN S.SalesValue ELSE 0 END)) AS ValueCM,
				   CONVERT(NVARCHAR(25),SUM(CASE WHEN S.Month = ' + @PM + ' THEN S.SalesValue ELSE 0 END)) AS ValuePM,
				   CONVERT(NVARCHAR(25),SUM(CASE WHEN S.Month = ' + @MBP + ' THEN S.SalesValue ELSE 0 END)) AS ValueMBP,
				   CONVERT(NVARCHAR(25),CAST(CASE WHEN T.TotalVolumeCM > 0 THEN (B.CM / T.TotalVolumeCM) * 100 ELSE 0 END AS NUMERIC(5,2))) AS VolumePercentCM,
				   CONVERT(NVARCHAR(25),CAST(CASE WHEN T.TotalVolumePM > 0 THEN (B.PM / T.TotalVolumePM) * 100 ELSE 0 END AS NUMERIC(5,2))) AS VolumePercentPM,
				   CONVERT(NVARCHAR(25),CAST(CASE WHEN T.TotalVolumeMBP > 0 THEN (B.PPM / T.TotalVolumeMBP) * 100 ELSE 0 END AS NUMERIC(5,2))) AS VolumePercentMBP,
				   CONVERT(NVARCHAR(25),CAST(CASE WHEN T.TotalValueCM > 0 THEN (SUM(CASE WHEN S.Month = ' + @CM + ' THEN S.SalesValue ELSE 0 END) / T.TotalValueCM) * 100 ELSE 0 END AS NUMERIC(5,2))) AS ValuePercentCM,
				   CONVERT(NVARCHAR(25),CAST(CASE WHEN T.TotalValuePM > 0 THEN (SUM(CASE WHEN S.Month = ' + @PM + ' THEN S.SalesValue ELSE 0 END) / T.TotalValuePM) * 100 ELSE 0 END AS NUMERIC(5,2))) AS ValuePercentPM,
				   CONVERT(NVARCHAR(25),CAST(CASE WHEN T.TotalValueMBP > 0 THEN (SUM(CASE WHEN S.Month = ' + @MBP + ' THEN S.SalesValue ELSE 0 END) / T.TotalValueMBP) * 100 ELSE 0 END AS NUMERIC(5,2))) AS ValuePercentMBP
			FROM #BrandSalesCTE B
			CROSS JOIN #TotalsCTE T
			LEFT JOIN RO_Sales S ON S.ItemID IN (
				SELECT CAST(SUBSTRING(B.ITEMS, Number, CHARINDEX('','', B.ITEMS + '','', Number) - Number) AS INT)
				FROM Numbers
				WHERE Number <= LEN(B.ITEMS)' + @PARAMS + '
				  AND SUBSTRING('','' + B.ITEMS, Number, 1) = '',''
			)
			AND SUBSTRING(S.USERID, 2, LEN(S.USERID)-2) =  '+ CAST(@P_USERID AS NVARCHAR(20)) + '
			AND S.Month IN (' + @CM + ',' + @PM + ',' + @MBP + ')
			LEFT JOIN ##BillCuts BC ON B.BRANDID = BC.BRANDID
			GROUP BY B.BRAND, B.CM, B.PM, B.PPM, BC.BillCutsCM, BC.BillCutsPM, BC.BillCutsMBP, B.BRANDID, 
					 T.TotalVolumeCM, T.TotalVolumePM, T.TotalVolumeMBP, T.TotalValueCM, T.TotalValuePM, T.TotalValueMBP
			ORDER BY B.BRANDID;';

				SET @ParamDefinition = N'@CM INT, @PM INT, @MBP INT, @P_USERID NVARCHAR(20)';

				EXEC sp_executesql @SQL, @ParamDefinition, 
									@CM = @CM, @PM = @PM, @MBP = @MBP, @P_USERID = @P_USERID;
			--PRINT @SQL;
			--EXEC sp_executesql @SQL;

	END
	------------------------------------------------- Outstanding Report -------------------------------------------------
	IF(@P_CommandType = 7)
	BEGIN

		SELECT 'Outstanding_Report';
		DROP TABLE IF EXISTS ##OUTSTANDING_REPORT;

		IF(@ISPARENT = 0)
		BEGIN
		SET @SQL = '
			SELECT O.PartyCode, P.Party, 
			CAST(ISNULL(CASE WHEN (DATEDIFF(DAY,o.InvoiceDate, getdate()) >= 0 AND DATEDIFF(DAY,o.InvoiceDate, getdate()) <= 29) THEN O.OSAmount END,0 ) AS NUMERIC(18,2))  AS S1,
			CAST(ISNULL(CASE WHEN (DATEDIFF(DAY,o.InvoiceDate, getdate()) >= 30 AND DATEDIFF(DAY,o.InvoiceDate, getdate()) <= 59) THEN O.OSAmount END,0) AS NUMERIC(18,2))  AS S2,
			CAST(ISNULL(CASE WHEN (DATEDIFF(DAY,o.InvoiceDate, getdate()) >= 60 AND DATEDIFF(DAY,o.InvoiceDate, getdate()) <= 89) THEN O.OSAmount END,0) AS NUMERIC(18,2))  AS S3,
			CAST(ISNULL(CASE WHEN (DATEDIFF(DAY,o.InvoiceDate, getdate()) >= 90) THEN O.OSAmount END,0) AS NUMERIC(18,2))  AS S4
			INTO ##OUTSTANDING_REPORT
			FROM RO_OutstandingDetails O
			INNER JOIN RO_PCustomer P ON (P.CustomerId = O.PartyCode)
			WHERE P.CustomerId IN (SELECT CustomerId FROM RO_UsersCustomers WHERE USERID = ' + CAST(@P_USERID AS NVARCHAR(10)) +')
			ORDER BY P.Party;'
		END
		ELSE
		BEGIN
		SET @SQL = '
			SELECT O.PartyCode, P.Party, 
			CAST(ISNULL(CASE WHEN (DATEDIFF(DAY,o.InvoiceDate, getdate()) >= 0 AND DATEDIFF(DAY,o.InvoiceDate, getdate()) <= 29) THEN O.OSAmount END,0 ) AS NUMERIC(18,2))  AS S1,
			CAST(ISNULL(CASE WHEN (DATEDIFF(DAY,o.InvoiceDate, getdate()) >= 30 AND DATEDIFF(DAY,o.InvoiceDate, getdate()) <= 59) THEN O.OSAmount END,0) AS NUMERIC(18,2))  AS S2,
			CAST(ISNULL(CASE WHEN (DATEDIFF(DAY,o.InvoiceDate, getdate()) >= 60 AND DATEDIFF(DAY,o.InvoiceDate, getdate()) <= 89) THEN O.OSAmount END,0) AS NUMERIC(18,2))  AS S3,
			CAST(ISNULL(CASE WHEN (DATEDIFF(DAY,o.InvoiceDate, getdate()) >= 90) THEN O.OSAmount END,0) AS NUMERIC(18,2))  AS S4
			INTO ##OUTSTANDING_REPORT
			FROM RO_OutstandingDetails O
			INNER JOIN RO_PCustomer P ON (P.CustomerId = O.PartyCode)
			WHERE P.CustomerId IN (SELECT CustomerId FROM RO_UsersCustomers WHERE USERID IN 
					(SELECT USERID FROM RO_PUSER WHERE ParentIdList LIKE ''%,' + CAST(@P_USERID AS VARCHAR) + ',%''))
			ORDER BY P.Party;'
		END

		EXEC sp_executesql @SQL;
		
		SELECT PARTY,  SUM(S1 + S2 + S3 + S4) AS Total,SUM(S1) AS Slot1, SUM(S2) AS Slot2, SUM(S3) AS Slot3, SUM(S4) AS Slot4
		FROM ##OUTSTANDING_REPORT
		GROUP BY PARTY;

	END
END