USE [ZyleminiPlus_BDPL]
GO
/****** Object:  StoredProcedure [dbo].[prVisitBaseLatLongDetails_ZMP_DB]    Script Date: 3/30/2026 3:49:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO




-- =============================================
-- Author:		<Author,Rajesh kumar>
-- Create date: <Create Date 14-Oct-2022>
-- Poject : ZyleminiPlus
-- Description:	<Description,,There should be report available based on lat long details of executive in ZyleminiPlus Database
-- =============================================
--exec prZylemMiniBeatComplianceReport '1:000000000000001','','01-Feb-2022','28-Feb-2022',''
-- exec prZylemMiniBeatComplianceReport '1:000000000000001','','01-Jan-2022','30-Jan-2022',''
-- exec prVisitBaseLatLongDetails_ZMP_DB '1:76','2022-03-01','2022-03-31'
-- Procedure Updated by Rajesh kumar on 08-Oct-2022
-- Generate report for multiple month of executive
ALTER   PROCEDURE [dbo].[prVisitBaseLatLongDetails_ZMP_DB] (
@UserId nvarchar(max),
@FromDate varchar(11),
@ToDate varchar(11)
) 
AS 
DECLARE 
	@strSql nvarchar (MAX),
	@startDay tinyint,
	@endDay tinyint,	
	@endDate smalldatetime,
	@startDate varchar(11),
	@lastDate varchar(11),	
	@DebugMode int,
	@strUserId nvarchar(max),	
	@ColumnFieldNameKeycode nvarchar(max),
	@ColumnFieldName nvarchar(50),
	@k int,
	@MonthYear as nvarchar(50),
	@Index int,
	@Count int,
	@MaxRecCount int,
	@MinRecCount int
	
	
BEGIN
	BEGIN TRY
		set @DebugMode = 1
    
	create table #UserChildren
	(
		UserId int
	)

    Create table #VisitBaseLatLongDetails
	(
		SrNo int identity,
		UserId int,
		UserName nvarchar(500),
		VisitDate date,
		DateTimeStamp nvarchar(100),
		latitude numeric(18,6), -- requried column name in small latter
		longitude numeric(18,6), -- required column name in small latter
		CollectionType int,
		PartyName nvarchar(500),
		Remarks nvarchar(2000)
	)

	
	
	
	
	if substring(@UserId,1,2) = '1:'
	begin
		set @DebugMode = 1
		set @UserId = Right(@UserId,len(@UserId)-2)		
	end
	if @DebugMode=1  print 'Get user children start : ' + convert(varchar,getdate(), 113)
	
	SET @strSql = N'' + "Insert into #UserChildren select val from Split('"+@UserId+"',',')"
	   Print "@strSql-#UserChildren-"+@strSql
	   exec sp_executeSql @strSql
	
	
	
	if @DebugMode=1  print 'Get user children end : ' + convert(varchar,getdate(), 113) +' ' + @strSql
	

	    set @strSql= N'insert into #VisitBaseLatLongDetails'
		set @strSql=@strSql + " select RO_Puser.UserId,RO_Puser.UserName,cast(OrderTakenDatetime as date) as VisitDate,
		CONVERT(varchar,OrderTakenDatetime,21) as OrderTakenDatetime,
		OM.Latitude,OM.Longitude,	CollectionType,RO_PCustomer.Party,OM.Remarks from TX_Ordermaster OM LEFT join RO_PCustomer on OM.EntityID = RO_PCustomer.CustomerId ,RO_Puser,#UserChildren
		where OM.ExecutiveId = RO_Puser.UserId and RO_Puser.UserId = #UserChildren.UserId  
		and cast(OrderTakenDatetime as date) >= '"+@FromDate+"' and cast(OrderTakenDatetime as date) <= '"+@ToDate+"'
		and cast(OM.Latitude as varchar) <> '' and OM.Latitude <> cast(10.000000 as varchar)
		and cast(OM.Longitude as varchar) <> '' and OM.Longitude <> cast(10.000000 as varchar) "
		--and Longitude <> '' and Longitude <> cast('10.000000' as varchar)"
		if @DebugMode=1  print '@strSql : ' + @strSql
		exec sp_executesql @strSql		
	 select 'VisitBaseLatLongDetails' as Tablename	
	 select distinct UserId,UserName,Cast(VisitDate as varchar) as [VisitDate],DateTimeStamp,latitude,longitude,CollectionType,PartyName,Remarks 
	 from #VisitBaseLatLongDetails order by UserName --where ExecutiveId = 22839
	
    Drop table #VisitBaseLatLongDetails	
	DROP TABLE #UserChildren

	if @DebugMode = 1
	begin
		print format(getdate(),'HH:mm:ss:ms') + ' - Report End'
	end
	END TRY
	BEGIN CATCH			

		if(@@ERROR = '1701')
		begin
			select  'Maximum allowed columns Exceeded' as Error
		end
		else if(@@ERROR = '1702')
		begin
			select 'Maximum allowed columns Exceeded' as Error
		end
		else
		begin
			select 'Error while processing data, please contact admin' as Error
		end 
		IF @@TRANCOUNT > 0 ROLLBACK TRANSACTION
		INSERT INTO [ERRORLOG] VALUES ('prVisitBaseLatLongDetails_ZMP_DB', GETDATE(), ERROR_LINE(), ERROR_MESSAGE()+' '+@strSql)
		
	END CATCH


END