USE [ZyleminiPlus_BDPL]
GO
/****** Object:  StoredProcedure [dbo].[prZyleminiPlusUsageLogdelete]    Script Date: 3/30/2026 3:50:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO
--exec [prZyleminiPlusUsageLogdelete] ''
ALTER PROCEDURE [dbo].[prZyleminiPlusUsageLogdelete] (@NDays as int)
WITH RECOMPILE
AS


begin

Delete from TX_ZyleminiUsageLog WHERE InsertedDate < DATEADD(day, -@NDays, GETDATE())

end