USE [ZyleminiPlus_BDPL]
GO
/****** Object:  StoredProcedure [dbo].[prZylemMini_NOParent]    Script Date: 3/30/2026 3:51:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

ALTER procedure [dbo].[prZylemMini_NOParent] as
declare
@DebugMode as bit,
@DbaseName varchar(50),
@strsql nvarchar(4000),
@FromDate as varchar(15),	
@ToDate as varchar(15),
@FirstMonth as int
begin
	set @DebugMode = 1
	set @DbaseName = N'[180.179.227.86,21443].[CPA].[dbo].'
	--set @DbaseName = N'[MCCAIN_23072015].[dbo].'

	--set @strSql = N''
	--set @strSql = @strSql + ''
	--set @strSql = @strSql + 'FROM ' + @DbaseName + ''
	--exec sp_executeSql @strSql 

	--CREATE TABLE [dbo].[ERRORLOG](
	--[Id] [numeric](18, 0) IDENTITY(1,1) NOT NULL,
	--[ProcedureName] [nvarchar](150) NULL,
	--[DateTime] [smalldatetime] NULL,
	--[LineNumber] [int] NULL,
	--[Remarks] [nvarchar](2000) NULL
	--) ON [PRIMARY]
	SET NOCOUNT OFF
	Print 'Started Execution: ' + convert(varchar,getdate(), 109) + ' ' + @strSql
	BEGIN TRY		
		--SET TRANSACTION ISOLATION LEVEL READ COMMITTED
		BEGIN TRANSACTION	

		-- DISTRIBUTOR UPLOAD STATUS
		set @strSql = N'exec ' + @DbaseName + 'prDistributorFileUploadStatus_API ''1:000000000000001'',''' + convert(varchar(10), getdate(), 120) + ''',''7'' '
		--exec sp_executeSql @strSql
		if @DebugMode = 1 Print 'prDistributorFileUploadStatus_API: ' + convert(varchar,getdate(), 109) + ' ' + @strSql	
			

		---- PARTY MASTER
		set @strSql = N'TRUNCATE TABLE PCustomer INSERT INTO PCustomer '
		set @strSql = @strSql + 'SELECT CustomerId, (Party + ''_'' + cast(cast(CustomerId as int) as varchar)) as Party, LicenceNo, IsActive, ERPCode, RouteID, RouteName, AREAID, AREA, BRANCHID, BRANCH, CUSTOMERCLASSID, CUSTOMERCLASS, CUSTOMERCLASS2ID, CUSTOMERCLASS2, CUSTOMERGROUPID, CUSTOMERGROUP, CUSTOMERSEGMENTID, CUSTOMERSEGMENT, CUSTOMERSUBSEGMENTID, CUSTOMERSUBSEGMENT, LICENCETYPEID, LICENCETYPE, OCTROIZONEID, OCTROIZONE, '''',DefaultDistributorId'
		set @strSql = @strSql + ' FROM ' + @DbaseName + ' PCustomer'
		exec sp_executeSql @strSql 
		if @DebugMode = 1 Print 'PCustomer: ' + convert(varchar,getdate(), 109) + ' ' + @strSql


		---- SIP REPORT
		set @strSql = N'TRUNCATE TABLE SIPREPORT INSERT INTO SIPREPORT '
		set @strSql = @strSql + 'SELECT * '
		set @strSql = @strSql + 'FROM ' + @DbaseName + 'SIPREPORT '
		Print 'SIPREPORT: trial' + convert(varchar,getdate(), 109) + ' ' + @strSql
		Print 'SIPREPORT: trialdb' + convert(varchar,getdate(), 109) + ' ' + @DbaseName
		exec sp_executeSql @strSql 
		Print 'SIPREPORT: trial' + convert(varchar,getdate(), 109) + ' ' + @strSql
		set @strSql = N'UPDATE SIPREPORT SET USERID = CAST(USERID AS INT) '
		exec sp_executeSql @strSql

		if @DebugMode = 1 Print 'SIPREPORT: ' + convert(varchar,getdate(), 109) + ' ' + @strSql

		---- ORGANIZATION TREE ----
		set @strSql = N'TRUNCATE TABLE ORGANIZATIONTREE INSERT INTO ORGANIZATIONTREE '
		set @strSql = @strSql + 'SELECT cast(USERID as int), cast(PARENTID as int) '
		set @strSql = @strSql + 'FROM ' + @DbaseName + 'ORGANIZATIONTREE '
		--exec sp_executeSql @strSql
		if @DebugMode = 1 Print 'ORGANIZATIONTREE: ' + convert(varchar,getdate(), 109) + ' ' + @strSql

		---- USER MASTER
		set @strSql = N'TRUNCATE TABLE PUSER INSERT INTO PUSER '
		set @strSql = @strSql + 'SELECT USERID, PU.NAME AS USERNAME, '''' AS IMEINO, UM.AREAID,  '''', '''' ,  '''' '
		set @strSql = @strSql + 'FROM ' + @DbaseName + 'PUSER as PU, ' + @DbaseName + 'USERMASTER AS UM '
		set @strSql = @strSql + 'WHERE PU.USERID = UM.ID'
		exec sp_executeSql @strSql 
		if @DebugMode = 1 Print 'PUser: ' + convert(varchar,getdate(), 109) + ' ' + @strSql

		--update PUSER set ParentIdList = ',' + SUBSTRING((SELECT UserCode + ',' FROM 
		--	dbo.fnGetUserParent(PUSER.UserId) FOR XML PATH('')),0,4000) where UserId = PUSER.userid


		---- DISTRIBUTOR MASTER
		set @strSql = N'TRUNCATE TABLE PDistributor INSERT INTO PDistributor '
		set @strSql = @strSql + 'SELECT DistributorId, Distributor, DistributorAlias, ERPCode, AREAID, AREA, BRANCHID, BRANCH, DISTRIBUTORGROUPID, DISTRIBUTORGROUP '
		set @strSql = @strSql + 'FROM ' + @DbaseName + 'PDistributor'
		exec sp_executeSql @strSql 
		if @DebugMode = 1 Print 'PDistributor: ' + convert(varchar,getdate(), 109) + ' ' + @strSql			

		set @strSql = N'TRUNCATE TABLE DistributorDataStatus '
		set @strSql = @strSql + 'INSERT INTO DistributorDataStatus select DD.Branch, DistributorId, DD.Area, Day7, Day6, Day5, Day4, Day3, Day2, Day1, lastUploadDate, DD.LastInvoiceDate '
		set @strSql = @strSql + 'FROM ' + @DbaseName + 'DistributorData as DD, ' + @DbaseName + 'PDistributor AS PD '
		set @strSql = @strSql + 'WHERE DD.Distributor = PD.Distributor'
		exec sp_executeSql @strSql 
		if @DebugMode = 1 Print 'DistributorDataStatus 100: ' + convert(varchar,getdate(), 109) + ' ' + @strSql		

		set @strSql = N'UPDATE DistributorDataStatus SET Day1 = 0 WHERE Day1 IS NULL; '
		set @strSql = @strSql + 'UPDATE DistributorDataStatus SET Day2 = 0 WHERE Day2 IS NULL; '
		set @strSql = @strSql + 'UPDATE DistributorDataStatus SET Day3 = 0 WHERE Day3 IS NULL; '
		set @strSql = @strSql + 'UPDATE DistributorDataStatus SET Day4 = 0 WHERE Day4 IS NULL; '
		set @strSql = @strSql + 'UPDATE DistributorDataStatus SET Day5 = 0 WHERE Day5 IS NULL; '
		set @strSql = @strSql + 'UPDATE DistributorDataStatus SET Day6 = 0 WHERE Day6 IS NULL; '
		set @strSql = @strSql + 'UPDATE DistributorDataStatus SET Day7 = 0 WHERE Day7 IS NULL; '
		if @DebugMode = 1 Print 'DistributorDataStatus 200: ' + convert(varchar,getdate(), 109) + ' ' + @strSql	
		exec sp_executeSql @strSql 

		set @strSql = N'TRUNCATE TABLE UOMMaster '
		--set @strSql = @strSql + 'INSERT INTO UOMMaster SELECT UOMDescription, ConvToBase, Formula, UOMKey, IsQuantity, ConversionFormula '
		--set @strSql = @strSql + 'FROM ' + @DbaseName + 'UOMMaster'
		set @strSql = @strSql + 'INSERT INTO UOMMaster SELECT UOMDescription, ConvToBase, Formula, UOMKey, IsQuantity, ConversionFormula ,
								CASE WHEN FORMULA IS NULL THEN ''Quantity/''+ConvToBase ELSE  replace(Formula,''SaleQuantity'',''Quantity'') END ' 
		set @strSql = @strSql + 'FROM ' + @DbaseName + 'UOMMaster'
		exec sp_executeSql @strSql	
		if @DebugMode = 1 Print 'UOMMaster: ' + convert(varchar,getdate(), 109) + ' ' + @strSql	

		set @strSql = N'TRUNCATE TABLE AreaParentList INSERT INTO AreaParentList '
		set @strSql = @strSql + 'select AreaID, Area, '',''+ AreaParentId '
		set @strSql = @strSql + 'FROM ' + @DbaseName + 'AreaParentListInt'
		exec sp_executeSql @strSql	
		if @DebugMode = 1 Print 'AreaParentList: ' + convert(varchar,getdate(), 109) + ' ' + @strSql

		---- ITEM MASTER
		set @strSql = N'TRUNCATE TABLE PITEM '
		set @strSql = @strSql + 'INSERT INTO PITEM SELECT ItemId, Item, ItemAlias, BPC, BPC1, 1.00, ErpCode, Volume, ReportingQuantity, MRP, PTR, BRANDID, BRAND, BRANDALIAS, DIVISIONID, DIVISION, DIVISIONALIAS, FLAVOURID, FLAVOUR,'
		set @strSql = @strSql + 'FLAVOURALIAS, ITEMCLASSID, ITEMCLASS, ITEMCLASSALIAS, ITEMGROUPID, ITEMGROUP, ITEMGROUPALIAS, ITEMSIZEID, ITEMSIZE, ITEMSIZEALIAS, ITEMSUBGROUPID, ITEMSUBGROUP,'
		set @strSql = @strSql + 'ITEMSUBGROUPALIAS, ITEMTYPEID, ITEMTYPE, ITEMTYPEALIAS, SIZESEQUENCE, ITEMSIZESEQUENCE, ITEMSIZEALIASSEQUENCE, ITEMSEQUENCE, ITEMALIASSEQUENCE, BRANDSEQUENCE,BRANDALIASSEQUENCE,0 '
		set @strSql = @strSql + 'FROM ' + @DbaseName + 'PITEM where item not like ''NEWPRODUCT_%'''
		exec sp_executeSql @strSql
		if @DebugMode = 1 Print 'PITEM: ' + convert(varchar,getdate(), 109) + ' ' + @strSql	
		UPDATE PITEM SET ISFOCUS=1, PTR = 1		

		-- Last 3 month Date including this month -- convert(varchar(10), (dateadd(month,datediff(month,(0),getdate())-2,(0))), 120)
		-- Today Date --convert(varchar(10), getdate(), 120)
		set @strSql =''
		set @strSql = N'TRUNCATE TABLE SALES INSERT INTO SALES ' 
		--set @strSql = @strSql + 'SELECT '',''+ replace(ltrim(replace(CDS.USERID,''0'','' '')),'' '',''0'') + '','', DISTRIBUTORID, SL.CUSTOMERID, month(VOUCHERDATE) [MONTH], SL.ITEMID, CAST(SUM(SALEQUANTITY) as numeric(18,2)) AS Quantity, 1 VALUE '
		--set @strSql = @strSql + 'SELECT CAST(CDS.USERID AS INT), DISTRIBUTORID, SL.CUSTOMERID, month(VOUCHERDATE) [MONTH], SL.ITEMID, CAST(SUM(SALEQUANTITY) as numeric(18,2)) AS Quantity, 1 VALUE '
		set @strSql = @strSql + 'SELECT '',''+ replace(ltrim(replace(CDS.USERID,''0'','' '')),'' '',''0'') + '','', DISTRIBUTORID, SL.CUSTOMERID, month(VOUCHERDATE) [MONTH], SL.ITEMID, CAST(SUM(SALEQUANTITY) as numeric(18,2)) AS Quantity, 1 VALUE '
		set @strSql = @strSql + 'FROM ' + @DbaseName + 'SALES AS SL, ' + @DbaseName + 'PITEM as PI, ' + @DbaseName + 'CUSTOMERDIVISIONSALESMAN AS CDS, ' + @DbaseName + 'PCUSTOMER AS PC, ' + @DbaseName + 'AREALEVELMASTER AS ALM '
		set @strSql = @strSql + 'WHERE SL.ITEMID=PI.ITEMID AND SL.CUSTOMERID=CDS.CUSTOMERID AND PI.DIVISIONID=CDS.DIVISIONID '
		set @strSql = @strSql + 'AND PC.CUSTOMERID = SL .CUSTOMERID AND CDS.CUSTOMERID=PC.CUSTOMERID AND ALM.AREAID = PC.AREAID '
		set @strSql = @strSql + 'AND VOUCHERDATE >=''' + convert(varchar(10), (dateadd(month,datediff(month,(0),getdate())-2,(0))), 120) + ''' AND VOUCHERDATE <=''' + convert(varchar(10), getdate(), 120) + ''' '
		set @strSql = @strSql + 'GROUP BY '',''+ replace(ltrim(replace(CDS.USERID,''0'','' '')),'' '',''0'') + '','', DISTRIBUTORID, SL.CUSTOMERID, month(VOUCHERDATE), SL.ITEMID'
		if @DebugMode = 1 Print 'SALES: ' + convert(varchar,getdate(), 109) + ' ' + @strSql	
		exec sp_executeSql @strSql
		--if @DebugMode = 1 Print 'SALES: ' + convert(varchar,getdate(), 109) + ' ' + @strSql	

		select @FirstMonth = Value from settings where [Key] = 'FIRSTMONTH' 

		if(month(getdate()) > 0 and month(getdate()) < @FirstMonth)
		begin		
			set @FromDate = cast((year(getdate()) -1) as varchar) + '-' + cast(@FirstMonth as varchar) + '-01' 		
		end
		else
		begin
			set @FromDate = cast((year(getdate())) as varchar) + '-' + cast(@FirstMonth as varchar) + '-' + '01'	
		end
		
		-- YTD -- convert(varchar(10), (dateadd(month,datediff(month,(0),getdate())-2,(0))), 120)
		-- Today Date --convert(varchar(10), getdate(), 120)
		set @strSql =''
		set @strSql = N'TRUNCATE TABLE SALESYTD INSERT INTO SALESYTD '
		set @strSql = @strSql + 'SELECT CDS.USERID, DISTRIBUTORID, SL.CUSTOMERID, SL.ITEMID, CAST(SUM(SALEQUANTITY) as numeric(18,2)) AS Quantity, 1 VALUE '
		set @strSql = @strSql + 'FROM ' + @DbaseName + 'SALES AS SL, ' + @DbaseName + 'PITEM as PI, ' + @DbaseName + 'CUSTOMERDIVISIONSALESMAN AS CDS, ' + @DbaseName + 'PCUSTOMER AS PC, ' + @DbaseName + 'AREALEVELMASTER AS ALM '
		set @strSql = @strSql + 'WHERE SL.ITEMID=PI.ITEMID AND SL.CUSTOMERID=CDS.CUSTOMERID AND PI.DIVISIONID=CDS.DIVISIONID '
		set @strSql = @strSql + 'AND PC.CUSTOMERID = SL .CUSTOMERID AND CDS.CUSTOMERID=PC.CUSTOMERID AND ALM.AREAID = PC.AREAID '
		set @strSql = @strSql + 'AND VOUCHERDATE >=''' + @FromDate + ''' AND VOUCHERDATE <=''' + convert(varchar(10), getdate(), 120) + ''' '
		set @strSql = @strSql + 'GROUP BY CDS.USERID, DISTRIBUTORID, SL.CUSTOMERID, SL.ITEMID'
		exec sp_executeSql @strSql
		if @DebugMode = 1 Print 'SALESYTD: ' + convert(varchar,getdate(), 109) + ' ' + @strSql		
		
		---- TARGET DATA	
		
		set @strSql = N'TRUNCATE TABLE Target INSERT INTO Target '
		set @strSql = @strSql + 'select replace(replace(TF.EntityId, '''''''', ''''), '','',''''), ToDate, cast(TD.EntityId as int), TM.Classification, TD.Target '
		set @strSql = @strSql + 'FROM ' + @DbaseName + 'TargetMaster TM, ' + @DbaseName + 'TargetDetails TD, ' + @DbaseName + 'TargetFilterApplicability TF '
		set @strSql = @strSql + 'where TM.Id = TD.TargetMasterId and TM.Id = TF.TargetMasterId '
		set @strSql = @strSql + 'and FromDate >=''' + @FromDate + ''' and ToDate <=''' + convert(varchar(10), DATEADD(s,-1,DATEADD(mm, DATEDIFF(m,0,GETDATE())+1,0)), 120)  + ''' '
		exec sp_executeSql @strSql
		if @DebugMode = 1 Print 'TARGET: ' + convert(varchar,getdate(), 109) + ' ' + @strSql
		--SELECT  convert(varchar(10), DATEADD(s,-1,DATEADD(mm, DATEDIFF(m,0,GETDATE())+1,0)), 120)
		declare @monthDiff tinyint	
		
		-- CUSTOMERUSERITEM MAPPING
		set @strSql = N'TRUNCATE TABLE UserCustomerItem INSERT INTO UserCustomerItem '
		set @strSql = @strSql + 'SELECT DISTINCT CUSTOMERDIVISIONSALESMAN.USERID as UserID, SALES.CUSTOMERID as CustomerID, SALES.ITEMID as ItemID FROM ' + @DbaseName + 'SALES, ' + @DbaseName + 'PITEM, ' + @DbaseName + 'CUSTOMERDIVISIONSALESMAN '
		set @strSql = @strSql + 'WHERE SALES.ITEMID=PITEM.ITEMID AND SALES.CUSTOMERID=CUSTOMERDIVISIONSALESMAN.CUSTOMERID AND PITEM.DIVISIONID=CUSTOMERDIVISIONSALESMAN.DIVISIONID and SALES.CUSTOMERID is not NUll'
		--set @strSql = @strSql + 'AND VOUCHERDATE >=''' + @FromDate + ''' AND VOUCHERDATE <=''' + convert(varchar(10), getdate(), 120) + ''' '
		exec sp_executeSql @strSql 
		if @DebugMode = 1 Print 'CUSTOMERUSERITEM: ' + convert(varchar,getdate(), 109) + ' ' + @strSql		

		--UPDATE SALES SET USERID = PUSER.ParentIdList FROM PUSER, SALES WHERE SALES.UserID = PUser.UserID


		update pcustomer set OUTLETINFO = A.OutletInfo from Pcustomer, (
		select cast(p.customerid as int) CustomerID,  ('Area: ' + Area + ' ||Address: ' + u.[Address] + ' ||Contact No: Mobile-' + (case when len(u.telephone) = 0 then '0' else (u.telephone) end) + ', Landline: 0') OutletInfo
		from [180.179.227.86,21443].[CPA].[dbo].pcustomer p,[180.179.227.86,21443].[CPA].[dbo].usermaster u 
		where p.userid = u.id) A
		where PCustomer.customerid = A.CustomerID

		truncate table outletassetinformation
		insert into outletassetinformation
		select isnull(Customerid,'00000000000000') Customerid, AssetID, AssetNO, 
		'Asset Name: ' +  isnull(AssetNO, '') + ' || Asset Type: ' + isnull(AssetTypeName, '') + ' || Model No: ' + isnull(AssetManufacturerName, '') +  ' || SizeSqFeet: ' + isnull(WallBaySizeSqFeet, '')
		from [180.179.227.86,21443].[CPA].[dbo].PWallbay 

		--CREATE TABLE #TEMPSALES (UserID numeric, DistributorId numeric, CustomerID numeric, ItemID numeric, KEYID varchar(100))
		--truncate table #TEMPSALES
		--insert into #TEMPSALES
		--select distinct replace(userid, ',', ''), distributorid, customerid, itemid, (replace(userid, ',', '') + cast(distributorid as varchar) + cast(customerid as varchar) + cast(itemid as varchar)) 
		--from sales

		--delete from #TEMPSALES where KEYID in (
				--select (cast(userid as varchar) + cast(distributorid as varchar) + cast(customerid as varchar) + cast(itemid as varchar)) ABC 
				--from salesytd
		--)
		--Insert into SALESYTD select userid, distributorid, customerid, itemid from #TEMPSALES

		--DROP TABLE #TEMPSALES

		set @strSql='update zyleminiNewParty set targetId= A.targetId from '+@DbaseName+'zyleminiNewParty A WHERE zyleminiNewParty.PartyId=A.partyid'
		--exec sp_executeSql @strSql 
	COMMIT TRANSACTION					
	--SET TRANSACTION ISOLATION LEVEL	READ Committed 
	END TRY
	BEGIN CATCH	
		IF @@TRANCOUNT > 0 ROLLBACK TRANSACTION
		INSERT INTO [ERRORLOG] VALUES ('prZylemMini', GETDATE(), ERROR_LINE(), ERROR_MESSAGE() + @strSql)
		
	END CATCH			
end

