USE [ZyleminiPlus_BDPL]
GO
/****** Object:  StoredProcedure [dbo].[prZyleminiDataViewer]    Script Date: 3/30/2026 3:49:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO
-- =============================================
-- Author:		<Rajesh kumar>
-- Create date: <27-sep-2019>
-- Description:	exec prZyleminiDataViewer 4,13,'01-Jan-2019', '27-Sep-2019'
-------------   exec prZyleminiDataViewer 1,13,'01-Jan-2019', '27-Sep-2019'
-- =============================================
ALTER PROCEDURE [dbo].[prZyleminiDataViewer](
	@ReportId as varchar(15),
	@UserId as int,
	@FromDate as varchar(15),
	@ToDate as varchar(15)
	)
AS
declare
@DebugMode int,
@strSql nvarchar(max)
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;
	set @DebugMode = 0

    if substring(@ReportId,1,2) = '1:'
	begin
		set @DebugMode = 1
		set @ReportId = Right(@ReportId,len(@ReportId)-2)
	end

    if @DebugMode = 1 Print 'Start: ' + convert(varchar,getdate(), 109)
	if(@ReportId = 1)
	begin
		Create Table #OrderDetails
		(
		  OrderID int,
		  MobileGenPrimaryKey varchar(25),
		  OrderDate varchar(25),
		  Party varchar(255),
		  Latitude varchar(25),
		  Longitude varchar(25),
		  Fieldwork varchar(150),
		  CollectionType int
		)
		Create Table #OrderDetails_APV
		(
		  OrderID int,
		  MobileGenPrimaryKey varchar(25),
		  OrderDate varchar(25),
		  Party varchar(255),
		  Latitude varchar(25),
		  Longitude varchar(25),
		  Fieldwork varchar(150),
		  APVID int	  
		)
		Create Table #ImageDetails
		(
		  OrderID int,	
		  MobileGenPrimaryKey varchar(25),
		  OrderDate varchar(25),
		  Party varchar(255),
		  Latitude varchar(25),
		  Longitude varchar(25),	  
		  Fieldwork varchar(150),
		  ImageID int	  
		)

		if @DebugMode = 1 Print 'Completed Creating Temp Tables: ' + convert(varchar,getdate(), 109)	

		set @strSql = ''
		set @strSql = "Insert into #OrderDetails select om.ID OrderID, MobileGenPrimaryKey, format(om.OrderTakenDateTime, 'dd-MMM-yyyy HH:mm:ss') OrderDate, Party,Latitude,Longitude, CASE 
					   WHEN om.CollectionType = 0 THEN 'Order Booked' 
					   WHEN om.CollectionType = 1 THEN 'Data - Sales' 
					   WHEN om.CollectionType = 2 THEN 'Data - Stock' 
					   WHEN om.CollectionType = 3 THEN null
					   WHEN om.CollectionType = 4 THEN 'Outlet Visited' 
					   WHEN om.CollectionType = 5 THEN null END AS FieldWork ,CollectionType
					   from tx_ordermaster om, ro_pcustomer p
					   where  om.EntityID = p.CustomerId
					   and om.ExecutiveID = "+cast(@UserId as varchar)+" and cast(om.OrderTakenDateTime as date) >= '"+@fromDate+"' and cast(om.OrderTakenDateTime as date) <= '"+@toDate+"'
					   order by om.OrderTakenDateTime desc"
		 if @DebugMode = 1 print "#OrderDetails table query : " + @strSql
		 exec sp_executesql @strSql
		

		set @strSql = ''
		set @strSql = "Insert into #OrderDetails_APV select #OrderDetails.OrderID, #OrderDetails.MobileGenPrimaryKey, #OrderDetails.OrderDate,
		               #OrderDetails.Party,#OrderDetails.Latitude,#OrderDetails.Longitude, 
					   Case when Asp.ID IS NULL then 'Failed Done not clicked' when Asp.ID IS NOT NULL then 'Asset Verified'  END as Remark,Asp.ID 
					   from #OrderDetails  left join 
		              (select * from tx_AssetPlacementVerification where AssetId IS NOT NULL AND AssetId != '') as Asp  on #OrderDetails.OrderID = Asp.OrderID 
					   where CollectionType = 5 "
		 if @DebugMode = 1 print "#OrderDetails_APV table query : " + @strSql
		 exec sp_executesql @strSql
		 --select * from #OrderDetails_APV

		 update #OrderDetails set #OrderDetails.FieldWork = #OrderDetails_APV.Fieldwork from #OrderDetails,#OrderDetails_APV  where #OrderDetails.OrderID = #OrderDetails_APV.OrderID
		 

		 set @strSql = ''
		set @strSql = "Insert into #ImageDetails select #OrderDetails.OrderID, #OrderDetails.MobileGenPrimaryKey, #OrderDetails.OrderDate,
		               #OrderDetails.Party,#OrderDetails.Latitude,#OrderDetails.Longitude,Case when tx_ImagesDetails.Id IS NULL then 'Images not clicked' 
			           when tx_ImagesDetails.Id IS NOT NULL then 'Images clicked' end as status, tx_ImagesDetails.Id
		               from #OrderDetails left join tx_ImagesDetails
		               on #OrderDetails.OrderID = tx_ImagesDetails.OrderID 
					   where CollectionType = 3 "
		 if @DebugMode = 1 print " #ImageDetails table query : " + @strSql
		 exec sp_executesql @strSql

		 update #OrderDetails set #OrderDetails.FieldWork = #ImageDetails.Fieldwork from #OrderDetails,#ImageDetails  where #OrderDetails.OrderID = #ImageDetails.OrderID
		 

		 --select * from  #ImageDetails
		 Alter table #OrderDetails drop column CollectionType
		 select * from #OrderDetails 

		Drop table #OrderDetails
		Drop table #OrderDetails_APV
		drop table #ImageDetails
	end

	if(@ReportId = 2)
	 begin
	   Create table #OrderWithImageDetails
	   (
	      OrderID int,		
		  MobileGenPrimaryKey varchar(25),
		  OrderDate varchar(25),
		  Party varchar(255),
		  Latitude varchar(25),
		  Longitude varchar(25),
		  ImageClicked varchar(15),
		  ImageName varchar(150)
	   )
	   if @DebugMode = 1 Print 'Completed Creating Temp Tables: ' + convert(varchar,getdate(), 109)
	   set @strSql = ''
	   set @strSql = "Insert into #OrderWithImageDetails select om.ID OrderID, MobileGenPrimaryKey, format(om.OrderTakenDateTime, 'dd-MMM-yyyy HH:mm:ss') OrderDate, Party,Latitude, 
	                  Longitude,   format(img.ImageTakenDatetime, 'dd-MMM-yyyy') ImageClicked, img.ImageNameWithExt  from tx_ordermaster om, tx_imagesdetails IMG, ro_pcustomer p
                      where  om.EntityID = p.CustomerId and om.id = IMG.orderid and om.ExecutiveID = "+cast(@UserId as varchar)+" and 
					  cast(om.OrderTakenDateTime as date) >= '"+@fromDate+"' and cast(om.OrderTakenDateTime as date) <= '"+@toDate+"' order by OrderTakenDateTime desc"	   
	   if @DebugMode = 1 print "#OrderWithImageDetails table query : " + @strSql
		 exec sp_executesql @strSql

		 select Distinct case when len([ImageName]) > 0 then ('ViewImage_' +  cast(OrderID as varchar)) else '' end, OrderID, MobileGenPrimaryKey, OrderDate, Party, Latitude, Longitude, ImageClicked from #OrderWithImageDetails
		 Drop table #OrderWithImageDetails
   end
   if(@ReportId = 3)
     begin
	   Create Table #PartyOrderDetails
	   (
	      OrderID int,		
		  MobileGenPrimaryKey varchar(25),
		  OrderDate varchar(25),
		  Party varchar(255),
		  Latitude varchar(25),
		  Longitude varchar(25),
		  Item varchar(255),
		  LargeUnit int,
		  SmallUnit int,
		  Rate numeric(18,2),
		  Amount numeric(18,2)
	   )
	   if @DebugMode = 1 Print 'Completed Creating Temp Tables: ' + convert(varchar,getdate(), 109)
	   set @strSql = ''
	   set @strSql = "Insert into #PartyOrderDetails select om.ID OrderID, MobileGenPrimaryKey, format(om.OrderTakenDateTime, 'dd-MMM-yyyy HH:mm:ss') OrderDate, Party,Latitude, 
	                  Longitude, i.Item, od.largeunit, od.smallunit, od.rate, od.amount from tx_ordermaster om, tx_orderdetails od, ro_pcustomer p, ro_pitem i 
                      where  od.itemid = i.itemid and om.EntityID = p.CustomerId and om.id = od.orderid and om.ExecutiveID = "+cast(@UserId as varchar)+"
					  and cast(om.OrderTakenDateTime as date) >= '"+@fromDate+"' and cast(om.OrderTakenDateTime as date) <= '"+@toDate+"' order by OrderTakenDateTime desc"
	   if @DebugMode = 1 print "#PartyOrderDetails table query : " + @strSql
		 exec sp_executesql @strSql

		select * from #PartyOrderDetails
		drop table #PartyOrderDetails
	 end
   if(@ReportId = 4)
     begin
	   Create Table #TemOrderDetails
	   (
	      ID int,		
		  MobileGenPrimaryKey varchar(25),
		  OrderDate varchar(25),
		  Party varchar(255),
		  Latitude varchar(25),
		  Longitude varchar(25)
		 
	   )
	   Create Table #AssetVarificationDetails
	   (
	      OrderID int,		
		  MobileGenPrimaryKey varchar(25),
		  OrderDate varchar(25),
		  Party varchar(255),
		  Latitude varchar(25),
		  Longitude varchar(25),
		  AssetID int,
		  QRCode varchar(100),
		  AssetStatus varchar(100),
		  AssetInformation varchar(255),
		  Remarks varchar(255)
	   )
	   Create Table #FinalAssetVarificationDetails
	   (
	      OrderID int,		
		  MobileGenPrimaryKey varchar(25),
		  OrderDate varchar(25),
		  Party varchar(255),
		  Latitude varchar(25),
		  Longitude varchar(25),
		  AssetID int,
		  QRCode varchar(100),
		  AssetStatus varchar(100),
		  AssetInformation varchar(255),
		  Remarks varchar(255),
		  ImageId int,
		  ImageRemarks varchar(255),
	   )

	   if @DebugMode = 1 Print 'Completed Creating Temp Tables: ' + convert(varchar,getdate(), 109)
	   set @strSql = ''
	   ---------- Previous query before changes ---------------------------------------------------------
	   --set @strSql = "Insert into #AssetVarificationDetails select om.ID OrderID, MobileGenPrimaryKey, format(om.OrderTakenDateTime, 'dd-MMM-yyyy HH:mm:ss') OrderDate, Party,Latitude, 
	   --               Longitude, a.AssetID, a.QRCode, case 
				--	  when a.ScanStatus = 1 then 'Asset Verified'
    --                  when a.ScanStatus = 2 then 'Wrongly Deployed' 
    --                  when a.ScanStatus = 3 then 'Manual Entry' END AS AssetStatus, a.AssetInformation, a.Remark
    --                  from ordermaster om, AssetPlacementVerification a, pcustomer p where  om.EntityID = p.CustomerId and om.id = a.orderid and 
				--	  om.userid = "+cast(@UserId as varchar)+" and cast(om.OrderTakenDateTime as date) >= '"+@fromDate+"' and cast(om.OrderTakenDateTime as date) <= '"+@toDate+"' 
				--	  order by OrderTakenDateTime desc"

		 set @strSql = "Insert into #TemOrderDetails select om.ID OrderID, MobileGenPrimaryKey, format(om.OrderTakenDateTime, 'dd-MMM-yyyy HH:mm:ss') OrderDate, Party,Latitude, 
	                  Longitude
                      from tx_ordermaster om, ro_pcustomer p where  om.EntityID = p.CustomerId and om.collectiontype=5 and
					  om.ExecutiveID = "+cast(@UserId as varchar)+" and cast(om.OrderTakenDateTime as date) >= '"+@fromDate+"' and cast(om.OrderTakenDateTime as date) <= '"+@toDate+"' 
					  order by OrderTakenDateTime desc"
	  
	   if @DebugMode = 1 print "#TemOrderDetails table query : " + @strSql
		 exec sp_executesql @strSql

		--select * from #TemOrderDetails

		set @strSql = ''
		set @strSql = "Insert into #AssetVarificationDetails select 
		#TemOrderDetails.ID,#TemOrderDetails.MobileGenPrimaryKey,#TemOrderDetails.OrderDate,#TemOrderDetails.Party,#TemOrderDetails.Latitude,#TemOrderDetails.Longitude,Asp.AssetID, 
		   Asp.QRCode, Case when Asp.ScanStatus IS NULL then 'Failed'
					   when Asp.ScanStatus = 1 then 'Asset Verified'
					   when Asp.ScanStatus = 2 then 'Wrongly Deployed' 
                       when Asp.ScanStatus = 3 then 'Manual Entry' END AS AssetStatus, Asp.AssetInformation, Case when Asp.ScanStatus IS NULL then 'Done button not clicked.' END as Remark 
		               from #TemOrderDetails left join 
		              (select * from tx_AssetPlacementVerification where AssetId IS NOT NULL AND AssetId != '') as Asp  on #TemOrderDetails.ID = Asp.OrderID "
					 
		 if @DebugMode = 1 print "#AssetVarificationDetails table query : " + @strSql
		 exec sp_executesql @strSql
		--select * from #AssetVarificationDetails

		set @strSql = ''
		set @strSql = "Insert into #FinalAssetVarificationDetails select #AssetVarificationDetails.OrderID,MobileGenPrimaryKey,OrderDate,Party,Latitude,Longitude,AssetID, 
		               QRCode, AssetStatus, AssetInformation,Remarks , tx_ImagesDetails.Id,Case when tx_ImagesDetails.Id IS NULL then 'Images not clicked' 
			           when tx_ImagesDetails.Id IS NOT NULL then 'Images clicked.' end as status
		               from #AssetVarificationDetails left join tx_ImagesDetails
		               on #AssetVarificationDetails.OrderID = tx_ImagesDetails.OrderID"
					 
		 if @DebugMode = 1 print "#FinalAssetVarificationDetails table query : " + @strSql
		 exec sp_executesql @strSql

		 update #FinalAssetVarificationDetails set Remarks = Case When Remarks IS NULL then ImageRemarks When Remarks IS NOT NULL then Remarks + " "+ImageRemarks end 
		 Alter table #FinalAssetVarificationDetails drop column ImageId ,ImageRemarks
		 select Distinct case when len([Remarks]) > 0 then ('ViewImage_' +  cast(OrderID as varchar)) else '' end, OrderID, MobileGenPrimaryKey, OrderDate, Party, Latitude, Longitude, AssetID, QRCode, AssetStatus, AssetInformation, Remarks from #FinalAssetVarificationDetails

		drop table #TemOrderDetails
		drop table #AssetVarificationDetails
		drop table #FinalAssetVarificationDetails

	 end
   if(@ReportId = 5)
     begin
	   Create Table #PartyOrderDetailsWithFreeItem
	   (
	      OrderID int,		
		  MobileGenPrimaryKey varchar(25),
		  OrderDate varchar(25),
		  Party varchar(255),
		  Latitude varchar(25),
		  Longitude varchar(25),
		  Item varchar(255),
		  LargeUnit int,
		  SmallUnit int,
		  FreeLargeUnit int,
		  FreeSmallUnit int,
		  Rate numeric(18,2),
		  Amount numeric(18,2),
		  DeliveryDate varchar(15)
	   )
	   if @DebugMode = 1 Print 'Completed Creating Temp Tables: ' + convert(varchar,getdate(), 109)
	   set @strSql = ''
	   set @strSql = "Insert into #PartyOrderDetailsWithFreeItem select om.ID OrderID, MobileGenPrimaryKey, format(om.OrderTakenDateTime, 'dd-MMM-yyyy HH:mm:ss') OrderDate, Party,
	                  Latitude, Longitude, i.item, od.largeunit, od.smallunit, od.FreeLargeUnit, od.FreeSmallUnit, od.rate, od.amount, 
					  format(om.ExpectedDeliveryDate, 'dd-MMM-yyyy') DeliveryDate from tx_ordermaster om, tx_orderdetails od, ro_pcustomer p, ro_pitem i 
                      where  od.itemid = i.itemid and om.EntityID = p.CustomerId and om.id = od.orderid and om.ExecutiveID = "+cast(@UserId as varchar)+"
					  and cast(om.OrderTakenDateTime as date) >= '"+@fromDate+"' and cast(om.OrderTakenDateTime as date) <= '"+@toDate+"' order by OrderTakenDateTime desc"
	   if @DebugMode = 1 print "#PartyOrderDetailsWithFreeItem table query : " + @strSql
		 exec sp_executesql @strSql

		select * from #PartyOrderDetailsWithFreeItem
		drop table #PartyOrderDetailsWithFreeItem
	 end
   if(@ReportId = 6)
     begin
	   Create table #ErrorLogDetails
	   (
	      UserName varchar(255),
		  InsertedDateTime varchar(25),
		  LineNumber int,
		  Exception varchar(500),
		  Query varchar(3000)
	   )
	   if @DebugMode = 1 Print 'Completed Creating Temp Tables: ' + convert(varchar,getdate(), 109)
	   set @strSql = ''
	   set @strSql = "Insert into #ErrorLogDetails select p.username, format(logs.InsertedDateTime, 'dd-MMM-yyyy HH:mm:ss') InsertedDateTime, LineNumber, Exception, Query
	                 from   tx_zyleminierrorlog logs, ro_PUser p where  p.userid = "+cast(@UserId as varchar)+" and format(logs.InsertedDateTime, 'dd-MMM-yyyy') >= '"+@fromDate+"' and 
					 format(logs.InsertedDateTime, 'dd-MMM-yyyy') <= '"+@toDate+"' order by InsertedDateTime desc"
	   if @DebugMode = 1 print "#ErrorLogDetails table query : " + @strSql
		 exec sp_executesql @strSql

		select * from #ErrorLogDetails
		drop table #ErrorLogDetails
	 end

	 if(@ReportId = 11)
     begin	  
	    exec prZyleminiTodayActivity @userID, @fromDate, @toDate
	 end
	 if(@ReportId = 13)
     begin
	  select case when len([image]) > 0 then ('ViewImage_' +  cast(ID as varchar)) else '' end ViewImage , ID, BeatID, TargetId, outletName, contactNumber, ownersName, outletAddress, remark, Latitude, Longitude, image, AddedOnDate, userid, targetId, InsertedOnDate 
	  from TX_ZyleminiNewParty where userid = @userID and cast(AddedOnDate as date) >= @fromDate and cast(AddedOnDate as date) <= @toDate order by AddedOnDate desc
	 end
	 If(@ReportId = 14)
	 begin
	  SELECT UserName, UserPwd, format(UploadedDateTime, 'dd-MMM-yyyy HH:mm:ss') UploadedDateTime FROM  ZYLEMONGO.dbo.ZyleminiDataUploadedStatus WHERE (Remark = 'Invalid') and cast        (UploadedDateTime as date) >= @fromDate and cast(UploadedDateTime as date) <= @toDate ORDER BY UploadedDateTime desc
	 end
	 if(@ReportId = 15)
	 begin
	    select Distinct UserName, LoginID, format(L.InsertedDate, 'dd-MMM-yyyy HH:mm:ss')  DataSyncedTime from tx_zyleminiusagelog L, ro_puser U where L.UserID = U.UserID and
		 cast(L.InsertedDate as date) >= @fromDate and cast(L.InsertedDate as date) <= @toDate and L.UserID = @userID order by DataSyncedTime desc
	 end
   
END
