USE [ZyleminiPlus_BDPL]
GO
/****** Object:  StoredProcedure [dbo].[prZyleminiTodayActivity]    Script Date: 3/30/2026 3:50:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER procedure [dbo].[prZyleminiTodayActivity] (@userID int, @fromDate date, @toDate date)
As 
begin
	Declare
	@debugMode bit,
	@selectedDate date
	--select * from pitem
	create table #Temp (
		ExecutiveID varchar(100),
		Executive varchar(100),
		ActivityCount tinyint,
		OrderCount tinyint,
		MissingDistributor tinyint,
		VisitedCount tinyint,
		ImagesClicked tinyint,
		AssetVerified tinyint,
		LatLogCount tinyint DEFAULT 0,
		ZeroLatLogCount tinyint
	)

	set @debugMode = 1	
	--select @userID, @fromDate, @toDate

	set @selectedDate = cast(getdate() as date) --cast(DATEADD(day, -1, convert(date, GETDATE())) as date)  --
	if @debugMode = 1 print 'Started Today Date ' + cast(@selectedDate as varchar) + '   --  ' + format(getdate(), 'dd-MMM-yyyy HH:mm:ss')

	insert into #Temp (ExecutiveID, Executive, ActivityCount)
	select ExecutiveID, u.username, count(*) 
	from tx_ordermaster om, ro_puser u 
	where ExecutiveID = u.userid and cast(OrderTakenDatetime as date) >= @fromDate and cast(OrderTakenDatetime as date) <= @toDate
		--and ExecutiveID = @userID  -- format(getdate(), 'dd-MMM-yyyy')
	group by ExecutiveID, u.username
	if @debugMode = 1 print 'After User Inserted ' + format(getdate(), 'dd-MMM-yyyy HH:mm:ss') 

	update #Temp Set OrderCount = A.Cnt from (
	select ExecutiveID, count(*) Cnt
	from tx_ordermaster 
	where CollectionType=0 and cast(OrderTakenDatetime as date) >= @fromDate and cast(OrderTakenDatetime as date) <= @toDate
		--and userid = @userID -- format(OrderTakenDatetime, 'dd-MMM-yyyy') = format(getdate(), 'dd-MMM-yyyy')
	group by ExecutiveID) as A
	where #Temp.ExecutiveID = A.ExecutiveID
	if @debugMode = 1 print 'After Order Count ' + format(getdate(), 'dd-MMM-yyyy HH:mm:ss')
	
	update #Temp Set MissingDistributor = A.Cnt from (
	select ExecutiveID, count(*) Cnt
	from tx_ordermaster 
	where CollectionType=0 and cast(OrderTakenDatetime as date) >= @fromDate and cast(OrderTakenDatetime as date) <= @toDate 
		and DefaultDistributorId = 0 --and userid = @userID -- format(OrderTakenDatetime, 'dd-MMM-yyyy') = format(getdate(), 'dd-MMM-yyyy')
	group by ExecutiveID) as A
	where #Temp.ExecutiveID = A.ExecutiveID
	if @debugMode = 1 print 'After Missing Distributor ' + format(getdate(), 'dd-MMM-yyyy HH:mm:ss')

	update #Temp Set VisitedCount = A.Cnt from (
	select ExecutiveID, count(*) Cnt
	from tx_ordermaster 
	where CollectionType=4 and  cast(OrderTakenDatetime as date) >= @fromDate and cast(OrderTakenDatetime as date) <= @toDate
		--and userid = @userID -- format(OrderTakenDatetime, 'dd-MMM-yyyy') = format(getdate(), 'dd-MMM-yyyy')
	group by ExecutiveID) as A
	where #Temp.ExecutiveID = A.ExecutiveID
	if @debugMode = 1 print 'Before Visited Count ' + format(getdate(), 'dd-MMM-yyyy HH:mm:ss')

	update #Temp Set ImagesClicked = A.Cnt from (
	select ExecutiveID, count(*) Cnt
	from tx_ordermaster 
	where CollectionType=3 and cast(OrderTakenDatetime as date) >= @fromDate and cast(OrderTakenDatetime as date) <= @toDate 
		--and userid = @userID -- format(OrderTakenDatetime, 'dd-MMM-yyyy') = format(getdate(), 'dd-MMM-yyyy')
	group by ExecutiveID) as A
	where #Temp.ExecutiveID = A.ExecutiveID
	if @debugMode = 1 print 'After Images Clicked ' + format(getdate(), 'dd-MMM-yyyy HH:mm:ss')

	update #Temp Set AssetVerified = A.Cnt from (
	select ExecutiveID, count(*) Cnt
	from tx_ordermaster 
	where CollectionType=5 and cast(OrderTakenDatetime as date) >= @fromDate and cast(OrderTakenDatetime as date) <= @toDate 
		--and userid = @userID -- format(OrderTakenDatetime, 'dd-MMM-yyyy') = format(getdate(), 'dd-MMM-yyyy')
	group by ExecutiveID) as A
	where #Temp.ExecutiveID = A.ExecutiveID
	if @debugMode = 1 print 'After Asset Verified ' + format(getdate(), 'dd-MMM-yyyy HH:mm:ss')

	update #Temp Set LatLogCount = A.Cnt from (
	select ExecutiveID, count(*) Cnt
	from tx_ordermaster 
	where Latitude > 0 and cast(OrderTakenDatetime as date) >= @fromDate and cast(OrderTakenDatetime as date) <= @toDate 
		--and userid = @userID -- format(OrderTakenDatetime, 'dd-MMM-yyyy') = format(getdate(), 'dd-MMM-yyyy')
	group by ExecutiveID) as A
	where #Temp.ExecutiveID = A.ExecutiveID
	if @debugMode = 1 print 'After LatLog Count ' + format(getdate(), 'dd-MMM-yyyy HH:mm:ss')

	update #Temp set ZeroLatLogCount = ActivityCount - LatLogCount
	select * from #Temp


end
