USE [ZyleminiPlus_BDPL]
GO
/****** Object:  StoredProcedure [dbo].[sp_RemoveDuplicateOrders]    Script Date: 3/30/2026 3:52:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [dbo].[sp_RemoveDuplicateOrders]
AS
BEGIN
    SET NOCOUNT ON;

    BEGIN TRANSACTION;

    BEGIN TRY
        WITH CTE AS (
            SELECT *,
                ROW_NUMBER() OVER (
                    PARTITION BY MobileGenPrimaryKey 
                    ORDER BY OrderTakenDatetime
                ) AS RowNum
            FROM TX_OrderMaster
            WHERE MobileGenPrimaryKey IN (
                SELECT MobileGenPrimaryKey
                FROM TX_OrderMaster
                WHERE CAST(OrderTakenDatetime AS DATETIME) BETWEEN '2024-02-01' AND GETDATE()
                    AND LEN(MobileGenPrimaryKey) > 12
                GROUP BY MobileGenPrimaryKey
                HAVING COUNT(MobileGenPrimaryKey) > 1
            )
        )
        DELETE FROM CTE WHERE RowNum > 1;

        -- If we get here, the delete was successful
        COMMIT TRANSACTION;

        -- Return the number of rows affected
        SELECT @@ROWCOUNT AS 'RowsDeleted';
    END TRY
    BEGIN CATCH
        -- If an error occurs, roll back the transaction
        ROLLBACK TRANSACTION;

        -- Return error information
        SELECT 
            ERROR_NUMBER() AS ErrorNumber,
            ERROR_SEVERITY() AS ErrorSeverity,
            ERROR_STATE() AS ErrorState,
            ERROR_PROCEDURE() AS ErrorProcedure,
            ERROR_LINE() AS ErrorLine,
            ERROR_MESSAGE() AS ErrorMessage;
    END CATCH;
END;