USE [ZyleminiPlus_BDPL]
GO
/****** Object:  StoredProcedure [dbo].[sp_RecreateIndexes_RO_Sales]    Script Date: 3/30/2026 3:52:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [dbo].[sp_RecreateIndexes_RO_Sales]
AS
BEGIN
    SET NOCOUNT ON;

  

    -- Drop and recreate IX_RO_Sales
    IF EXISTS (SELECT * FROM sys.indexes WHERE name = 'IX_RO_Sales' AND object_id = OBJECT_ID('dbo.RO_Sales'))
    BEGIN
        DROP INDEX [IX_RO_Sales] ON [dbo].[RO_Sales]
    END

    CREATE NONCLUSTERED INDEX [IX_RO_Sales] ON [dbo].[RO_Sales]
    (
        [CustomerID] ASC
    )WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]

    -- Drop and recreate IX_RO_Sales_1
    IF EXISTS (SELECT * FROM sys.indexes WHERE name = 'IX_RO_Sales_1' AND object_id = OBJECT_ID('dbo.RO_Sales'))
    BEGIN
        DROP INDEX [IX_RO_Sales_1] ON [dbo].[RO_Sales]
    END

    CREATE NONCLUSTERED INDEX [IX_RO_Sales_1] ON [dbo].[RO_Sales]
    (
        [ItemID] ASC
    )WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]

    -- Drop and recreate IX_RO_SalesYTD
    IF EXISTS (SELECT * FROM sys.indexes WHERE name = 'IX_RO_SalesYTD' AND object_id = OBJECT_ID('dbo.RO_SalesYTD'))
    BEGIN
        DROP INDEX [IX_RO_SalesYTD] ON [dbo].[RO_SalesYTD]
    END

    CREATE NONCLUSTERED INDEX [IX_RO_SalesYTD] ON [dbo].[RO_SalesYTD]
    (
        [CustomerID] ASC
    )WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]

    -- Drop and recreate IX_RO_SalesYTD_1
    IF EXISTS (SELECT * FROM sys.indexes WHERE name = 'IX_RO_SalesYTD_1' AND object_id = OBJECT_ID('dbo.RO_SalesYTD'))
    BEGIN
        DROP INDEX [IX_RO_SalesYTD_1] ON [dbo].[RO_SalesYTD]
    END

    CREATE NONCLUSTERED INDEX [IX_RO_SalesYTD_1] ON [dbo].[RO_SalesYTD]
    (
        [ItemID] ASC
    )WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]

END